{
  "canvas": {
    "name": "Toile",
    "desc": "Un carré de toile de haute qualité."
  },
  "cellmateria": {
    "name": "Cell Materia",
    "desc": "Cell Materia, j'ai entendu dire qu'on pouvait s'en servir pour fabriquer des objets."
  },
  "cellmatter": {
    "name": "Matière cellulaire",
    "desc": "La matière cellulaire: elle peut servir à fabriquer des choses indescriptibles."
  },
  "coalore": {
    "name": "Charbon",
    "desc": "C'est du charbon. Une source de combustible tout à fait convenable."
  },
  "cog": {
    "name": "Roue dentée en cuivre",
    "desc": "C'est un rouage."
  },
  "copperbar": {
    "name": "Barre de cuivre",
    "desc": "Le minerai servant à la fabrication de lingots de cuivre se trouve à faible profondeur sur la plupart des planètes en orbite autour de toutes les étoiles."
  },
  "copperore": {
    "name": "Minerai de cuivre",
    "desc": "Minerai de cuivre. Peut être utilisé pour la fonte."
  },
  "coralfragment": {
    "name": "Fragment de corail Ember",
    "desc": "Il dégage une chaleur agréable."
  },
  "corefragmentore": {
    "name": "Fragment central",
    "desc": "Ces cristaux naturels produisent de l'énergie."
  },
  "cotton": {
    "name": "Fibre de coton",
    "desc": "Une touffe de fibres de coton naturel."
  },
  "cottonwool": {
    "name": "Coton",
    "desc": "Un rouleau de coton traité."
  },
  "crystal": {
    "name": "Cristal",
    "desc": "Cristal brillant."
  },
  "comedyscript": {
    "name": "Scénario de comédie",
    "desc": "Un bout de papier froissé et taché sur lequel sont griffonnées des blagues nulles."
  },
  "cacti": {
    "name": "Cactus",
    "desc": "Des cactus épineux et succulents."
  },
  "cocoa": {
    "name": "Cocoa Pod",
    "desc": "Une grosse gousse bien remplie de fèves de cacao savoureuses. Il suffit de les moudre pour obtenir du chocolat!"
  },
  "crystalplant": {
    "name": "Plante de cristal",
    "desc": "Une plante faite de cristal. C'est magique!"
  },
  "card01": {
    "name": "Carte à collectionner n° 01",
    "desc": "Un petit cadeau de remerciement de la part d'une pâtissière galactique."
  },
  "cryonicextract": {
    "name": "Extrait cryogénique",
    "desc": "Un produit chimique organique glacé. Peut être utilisé pour l'artisanat."
  }
}