{
  "fabric": {
    "name": "Tissu",
    "desc": "Un petit carré de tissu tissé."
  },
  "feroziumore": {
    "name": "Ferozium Ore",
    "desc": "Minerai de férozium. Peut être utilisé pour la fusion."
  },
  "fillerup": {
    "name": "Faites le plein",
    "desc": "Remplit le réservoir de carburant de votre vaisseau"
  },
  "firedclay": {
    "name": "Argile cuite",
    "desc": "De l'argile cuite pour former une brique solide."
  },
  "fleshstrand": {
    "name": "Flesh Strand",
    "desc": "Un long lobe de chair nerveux."
  },
  "fossilore": {
    "name": "Fossile non identifié",
    "desc": "C'est un fossile. Je me demande de quel type il s'agit."
  },
  "fakelicense1": {
    "name": "Fausse licence Sparrow",
    "desc": "Vous permet d'améliorer définitivement votre vaisseau pour en faire une corvette de type Sparrow plus grande."
  },
  "fakelicense2": {
    "name": "Fausse licence Kestrel",
    "desc": "Vous permet d'améliorer définitivement votre vaisseau pour en faire une corvette de type Kestrel plus grande."
  },
  "fakelicense3": {
    "name": "Faux permis Falcon",
    "desc": "Vous permet d'améliorer définitivement votre vaisseau pour en faire un croiseur de type Falcon plus imposant."
  },
  "fakelicense4": {
    "name": "Faux permis Eagle",
    "desc": "Vous permet d'améliorer définitivement votre vaisseau pour en faire un croiseur de type Eagle plus imposant."
  },
  "fakelicense5": {
    "name": "Fausse licence Condor",
    "desc": "Vous permet d'améliorer définitivement votre vaisseau pour en faire un cuirassé de type Condor plus imposant."
  },
  "foodgoods": {
    "name": "Rations alimentaires",
    "desc": "Une caisse scellée contenant des denrées alimentaires et des ingrédients, très prisée dans le commerce interstellaire."
  },
  "floranfossil1": {
    "name": "Floran Skull",
    "desc": "Un crâne fossilisé de Floran.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile de flore",
      "completeSetDescriptions.description": "Les os de la gamme Floran, d'origine végétale, sont imprégnés de lignine, ce qui leur confère un aspect semblable à celui du bois."
    }
  },
  "floranfossil2": {
    "name": "Floran Torso",
    "desc": "Un torse fossilisé de Floran"
  },
  "floranfossil3": {
    "name": "Floran Legs",
    "desc": "Une paire de pattes fossilisées de Floran"
  },
  "froggfossil1": {
    "name": "Tête de grenouille",
    "desc": "Un crâne fossilisé de Frogg.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile de grenouille",
      "completeSetDescriptions.description": "Un excellent exemple de Frogg fossilisé."
    }
  },
  "froggfossil2": {
    "name": "Torse de grenouille",
    "desc": "Un torse fossilisé de Frogg."
  },
  "froggfossil3": {
    "name": "Cuisses de grenouille",
    "desc": "Une paire de pattes de grenouille fossilisées."
  },
  "fernfossil": {
    "name": "Fossil à distance",
    "desc": "Une fougère fossilisée.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile lointain",
      "completeSetDescriptions.description": "Les feuilles de fougère fossilisées témoignent de la présence de vie organique il y a des millénaires."
    }
  },
  "fishfossil": {
    "name": "Fossile de poisson",
    "desc": "Un poisson fossilisé.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile de poisson",
      "completeSetDescriptions.description": "L'anatomie des poissons a très peu évolué au fil des millénaires."
    }
  }
}