{
  "giantflowerpetal": {
    "name": "Pétale de fleur géant",
    "desc": "Un pétale de fleur géant. Tout doux!"
  },
  "glass": {
    "name": "Verre",
    "desc": "Une vitre destinée à l'artisanat."
  },
  "glasscoffeemug": {
    "name": "Tasse à café en verre",
    "desc": "Une tasse à café en verre."
  },
  "glowfibre": {
    "name": "Fibre lumineuse",
    "desc": "Des fibres végétales bulbeuses et bioluminescentes. Elles brillent de mille couleurs!"
  },
  "gnome": {
    "name": "gnome",
    "desc": "C'est un nain."
  },
  "goldbar": {
    "name": "Lingot d'or",
    "desc": "Le minerai servant à la fabrication de lingots d'or se trouve à de grandes profondeurs sur la plupart des planètes en orbite autour de toutes les étoiles."
  },
  "goldore": {
    "name": "Minerai d'or",
    "desc": "C'est du minerai d'or. Il peut servir à la fonte."
  },
  "greenslime": {
    "name": "Boulette de boue",
    "desc": "Une goutte de boue verte."
  },
  "glitchfossil1": {
    "name": "Glitch Head",
    "desc": "Une tête de Glitch corrodée.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile de glitch",
      "completeSetDescriptions.description": "Un Glitch fossilisé. Son câblage interne est rarement conservé."
    }
  },
  "glitchfossil2": {
    "name": "Torse Glitch",
    "desc": "Un torse de Glitch corrodé."
  },
  "glitchfossil3": {
    "name": "Jambes bancales",
    "desc": "Une paire de jambes de Glitch corrodées."
  }
}