{
  "hinge": {
    "name": "Charnière en fer",
    "desc": "C'est une charnière en fer."
  },
  "holidayspirit": {
    "name": "L'esprit des fêtes",
    "desc": "L'essence même des fêtes de fin d'année, dans sa forme la plus pure!"
  },
  "hardenedcarapace": {
    "name": "Carapace durcie",
    "desc": "Un fragment de coquille organique résistante. Peut être utilisé pour l'artisanat."
  },
  "humanfossil1": {
    "name": "Crâne humain",
    "desc": "Un crâne humain fossilisé.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile humain",
      "completeSetDescriptions.description": "Un fossile humain, l'espèce dominante sur Terre."
    }
  },
  "humanfossil2": {
    "name": "Torse humain",
    "desc": "Un torse humain fossilisé."
  },
  "humanfossil3": {
    "name": "Jambes humaines",
    "desc": "Une paire de jambes humaines fossilisées."
  },
  "hylotlfossil1": {
    "name": "Crâne d'Hylotl",
    "desc": "Un crâne fossilisé d'Hylotl.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile d'Hylotl",
      "completeSetDescriptions.description": "Ce squelette fossilisé d'Hylotl présente les premiers signes d'adaptation à la vie aquatique."
    }
  },
  "hylotlfossil2": {
    "name": "Hylotl Torse",
    "desc": "Un torse fossilisé d'Hylotl."
  },
  "hylotlfossil3": {
    "name": "Jambes Hylotl",
    "desc": "Une paire de pattes fossilisées d'Hylotl."
  }
}