{
  "ophidauntfossil1": {
    "name": "Crâne d'Ophidaunt;",
    "desc": "Un crâne fossilisé d'Ophidaunt.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile d'Ophidaunt",
      "completeSetDescriptions.description": "Cet ancêtre lointain du Snaunt chassait autrefois dans les océans plutôt que sur terre."
    }
  },
  "ophidauntfossil2": {
    "name": "Torse d'Ophidaunt",
    "desc": "Un torse fossilisé d'Ophidaunt."
  },
  "ophidauntfossil3": {
    "name": "Queue supérieure d'Ophidaunt",
    "desc": "Une partie supérieure de la queue fossilisée d'un Ophidaunt."
  },
  "ophidauntfossil4": {
    "name": "Ophidaunt, queue moyenne",
    "desc": "Une partie fossilisée de la queue d'un Ophidaunt."
  },
  "ophidauntfossil5": {
    "name": "Queue inférieure d'Ophidaunt",
    "desc": "Une partie inférieure de queue fossilisée d'Ophidaunt."
  }
}