{
  "paper": {
    "name": "Papier",
    "desc": "C'est une feuille de papier."
  },
  "petalblue": {
    "name": "Pétale bleu",
    "desc": "Un pétale bleu pourrait servir à fabriquer de la teinture."
  },
  "petalred": {
    "name": "Pétale rouge",
    "desc": "Un pétale rouge pourrait servir à fabriquer de la teinture."
  },
  "petalyellow": {
    "name": "Pétale jaune",
    "desc": "Un pétale jaune pourrait servir à fabriquer de la teinture."
  },
  "plantfibre": {
    "name": "Fibres végétales",
    "desc": "Un ensemble de fibres végétales."
  },
  "platinumbar": {
    "name": "Bar Platinum",
    "desc": "C'est un lingot de platine."
  },
  "platinumore": {
    "name": "Minerai de platine",
    "desc": "C'est du platine."
  },
  "plutoniumore": {
    "name": "Minerai de plutonium",
    "desc": "C'est joli, mais extrêmement radioactif."
  },
  "plutoniumrod": {
    "name": "Barre de plutonium",
    "desc": "Personne ne voudra de ça. C'est hautement radioactif."
  },
  "polymer": {
    "name": "Polymère de l'ère spatiale",
    "desc": "C'est un polymère de pointe."
  },
  "prisiliteore": {
    "name": "Éclat de prisme",
    "desc": "C'est un fragment de prisme!"
  },
  "prisilitestar": {
    "name": "Forcez Star",
    "desc": "C'est une étoile de prisilite! L'un des matériaux les plus résistants de la galaxie!"
  },
  "processor": {
    "name": "Processeur",
    "desc": "Un processeur très puissant."
  },
  "parcel": {
    "name": "Colis",
    "desc": "Un colis destiné à quelqu'un d'autre, joliment emballé avec un ruban!"
  },
  "peacecredit": {
    "name": "Crédit pour la paix",
    "desc": "Un jeton de récompense utilisé pour récompenser les membres des Forces de maintien de la paix de Terrene."
  },
  "protectorateflyer": {
    "name": "Dépliant sur la remise des diplômes",
    "desc": "Ce dépliant commémore la cérémonie de remise des diplômes du Protectorat."
  },
  "phasematter": {
    "name": "Matière en phase",
    "desc": "Une substance qui semble presque immatérielle. Peut être utilisée pour l'artisanat."
  },
  "penguinfossil": {
    "name": "Fossile de manchot",
    "desc": "Un squelette fossilisé de manchot.",
    " metadata": {
      "completeSetDescriptions.shortdescription": "Fossile de manchot",
      "completeSetDescriptions.description": "Les restes fossilisés d'un manchot."
    }
  }
}