{
  "teleportercore": {
    "name": "Noyau de téléportation",
    "desc": "Un composant clé rare et de haute technologie d'un téléporteur personnel."
  },
  "thread": {
    "name": "Fil de discussion",
    "desc": "Fil renforcé par des racines vivantes."
  },
  "titaniumbar": {
    "name": "Barre de titane",
    "desc": "Le minerai servant à la fabrication de barres de titane se trouve principalement sur des planètes en orbite autour d'étoiles tempérées."
  },
  "titaniumore": {
    "name": "Minerai de titane",
    "desc": "C'est du titane. Il peut être utilisé pour la fusion."
  },
  "toxicwaste": {
    "name": "Déchets toxiques",
    "desc": "Des boues aussi toxiques ne devraient pas être gaspillées!"
  },
  "triangliumore": {
    "name": "Minerai de Trianglium",
    "desc": "Trianglium. De magnifiques triangles lisses et brillants."
  },
  "tungstenbar": {
    "name": "Barre de tungstène",
    "desc": "Le minerai servant à la fabrication de barres de tungstène se trouve principalement sur des planètes en orbite autour d'étoiles peu lumineuses."
  },
  "tungstenore": {
    "name": "Minerai de tungstène",
    "desc": "C'est du tungstène. Il peut être utilisé pour la fusion."
  },
  "techcard": {
    "name": "Fiche technique",
    "desc": "Une carte de technologie vierge. Si j'en ai suffisamment, je pourrai développer des technologies améliorées."
  },
  "translator1": {
    "name": "Roue de traduction gauche",
    "desc": "La moitié d'une roue ancienne servant à traduire les runes."
  },
  "translator2": {
    "name": "Roue de traduction droite",
    "desc": "La moitié d'une roue ancienne servant à traduire les runes."
  },
  "trackfossil": {
    "name": "Empreinte fossile",
    "desc": "Une empreinte d'animal fossilisée.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Empreinte fossile",
      "completeSetDescriptions.description": "La taille de cette empreinte laisse penser qu'elle a probablement été laissée par un mâle adulte de cette espèce."
    }
  },
  "trilobitefossil": {
    "name": "Trilobite",
    "desc": "Un trilobite fossilisé."
  },
  "trexfossil1": {
    "name": "Crâne de T. rex",
    "desc": "Un crâne fossilisé de T. rex.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile de T. rex",
      "completeSetDescriptions.description": "Un dinosaure autrefois originaire de la Terre, disséminé à travers les étoiles par des scientifiques trop zélés."
    }
  },
  "trexfossil2": {
    "name": "Torse de T. rex",
    "desc": "Un torse fossilisé de T. rex."
  },
  "trexfossil3": {
    "name": "Les pattes du T. rex",
    "desc": "Pattes et hanches fossilisées de T. rex."
  },
  "trexfossil4": {
    "name": "Partie supérieure de la queue du T. rex",
    "desc": "Un fragment fossilisé de queue de T. rex."
  },
  "trexfossil5": {
    "name": "Partie inférieure de la queue du T. rex",
    "desc": "L'extrémité fossilisée de la queue d'un T. rex."
  }
}