{
  "uraniumore": {
    "name": "Minerai d'uranium",
    "desc": "C'est de l'uranium. Une bonne source de combustible."
  },
  "uraniumrod": {
    "name": "Barre d'uranium",
    "desc": "C'est une barre d'uranium."
  },
  "upgrademodule": {
    "name": "Module de mise à niveau",
    "desc": "Ces modules peuvent servir à améliorer les vaisseaux et d'autres équipements utiles."
  }
}