{
  "alienrock": {
    "name": "Roche extraterrestre",
    "desc": "Cette étrange roche provient d'un monde extraterrestre.",
    "metadata": {
      "glitchdescription": "Je suis stupéfait. Ce caillou est d'origine extraterrestre.",
      "florandescription": "Floran aime les rochers bizarres.",
      "novakiddescription": "Un rocher qui a l'air un peu bizarre."
    }
  },
  "alienstripedwood": {
    "name": "Bois rayé",
    "desc": "Un morceau de bois rayé venu d'ailleurs. Rayé!",
    "metadata": {
      "glitchdescription": "Cela m'intéresse. Il semblerait que les stries présentes dans ce bois soient dues à des matériaux qui se repoussent mutuellement.",
      "florandescription": "Du bois rayé. Construis une maison rayée!",
      "novakiddescription": "Ce bois-là est tout rayé."
    }
  },
  "ancientblock": {
    "name": "Bloc antique",
    "desc": "Ces briques ont assurément résisté à l'épreuve du temps.",
    "metadata": {
      "glitchdescription": "Je suis stupéfait. Ces blocs sont manifestement très anciens.",
      "florandescription": "Blocs anciens.",
      "novakiddescription": "Ces blocs sont vieux comme le monde."
    }
  },
  "ancientbrick": {
    "name": "Brique ancienne",
    "desc": "Cette brique sculptée est d'une ancienneté inestimable.",
    "metadata": {
      "glitchdescription": "Impressionnant. Ces briques anciennes ont résisté aux ravages du temps.",
      "florandescription": "Briques sculptées anciennes.",
      "novakiddescription": "Des briques qui ont l'air bien vieilles."
    }
  },
  "ancientplatform": {
    "name": "Ancienne plateforme",
    "desc": "Une ancienne plate-forme constituée d'une sorte de roche technologique.",
    "metadata": {
      "glitchdescription": "Je suis perplexe. Cette plateforme archaïque recèle une technologie que je ne comprends pas.",
      "florandescription": "Plateforme développée à l'aide de la technologie Sstrange.",
      "novakiddescription": "Cette plateforme intègre des technologies qui ont l'air un peu bizarres."
    }
  },
  "apexshipdetails": {
    "name": "Garde-corps métallique",
    "desc": "Un mur en métal riveté.",
    "metadata": {
      "glitchdescription": "Sécurisé. Ce mur métallique a été renforcé à l'aide de boulons solides.",
      "florandescription": "Métal robuste et solidement vissé.",
      "novakiddescription": "Un mur d'aspect robuste, fabriqué en métal."
    }
  },
  "apexshipplatform": {
    "name": "Plateforme de navires",
    "desc": "Assez résistant pour supporter les contraintes des voyages spatiaux.",
    "metadata": {
      "glitchdescription": "À titre d'information. Des plateformes de ce type sont utilisées dans la construction de vaisseaux spatiaux.",
      "florandescription": "Une plateforme de transport robuste.",
      "novakiddescription": "Cette plateforme est suffisamment solide pour ne pas s'abîmer aux talons."
    }
  },
  "apexshipsupport": {
    "name": "Assistance aux navires",
    "desc": "Un support mural utilisé dans la construction navale.",
    "metadata": {
      "glitchdescription": "Informé. Ce type de supports est souvent utilisé dans la construction navale.",
      "florandescription": "Soutien structurel du navire.",
      "novakiddescription": "Conçu pour maintenir les vaisseaux spatiaux assemblés."
    }
  },
  "apexshipwall": {
    "name": "Panneau mural",
    "desc": "Un panneau mural métallique aux lignes épurées.",
    "metadata": {
      "glitchdescription": "Impressionnant. Ces panneaux amovibles sont lisses et résistants.",
      "florandescription": "Les panneaux métalliques permettent d'obtenir un mur lisse.",
      "novakiddescription": "Un panneau en métal."
    }
  },
  "ash": {
    "name": "Tas de cendres",
    "desc": "Un tas de cendres bien tassées.",
    "metadata": {
      "glitchdescription": "Curieux. Un tas de cendres compactées.",
      "florandescription": "Tout un tas de cendres.",
      "novakiddescription": "Un gros tas de cendres."
    }
  },
  "asphalt": {
    "name": "asphalte",
    "desc": "Un matériau de construction bon marché mais efficace.",
    "metadata": {
      "glitchdescription": "C'est révoltant. Les mesures indiquent que la valeur esthétique de l'asphalte est inférieure à 2 %.",
      "florandescription": "De l'asphalte collant qui sent le goudron.",
      "novakiddescription": "C'est un mélange d'huile poisseuse et de cailloux."
    }
  },
  "aztecmaterial": {
    "name": "Bloc de glyphes",
    "desc": "De petits glyphes recouvrent cette pierre.",
    "metadata": {
      "glitchdescription": "Je suis fasciné. Je ne sais pas ce que signifient ces glyphes.",
      "florandescription": "Floran ne comprend pas les symboles.",
      "novakiddescription": "Des symboles qui ont l'air un peu vieux."
    }
  },
  "aztectech": {
    "name": "Bloc Avian Tech",
    "desc": "Un matériau synthétique Avian de pointe, doté de motifs imprimés.",
    "metadata": {
      "glitchdescription": "C'est curieux. Ces blocs sont fabriqués à partir d'un matériau artificiel inconnu.",
      "florandescription": "Des briques couvertes d'étranges marques.",
      "novakiddescription": "Des briques d'aspect robuste, toutes couvertes de symboles."
    }
  }
}