{
  "darksmoothstonematerial": {
    "name": "Pierre lisse et sombre",
    "desc": "Un bloc de pierre sombre et lisse.",
    "metadata": {
      "glitchdescription": "Curieux. Une brique sombre fabriquée à partir d'une pierre inconnue.",
      "florandescription": "Un bloc de pierre bien lisse.",
      "novakiddescription": "Une brique en pierre d'aspect sombre."
    }
  },
  "darkwoodmaterial": {
    "name": "Bois",
    "desc": "Bois préparé pour la construction et l'artisanat.",
    "metadata": {
      "apexdescription": "Quelques planches de bois travaillées.",
      "aviandescription": "Du bois transformé en planches.",
      "glitchdescription": "Je suis satisfait. Ce sont des planches de bois de belle facture.",
      "florandescription": "Des planches de bois pleines d'échardes.",
      "humandescription": "Quelques simples planches en bois.",
      "hylotldescription": "Des planches de bois simples.",
      "novakiddescription": "Juste quelques planches de bois tout simples."
    }
  },
  "dermisblock": {
    "name": "Derme de la Ruine",
    "desc": "Une masse charnue recouverte d'une peau épaisse et d'aspect coriace.",
    "metadata": {
      "glitchdescription": "Impressionnant. L'épaisseur de cette peau la rend incroyablement résistante.",
      "florandescription": "Une peau résistante offre une bonne protection.",
      "novakiddescription": "Cette peau a l'air plus dure qu'une botte en cuir."
    }
  },
  "direstone": {
    "name": "Pierre Sinistre",
    "desc": "Une pierre vitreuse où de petits vers s'agitent frénétiquement sous la surface.",
    "metadata": {
      "glitchdescription": "Intrigué. Ces vers semblent agir comme une structure de soutien organique pour la roche.",
      "florandescription": "Regarde les vers qui sss'agitent!",
      "novakiddescription": "Y'a des p'tites bestioles qui frétillent là-dedans. C'est pas rassurant."
    }
  },
  "dirtmaterial": {
    "name": "Terre",
    "desc": "De la terre. Tout ce qu'il y a de plus banal.",
    "metadata": {
      "glitchdescription": "Indifférent. Un sol organique des plus ordinaires.",
      "florandescription": "Sssaleté de terre!",
      "novakiddescription": "Juste de la terre. Rien de bien spécial."
    }
  },
  "drydirt": {
    "name": "Terre sèche",
    "desc": "De la terre, séchée au soleil.",
    "metadata": {
      "glitchdescription": "On dirait bien. Cette terre est très sèche.",
      "florandescription": "De la terre sèche.",
      "novakiddescription": "Juste un peu de terre sèche et poussiéreuse."
    }
  },
  "drysand": {
    "name": "Sable sec",
    "desc": "Du sable dur et craquelé qui s'effrite sous les pieds.",
    "metadata": {
      "glitchdescription": "Remarquable. Ce sable est sec et dur.",
      "florandescription": "Du sable dur et sec.",
      "novakiddescription": "Du sable compacté d'aspect sec."
    }
  }
}