{
  "hazard": {
    "name": "Bloc de sécurité",
    "desc": "Cette tendance incite à la prudence.",
    "metadata": {
      "glitchdescription": "Prudence. Ce signe m'indique que je dois faire attention où je mets les pieds.",
      "florandescription": "Ces bandes signifient « Attention ».",
      "novakiddescription": "Ces bandes dessinées, ça, je devrais y prêter attention."
    }
  },
  "heavyironbars": {
    "name": "Barres de fer massives",
    "desc": "Des barres de fer épaisses. Toujours solides, bien qu'elles se détériorent sous l'effet de la rouille.",
    "metadata": {
      "glitchdescription": "C'est inquiétant. Voir le métal rouiller ainsi est dérangeant.",
      "florandescription": "Russsty, vieux barss.",
      "novakiddescription": "Ces vieux bars rouillés ont connu des jours meilleurs."
    }
  },
  "heavypipe": {
    "name": "Tuyau épais",
    "desc": "Un tuyau épais, couramment utilisé dans les réseaux d'assainissement.",
    "metadata": {
      "glitchdescription": "Ça me dégoûte. Je n'oserais pas imaginer ce qu'il y a bien pu passer par ce tuyau.",
      "florandescription": "Une canalisation d'égout qui sent mauvais.",
      "novakiddescription": "Des tuyaux bien crasseux."
    }
  },
  "hellstonematerial": {
    "name": "Monticule de chair",
    "desc": "Beurk, un matériau qui a l'air de chair!",
    "metadata": {
      "glitchdescription": "Je suis inquiet. On dirait de la chair qui palpite.",
      "florandescription": "Une chair molle et visqueuse.",
      "novakiddescription": "Cette chair a vraiment l'air dégoûtante."
    }
  },
  "hive": {
    "name": "Bloc Hive",
    "desc": "Des rayons collants constitués des restes d'animaux morts.",
    "metadata": {
      "glitchdescription": "C'est révoltant. Ce matériau de la ruche est constitué de créatures broyées.",
      "florandescription": "Ruche fabriquée à partir d'animaux broyés.",
      "novakiddescription": "Une sorte de ruche faite de bestioles écrasées."
    }
  },
  "homewalls1": {
    "name": "Brique peinte",
    "desc": "Une maçonnerie bien peinte.",
    "metadata": {
      "glitchdescription": "Je suis ravie. Ces briques peintes sont charmantes.",
      "florandescription": "De jolies briques peintes.",
      "novakiddescription": "De très jolies briques peintes."
    }
  }
}