{
  "jellyblock": {
    "name": "Boulette de gelée",
    "desc": "Une masse gélatineuse visqueuse aux couleurs vives.",
    "metadata": {
      "glitchdescription": "C'est désagréable. Je n'aime pas la façon dont cette gelée tremble.",
      "florandescription": "Une gelée qui tremble et qui ondule.",
      "novakiddescription": "Un tas de gelée à l'aspect visqueux."
    }
  },
  "junk": {
    "name": "Tas de bric-à-brac",
    "desc": "Un vieux tas de vieilleries.",
    "metadata": {
      "glitchdescription": "Je suis attentif. Je distingue de nombreux types de débris tordus et brisés dans ce tas.",
      "florandescription": "Tellement de bric-à-brac.",
      "novakiddescription": "Un vieux tas d'ordures."
    }
  },
  "junktech": {
    "name": "Junk Tech",
    "desc": "De la ferraille sans valeur, principalement des vestiges de technologies obsolètes.",
    "metadata": {
      "glitchdescription": "Ça m'intéresse. Il y a toute une gamme de technologies dans ces vieux objets mis au rebut.",
      "florandescription": "Une véritable aberration technologique.",
      "novakiddescription": "De la vieille technologie compressée en briques."
    }
  }
}