{
  "magmarock": {
    "name": "C'est parti!",
    "desc": "Magmarock. Ça, c'est du lourd.",
    "metadata": {
      "glitchdescription": "Attention. La température de cette roche magmatique reste dangereusement élevée.",
      "florandescription": "Roche magmatique brûlante.",
      "novakiddescription": "Je ferais mieux de faire gaffe avec ces roches de magma brûlantes."
    }
  },
  "matterblock": {
    "name": "Bloc de matière",
    "desc": "Un bloc qui compte. Un bloc qui fait la différence.",
    "metadata": {
      "glitchdescription": "Je suis fasciné. Il semble s'agir d'une forme rare de matière première.",
      "florandescription": "Floran doit rassembler des cristaux colorés.",
      "novakiddescription": "Des cristaux à l'aspect étrange."
    }
  },
  "mediummetal": {
    "name": "Bloc de tungstène",
    "desc": "Un bloc de tungstène massif.",
    "metadata": {
      "glitchdescription": "Remarque. Ces blocs ont été fabriqués en tungstène.",
      "florandescription": "Blocs de tungstène brillants.",
      "novakiddescription": "Des blocs au look élégant, fabriqués en tungstène."
    }
  },
  "metallicmaterial": {
    "name": "Quartier high-tech",
    "desc": "Ça a l'air très high-tech!",
    "metadata": {
      "glitchdescription": "Cela m'intéresse. Je ne connais pas la technologie utilisée dans ces blocs.",
      "florandescription": "Des blocs informatiques futuristes.",
      "novakiddescription": "Des immeubles high-tech au look tape-à-l'œil."
    }
  },
  "meteoriterock": {
    "name": "Rocher météoritique",
    "desc": "Une roche extrêmement dure que l'on trouve juste à la limite de l'atmosphère.",
    "metadata": {
      "glitchdescription": "Perspicace. Cette roche est d'origine extraterrestre.",
      "florandescription": "Floran aime le rock.",
      "novakiddescription": "Ces roches spatiales ne ressemblent pas à celles qu'on trouve sur Terre."
    }
  },
  "mirror": {
    "name": "Bloc miroir",
    "desc": "Un miroir non réfléchissant.",
    "metadata": {
      "glitchDescription": "Je ne comprends pas. Bien qu'on dirait un miroir, il n'y a pas de reflet.",
      "floranDescription": "Une surface brillante.",
      "novakidDescription": "Y a un problème avec ce miroir. Je vois rien dedans."
    }
  },
  "modernplatform": {
    "name": "Plateforme moderne",
    "desc": "Fabriquée dans un matériau moderne, cette plateforme est douce au toucher.",
    "metadata": {
      "glitchdescription": "Je suis satisfait. Cette plateforme moderne et épurée est à la fois esthétique et robuste.",
      "florandescription": "Des plateformes modernes et fluides.",
      "novakiddescription": "Des plates-formes métalliques plutôt élégantes."
    }
  },
  "moondust": {
    "name": "Moondust",
    "desc": "La poussière de lune, la matière dont sont faits les rêves.",
    "metadata": {
      "glitchdescription": "Je suis ravie. Cette poussière de lune est douce au toucher.",
      "florandescription": "Floran adore la poussière de lune colorée.",
      "novakiddescription": "On dirait une illusion d'optique."
    }
  },
  "moonrock": {
    "name": "Moonrock",
    "desc": "Une roche lunaire dure et rugueuse.",
    "metadata": {
      "glitchdescription": "Déductif. Cette roche est d'origine lunaire.",
      "florandescription": "Floran n'aime pas les roches lunaires sèches.",
      "novakiddescription": "Un morceau de roche lunaire à l'aspect sec et poussiéreux."
    }
  },
  "moonstone": {
    "name": "Pierre de lune",
    "desc": "Une magnifique pierre de lune au grain fin.",
    "metadata": {
      "glitchdescription": "Ça m'intéresse. On trouve parfois cette pierre unique sur les lunes.",
      "florandescription": "Une pierre de lune lisse.",
      "novakiddescription": "On dirait de la pierre de lune."
    }
  },
  "mossypackeddirt": {
    "name": "Terre battue recouverte de mousse",
    "desc": "De la terre battue, recouverte de mousse.",
    "metadata": {
      "glitchdescription": "Remarquez bien: cette terre tassée est recouverte de mousse.",
      "florandescription": "De la terre battue recouverte de mousse.",
      "novakiddescription": "Cette terre-là est toute recouverte de mousse."
    }
  },
  "mud": {
    "name": "Boue",
    "desc": "Une boue épaisse et collante.",
    "metadata": {
      "glitchdescription": "C'est dégoûtant. Cette boue est épaisse et collante.",
      "florandescription": "La flore, c'est un vrai désordre boueux.",
      "novakiddescription": "À moi, ça ressemble à un tas de boue."
    }
  }
}