{
  "neonblock": {
    "name": "Bloc néon",
    "desc": "Un bloc coloré rempli de gaz néon.",
    "metadata": {
      "glitchdescription": "Je suis fasciné. On dirait que tout ce pâté de maisons est rempli de gaz néon.",
      "florandescription": "Un pâté de maisons aux couleurs vives, illuminé par des néons.",
      "novakiddescription": "En fait, ce bloc est rempli d'une sorte de gaz."
    }
  }
}