{
  "sand": {
    "name": "Limon meuble",
    "desc": "C'est de la vase. C'est très vaseux.",
    "metadata": {
      "glitchdescription": "C'est pénible. J'ai du mal à empêcher la vase de s'infiltrer dans mes composants.",
      "florandescription": "De la vase. C'est tellement poussiéreux.",
      "novakiddescription": "Un énorme tas de limon poussiéreux."
    }
  },
  "sand2": {
    "name": "Sable",
    "desc": "Un sable fin et scintillant. On pourrait sans doute en faire du verre!",
    "metadata": {
      "glitchdescription": "C'est curieux. Ce sable est si fin qu'il semble lisse au toucher.",
      "florandescription": "Du sable poussiéreux.",
      "novakiddescription": "Du sable qui a l'air bien moelleux."
    }
  },
  "sandstonematerial": {
    "name": "Grès",
    "desc": "Grès naturel résistant.",
    "metadata": {
      "glitchdescription": "Remarque. Ce grès est constitué de fines particules de roche.",
      "florandescription": "Les roches de grès.",
      "novakiddescription": "Des rochers qui ont l'air sableux."
    }
  },
  "sandstoneblock": {
    "name": "Briques de grès",
    "desc": "Briques en grès poli.",
    "metadata": {
      "glitchdescription": "Intelligent. Ces briques sont fabriquées à partir d'un grès résistant.",
      "florandescription": "Briques en grès robustes.",
      "novakiddescription": "Quelques briques en grès."
    }
  },
  "sewage": {
    "name": "Eaux usées non traitées",
    "desc": "Un tas d'eaux usées répugnant. Charmant.",
    "metadata": {
      "glitchdescription": "Ça me dégoûte. L'odeur nauséabonde de ces eaux usées est insupportable.",
      "florandescription": "Floran était dégoûté par l'odeur nauséabonde des eaux usées.",
      "novakiddescription": "À moi, ça ressemble à des eaux usées. Ça sent comme des toilettes extérieures au soleil."
    }
  },
  "sewerpipe": {
    "name": "Canalisation d'égout",
    "desc": "Une canalisation d'égout servant à évacuer les eaux usées.",
    "metadata": {
      "glitchdescription": "Je suis dégoûté. Ce tuyau est crade, je n'oserais pas imaginer ce qu'il y a dedans.",
      "florandescription": "Des canalisations d'égout qui puent.",
      "novakiddescription": "Des canalisations d'égout sales et répugnantes."
    }
  },
  "shadowblock": {
    "name": "Shadow Rock",
    "desc": "Un rocher aussi noir que l'ombre.",
    "metadata": {
      "glitchdescription": "Fascinant. Ce bloc sombre semble absorber la lumière qui l'entoure.",
      "florandescription": "Des blocs noirs sombres.",
      "novakiddescription": "Des rochers à l'aspect bien sinistre."
    }
  },
  "shadowspikeblock": {
    "name": "Bloc de pointe d'ombre",
    "desc": "Un bloc hérissé de pointes, formé d'une matière obscure.",
    "metadata": {
      "glitchdescription": "Ça m'intéresse. Ce bloc est fabriqué dans un matériau inconnu.",
      "florandescription": "Les blocs sombres sont noirs comme la nuit.",
      "novakiddescription": "Ces ruelles sont plus sombres qu'une nuit sans lune."
    }
  },
  "shadowwallblock": {
    "name": "Briques d'ombre",
    "desc": "Des briques taillées dans une roche sombre.",
    "metadata": {
      "glitchdescription": "C'est vrai. Ces briques sont fabriquées dans un matériau très résistant.",
      "florandescription": "Des briques noires résistantes.",
      "novakiddescription": "Quelques briques faites de roche sombre."
    }
  },
  "shojiscreenpanel": {
    "name": "Panneau de paravent Shoji",
    "desc": "Un panneau de paravent traditionnel.",
    "metadata": {
      "glitchdescription": "J'adore. Ces panneaux sont simples et traditionnels.",
      "florandescription": "Des panneaux d'écran bizarres.",
      "novakiddescription": "Un panneau d'écran au look sophistiqué."
    }
  },
  "shroomblock": {
    "name": "Bloc de champignons",
    "desc": "Un bloc constitué d'un champignon mou.",
    "metadata": {
      "glitchdescription": "C'est intrigant. Bien qu'il soit constitué d'un seul bloc, ce champignon est vivant.",
      "florandescription": "De jolis champignons.",
      "novakiddescription": "C'est pas mal, ça. On dirait que ce bloc est fait de champignons."
    }
  },
  "silverblock": {
    "name": "Bloc d'argent",
    "desc": "Un bloc entier d'argent.",
    "metadata": {
      "glitchdescription": "Je suis impressionné. Ce bloc est entièrement en argent massif.",
      "florandescription": "De l'argent, tellement brillant.",
      "novakiddescription": "Des blocs brillants en argent massif."
    }
  },
  "silverplatform": {
    "name": "Plateforme Silver",
    "desc": "Une plate-forme polie, réalisée en argent pur.",
    "metadata": {
      "glitchdescription": "Je suis ravie. Je peux voir mon reflet dans ces chaussures à semelles compensées argentées.",
      "florandescription": "Plateformes en argent.",
      "novakiddescription": "Je dirais que cette plateforme vaut son pesant d'argent."
    }
  },
  "silverscrew": {
    "name": "Vis argentée",
    "desc": "Une vis géante en argent.",
    "metadata": {
      "glitchdescription": "Je ne comprends pas. À quoi peut bien servir une vis aussi grosse?",
      "florandescription": "Vis brillante en argent.",
      "novakiddescription": "Une grosse vis en argent."
    }
  },
  "slime": {
    "name": "Boulette de slime",
    "desc": "Un mucus épais. Il ondule quand on le touche.",
    "metadata": {
      "glitchdescription": "J'hésite. Cette boue a l'air collante.",
      "florandescription": "Floran adore le slime!",
      "novakiddescription": "Cette boue a vraiment l'air dégoûtante."
    }
  },
  "slopedglasspanel": {
    "name": "Panneau de verre incliné",
    "desc": "Je vois mon reflet.",
    "metadata": {
      "glitchdescription": "Attentif. Je vois parfaitement à travers ce verre transparent.",
      "florandescription": "Floran est ravissante avec ses lunettes.",
      "novakiddescription": "Je vois parfaitement à travers cette vitre."
    }
  },
  "slopedhullpanel": {
    "name": "Panneau perforé",
    "desc": "Des panneaux bon marché et résistants, largement utilisés dans la construction navale et ferroviaire.",
    "metadata": {
      "glitchdescription": "Lambris. Il s'agit d'un revêtement très utilisé dans la construction navale et ferroviaire.",
      "florandescription": "Du métal spatial brillant et lisse.",
      "novakiddescription": "Un revêtement métallique épais, ça a l'air sacrément solide."
    }
  },
  "slopedinsetpanel": {
    "name": "Encadré",
    "desc": "Un matériau relativement peu coûteux qui résiste à la plupart des intempéries.",
    "metadata": {
      "glitchdescription": "À noter. Ce matériau relativement peu coûteux résiste à la plupart des intempéries.",
      "florandescription": "Ce métal spatial a l'air solide.",
      "novakiddescription": "Un panneau métallique qui a l'air solide."
    }
  },
  "slopedrustypanel": {
    "name": "Panneau rouillé",
    "desc": "Des panneaux métalliques robustes, patinés par le temps.",
    "metadata": {
      "glitchdescription": "Je suis impatient. Je suis sûr qu'avec un peu d'huile de coude, on pourrait nettoyer ces panneaux métalliques.",
      "florandescription": "Floran veut fabriquer des lances avec du métal rouillé.",
      "novakiddescription": "Quelques vieux panneaux métalliques couverts de rouille."
    }
  },
  "slopedscrappanel": {
    "name": "Panneau de récupération",
    "desc": "Des panneaux de tôle rouillée en très mauvais état.",
    "metadata": {
      "glitchdescription": "Je suis inquiet. Cette surface métallique a l'air très irrégulière et rouillée.",
      "florandescription": "Ce métal est tellement rouillé que Floran ne s'en servirait même pas.",
      "novakiddescription": "Ce panneau métallique n'est qu'un tas de ferraille rouillée."
    }
  },
  "slush": {
    "name": "Slush",
    "desc": "La glace qui fond forme une épaisse neige fondue.",
    "metadata": {
      "glitchdescription": "À noter: cette neige fondue est obtenue à partir de glace fondue.",
      "florandescription": "De la neige fondue, froide et humide.",
      "novakiddescription": "Une véritable pagaille de neige fondue glacée."
    }
  },
  "smoothmetal": {
    "name": "Métal lisse",
    "desc": "Du métal lisse, froid au toucher.",
    "metadata": {
      "glitchdescription": "Impressionnant. Du métal poli, aussi lisse qu'un châssis Glitch.",
      "florandescription": "Du métal tout en douceur.",
      "novakiddescription": "Ces panneaux métalliques sont extrêmement lisses au toucher."
    }
  },
  "snow": {
    "name": "Neige",
    "desc": "Une neige douce et moelleuse.",
    "metadata": {
      "glitchdescription": "C'est enchanteur. On dirait que cette neige vient de tomber.",
      "florandescription": "Des trucs de neige.",
      "novakiddescription": "Il y a tellement de neige fraîche."
    }
  },
  "spidersilkblock": {
    "name": "Soie d'araignée",
    "desc": "Des toiles serrés les uns contre les autres pour former un bloc compact.",
    "metadata": {
      "glitchdescription": "Impressionnant. La nature ne cesse de m'impressionner: ce matériau est entièrement naturel.",
      "florandescription": "Une toile d'araignée collante. Floran trouve que l'araignée est une excellente chasseuse!",
      "novakiddescription": "Une toile d'araignée qui fait froid dans le dos."
    }
  },
  "stomachblock": {
    "name": "muqueuse gastrique",
    "desc": "Cette masse charnue semble provenir de l'estomac d'une créature.",
    "metadata": {
      "glitchdescription": "C'est dégoûtant. Cette masse visqueuse a un aspect et une odeur répugnants.",
      "florandescription": "Nous vendons de la viande.",
      "novakiddescription": "Une sorte de viande à l'aspect visqueux."
    }
  },
  "stoneplatform": {
    "name": "Plateforme en pierre",
    "desc": "Une plate-forme taillée dans la pierre.",
    "metadata": {
      "glitchdescription": "Impressionnant. Cette plate-forme a été taillée dans la pierre.",
      "florandescription": "Des pierres taillées formant des plates-formes.",
      "novakiddescription": "Ça a dû prendre une éternité pour tailler ces plates-formes en pierre."
    }
  },
  "stonerubble": {
    "name": "Graviers",
    "desc": "Des débris de pierre qui semblent provenir d'une ancienne construction.",
    "metadata": {
      "glitchdescription": "On dirait bien que les débris qui jonchent le sol faisaient autrefois partie d'un bâtiment.",
      "florandescription": "Des gravats provenant d'anciens bâtiments.",
      "novakiddescription": "Un tas de cailloux concassés."
    }
  },
  "stonetiles": {
    "name": "Carreaux en pierre",
    "desc": "Carreaux en pierre finement polie.",
    "metadata": {
      "glitchdescription": "Impressionnant. Cette pierre a été soigneusement taillée en dalles.",
      "florandescription": "Des pierres polies pour former de magnifiques carreaux.",
      "novakiddescription": "De la pierre taillée et polie pour former des carreaux très élégants."
    }
  },
  "supermatter": {
    "name": "Cristal d'Erchius",
    "desc": "Un cristal utilisé pour alimenter la technologie FTL. Son fonctionnement n'est pas encore entièrement élucidé.",
    "metadata": {
      "glitchdescription": "Cela m'intrigue. Les cristaux d'Erchius recèlent un pouvoir mystérieux.",
      "florandescription": "Des cristaux géants étincelants.",
      "novakiddescription": "Un gros cristal d'erchius."
    }
  }
}