{
  "tar": {
    "name": "Prend",
    "desc": "Un goudron épais et rance. Rien qu'à le regarder, on a l'impression qu'il est collant.",
    "metadata": {
      "glitchdescription": "Attention. Ce goudron est épais et très collant.",
      "florandescription": "Floran n'aime pas le chewing-gum collant.",
      "novakiddescription": "Tout un tas de goudron qui a l'air bien épais."
    }
  },
  "techhull1": {
    "name": "Bloc technique renforcé",
    "desc": "Le câblage est dissimulé sous ce matériau plaqué haute technologie renforcé.",
    "metadata": {
      "glitchdescription": "Impressionnant. Ce revêtement recouvre parfaitement les fils situés en dessous.",
      "florandescription": "Floran arrache le revêtement et coupe les fils.",
      "novakiddescription": "Un panneau au look sophistiqué avec tout un tas de fils en dessous."
    }
  },
  "temple1": {
    "name": "Quartier Temple",
    "desc": "Des pierres anciennes dont la surface est ornée de sculptures complexes.",
    "metadata": {
      "glitchdescription": "C'est curieux. Ces gravures sur pierre représentent une langue inconnue.",
      "florandescription": "Floran aime les photos de pierres.",
      "novakiddescription": "De vieux blocs avec des sortes de sculptures."
    }
  },
  "temple2": {
    "name": "Briques de temple",
    "desc": "De petites briques assez anciennes sur lesquelles sont gravés quelques hiéroglyphes aviens.",
    "metadata": {
      "glitchdescription": "Fascinant. Il est impossible de déterminer avec précision l'âge de ces briques.",
      "florandescription": "La flore ressemble à de vieilles briques.",
      "novakiddescription": "Je dirais que ces briques sont là depuis un bon moment."
    }
  },
  "temple3": {
    "name": "Petites briques de temple",
    "desc": "Des briques poussiéreuses, mais de belle facture.",
    "metadata": {
      "glitchdescription": "Je suis impressionné. Ces petits blocs témoignent d'un grand savoir-faire.",
      "florandescription": "Petites briques poussiéreuses.",
      "novakiddescription": "Des petites briques qui ont l'air poussiéreuses."
    }
  },
  "temple4": {
    "name": "Blocs de temple simples",
    "desc": "Des blocs anciens et mal taillés, sur lesquels sont gravés des dessins rudimentaires.",
    "metadata": {
      "glitchdescription": "Je ne suis pas impressionné. Ces sculptures sont plutôt grossièrement réalisées.",
      "florandescription": "Anciennes sculptures sur des briques de pierre.",
      "novakiddescription": "Quelqu'un a gravé tout un tas de dessins sur ces briques."
    }
  },
  "tentacleblock": {
    "name": "Grappe de tentacules",
    "desc": "Une masse de tentacules qui s'agitent.",
    "metadata": {
      "glitchdescription": "Déformés. Ces tentacules se sont agglutinés pour former une masse compacte.",
      "florandescription": "Floran n'aime pas les tentacules qui s'agitent.",
      "novakiddescription": "Tout un tas de tentacules à l'aspect effrayant, entassés les uns sur les autres."
    }
  },
  "tentaclepipe": {
    "name": "Grand tentacule",
    "desc": "Un gros tentacule",
    "metadata": {
      "glitchDescription": "Je suis inquiet. Ce tentacule provient sans aucun doute d'une créature de taille considérable.",
      "floranDescription": "De gros tentacules puissants.",
      "novakidDescription": "On dirait une sorte de tentacule, à mon avis."
    }
  },
  "thatch": {
    "name": "toit de chaume",
    "desc": "Toiture traditionnelle en chaume.",
    "metadata": {
      "glitchdescription": "Je suis ravi. Ce toit de chaume me rappelle une époque plus simple.",
      "florandescription": "Toiture en paille sèche.",
      "novakiddescription": "Une tuile en paille à plusieurs couches."
    }
  },
  "tombbrick": {
    "name": "Brique funéraire",
    "desc": "Des briques poussiéreuses et anciennes.",
    "metadata": {
      "glitchdescription": "Je suis surpris. En y regardant de plus près, on constate que ces briques sont assez anciennes.",
      "florandescription": "De vieilles briques poussiéreuses.",
      "novakiddescription": "Juste quelques vieilles briques poussiéreuses."
    }
  },
  "tombbrick2": {
    "name": "Brique funéraire sans inscription",
    "desc": "Ces briques se sont polies avec le temps.",
    "metadata": {
      "glitchdescription": "Je suis impressionné. Ces briques ont bien résisté au temps, compte tenu de leur âge.",
      "florandescription": "Floran aime les briques lisses.",
      "novakiddescription": "Des briques qui ont fière allure."
    }
  },
  "tombbrick3": {
    "name": "Petite brique funéraire",
    "desc": "Ces petites briques sont réalisées avec un grand savoir-faire.",
    "metadata": {
      "glitchdescription": "Je suis émerveillé. Ce travail de la pierre est vraiment impressionnant.",
      "florandescription": "Petites briques.",
      "novakiddescription": "On dirait bien de petites briques."
    }
  },
  "tombbrick4": {
    "name": "Brique de la Tombe obscure",
    "desc": "Sombres et froides au toucher, ces briques semblent absorber toute la chaleur de la pièce.",
    "metadata": {
      "glitchdescription": "Je ne suis pas convaincu. Ces grosses briques ne sont pas toutes de la même taille.",
      "florandescription": "Les grosses briques de pierre sont dures et froides.",
      "novakiddescription": "Une pierre qui a l'air solide. Elle est très froide au toucher."
    }
  },
  "tombbrick5": {
    "name": "Brique de tombe lisse",
    "desc": "De vieilles briques, polies à la perfection.",
    "metadata": {
      "glitchdescription": "Impressionnant. Les arêtes de ces briques ont toutes été soigneusement lissées.",
      "florandescription": "Des briques lisses et douces.",
      "novakiddescription": "Ces vieilles briques ont l'air sacrément lisses."
    }
  },
  "treasurehoard": {
    "name": "Trésor",
    "desc": "Un trésor étincelant et inestimable.",
    "metadata": {
      "glitchdescription": "Je suis possessif. Je ne peux pas détacher mes yeux de ce trésor.",
      "florandescription": "Floran adore l'or brillant!",
      "novakiddescription": "De l'or! Je peux à peine contenir mon enthousiasme!"
    }
  },
  "tribalplatform": {
    "name": "Plateforme du Temple",
    "desc": "Des plates-formes construites à partir de briques de temple solides.",
    "metadata": {
      "glitchdescription": "Incroyable. Cette plate-forme a été construite à partir de briques de pierre.",
      "florandescription": "Plateforme construite à partir de vieilles briques.",
      "novakiddescription": "De vieilles briques de pierre disposées comme une plate-forme."
    }
  },
  "tungstenplatform": {
    "name": "Plateforme Tungsten",
    "desc": "Plateformes robustes en tungstène.",
    "metadata": {
      "glitchdescription": "Tout à fait d'accord. Le tungstène permet de fabriquer des plates-formes extrêmement solides.",
      "florandescription": "Plates-formes métalliques robustes.",
      "novakiddescription": "Plateformes en tungstène."
    }
  }
}