{
  "blackdye": {
    "name": "Teinture Noire",
    "desc": "Cette teinture peut être appliquée sur une pièce d'armure ou un vêtement d'un simple clic droit."
  },
  "bluedye": {
    "name": "Teinture Bleue",
    "desc": "Cette teinture peut être appliquée sur une pièce d'armure ou un vêtement d'un simple clic droit."
  },
  "browndye": {
    "name": "Teinture Marron",
    "desc": "Cette teinture peut être appliquée sur une pièce d'armure ou un vêtement d'un simple clic droit."
  },
  "dyeremover": {
    "name": "Dissolvant de Teinture",
    "desc": "Appliquez ce dissolvant sur n'importe quel vêtement d'un clic droit pour restaurer sa couleur d'origine."
  },
  "greendye": {
    "name": "Teinture Verte",
    "desc": "Cette teinture peut être appliquée sur une pièce d'armure ou un vêtement d'un simple clic droit."
  },
  "greydye": {
    "name": "Teinture Grise",
    "desc": "Cette teinture peut être appliquée sur une pièce d'armure ou un vêtement d'un simple clic droit."
  },
  "orangedye": {
    "name": "Teinture Orange",
    "desc": "Cette teinture peut être appliquée sur une pièce d'armure ou un vêtement d'un simple clic droit."
  },
  "pinkdye": {
    "name": "Teinture Rose",
    "desc": "Cette teinture peut être appliquée sur une pièce d'armure ou un vêtement d'un simple clic droit."
  },
  "purpledye": {
    "name": "Teinture Violette",
    "desc": "Cette teinture peut être appliquée sur une pièce d'armure ou un vêtement d'un simple clic droit."
  },
  "reddye": {
    "name": "Teinture Rouge",
    "desc": "Cette teinture peut être appliquée sur une pièce d'armure ou un vêtement d'un simple clic droit."
  },
  "whitedye": {
    "name": "Teinture Blanche",
    "desc": "Cette teinture peut être appliquée sur une pièce d'armure ou un vêtement d'un simple clic droit."
  },
  "yellowdye": {
    "name": "Teinture Jaune",
    "desc": "Cette teinture peut être appliquée sur une pièce d'armure ou un vêtement d'un simple clic droit."
  },
  "damageaugment1": {
    "name": "Module de Dégâts I",
    "desc": "Un module d'EPP qui augmente légèrement vos dégâts infligés.",
    "metadata": {
      "augment.displayName": "Dégâts I"
    }
  },
  "damageaugment2": {
    "name": "Module de Dégâts II",
    "desc": "Un module d'EPP qui augmente vos dégâts infligés.",
    "metadata": {
      "augment.displayName": "Dégâts II"
    }
  },
  "damageaugment3": {
    "name": "Module de Dégâts III",
    "desc": "Un module d'EPP qui augmente significativement vos dégâts infligés.",
    "metadata": {
      "augment.displayName": "Dégâts III"
    }
  },
  "electricblockaugment": {
    "name": "Module de Résistance Électrique",
    "desc": "Un module d'EPP qui vous rend hautement résistant à l'électricité.",
    "metadata": {
      "augment.displayName": "Anti-Élec."
    }
  },
  "energyaugment1": {
    "name": "Module d'Énergie I",
    "desc": "Un module d'EPP qui augmente légèrement votre réserve d'énergie.",
    "metadata": {
      "augment.displayName": "Énergie I"
    }
  },
  "energyaugment2": {
    "name": "Module d'Énergie II",
    "desc": "Un module d'EPP qui augmente votre réserve d'énergie.",
    "metadata": {
      "augment.displayName": "Énergie II"
    }
  },
  "energyaugment3": {
    "name": "Module d'Énergie III",
    "desc": "Un module d'EPP qui augmente grandement votre réserve d'énergie.",
    "metadata": {
      "augment.displayName": "Énergie III"
    }
  },
  "fireblockaugment": {
    "name": "Module de Résistance au Feu",
    "desc": "Un module d'EPP qui vous rend hautement résistant au feu.",
    "metadata": {
      "augment.displayName": "Anti-Feu"
    }
  },
  "gravityaugment": {
    "name": "Module de Gravité",
    "desc": "Un module d'EPP qui manipule la gravité pour ralentir votre chute.",
    "metadata": {
      "augment.displayName": "Gravité"
    }
  },
  "healingaugment1": {
    "name": "Module de Soin I",
    "desc": "Un module d'EPP qui restaure lentement votre santé au fil du temps.",
    "metadata": {
      "augment.displayName": "Soin I"
    }
  },
  "healingaugment2": {
    "name": "Module de Soin II",
    "desc": "Un module d'EPP qui restaure votre santé au fil du temps.",
    "metadata": {
      "augment.displayName": "Soin II"
    }
  },
  "healingaugment3": {
    "name": "Module de Soin III",
    "desc": "Un module d'EPP qui restaure rapidement votre santé au fil du temps.",
    "metadata": {
      "augment.displayName": "Soin III"
    }
  },
  "healthaugment1": {
    "name": "Module de Santé I",
    "desc": "Un module d'EPP qui augmente légèrement votre santé maximale.",
    "metadata": {
      "augment.displayName": "Santé I"
    }
  },
  "healthaugment2": {
    "name": "Module de Santé II",
    "desc": "Un module d'EPP qui augmente votre santé maximale.",
    "metadata": {
      "augment.displayName": "Santé II"
    }
  },
  "healthaugment3": {
    "name": "Module de Santé III",
    "desc": "Un module d'EPP qui augmente grandement votre santé maximale.",
    "metadata": {
      "augment.displayName": "Santé III"
    }
  },
  "iceblockaugment": {
    "name": "Module de Résistance à la Glace",
    "desc": "Un module d'EPP qui vous rend hautement résistant au froid.",
    "metadata": {
      "augment.displayName": "Anti-Glace"
    }
  },
  "jumpaugment": {
    "name": "Module de Saut",
    "desc": "Un module d'EPP qui augmente votre puissance de saut.",
    "metadata": {
      "augment.displayName": "Saut"
    }
  },
  "lightaugment1": {
    "name": "Module Lumineux I",
    "desc": "Un module d'EPP permettant à votre sac de survie d'émettre une faible lueur.",
    "metadata": {
      "augment.displayName": "Lumière I"
    }
  },
  "lightaugment2": {
    "name": "Module Lumineux II",
    "desc": "Un module d'EPP permettant à votre sac de survie d'émettre de la lumière.",
    "metadata": {
      "augment.displayName": "Lumière II"
    }
  },
  "lightaugment3": {
    "name": "Module Lumineux III",
    "desc": "Un module d'EPP permettant à votre sac de survie d'émettre une lumière intense.",
    "metadata": {
      "augment.displayName": "Lumière III"
    }
  },
  "mobilityaugment": {
    "name": "Module de Mobilité",
    "desc": "Un module d'EPP qui augmente votre vitesse de mouvement et votre puissance de saut.",
    "metadata": {
      "augment.displayName": "Mobilité"
    }
  },
  "peacekeeperaugment1": {
    "name": "Module de Pacificateur I",
    "desc": "Un module d'EPP qui augmente votre défense et émet une douce lumière.",
    "metadata": {
      "augment.displayName": "Pacificateur I"
    }
  },
  "peacekeeperaugment2": {
    "name": "Module de Pacificateur II",
    "desc": "Un module d'EPP qui augmente votre défense et émet une douce lumière.",
    "metadata": {
      "augment.displayName": "Pacificateur II"
    }
  },
  "peacekeeperaugment3": {
    "name": "Module de Pacificateur III",
    "desc": "Un module d'EPP qui augmente votre défense et émet une douce lumière.",
    "metadata": {
      "augment.displayName": "Pacificateur III"
    }
  },
  "poisonblockaugment": {
    "name": "Module de Résistance au Poison",
    "desc": "Un module d'EPP qui vous rend hautement résistant au poison.",
    "metadata": {
      "augment.displayName": "Antidote"
    }
  },
  "speedaugment": {
    "name": "Module de Vitesse",
    "desc": "Un module d'EPP qui augmente votre vitesse de déplacement.",
    "metadata": {
      "augment.displayName": "Vitesse"
    }
  },
  "swimaugment": {
    "name": "Module de Natation",
    "desc": "Un module d'EPP qui améliore votre mobilité quand vous nagez.",
    "metadata": {
      "augment.displayName": "Natation"
    }
  },
  "thornsaugment": {
    "name": "Module d'Épines",
    "desc": "Un module d'EPP capable de renvoyer les dégâts reçus aux ennemis proches.",
    "metadata": {
      "augment.displayName": "Épines"
    }
  },
  "fishinglurecontrol": {
    "name": "Leurre Motorisé",
    "desc": "Un leurre équipé de gyroscopes internes pour un meilleur contrôle.",
    "metadata": {
      "lureName": "L. Motorisé"
    }
  },
  "fishinglurelight": {
    "name": "Leurre Lumineux",
    "desc": "Un leurre doté d'une lumière interne pour la pêche nocturne.",
    "metadata": {
      "lureName": "L. Lumineux"
    }
  },
  "fishingluresinking": {
    "name": "Leurre Coulant",
    "desc": "Un leurre lourd qui coule rapidement.",
    "metadata": {
      "lureName": "L. Coulant"
    }
  },
  "fishingreelfast": {
    "name": "Moulinet Haute Vitesse",
    "desc": "Un moulinet qui rembobine plus vite lorsqu'il n'y a pas de prise.",
    "metadata": {
      "reelName": "M. Rapide"
    }
  },
  "fishingreellong": {
    "name": "Moulinet Haute Capacité",
    "desc": "Un moulinet doté d'une bobine plus large pour une ligne plus longue.",
    "metadata": {
      "reelName": "M. Longue Ligne"
    }
  },
  "fishingreelstrong": {
    "name": "Moulinet Haute Tension",
    "desc": "Un moulinet robuste avec une ligne résistante qui ne cassera pas facilement.",
    "metadata": {
      "reelName": "M. Renforcé"
    }
  },
  "bouncycollar": {
    "name": "Collier Rebondissant",
    "desc": "Un collier qui rend votre familier inutilement bondissant.",
    "metadata": {
      "collar.displayName": "Rebondissant"
    }
  },
  "damagecollar1": {
    "name": "Collier de Dégâts I",
    "desc": "Un collier qui augmente légèrement les dégâts de votre familier.",
    "metadata": {
      "collar.displayName": "Dégâts I"
    }
  },
  "damagecollar2": {
    "name": "Collier de Dégâts II",
    "desc": "Un collier qui augmente les dégâts de votre familier.",
    "metadata": {
      "collar.displayName": "Dégâts II"
    }
  },
  "damagecollar3": {
    "name": "Collier de Dégâts III",
    "desc": "Un collier qui augmente significativement les dégâts de votre familier.",
    "metadata": {
      "collar.displayName": "Dégâts III"
    }
  },
  "electricbombcollar": {
    "name": "Collier Bombe Électrique",
    "desc": "Un collier qui provoque une explosion électrique lorsque votre familier est vaincu.",
    "metadata": {
      "collar.displayName": "Bombe Élec."
    }
  },
  "firebombcollar": {
    "name": "Collier Bombe de Feu",
    "desc": "Un collier qui provoque une explosion de feu lorsque votre familier est vaincu.",
    "metadata": {
      "collar.displayName": "Bombe Feu"
    }
  },
  "ghostlycollar": {
    "name": "Collier Fantomatique",
    "desc": "Un collier qui donne à votre familier une apparence spectrale.",
    "metadata": {
      "collar.displayName": "Spectre"
    }
  },
  "healingcollar1": {
    "name": "Collier de Soin I",
    "desc": "Un collier qui restaure lentement la santé de votre familier.",
    "metadata": {
      "collar.displayName": "Soin I"
    }
  },
  "healingcollar2": {
    "name": "Collier de Soin II",
    "desc": "Un collier qui restaure la santé de votre familier.",
    "metadata": {
      "collar.displayName": "Soin II"
    }
  },
  "healingcollar3": {
    "name": "Collier de Soin III",
    "desc": "Un collier qui restaure rapidement la santé de votre familier.",
    "metadata": {
      "collar.displayName": "Soin III"
    }
  },
  "healthcollar1": {
    "name": "Collier de Santé I",
    "desc": "Un collier qui augmente légèrement la santé de votre familier.",
    "metadata": {
      "collar.displayName": "Santé I"
    }
  },
  "healthcollar2": {
    "name": "Collier de Santé II",
    "desc": "Un collier qui augmente la santé de votre familier.",
    "metadata": {
      "collar.displayName": "Santé II"
    }
  },
  "healthcollar3": {
    "name": "Collier de Santé III",
    "desc": "Un collier qui augmente significativement la santé de votre familier.",
    "metadata": {
      "collar.displayName": "Santé III"
    }
  },
  "icebombcollar": {
    "name": "Collier Bombe de Glace",
    "desc": "Un collier qui provoque une explosion de glace lorsque votre familier est vaincu.",
    "metadata": {
      "collar.displayName": "Bombe Glace"
    }
  },
  "lightcollar": {
    "name": "Collier Lumineux",
    "desc": "Un collier qui émet de la lumière.",
    "metadata": {
      "collar.displayName": "Lumière"
    }
  },
  "obliviouscollar": {
    "name": "Collier d'Indifférence",
    "desc": "Un collier qui pacifie votre familier.",
    "metadata": {
      "collar.displayName": "Indifférent"
    }
  },
  "poisonbombcollar": {
    "name": "Collier Bombe de Poison",
    "desc": "Un collier qui provoque une explosion toxique lorsque votre familier est vaincu.",
    "metadata": {
      "collar.displayName": "Bombe Tox."
    }
  }
}