{
  "ui": {
    "mainAbilityLabel": "Principal:",
    "secondAbilityLabel": "Spécial:",
    "finalAbilityLabel": "Final:",
    "oneHandedLabel": "1-Main",
    "twoHandedLabel": "2-Mains",
    "interface": {
      "playerInventory": {
        "subtitle": "^#b9b5b2;Votre inventaire et équipement ^green;[I]",
        "defaultPetNameLabel": "^#b9b5b2;FAMILIER",
        "paneLayout.head.data.tooltipText": "Casque",
        "paneLayout.chest.data.tooltipText": "Plastron",
        "paneLayout.legs.data.tooltipText": "Jambières",
        "paneLayout.back.data.tooltipText": "Dorsale",
        "paneLayout.headCosmetic.data.tooltipText": "Tenue Casque",
        "paneLayout.chestCosmetic.data.tooltipText": "Tenue Plastron",
        "paneLayout.legsCosmetic.data.tooltipText": "Tenue Jambières",
        "paneLayout.backCosmetic.data.tooltipText": "Tenue Dorsale",
        "paneLayout.labelappearance.value": "Attaque",
        "paneLayout.labelstats.value": "Défense",
        "paneLayout.labeltech.value": "HP",
        "paneLayout.trash.data.tooltipText": "Poubelle"
      },
      "codex": {
        "selectText": "Choisir le Codex <species>",
        "paneLayout.windowtitle.title": "Bibliothèque de Codex",
        "paneLayout.windowtitle.subtitle": "^#b9b5b2;Livres trouvés prendant vos voyages ^green;[L]"
      }
    },
    "tooltip": {
      "bow": {
        "handednessLabel": "",
        "maxDamageTitleLabel": "Dégâts Max:",
        "energyPerShotTitleLabel": "Énergie par Tir:",
        "descriptionLabel": "Utile pour récupérer de la nourriture et d'autres objets sur les monstres."
      },
      "eppaugment": {
        "instructionLabel": "Équipe un EPP avec clic droit"
      },
      "filledcapturepod": {
        "noCollarLabel": "AUCUN COLLIER"
      },
      "fishingupgrade": {
        "instructionLabel": "S'équipe sur une canne avec clic-droit"
      },
      "fistweapon": {
        "damagePerShotTitleLabel": "Dégats par coup:",
        "speedTitleLabel": "Cadence de Frappe:"
      },
      "gun": {
        "handednessLabel": "",
        "speedTitleLabel": "Cadence de Tir:",
        "damagePerShotTitleLabel": "Dégats par Tir:",
        "energyPerShotTitleLabel": "Énergie par Tir:"
      },
      "mecharm": {
        "powerStatLabel": "Puissance",
        "energyDrainLabelLabel": "Energie Consommée"
      },
      "mechbody": {
        "energyStatLabel": "Énergie Max",
        "protectionStatLabel": "Défense"
      },
      "mechbooster": {
        "speedStatLabel": "Vitesse de Vol",
        "controlStatLabel": "Maniabilité"
      },
      "mechlegs": {
        "speedStatLabel": "Vitesse de Course",
        "jumpStatLabel": "Puissance de Saut"
      },
      "petcollar": {
        "instructionLabel": "Équiper le pod de capture avec clic-droit"
      },
      "shield": {
        "healthTitleLabel": "Santé du bouclier:",
        "cooldownTitleLabel": "Temp de recharge:"
      },
      "staff": {
        "handednessLabel": "",
        "levelTitleLabel": "Niveau:"
      },
      "sword": {
        "handednessLabel": "",
        "speedTitleLabel": "Cadence de Frappe:",
        "damagePerShotTitleLabel": "Dégats par coup:"
      }
    },
    "rotTimeDescription": [
      [ 300, "^red;Pratiquement décomposé^reset;" ],
      [ 1800, "^orange;Commence à se gâter^reset;" ],
      [ 3600, "^yellow;Périt bientôt^reset;" ],
      [ 10800, "^green;Encore bien frais^reset;" ],
      [ 999999, "^green;Parfaitement conservé^reset;" ]
    ],
    "mods": {  }
  },
  "rarity": {
    "common": "Commun",
    "uncommon": "Peu commun",
    "rare": "Rare",
    "legendary": "Légendaire",
    "essential": "Essentiel"
  },
  "category": {
    "__SectionCategory1": "======= BLOC DE SECTION =======",
    "block": "Bloc",
    "liquid": "Liquide",
    "genboss": "",
    "platform": "Plateforme",
    "playerstation": "Poste de joueur",
    "rail": "Chemin de fer",
    "railpoint": "Point de rail",
    "railplatform": "Plateforme rail",
    "supports": "Supports",
    "__SectionCategory2": "======= MATÉRIEL DE LA SECTION =======",
    "clothingdye": "Teinture",
    "craftingmaterial": "Matériau",
    "fuel": "Carburant",
    "salvagecomponent": "Composant récup.",
    "upgradecomponent": "Module d'amélio.",
    "__SectionCategory3": "======= OBJET DE LA SECTION =======",
    "breakable": "Fragile",
    "crafting": "Station de fabrication",
    "decorative": "Décoratif",
    "door": "Porte",
    "fridgestorage": "Stockage réfrigéré",
    "furniture": "Meuble",
    "light": "Source de lumière",
    "shippingcontainer": "Conteneur de fret",
    "spawner": "Contrat de colon",
    "storage": "Stockage",
    "trap": "Piège",
    "__SectionCategory4": "======= SECTION PROGRESSION =======",
    "blueprint": "Schéma",
    "currency": "Monnaie",
    "quest": "Quête",
    "shiplicense": "Licence de vaisseau",
    "tradegoods": "Marchandises",
    "__SectionCategory5": "======= COLLECTION DE SECTIONS =======",
    "actionfigure": "Figurine",
    "artifact": "Artéfact",
    "bug": "Insectes",
    "codex": "Codex",
    "largefossil": "Grand fossile",
    "mediumfossil": "Fossile moyen",
    "musicalinstrument": "Instrument",
    "smallfossil": "Petit fossile",
    "toy": "Jouet",
    "tradingcard": "Carte à collectionner",
    "trophy": "Trophée",
    "__SectionCategory6": "======= RUBRIQUE CONSOMMABLES =======",
    "cookingingredient": "Ingrédient",
    "drink": "Boisson",
    "farmbeastfeed": "Fourrage Fluffalo",
    "farmbeastfood": "Nourriture bétail",
    "food": "Nourriture",
    "foodjunk": "Malbouffe",
    "medicine": "Médicament",
    "preparedfood": "Plat préparé",
    "__SectionCategory7": "======= SECTION NATURE =======",
    "farmbeastegg": "Œuf de bétail",
    "petcollar": "Collier familier",
    "sapling": "Jeune pousse",
    "seed": "Graine",
    "__SectionCategory8": "======= OUTIL DE SECTION =======",
    "drone": "Drone",
    "fishingrod": "Canne à pêche",
    "fishinglure": "Leurre de pêche",
    "fishingreel": "Moulinet de pêche",
    "mechpart": "Composant de Mech",
    "tech": "Technologie",
    "techmanagement": "Gestion tech",
    "teleporter": "Téléporteur",
    "teleportmarker": "Marqueur téléport",
    "terraformer": "Terraformeur",
    "tool": "Outil",
    "tool^green;[r]": "Outil ^green;[R]",
    "vehiclecontroller": "Clé de véhicule",
    "wire": "Câblage",
    "__SectionCategory9": "======= SECTION ARMES =======",
    "assaultrifle": "Fusil d'assaut",
    "axe": "Hache",
    "boomerang": "Boomerang",
    "bow": "Arc",
    "broadsword": "Espadon",
    "chakram": "Roue",
    "crossbow": "Arbalète",
    "dagger": "poignard",
    "fistweapon": "Arme de poing",
    "grenadelauncher": "Lance-grenades",
    "hammer": "Marteau",
    "machinepistol": "Pistolet-mitrailleur",
    "pistol": "Pistolet",
    "rocketlauncher": "Lance-roquettes",
    "throwableitem": "Objet de jet",
    "shield": "Bouclier",
    "shortsword": "Épée courte",
    "shotgun": "Fusil à pompe",
    "sniperrifle": "Fusil de précision",
    "spear": "Lance",
    "staff": "Bâton",
    "uniqueweapon": "Arme unique",
    "wand": "Baguette",
    "whip": "Fouet",
    "__SectionCategory10": "======= SECTION ARMOR =======",
    "chestarmour": "Plastron",
    "headarmour": "Casque",
    "legarmour": "Jambières",
    "backwear": "Tenue Dorsale",
    "chestwear": "Tenue Plastron",
    "headwear": "Tenue Casque",
    "legwear": "Tenue Jambières",
    "enviroprotectionpack": "Pack de protection (EPP)",
    "eppaugment": "Amélio. EPP",
    "__SectionCategory11": "======= SECTION DIVERS =======",
    "generic": "Générique",
    "junk": "Déchet",
    "mysteriousreward": "Récompense",
    "other": "Autre"
  },
  "ability": {
    "__SectionAbility1": "======= SECTION ARC =======",
    "bowshot": "Tir à l'Arc",
    "zenshot": "Le pays du zen",
    "__SectionAbility2": "======= SECTION HACHE =======",
    "axecleave": "Fendoir",
    "__SectionAbility3": "======= SECTION ÉPÉE À DEUX MAINS =======",
    "astraltear": "Déchirure Astrale",
    "bladecharge": "Charge de Lame",
    "broadswordcombo": "Enchaînement Slash",
    "downstab": "Estocade Tombante",
    "flamethrowersword": "Lance-flammes",
    "flipslash": "Salto Tranchant",
    "giantsword": "Épée Géante",
    "greatwave": "Grande Vague",
    "kunaiblast": "Rafale de Kunaïs",
    "meleeslash": "Arrêt du Temps",
    "parry": "Défilé",
    "risingslash": "Entaille Ascendante",
    "spinslash": "Entaille Tournoyante",
    "superspinslash": "Super Entaille",
    "traildash": "Ruée de Sillage",
    "travelingslash": "Entaille Volante",
    "__SectionAbility4": "======= SECTION GÉNÉRIQUE =======",
    "blinkexplosion": "Flash d'explosion",
    "blinkslash": "Entaille Flash",
    "scouteye": "Œil Éclaireur",
    "__SectionAbility5": "======= SECTION MARTEAU =======",
    "elementalaura": "Aura d'Énergie",
    "elementalpillar": "Pilier d'Énergie",
    "groundslam": "Fracas au Sol",
    "hammersmash": "Écrasement",
    "physicalshockwave": "Onde de Choc",
    "shockwave": "Vague d'Énergie",
    "uppercut": "Uppercut",
    "__SectionAbility6": "======= SECTION ÉPÉE COURTE =======",
    "shortswordcombo": "Enchaînement Slash",
    "__SectionAbility7": "======= SECTION LANCE =======",
    "barrier": "Barrière",
    "elementalspin": "Tourbillon d'Énergie",
    "flurry": "Vente de titres",
    "rocketspear": "Lance-Fusée",
    "spearcharge": "Charge de Lance",
    "spearspin": "Tourbillon de Lames",
    "spearstab": "Coup de grâce",
    "__SectionAbility8": "======= SECTION PIOCHE =======",
    "pickslash": "Coup de Pioche",
    "__SectionAbility9": "======= SECTION AUTRES =======",
    "adaptableammo": "Munitions Adaptables",
    "drillspear": "Lance-Foreuse",
    "drillcharge": "Charge Foreuse",
    "evileye": "Œil Maléfique",
    "tentaclegun": "Tentacules",
    "enpowerment": "Surpuissance",
    "__SectionAbility10": "======= DISTANCE DE LA SECTION =======",
    "altfire": "Mines de Plasma",
    "bouncingshot": "Tir Rebondissant",
    "burstshot": "Tir en Rafale",
    "chargefire": "Tir Chargé",
    "deathbomb": "Bombe Ennemie",
    "erchiusbeam": "Rayon d'Erchius",
    "erchiuslauncher": "Lanceur d'Erchius",
    "explosiveburst": "Rafale Explosif",
    "explosiveshot": "Tir Explosif",
    "flamethrower": "Lance-flammes",
    "flashlight": "Lampe Torche",
    "fuelairtrail": "Traînée de Carburant",
    "grenadelauncher": "Lance-grenades",
    "controlledrocket": "Roquette Contrôlée",
    "guidedrocket": "Roquette Guidée",
    "homingrocket": "Roquette Tête Chercheuse",
    "lance": "Lance d'Énergie",
    "markedshot": "Tir Marqué",
    "piercingshot": "Tir Perçant",
    "rocketburst": "Rafale de Roquettes",
    "shrapnelbomb": "Bombe à Fragment.",
    "sparkles": "Étincelles",
    "spray": "Arrosage",
    "stickyshot": "Bombes Collantes",
    "__SectionAbility11": "======= SECTION BÂTON =======",
    "elementbouncer": "Rebondisseur <elementalName>",
    "elementorb": "Orbe <elementalName>",
    "elementportal": "Passerelle <elementalName>",
    "elementrain": "Pluie <elementalName>",
    "elementswarm": "Essaim <elementalName>",
    "kluexshooter": "Tir de Kluex",
    "plasmabarrage": "Barrage de Plasma",
    "plasmabladebarrage": "Barrage de Lames",
    "energyzone": "Énergie",
    "forcecage": "Cage de Force",
    "healingzone": "Soin",
    "kluexzone": "Rage de Kluex",
    "lowgravzone": "Basse Gravité",
    "pullzone": "Attraction",
    "pushzone": "Répulsion",
    "slowzone": "Lenteur",
    "guidebolt": "Éclair Guidé",
    "balllightning": "Boule de Foudre",
    "__SectionAbility12": "======= SECTION FOUET =======",
    "energyorb": "Orbe de Lucaine",
    "whipcrack": "Claquement de Fouet"
  },
  "combofinisher": {
    "dash slash": "Entaille Ruée",
    "power punch": "Coup Puissant",
    "snaproot": "Enracinement",
    "thunder punch": "Coup Tonnerre",
    "uppercut": "Uppercut"
  },
  "elementaltype": {
    "fire": "Feu",
    "ice": "Glace",
    "electric": "Elec.",
    "poison": "Poison"
  }
}