{
  "liquidhealing": {
    "name": "Eau bienfaisante",
    "desc": "Une mesure d'eau fraîche, limpide et bienfaisante. En la buvant, vous redonnerez de la vigueur à votre corps."
  },
  "liquidlava": {
    "name": "Lave",
    "desc": "Une mesure de lave bouillonnante et brûlante."
  },
  "liquidfuel": {
    "name": "Carburant liquide Erchius",
    "desc": "Une substance dangereuse et instable, extraite des lunes et utilisée comme carburant pour la propulsion FTL."
  },
  "liquidmilk": {
    "name": "Lait de coco",
    "desc": "Une dose de lait de coco. Le goût est incroyable."
  },
  "liquidoil": {
    "name": "Pétrole",
    "desc": "Une mesure d'huile brute visqueuse."
  },
  "liquidpoison": {
    "name": "Poison",
    "desc": "Une dose de poison puissant."
  },
  "liquidslime": {
    "name": "Slime",
    "desc": "Un liquide visqueux."
  },
  "swampwater": {
    "name": "Eau des marais",
    "desc": "Une mesure d'eau boueuse de marécage."
  },
  "liquidwater": {
    "name": "Eau",
    "desc": "Une mesure d'eau fraîche et claire."
  }
}