{
  "story": {
    "bootship": {
      "title": "Démarrage",
      "text": "Seul et à la dérive dans un vaisseau endommagé, votre seul espoir est de redémarrer l'ordinateur de bord.",
      "completionText" : "S.A.I.L. est réveillé ! Vous avez enfin un guide et un peu de compagnie.",
      "descriptions": { "wakesail": "Démarrer l'ordinateur du vaisseau" },
      "wakeUp": [
        [ "Redémarrage en cours...", "/ai/portraits/apexportrait.png:unique.1" ],
        [ "Je suis S.A.I.L., votre Intelligence Artificielle de Bord. Je supervise la maintenance du vaisseau.", "/ai/portraits/apexportrait.png:talk.0" ],
        [ "Je suis également programmé pour vous fournir informations et conseils.", "/ai/portraits/apexportrait.png:talk.1" ],
        [ "La Terre a été attaquée par une force inconnue, puis totalement annihilée.", "/ai/portraits/apexportrait.png:talk.0" ],
        [ "La navigation a été endommagée durant notre fuite. Notre position est actuellement inconnue.", "/ai/portraits/apexportrait.png:talk.1" ]
      ],
      "wakePlayer": [
        [ "Système hors ligne. Veuillez redémarrer.", "/ai/portraits/apexportrait.png:unique.1" ],
        [ "Veuillez redémarrer le système.", "/ai/portraits/apexportrait.png:unique.1" ],
        [ "Le processus de redémarrage n'a pas été lancé.", "/ai/portraits/apexportrait.png:unique.1" ],
        [ "Veuillez redémarrer pour utiliser S.A.I.L", "/ai/portraits/apexportrait.png:unique.1" ],
        [ "Le redémarrage améliore la satisfaction de l'équipage de 73%.", "/ai/portraits/apexportrait.png:unique.1" ],
        [ "Le redémarrage nécessite l'intervention d'une entité consciente.", "/ai/portraits/apexportrait.png:unique.1" ]
      ]
    }
  }
}