{
  "commonlargeshield": {
    "name": "Grand bouclier",
    "desc": "Il y a quelque chose de spécial entre nous."
  },
  "commonsmallshield": {
    "name": "Petit bouclier",
    "desc": "Il y a quelque chose de spécial entre nous."
  },
  "eyeshield": {
    "name": "Protège-yeux",
    "desc": "Il prévoit toutes les attaques."
  },
  "floranshield": {
    "name": "Floran Shield",
    "desc": "Ces feuilles sont étonnamment résistantes."
  },
  "frostshield": {
    "name": "Bouclier antigel",
    "desc": "Mettez fin aux attaques."
  },
  "mushroomshield": {
    "name": "Bouclier champignon",
    "desc": "Un disque épais de champignon durci."
  },
  "riotshield": {
    "name": "Bouclier anti-émeute",
    "desc": "Un bastion d'ordre dans un monde incertain."
  },
  "seashellshield": {
    "name": "Bouclier coquillage",
    "desc": "Les ennemis se briseront contre toi comme des vagues déferlantes."
  },
  "startershield": {
    "name": "Bouclier de base",
    "desc": "Un peu plus résistant que vos mains nues."
  },
  "boomerang": {
    "name": "Boomerang",
    "desc": "Des micropropulseurs à la pointe de la technologie garantissent qu'il reviendra toujours."
  },
  "fireboomerang": {
    "name": "Boomerang Enflammé",
    "desc": "Un boomerang brûlant au cœur en fusion."
  },
  "iceboomerang": {
    "name": "Boomerang gelé",
    "desc": "Un boomerang glacial au cœur de glace."
  },
  "lunarang": {
    "name": "La phase décroissante de la Lune",
    "desc": "Ce n'est pas la lune."
  },
  "wormerang": {
    "name": "Ver géant",
    "desc": "Un ver géant terrifiant, lance-le sur quelqu'un!"
  },
  "chakram": {
    "name": "Roue",
    "desc": "Les grands maîtres du chakram peuvent l'attraper sans se couper les doigts."
  },
  "hardchakram": {
    "name": "Chakram rigide",
    "desc": "Solide, lourd et d'une efficacité redoutable."
  },
  "neochakram": {
    "name": "Nouveau Chakra",
    "desc": "Débordant d'une énergie destructrice."
  },
  "sawchakram": {
    "name": "La roue de la parole",
    "desc": "Une arme de prédilection de l'ordre sacré des moines bûcherons."
  },
  "boxingglove": {
    "name": "Gant de boxe",
    "desc": "Vous pouvez désormais vous hisser parmi les prétendants au titre."
  },
  "brassknuckles": {
    "name": "poing américain",
    "desc": "C'est difficile de faire craquer ces articulations."
  },
  "clawglove": {
    "name": "Gant à griffes",
    "desc": "Ce n'est pas de l'adamantium, mais c'est quand même cool."
  },
  "gauntlet": {
    "name": "Premier défi",
    "desc": "Idéal pour lancer un duel."
  },
  "stunglove": {
    "name": "Gant paralysant",
    "desc": "Incroyablement efficace."
  },
  "supernovaglove": {
    "name": "Gantelet Supernova",
    "desc": "Des gantelets imprégnés de la puissance d'une supernova."
  },
  "vinefist": {
    "name": "Voici Fist01",
    "desc": "Libérez la puissance de la nature!"
  },
  "durasteelassaultrifle": {
    "name": "Fusil d'assaut Duracier",
    "desc": "Un fusil de type militaire entièrement automatique."
  },
  "durasteelrevolver": {
    "name": "Revolver en Duracier",
    "desc": "Un gros pistolet qui a du punch."
  },
  "ironassaultrifle": {
    "name": "Fusil d'assaut en fer",
    "desc": "Un fusil de type militaire entièrement automatique."
  },
  "ironrevolver": {
    "name": "Revolver de Fer",
    "desc": "Un gros pistolet qui a du punch."
  },
  "titaniummachinepistol": {
    "name": "Pisto-mitrail en titane",
    "desc": "Un gros pistolet qui a du punch."
  },
  "titaniumsniperrifle": {
    "name": "Fusil de préc. titane",
    "desc": "Très puissant pour parcourir de longues distances."
  },
  "tungstenmagnum": {
    "name": "Tungsten Magnum",
    "desc": "Un gros pistolet qui a du punch."
  },
  "tungstenshotgun": {
    "name": "Fusil de chasse tungstène",
    "desc": "Lance une rafale mortelle à courte portée."
  },
  "npcassaultrifle": {
    "name": "Fusil d'assaut NPC",
    "desc": "Un fusil entièrement automatique de qualité militaire."
  },
  "npcavianbroadsword": {
    "name": "PNJ Macuahuitl",
    "desc": "Une puissante épée à deux mains."
  },
  "npcaxe": {
    "name": "Hache de PNJ",
    "desc": "Conçu pour hacher efficacement."
  },
  "npcbow": {
    "name": "Arc de PNJ",
    "desc": "Récupère la viande et d'autres objets sur les monstres."
  },
  "npcbroadsword": {
    "name": "Épée large de PNJ",
    "desc": "Une puissante épée à deux mains."
  },
  "npcbruisersword": {
    "name": "Grande épée du PNJ Bruiser",
    "desc": "Ce truc est énorme!"
  },
  "npccultistbroadsword": {
    "name": "Épée large du sectaire (PNJ)",
    "desc": "Une puissante épée à deux mains."
  },
  "npccultistshortsword": {
    "name": "Épée courte du sectateur (PNJ)",
    "desc": "Une épée courte ayant appartenu à un adepte d'un culte."
  },
  "npcdagger": {
    "name": "Dague de PNJ",
    "desc": "D'une précision redoutable et d'une rapidité fulgurante."
  },
  "npcdeadbeatassaultrifle": {
    "name": "Fusil d'assaut Deadbeat (PNJ)",
    "desc": "Un fusil de type militaire rouillé."
  },
  "npcdeadbeataxe": {
    "name": "Hache du mauvais payeur (PNJ)",
    "desc": "Une hache d'apparence rudimentaire avec un manche tordu."
  },
  "npceyesword": {
    "name": "PNJ Oculus Reaver",
    "desc": "Au début, voir à travers l'œil de l'épée est déconcertant."
  },
  "npcfeneroxspear": {
    "name": "Lance de Fenerox (PNJ)",
    "desc": "Cette lance est idéale pour les ennemis qui se trouvent juste hors de portée."
  },
  "npcfirebow": {
    "name": "Arc de feu NPC",
    "desc": "Récupère la viande et d'autres objets sur les monstres."
  },
  "npcfloranassaultrifle": {
    "name": "Fusil d'assaut NPC Floran",
    "desc": "Un fusil d'assaut fabriqué à partir de matériaux organiques."
  },
  "npcgangbroadsword": {
    "name": "Arme de gang des PNJ",
    "desc": "Une arme puissante à deux mains."
  },
  "npchammer": {
    "name": "NPC Hammer",
    "desc": "Lent, lourd et efficace."
  },
  "npcmachinepistol": {
    "name": "Pistolet mitrailleur NPC",
    "desc": "Un petit pistolet entièrement automatique."
  },
  "npcpistol": {
    "name": "Pistolet NPC",
    "desc": "Un petit pistolet."
  },
  "npcrocketlauncher": {
    "name": "Lance-roquettes NPC",
    "desc": "Le pouvoir de tout faire exploser."
  },
  "npcshortsword": {
    "name": "Épée courte de PNJ",
    "desc": "Une épée à une main robuste."
  },
  "npcshotgun": {
    "name": "Fusil à pompe NPC",
    "desc": "Lance une rafale mortelle à courte portée."
  },
  "npcsniperrifle": {
    "name": "Fusil de précision NPC",
    "desc": "Très puissant pour parcourir de longues distances."
  },
  "npcspear": {
    "name": "Lance de PNJ",
    "desc": "Cette lance est idéale pour les ennemis qui se trouvent juste hors de portée."
  },
  "npctungstenbow": {
    "name": "Arc en tungstène NPC",
    "desc": "Récupère la viande et d'autres objets sur les monstres."
  },
  "npcwrench": {
    "name": "Clé NPC",
    "desc": "Il assène un coup de poing puissant, idéal pour remettre à leur place les machines récalcitrantes."
  },
  "brokenprotectoratebroadsword": {
    "name": "Épée large brisée",
    "desc": "Une très belle épée en très mauvais état."
  },
  "durasteelbroadsword": {
    "name": "Épée large Duracier",
    "desc": "Une lame forgée dans du durasteel massif. Peu de métaux sont plus résistants."
  },
  "durasteelshortsword": {
    "name": "Duracier Shortsword",
    "desc": "Cette épée courte est forgée dans du durasteel massif."
  },
  "ironbroadsword": {
    "name": "Épée large en fer",
    "desc": "C'est une épée large de fabrication rudimentaire."
  },
  "ironshortsword": {
    "name": "Épée courte en fer",
    "desc": "Ça ne semble pas si court aux yeux des ennemis."
  },
  "titaniumdagger": {
    "name": "Dague en titane",
    "desc": "Cette dague est légère, mais incroyablement résistante."
  },
  "titaniumspear": {
    "name": "Lance en titane",
    "desc": "Une lance conçue pour tenir les ennemis à distance."
  },
  "tungstenaxe": {
    "name": "Hache en tungstène",
    "desc": "Cette hache est étonnamment lourde pour sa taille."
  },
  "tungstenhammer": {
    "name": "Marteau en tungstène",
    "desc": "Lourd, mais percutant."
  },
  "energywhip": {
    "name": "Fouet énergétique de Lucaine",
    "desc": "Un fouet fait d'énergie pure. C'est parti!"
  },
  "intestinewhip": {
    "name": "Fouet intestinal",
    "desc": "Le gros intestin peut s'étirer de manière étonnante."
  },
  "ropewhip": {
    "name": "Fouet à corde",
    "desc": "Une corde transformée en fouet. Allez, au boulot!"
  },
  "vinewhip": {
    "name": "Fouet de vigne",
    "desc": "Un fouet fabriqué à partir d'une liane épineuse. Allez, on y va!"
  },
  "rarewand": {
    "name": "Baguette rare",
    "desc": "Une technologie suffisamment avancée."
  },
  "rarestaff": {
    "name": "Bâton rare",
    "desc": "Une technologie suffisamment avancée."
  },
  "teslastaff": {
    "name": "Batôn Tesla",
    "desc": "Il maîtrise de puissants éclairs en créant des traînées ionisées dans l'air.",
    "metadata": {
      "altAbility.name": "Boule Éclair"
    }
  },
  "commonassaultrifle": {
    "name": "Fusil d'assaut",
    "desc": "Un fusil entièrement automatique de qualité militaire."
  },
  "rareassaultrifle": {
    "name": "Fusil d'assaut d'élite",
    "desc": "Un fusil entièrement automatique de qualité militaire."
  },
  "uncommonassaultrifle": {
    "name": "Fusil d'assaut rare",
    "desc": "Un fusil entièrement automatique de qualité militaire."
  },
  "flamethrower": {
    "name": "Lance-flammes",
    "desc": "J'adore l'odeur du napalm, à toute heure de la journée."
  },
  "commongrenadelauncher": {
    "name": "Lanceur",
    "desc": "Pour quand vos grenades doivent aller loin."
  },
  "raregrenadelauncher": {
    "name": "Lanceur d'élite",
    "desc": "Pour quand vos grenades doivent aller loin."
  },
  "uncommongrenadelauncher": {
    "name": "Lanceur rare",
    "desc": "Pour quand vos grenades doivent aller loin."
  },
  "commonmachinepistol": {
    "name": "Pisto-mitrail",
    "desc": "Un petit pistolet entièrement automatique."
  },
  "raremachinepistol": {
    "name": "Pisto-mitrail d'élite",
    "desc": "Un petit pistolet entièrement automatique."
  },
  "uncommonmachinepistol": {
    "name": "Pisto-mitrail rare",
    "desc": "Un petit pistolet entièrement automatique."
  },
  "commonpistol": {
    "name": "Pistolet ordinaire",
    "desc": "Un petit pistolet."
  },
  "rarepistol": {
    "name": "Pistolet Rare",
    "desc": "Un petit pistolet."
  },
  "uncommonpistol": {
    "name": "Pistolet rare",
    "desc": "Un petit pistolet."
  },
  "commonrocketlauncher": {
    "name": "Lance-roquettes standard",
    "desc": "Le pouvoir de tout faire exploser."
  },
  "rarerocketlauncher": {
    "name": "Lance-roquettes rare",
    "desc": "Le pouvoir de tout faire exploser."
  },
  "uncommonrocketlauncher": {
    "name": "Lance-roquettes rare",
    "desc": "Le pouvoir de tout faire exploser."
  },
  "commonshotgun": {
    "name": "Fusil de chasse classique",
    "desc": "Lance une rafale mortelle à courte portée."
  },
  "rareshotgun": {
    "name": "Fusil de chasse rare",
    "desc": "Lance une rafale mortelle à courte portée."
  },
  "uncommonshotgun": {
    "name": "Fusil de chasse rare",
    "desc": "Lance une rafale mortelle à courte portée."
  },
  "commonsniperrifle": {
    "name": "Fusil de précision standard",
    "desc": "Très puissant pour parcourir de longues distances."
  },
  "raresniperrifle": {
    "name": "Fusil de précision rare",
    "desc": "Très puissant pour parcourir de longues distances."
  },
  "uncommonsniperrifle": {
    "name": "Fusil de précision rare",
    "desc": "Très puissant pour parcourir de longues distances."
  },
  "doomcannon": {
    "name": "Doomcannon",
    "desc": "« ... car au final, seul Doom compte. »"
  },
  "gluesprayer": {
    "name": "Pulvérisateur de colle",
    "desc": "Projette une mousse collante qui ralentit les ennemis!"
  },
  "neolaserlauncher": {
    "name": "Lazercaster",
    "desc": "Un puissant canon à protons, conçu pour infliger une punition sans merci."
  },
  "neomagnum1": {
    "name": "Nouveau génial",
    "desc": "--TOUT--"
  },
  "neomagnum2": {
    "name": "Nouveau Magnum-E78",
    "desc": "--TOUT--"
  },
  "neomagnum3": {
    "name": "Nouveau Magnum-RX",
    "desc": "--TOUT--"
  },
  "neomagnum4": {
    "name": "Nouveau Great-ZZZ",
    "desc": "--TOUT--"
  },
  "neopistol": {
    "name": "Neo Pistol",
    "desc": "Une arme laser courante sur le marché noir."
  },
  "npcneopistol": {
    "name": "Neo Pistol",
    "desc": "--TOUT--"
  },
  "neoshotgun": {
    "name": "Neo Shotgun",
    "desc": "Un fusil de chasse à la pointe de la technologie, fabriqué pour diverses organisations criminelles."
  },
  "npcneoshotgun": {
    "name": "Nouveau génial",
    "desc": "« ... car au final, seul Doom compte. »"
  },
  "neotommygun": {
    "name": "Neo Tommy Gun",
    "desc": "Un grand classique du cinéma de gangsters, revisité pour notre époque."
  },
  "npcneotommygun": {
    "name": "Nouveau génial",
    "desc": "« ... car au final, seul Doom compte. »"
  },
  "neouzi": {
    "name": "À ne pas utiliser",
    "desc": "L'Uzi classique, désormais équipé de munitions laser. Évidemment."
  },
  "npcneouzi": {
    "name": "À ne pas utiliser",
    "desc": "--TOUT--"
  },
  "raygun": {
    "name": "Pistolet laser",
    "desc": "Une arme insolite qui tire des orbes d'énergie oscillants."
  },
  "spaceplasmarifle": {
    "name": "Fusil d'assaut à plasma",
    "desc": "Un fusil d'assaut de pointe, conçu pour résister à des conditions extrêmes.",
    "metadata": {
      "altAbility.name": "Mines plasmatiques"
    }
  },
  "aegisaltbow": {
    "name": "Arc d'Aegisalt",
    "desc": "L'arme traditionnelle pour la chasse au cerf laser.",
    "metadata": {
      "altAbility.name": "Flèche chaotique"
    }
  },
  "aegisaltpistol": {
    "name": "Pistolet Aegisalt",
    "desc": "Émet un faisceau continu d'énergie purement destructrice."
  },
  "feroziumstaff": {
    "name": "L'équipe de Ferozium",
    "desc": "Ce bâton en ferozium trempé concentre l'énergie sur une distance impressionnante."
  },
  "feroziumwand": {
    "name": "Ferozium Mur",
    "desc": "C'est quoi ça, un bâton pour les fourmis?"
  },
  "protectoratebroadsword": {
    "name": "Épée large du Protecteur",
    "desc": "Une arme expérimentale puissante conçue par le Protectorat de Terrene.",
    "metadata": {
      "altAbility.name": "Autonomisation"
    }
  },
  "violiumbroadsword": {
    "name": "Épée large Violium",
    "desc": "Cette poignée en violium trempé abrite le projecteur d'une lame énergétique redoutable."
  },
  "violiumshortsword": {
    "name": "Épée courte Violium",
    "desc": "Cette poignée en forme de violon abrite le projecteur d'une lame énergétique redoutable."
  },
  "adaptablecrossbow": {
    "name": "Arbalète modulable",
    "desc": "Propulse des boulons interchangeables par force magnétique."
  },
  "chargegun": {
    "name": "Pistolet de recharge",
    "desc": "Le mal s'abat sur ceux qui attendent."
  },
  "drillspear": {
    "name": "Lance-perceuse",
    "desc": "Transperce les cieux, ou du moins la terre."
  },
  "electricrailgun": {
    "name": "La colère de Tesla",
    "desc": "Très puissant pour parcourir de longues distances."
  },
  "electrobaton": {
    "name": "Bâton électrique",
    "desc": "Conçu à l'origine pour la police anti-émeute de Miniknog. C'est d'une efficacité redoutable."
  },
  "evileye": {
    "name": "Le mauvais œil",
    "desc": "J'ai l'impression qu'il me regarde."
  },
  "exmachina": {
    "name": "Provenant de la machine",
    "desc": "Numéro de série: 0451"
  },
  "eyesword": {
    "name": "Oculus Reaver",
    "desc": "Au début, voir à travers l'œil de l'épée est déconcertant."
  },
  "fireworkgun": {
    "name": "Lanceur Zephyr Spark",
    "desc": "Oui, il tire des feux d'artifice!"
  },
  "flamingdemonsword": {
    "name": "La fureur de Firestorm",
    "desc": "Selon la légende, cette épée enflammée aurait été forgée par des anges déchus."
  },
  "gnomegun": {
    "name": "Gnome Gun",
    "desc": "Dis bonjour à mon petit copain!"
  },
  "gristlegun": {
    "name": "Pistolet à cartilage",
    "desc": "Ce pistolet produit ses propres munitions. Beurk."
  },
  "magnorbs": {
    "name": "Magnorbs",
    "desc": "Des protège-bras magnétiques spécialement conçus pour lancer et attraper des sphères."
  },
  "nurusspear": {
    "name": "La lance de Nuru",
    "desc": "Ça appartient à Nuru. Comment l'as-tu obtenu?"
  },
  "nurusspearmelee": {
    "name": "La lance de Nuru",
    "desc": "Une lance conçue pour tenir les ennemis à distance."
  },
  "remotegrenadelauncher": {
    "name": "Lanceur à distance",
    "desc": "Tire des grenades dont l'explosion peut être déclenchée manuellement."
  },
  "soulseeker": {
    "name": "Soulseeker",
    "desc": "Une épée dotée d'un pouvoir obscur extraordinaire, autrefois maniée par une âme puissante."
  },
  "tentaclegun": {
    "name": "Appendice extra.",
    "desc": "Un hybride terrifiant, mi-chair, mi-acier."
  },
  "wormgun": {
    "name": "Pistolet extra.",
    "desc": "Ce pistolet contient une masse grouillante de vers extraterrestres mutants.",
    "metadata": {
      "altAbility.name": "Vermicelle"
    }
  },
  "commonaxe": {
    "name": "Hache commune",
    "desc": "Conçu pour hacher efficacement."
  },
  "fryingpan": {
    "name": "Poêle à frire",
    "desc": "La technologie des poêles en acier ne surpassera jamais celle de la fonte."
  },
  "rareaxe": {
    "name": "Hache rare",
    "desc": "Conçu pour hacher efficacement."
  },
  "uncommonaxe": {
    "name": "Hache d'élite",
    "desc": "Conçu pour hacher efficacement."
  },
  "astrosabredeluxe": {
    "name": "Asuterosaberu DX",
    "desc": "Sur la lame, on peut lire: « Bravo pour t'être exprimé! »"
  },
  "commonbroadsword": {
    "name": "Épée large commune",
    "desc": "Une puissante épée à deux mains."
  },
  "gangbroadsword": {
    "name": "Épée large commune",
    "desc": "Une puissante épée à deux mains."
  },
  "hokucide": {
    "name": "Hokucide",
    "desc": "Formé par accident à partir d'une épée au fond de l'océan lors de l'explosion d'un accélérateur de particules."
  },
  "legendblade": {
    "name": "L'épée légendaire",
    "desc": "Cette épée légendaire est sortie d'un rocher."
  },
  "rarebroadsword": {
    "name": "Épée large rare",
    "desc": "Une puissante épée à deux mains."
  },
  "stoneblade": {
    "name": "Épée de pierre",
    "desc": "Cette épée de pierre est sortie d'un rocher."
  },
  "timepierce": {
    "name": "Time Pierce",
    "desc": "Cette lame est capable de transpercer le tissu même du temps.",
    "metadata": {
      "altAbility.name": "Chronostase"
    }
  },
  "uncommonbroadsword": {
    "name": "Épée large rare",
    "desc": "Une puissante épée à deux mains."
  },
  "commondagger": {
    "name": "Dague ordinaire",
    "desc": "D'une précision redoutable et d'une rapidité fulgurante."
  },
  "raredagger": {
    "name": "Dague rare",
    "desc": "D'une précision redoutable et d'une rapidité fulgurante."
  },
  "uncommondagger": {
    "name": "Dague rare",
    "desc": "D'une précision redoutable et d'une rapidité fulgurante."
  },
  "commonhammer": {
    "name": "Marteau ordinaire",
    "desc": "Lent, lourd et efficace."
  },
  "foldingchair": {
    "name": "Chaise pliante",
    "desc": "Faites du bruit! Lâchez-vous! Blessez-vous et blessez les autres!"
  },
  "rarehammer": {
    "name": "Rare Hammer",
    "desc": "Lent, lourd et efficace."
  },
  "uncommonhammer": {
    "name": "Marteau rare",
    "desc": "Lent, lourd et efficace."
  },
  "commonshortsword": {
    "name": "Épée courte ordinaire",
    "desc": "Une épée à une main robuste."
  },
  "rareshortsword": {
    "name": "Épée courte rare",
    "desc": "Une épée à une main robuste."
  },
  "uncommonshortsword": {
    "name": "Épée courte rare",
    "desc": "Une épée à une main robuste."
  },
  "commonspear": {
    "name": "Lance commune",
    "desc": "Cette lance est idéale pour les ennemis qui se trouvent juste hors de portée."
  },
  "rarespear": {
    "name": "Lance rare",
    "desc": "Cette lance est idéale pour les ennemis qui se trouvent juste hors de portée."
  },
  "uncommonspear": {
    "name": "Lance rare",
    "desc": "Cette lance est idéale pour les ennemis qui se trouvent juste hors de portée."
  },
  "bow": {
    "name": "Arc de chasse",
    "desc": "Récupère la viande et d'autres objets sur les monstres01."
  },
  "cavebow": {
    "name": "Rock Bow",
    "desc": "Un arc en pierre massif, presque trop rigide pour être bandé."
  },
  "compoundbow": {
    "name": "Arc à poulies",
    "desc": "Récupère la viande et d'autres objets sur les monstres."
  },
  "cupidsbow": {
    "name": "L'arc de Cupidon",
    "desc": "Les flèches tirées de cet arc suscitent une passion débridée."
  },
  "frozenbow": {
    "name": "Arc gelé",
    "desc": "Tire des flèches imprégnées d'un gel paralysant."
  },
  "harpoongun": {
    "name": "Arbalète à harpon",
    "desc": "L'arme de prédilection des chasseurs en eaux profondes."
  },
  "lightbow": {
    "name": "Arc léger",
    "desc": "Il projette des rayons d'énergie pure!"
  },
  "poisonbow": {
    "name": "Arc empoisonné",
    "desc": "Tire des flèches enduites d'un poison mortel."
  },
  "pollenpump": {
    "name": "Pompe à pollen",
    "desc": "Une lutte antiparasitaire efficace."
  },
  "tungstenbow": {
    "name": "Arc de chasse en tungstène",
    "desc": "Récupère la viande et d'autres objets sur les monstres."
  },
  "dragonhead": {
    "name": "Pistolet Dragonhead",
    "desc": "Un pistolet au tempérament fougueux. Attention aux dangers."
  },
  "erchiuseye": {
    "name": "L'œil d'Erchius",
    "desc": "L'œil de l'Horreur d'Erchius! Dirige-le vers tes ennemis."
  },
  "ixodoomclaw": {
    "name": "Ixodoom Claw",
    "desc": "La jambe sectionnée d'un puissant Ixodoom. Elle constitue une arme redoutable."
  },
  "kluexstaff": {
    "name": "L'équipe de Kluex",
    "desc": "Ce puissant bâton renforce le guerrier qui le manie."
  },
  "miniknoglauncher": {
    "name": "Lanceur Miniknog",
    "desc": "Un lance-missiles miniature, mis au point par les meilleurs scientifiques de Miniknog.",
    "metadata": {
      "primaryAbility.name": "Barrage"
    }
  },
  "soluskatana": {
    "name": "Solus Katana",
    "desc": "Une épée imprégnée de la lumière du solarium, forgée par Asra Nox."
  },
  "bruisersword": {
    "name": "Éspadon de Bruiser",
    "desc": "Ce truc est énorme!"
  },
  "flamethrowerblade": {
    "name": "Lame lance-flammes",
    "desc": "C'est un lance-flammes conçu pour ressembler à une épée."
  },
  "hunterrifle": {
    "name": "Carabine à lunette vintage",
    "desc": "Grâce à sa lunette puissante, cette arme permet d'atteindre facilement des cibles éloignées."
  }
}