{
  "essence": {
    "name": "Essence ancestrale",
    "desc": "Une énergie mystérieuse utilisée par les Anciens. Elle vibre en harmonie avec l'univers vivant."
  },
  "money": {
    "name": "Pixels",
    "desc": "Les pixels sont une monnaie universelle. Ils peuvent également être utilisés pour l'impression 3D."
  }
}