{
  "accordion": {
    "name": "Accordéon",
    "desc": "Un accordéon. Fais travailler tes bras!"
  },
  "acousticguitar": {
    "name": "Guitare acoustique",
    "desc": "Une guitare acoustique. Idéale pour chanter autour d'un feu de camp."
  },
  "banjo": {
    "name": "Banjo",
    "desc": "Un banjo. Prépare-toi au duel!"
  },
  "bassguitar": {
    "name": "Guitare basse",
    "desc": "Une guitare basse. Joue un peu de rythme."
  },
  "bones": {
    "name": "Xylophone en os Floran",
    "desc": "Un xylophone en os. Il produit un son génial."
  },
  "brightpiano": {
    "name": "Piano lumineux",
    "desc": "Un piano au son éclatant. Idéal pour interpréter des morceaux plus entraînants!"
  },
  "clarinet": {
    "name": "clarinette",
    "desc": "Une clarinette. Essaie de ne pas faire de fausse note."
  },
  "drumkit": {
    "name": "Kit de route",
    "desc": "Une batterie. Tu ferais mieux de prévenir les voisins."
  },
  "dulcimer": {
    "name": "dulcimer à marteaux",
    "desc": "Un dulcimer à marteaux. Joue un petit air."
  },
  "electricbass": {
    "name": "Guitare basse électrique",
    "desc": "Une guitare basse électrique. Joue un peu de rythme."
  },
  "flute": {
    "name": "Flûte",
    "desc": "Une flûte. Mais est-elle magique?"
  },
  "harmonica": {
    "name": "Harmonica",
    "desc": "Un harmonica. L'instrument préféré des capitaines de vaisseau spatial chevronnés."
  },
  "harp": {
    "name": "Cheval",
    "desc": "Une harpe. Pleine d'entrain."
  },
  "keyboard": {
    "name": "Le modèle M",
    "desc": "Un modèle Glitch M. Doté d'un mécanisme à ressort de flambage datant d'une époque plus civilisée."
  },
  "koto": {
    "name": "Allez",
    "desc": "Un koto. Pour cette sonorité orientale."
  },
  "leadguitar": {
    "name": "Guitare solo",
    "desc": "Une guitare solo. Pour ceux qui aiment se mettre en avant."
  },
  "microphone": {
    "name": "Microphone à faible réponse en fréquence",
    "desc": "Un micro. Jusqu'où ça peut descendre?"
  },
  "microphonefem": {
    "name": "Microphone à haute fréquence",
    "desc": "Un micro. Pour toutes les divas à l'âme sensible."
  },
  "musicbox": {
    "name": "Boîte à musique",
    "desc": "Une boîte à musique. Est-ce une blague?"
  },
  "nylonguitar": {
    "name": "Guitare en nylon",
    "desc": "Une guitare en nylon. Elle pleure doucement."
  },
  "oboe": {
    "name": "hautbois",
    "desc": "Un hautbois. Il est assez poussiéreux."
  },
  "ocarina": {
    "name": "Ocarina",
    "desc": "Un ocarina. Assure-toi d'avoir le temps de t'entraîner."
  },
  "overdriveguitar": {
    "name": "Overdrive pour guitare",
    "desc": "Une guitare. Pour ceux qui aiment la distorsion."
  },
  "piano": {
    "name": "Plan",
    "desc": "Un piano. Un instrument véritablement essentiel."
  },
  "reedorgan": {
    "name": "orgue à anches",
    "desc": "Un orgue à anches. Ne gâche pas ce concert."
  },
  "rockorgan": {
    "name": "Orgue rock",
    "desc": "Un groupe de rock. De quoi remplir un stade."
  },
  "saxophone": {
    "name": "Saxophone",
    "desc": "Un saxophone. Pour quand le blues de l'espace vous prend."
  },
  "spaceorgan": {
    "name": "Synthé spatial",
    "desc": "C'est dingue, mec."
  },
  "squarewave": {
    "name": "Onde carrée",
    "desc": "Idéal pour apporter une touche de réalisme à votre performance."
  },
  "steeldrum": {
    "name": "Tonneau en acier",
    "desc": "Un tambour en acier. Faisons du bruit!"
  },
  "trumpet": {
    "name": "Trompette",
    "desc": "Une trompette. Évite de te vanter."
  },
  "violin": {
    "name": "violon",
    "desc": "Un violon. Ne tirez pas encore votre révérence."
  }
}