{
  "beachball": {
    "name": "Ballon de plage",
    "desc": "C'est un ballon de plage gonflable."
  },
  "bomb": {
    "name": "Bombe",
    "desc": "Une super façon de tout faire exploser. Fais attention où tu les lances!"
  },
  "bouncyball": {
    "name": "Balle rebondissante",
    "desc": "Cette balle rebondit quand on la lance."
  },
  "bowlingball": {
    "name": "Boule de bowling",
    "desc": "Une grosse boule de bowling très lourde."
  },
  "capturepod": {
    "name": "Module de capture",
    "desc": "Lance-le sur un monstre pour le capturer de force et l'emmener dans un nouveau foyer."
  },
  "coconut": {
    "name": "Noix de coco",
    "desc": "Cette noix de coco n'attend que d'être lancée."
  },
  "energyjavelin": {
    "name": "Javelot énergétique",
    "desc": "Un javelot puissant, chargé d'énergie cinétique. Idéal pour la chasse."
  },
  "firework": {
    "name": "Feu d'artifice rouge",
    "desc": "C'est l'heure de faire la fête!"
  },
  "fireworkblue": {
    "name": "Feu d'artifice bleu",
    "desc": "C'est l'heure de faire la fête!"
  },
  "fireworkgreen": {
    "name": "Feu d'artifice vert",
    "desc": "C'est l'heure de faire la fête!"
  },
  "flare": {
    "name": "Fusée éclairante",
    "desc": "Idéal pour éclairer une grotte sombre avant de s'y aventurer."
  },
  "flowerygrassseeds": {
    "name": "Graines de graminées à fleurs",
    "desc": "Semez-les dans un sol humide et labouré pour faire pousser de l'herbe fleurie!"
  },
  "glowbomb": {
    "name": "La veilleuse",
    "desc": "Pour les moments où vous avez besoin d'une source de lumière rapide."
  },
  "glowstickblue": {
    "name": "Bâton lumineux bleu",
    "desc": "Émet une lueur bleue bioluminescente lorsqu'on le lance!"
  },
  "glowstickgreen": {
    "name": "Bâton lumineux vert",
    "desc": "Émet une lueur verte bioluminescente lorsqu'on le lance!"
  },
  "glowstickorange": {
    "name": "Bâton lumineux orange",
    "desc": "Émet une lueur orange bioluminescente lorsqu'on le lance!"
  },
  "glowstickyellow": {
    "name": "Bâton lumineux jaune",
    "desc": "Émet une lueur jaune bioluminescente lorsqu'on le lance!"
  },
  "grassseeds": {
    "name": "Graines de gazon",
    "desc": "Éparpillez-les sur de la terre labourée et humide pour faire pousser de l'herbe."
  },
  "hivebomb": {
    "name": "Bug Hive",
    "desc": "Attention! Ces insectes ont un dard mortel."
  },
  "huntingspear": {
    "name": "Lance de chasse",
    "desc": "Une lance de lancer. Permet aux monstres de laisser tomber de la viande."
  },
  "javelin": {
    "name": "Javelot",
    "desc": "Un javelot tranchant, adapté à la chasse."
  },
  "lavaballoon": {
    "name": "Lava Balloon",
    "desc": "Tout comme un ballon rempli d'eau, à une différence près."
  },
  "molotov": {
    "name": "Molotov",
    "desc": "Le liquide contenu dans cette bouteille est hautement inflammable."
  },
  "noveltybanana": {
    "name": "Banane fantaisie",
    "desc": "Qu'avons-nous là?"
  },
  "paperplane": {
    "name": "Avion en papier",
    "desc": "Un avion en papier! Est-ce qu'il va voler?"
  },
  "petball": {
    "name": "La petite boule rouge",
    "desc": "Je parierais que mon animal adorerait jouer avec ça."
  },
  "snowball": {
    "name": "Boule de neige",
    "desc": "Une boule de neige, juste de la bonne taille pour être lancée."
  },
  "giganticsnowball": {
    "name": "Une énorme boule de neige",
    "desc": "Cette boule de neige est énorme! J'arrive à peine à la lancer."
  },
  "largesnowball": {
    "name": "Grosse boule de neige",
    "desc": "Une grosse boule de neige, mais qui a encore la bonne taille pour être lancée."
  },
  "mediumsnowball": {
    "name": "Boule de neige moyenne",
    "desc": "Elle est plus grosse qu'une boule de neige ordinaire, mais on peut quand même la lancer."
  },
  "snowflakeshuriken": {
    "name": "Shuriken « Flocon de neige »",
    "desc": "Un shuriken façonné à partir de flocons de neige glacés."
  },
  "stungrenade": {
    "name": "Grenade assourdissante",
    "desc": "Une grenade qui génère un champ nanotechnologique localisé afin de paralyser les ennemis sur place."
  },
  "tarball": {
    "name": "fichier tar",
    "desc": "Se faire toucher par l'un d'entre eux, c'est pas une partie de plaisir."
  },
  "thorngrenade": {
    "name": "Thorn Grenade",
    "desc": "C'est effrayant de voir ce qu'on peut faire avec un fruit et un peu de poudre explosive."
  },
  "throwingaxe": {
    "name": "Hache de lancer",
    "desc": "Une hache de lancer, pour abattre des cibles à distance."
  },
  "throwingblock": {
    "name": "Bloc de projection",
    "desc": "Un bloc que l'on peut lancer!"
  },
  "throwingbones": {
    "name": "Lancer les os",
    "desc": "Lancer des os sur ses ennemis, c'est primitif, mais efficace."
  },
  "throwingboulder": {
    "name": "Lancer de rocher",
    "desc": "Utile au combat ou simplement pour frimer."
  },
  "throwingdagger": {
    "name": "Dague de lancer",
    "desc": "Une dague de lancer, destinée au combat ou aux numéros de cirque."
  },
  "throwingdart": {
    "name": "Lancer de fléchettes",
    "desc": "Quand tu lances une fléchette, vise en plein centre."
  },
  "throwinggnome": {
    "name": "La boule des gnomes",
    "desc": "Lancez ces petits bonhommes pour qu'ils se battent à votre place."
  },
  "throwingknife": {
    "name": "Couteau de lancer",
    "desc": "Le lancer de ce couteau exige une grande précision."
  },
  "throwingkunai": {
    "name": "Lancer des kunais",
    "desc": "Un couteau de lancer spécialisé doté d'une lame lourde."
  },
  "throwingspear": {
    "name": "Lance de chasse en fer",
    "desc": "Une lance de jet qui permet de découper la chair des monstres."
  },
  "throwingstar": {
    "name": "Étoile de jet",
    "desc": "Une étoile de ninja, au format de poche et redoutable."
  },
  "waterballoon": {
    "name": "Ballon d'eau",
    "desc": "Un grand favori des enfants et des farceurs du monde entier."
  },
  "filledcapturepod": {
    "name": "Conteneur de capture rempli",
    "desc": "Lance-le pour libérer la créature qui s'y trouve prisonnière!"
  },
  "npcpetcapturepod": {
    "name": "Conteneur de capture rempli",
    "desc": "Lance-le pour libérer la créature qui s'y trouve prisonnière!"
  }
}