{
  "inspectionmode": {
    "name": "Mode Inspection",
    "desc": "Inspectez le monde qui vous entoure. ^green;Sélection rapide avec la touche [N].",
    "metadata": {
      "descriptionLabel": "Inspectez le monde qui vous entoure. ^green;Sélection rapide avec la touche [N].",
      "outOfRangeText.default.1": "Je ne peux pas voir cet endroit.",
      "outOfRangeText.default.2": "Je dois m'approcher pour voir ça.",
      "outOfRangeText.default.3": "Je ne peux pas voir ça d'ici.",
      "outOfRangeText.default.4": "Je ne suis pas assez près pour voir ça.",
      "outOfRangeText.novakid.1": "Mes yeux sont plus tout jeunes ; faudrait que je m'approche.",
      "outOfRangeText.novakid.2": "J'suis pas assez près pour distinguer quoi que ce soit.",
      "outOfRangeText.novakid.3": "Besoin d'm'approcher pour voir ça correctement.",
      "outOfRangeText.novakid.4": "Peux pas voir ça d'ici.",
      "outOfRangeText.floran.1": "Floran ne peut pas sssvoir d'ici !",
      "outOfRangeText.floran.2": "Floran doit sss'approcher pour voir ça.",
      "outOfRangeText.floran.3": "Floran ne voit pas cet endroit.",
      "outOfRangeText.floran.4": "Floran n'essst pas assssez près pour voir ça.",
      "outOfRangeText.glitch.1": "Déçu. Je ne peux pas voir cet endroit depuis cette position.",
      "outOfRangeText.glitch.2": "Perplexe. Je ne suis pas sûr de ce que c'est ; je devrais peut-être m'approcher.",
      "outOfRangeText.glitch.3": "Frustré. Je ne peux pas voir ça d'ici.",
      "outOfRangeText.glitch.4": "Irrité. Je ne suis pas assez près pour voir ça.",
      "nothingThereText.default.1": "Rien d'intéressant ici.",
      "nothingThereText.default.2": "Rien à voir ici.",
      "nothingThereText.default.3": "Ça n'est pas vraiment quelque chose.",
      "nothingThereText.default.4": "Rien qui vaille la peine d'en parler.",
      "nothingThereText.novakid.1": "C'est le néant total pour moi.",
      "nothingThereText.novakid.2": "Rien là-bas qui vaille la peine de causer.",
      "nothingThereText.novakid.3": "Y'a rien d'intéressant par là.",
      "nothingThereText.novakid.4": "C'est juste un gros tas de rien du tout.",
      "nothingThereText.floran.1": "Rien d'intéresssant.",
      "nothingThereText.floran.2": "Rien à sssvoir.",
      "nothingThereText.floran.3": "Ce n'essst rien du tout.",
      "nothingThereText.floran.4": "Rien qui vaille la peine d'en parler.",
      "nothingThereText.glitch.1": "Pas impressionné. Rien d'intéressant ici.",
      "nothingThereText.glitch.2": "Neutre. Il n'y a rien là.",
      "nothingThereText.glitch.3": "Déçu. Rien d'intéressant.",
      "nothingThereText.glitch.4": "Désintéressé. Ça n'est pas vraiment grand-chose."
    }
  },
  "scanmode": {
    "name": "Mode Analyse",
    "desc": "Décrivez les objets du monde et scannez-les pour l'impression. ^green;Sélection rapide avec la touche [N].",
    "metadata": {
      "outOfRangeText.default.1": "C'est en dehors de la zone de détection de mon scanner.",
      "outOfRangeText.default.2": "Impossible d'obtenir une lecture; je devrais m'approcher.",
      "outOfRangeText.default.3": "Le signal est trop faible pour être déchiffré - peut-être hors de portée.",
      "outOfRangeText.default.4": "Ça doit être hors de portée, je n'arrive pas à lire les données.",
      "outOfRangeText.novakid.1": "Le scanner n'atteint pas sa cible - j'devrais sûrement m'approcher.",
      "outOfRangeText.novakid.2": "J'dois être hors de portée, le scanner va pas aussi loin.",
      "outOfRangeText.novakid.3": "Le signal est trop faible, mieux vaut s'approcher.",
      "outOfRangeText.novakid.4": "Peux pas scanner ça, c'est pas à portée.",
      "outOfRangeText.floran.1": "Sscanner pas assssez puisssant! Floran doit s'approcher.",
      "outOfRangeText.floran.2": "C'essst en dehors de la portée du sscanner.",
      "outOfRangeText.floran.3": "Sssignal trop faible pour comprendre, Floran pas assssez près.",
      "outOfRangeText.floran.4": "Ça doit être hors de portée, Floran peut pas lire.",
      "outOfRangeText.glitch.1": "Déçu. Les capteurs de ce matériel sont insuffisants pour analyser cette position d'ici.",
      "outOfRangeText.glitch.2": "Perplexe. Je ne semble pas obtenir de lecture; je devrais peut-être m'approcher.",
      "outOfRangeText.glitch.3": "Frustré. Le signal est trop faible pour être déchiffré, je crois être hors de portée.",
      "outOfRangeText.glitch.4": "Irrité. Cela doit être hors de portée, je ne peux pas obtenir de lecture.",
      "nothingThereText.default.1": "Rien d'intéressant ici.",
      "nothingThereText.default.2": "Rien à voir ici.",
      "nothingThereText.default.3": "Ce n'est pas vraiment grand-chose.",
      "nothingThereText.default.4": "Rien qui vaille la peine d'en parler.",
      "nothingThereText.novakid.1": "Le scanner fait chou blanc.",
      "nothingThereText.novakid.2": "Pas la moindre chose par ici.",
      "nothingThereText.novakid.3": "Le scanner dit qu'y a rien du tout.",
      "nothingThereText.novakid.4": "C'est juste un grand vide.",
      "nothingThereText.floran.1": "Rien d'intére sssant.",
      "nothingThereText.floran.2": "Rien à ssscanner.",
      "nothingThereText.floran.3": "Ce n'essst rien du tout.",
      "nothingThereText.floran.4": "Pas grand-chose à dire.",
      "nothingThereText.glitch.1": "Indifférent. Rien d'intéressant ici.",
      "nothingThereText.glitch.2": "Neutre. Il n'y a rien là-bas.",
      "nothingThereText.glitch.3": "Déçu. Rien à scanner ici.",
      "nothingThereText.glitch.4": "Désintéressé. Ce n'est pas vraiment quoi que ce soit."
    }
  },
  "chainsaw": {
    "name": "Tronçonneuse",
    "desc": "Idéal pour abattre des arbres. Évitez autant que possible les massacres."
  },
  "flashlight": {
    "name": "Lampe de poche",
    "desc": "Une lampe de poche bien pratique!"
  },
  "greenflashlight": {
    "name": "Lampe de poche",
    "desc": "Une lampe de poche verte! Une lueur puissante."
  },
  "hoe": {
    "name": "^orange;Houe^white;",
    "desc": "Cette houe vous permet de labourer le sol. La terre labourée peut ensuite être utilisée pour cultiver toutes sortes de récoltes!"
  },
  "mininglantern": {
    "name": "La lanterne de l'explorateur",
    "desc": "Cette lanterne peut être emportée par les explorateurs pour éclairer les environs."
  },
  "painttool": {
    "name": "Mode Peinture",
    "desc": "Le tir principal applique de la peinture, le tir secondaire change de couleur. ^vert; sélection rapide avec la touche [Y]."
  },
  "redflashlight": {
    "name": "Lampe de poche",
    "desc": "Une lampe de poche rouge! Tout semble brûlant et empreint de rage."
  },
  "wiretool": {
    "name": "Mode filaire",
    "desc": "Conçu pour acheminer des câbles optiques entre les points d'entrée. ^vert; Sélection rapide avec la touche [T]."
  },
  "yellowflashlight": {
    "name": "Lampe de poche",
    "desc": "Une lampe de poche jaune! N'aie pas peur."
  },
  "beamaxe": {
    "name": "Manipulateur de matière",
    "desc": "Permet de manipuler tout ce qui compte. ^vert; Sélection rapide avec la touche [R]."
  },
  "beamaxeX": {
    "name": "Manipulateur de matière",
    "desc": "Permet de manipuler tout ce qui compte. ^vert; Sélection rapide avec la touche [R]."
  },
  "copperdrill": {
    "name": "Foret en cuivre",
    "desc": "Il perce rapidement, mais se casse vite. Une solution provisoire en attendant le manipulateur de matière."
  },
  "copperpickaxe": {
    "name": "Pique-poche en cuivre",
    "desc": "Cet outil ne tiendra pas longtemps, mais il me permettra de creuser assez vite."
  },
  "diamonddrill": {
    "name": "Foret diamanté",
    "desc": "Il perce rapidement, mais se casse vite. Une solution provisoire en attendant le manipulateur de matière."
  },
  "diamondpickaxe": {
    "name": "Pique-poche en diamant",
    "desc": "Cet outil ne tiendra pas longtemps, mais il me permettra de creuser assez vite."
  },
  "fishaxe": {
    "name": "Hache à poisson",
    "desc": "Maintenant, c'est à toi de pêcher."
  },
  "fossiltool": {
    "name": "Extracteur de fossiles",
    "desc": "Sert à déterrer des fossiles. Tout autre outil risquerait de les casser. Cet outil a une très faible résistance."
  },
  "golddrill": {
    "name": "Foreuse à or",
    "desc": "Il perce rapidement, mais se casse vite. Une solution provisoire en attendant le manipulateur de matière."
  },
  "goldpickaxe": {
    "name": "Pique-poche en or",
    "desc": "Cet outil ne tiendra pas longtemps, mais il me permettra de creuser assez vite."
  },
  "pickaxe": {
    "name": "Pique-poche",
    "desc": "Les pioches, c'est tellement dépassé!"
  },
  "platinumdrill": {
    "name": "Foret en platine",
    "desc": "Il perce rapidement, mais se casse vite. Une solution provisoire en attendant le manipulateur de matière."
  },
  "platinumpickaxe": {
    "name": "Pique-poche en platine",
    "desc": "Cet outil ne tiendra pas longtemps, mais il me permettra de creuser assez vite."
  },
  "silverdrill": {
    "name": "Perceuse Silver",
    "desc": "Il perce rapidement, mais se casse vite. Une solution provisoire en attendant le manipulateur de matière."
  },
  "silverpickaxe": {
    "name": "Pique-poche en argent",
    "desc": "Cet outil ne tiendra pas longtemps, mais il me permettra de creuser assez vite."
  },
  "superfishaxe": {
    "name": "Hache à poisson",
    "desc": "À deux doigts d'un « sharknado »."
  },
  "superfishaxedrop": {
    "name": "Fishaxe (Objets)",
    "desc": "À deux doigts d'un « sharknado »."
  }
}