{
  "FTLrepairkit": {
    "name": "Kit de répa FTL",
    "desc": "Avec ça, tu peux réparer entièrement le moteur FTL de ton vaisseau!"
  },
  "shiprepairkit": {
    "name": "Kit de répa pour bateaux",
    "desc": "Ce n'est pas grand-chose, mais ça t'aidera à remettre ton bateau en état."
  },
  "shipT1": {
    "name": "Chose",
    "desc": "fait des choses"
  },
  "shipT2": {
    "name": "Chose",
    "desc": "fait des choses"
  },
  "shipT3": {
    "name": "Chose",
    "desc": "fait des choses"
  },
  "shipT4": {
    "name": "Chose",
    "desc": "fait des choses"
  },
  "shipT5": {
    "name": "Chose",
    "desc": "fait des choses"
  },
  "shipT6": {
    "name": "Chose",
    "desc": "fait des choses"
  },
  "shipT7": {
    "name": "Chose",
    "desc": "fait des choses"
  },
  "shipT8": {
    "name": "Chose",
    "desc": "fait des choses"
  },
  "portable3dprinter": {
    "name": "^orange;Impr. portable à pixels^blanc;",
    "desc": "Permet de fabriquer à la volée de petits objets de haute technologie."
  }
}