{
  "bamboo": {
    "name": "Bambou",
    "desc": "Des tiges de bambou fraîchement coupées.",
    "metadata": {
      "glitchdescription": "C'est de bon augure. La couleur du bambou indique qu'il a été coupé récemment.",
      "florandescription": "Tiges de bambou fraîches.",
      "novakiddescription": "Des morceaux de bambou."
    }
  },
  "bambooplatform": {
    "name": "Plateforme Bamboo",
    "desc": "Des plates-formes solides fabriquées à partir de tiges de bambou.",
    "metadata": {
      "glitchdescription": "C'est prometteur. Cette plateforme en bambou est incroyablement solide.",
      "florandescription": "Floran cultive du bambou solide pour les plates-formes.",
      "novakiddescription": "Le bambou était suspendu comme une plate-forme."
    }
  },
  "bars": {
    "name": "Barres métalliques",
    "desc": "Des barres métalliques épaisses et très rapprochées.",
    "metadata": {
      "glitchdescription": "Abîmé. On trouve des barres métalliques comme celle-ci dans les donjons Glitch.",
      "florandescription": "Des barres métalliques solides.",
      "novakiddescription": "Des barres métalliques qui ont l'air solides."
    }
  },
  "baseboard": {
    "name": "Plinthe classique",
    "desc": "Cette plinthe vient parfaire le style classique de la maison.",
    "metadata": {
      "glitchdescription": "C'est curieux. On ne trouve généralement pas de plinthes dans les constructions de type « glitch ».",
      "florandescription": "Des panneaux muraux originaux.",
      "novakiddescription": "Une moulure murale raffinée."
    }
  },
  "biorock": {
    "name": "Roche à lueur jaune",
    "desc": "Ce rocher brille grâce à la bioluminescence.",
    "metadata": {
      "glitchdescription": "C'est curieux. Les bactéries microscopiques présentes dans cette roche émettent une faible lueur jaune.",
      "florandescription": "Floran aime les roches jaunes qui brillent.",
      "novakiddescription": "Cette pierre brille d'un jaune vif, mais ne dégage aucune chaleur."
    }
  },
  "biorock2": {
    "name": "Roche à lueur bleue",
    "desc": "Ce rocher bleu brille faiblement d'une lueur bioluminescente.",
    "metadata": {
      "glitchdescription": "Je suis perplexe. Une faible lueur bleue émane des bactéries présentes dans cette roche.",
      "florandescription": "Les roches bleues brillent faiblement.",
      "novakiddescription": "Ce caillou bleu brille un peu."
    }
  },
  "blackblock": {
    "name": "...",
    "desc": "...",
    "metadata": {
      "glitchdescription": "...",
      "florandescription": "..."
    }
  },
  "blackglass": {
    "name": "Verre noir",
    "desc": "Une vitre teintée.",
    "metadata": {
      "glitchdescription": "Ça m'intéresse. Ce verre est tellement teinté qu'il est presque opaque.",
      "florandescription": "Floran peut se cacher derrière des lunettes teintées.",
      "novakiddescription": "Une vitre si foncée que le soleil peine à la traverser."
    }
  },
  "blaststone": {
    "name": "Blaststone",
    "desc": "Des rochers acérés formés par des vagues de chaleur intense.",
    "metadata": {
      "glitchdescription": "Incroyable. Une chaleur intense a fusionné les minéraux pour former cette pierre de fusion.",
      "florandescription": "Les roches de ssharp sont solides.",
      "novakiddescription": "Ces roches résistantes sont extrêmement coupantes."
    }
  },
  "blueneonsymbol": {
    "name": "Bloc néon bleu",
    "desc": "Une tuile sur laquelle est gravé, en son centre, un étrange symbole bleu.",
    "metadata": {
      "glitchdescription": "Ça m'intéresse. La signification de ce symbole est inconnue.",
      "florandescription": "Floran aime les symboles de la tête.",
      "novakiddescription": "Un bloc avec une sorte de symbole lumineux."
    }
  },
  "bonematerial": {
    "name": "Os emballés",
    "desc": "Un amas d'os serrés les uns contre les autres.",
    "metadata": {
      "glitchdescription": "Horrifié. Des os provenant de diverses sources, entassés les uns contre les autres.",
      "florandescription": "Mon Dieu!",
      "novakiddescription": "Un tas d'os. Qui en a besoin!"
    }
  },
  "bookpiles": {
    "name": "Pile de livres",
    "desc": "Une pile de vieux livres poussiéreux, regorgeant d'histoires de dragons et de chevaliers.",
    "metadata": {
      "glitchdescription": "Divertissant. Ces livres recèlent de merveilleuses histoires.",
      "florandescription": "La grandeur ne se trouve pas dans les livres.",
      "novakiddescription": "Quelques livres poussiéreux. Qui n'aime pas écouter une bonne histoire?"
    }
  },
  "brainsblock": {
    "name": "Cerveaux",
    "desc": "De la matière cérébrale qui palpite… Je me demande si elle réfléchit.",
    "metadata": {
      "glitchdescription": "Je suis inquiet. Y a-t-il une activité cérébrale au sein de ce matériau?",
      "florandescription": "Floran veut poignarder ce cerveau tout mou.",
      "novakiddescription": "Un peu de matière cérébrale."
    }
  },
  "brickmaterial": {
    "name": "Briques",
    "desc": "De petites briques en argile, petites mais parfaitement formées.",
    "metadata": {
      "glitchdescription": "Je suis ravi. Ces briques ont été soigneusement façonnées et disposées.",
      "florandescription": "De simples briques.",
      "novakiddescription": "Joli travail de maçonnerie."
    }
  }
}