{
  "cabinroofing": {
    "name": "Toiture de chalet",
    "desc": "Une toiture simple pour une cabane.",
    "metadata": {
      "glitchdescription": "Je suis ravi. Le toit de cette cabane a un charme rustique.",
      "florandescription": "Floran a relevé le toit de la cabane.",
      "novakiddescription": "Un toit de cabane, idéal pour rester au sec quand il pleut."
    }
  },
  "cactiblock": {
    "name": "Bloc de cactus",
    "desc": "Un cactus transformé en brique de construction. Toujours aussi piquant.",
    "metadata": {
      "glitchdescription": "Attention. Ce bloc de construction a été fabriqué à partir de cactus épineux.",
      "florandescription": "Floran aime les blocs en forme de cactus épineux.",
      "novakiddescription": "C'est fait en cactus. Mieux vaut ne pas s'y appuyer."
    }
  },
  "candyblock": {
    "name": "Bloc de bonbons",
    "desc": "Des bonbons de sucre candi qui sentent bon!",
    "metadata": {
      "glitchdescription": "Je suis ravi. On dirait un énorme bonbon dur.",
      "florandescription": "Les bonbons ont des rayures colorées.",
      "novakiddescription": "Un gros morceau de sucre candi."
    }
  },
  "castlewalls1": {
    "name": "Brique en pierre massive",
    "desc": "De solides dalles de pierre, idéales pour construire un château.",
    "metadata": {
      "glitchdescription": "À noter. Les briques de pierre de ce type sont fréquemment utilisées dans la construction des châteaux.",
      "florandescription": "Des briques de pierre géantes.",
      "novakiddescription": "J'aurais vraiment pas aimé être celui qui a dû poser ces lourdes briques."
    }
  },
  "castlewalls2": {
    "name": "Petite brique en pierre",
    "desc": "De petites dalles de pierre, idéales pour les détails les plus fins.",
    "metadata": {
      "glitchdescription": "Ça m'intéresse. On dirait que ces briques ont toutes été taillées dans la même pierre.",
      "florandescription": "Ces briques en pierre sont petites.",
      "novakiddescription": "Quelques briques taillées dans la roche."
    }
  },
  "chain": {
    "name": "Chaîne en tungstène",
    "desc": "Des chaînes en tungstène, et pas du genre sympa.",
    "metadata": {
      "glitchdescription": "Je suis impressionné. Ces chaînes sont incroyablement solides.",
      "florandescription": "Les Florans utilisent des chaînes pour attraper leurs proies.",
      "novakiddescription": "Quelques chaînes en tungstène."
    }
  },
  "cheapwallpaper": {
    "name": "Papier peint kitsch",
    "desc": "Un papier peint bon marché et de mauvais goût.",
    "metadata": {
      "glitchdescription": "Je ne sais pas trop quoi penser. Ce papier peint est d'une vulgarité affligeante.",
      "florandescription": "Floran adore les jolis papiers peints.",
      "novakiddescription": "Pourquoi quelqu'un voudrait-il tapisser ses murs avec un papier peint qui ressemble à ça?"
    }
  },
  "clay": {
    "name": "Argile",
    "desc": "Une argile lourde et collante.",
    "metadata": {
      "glitchdescription": "Ça m'intéresse. Cette argile est suffisamment dense pour servir de matériau de construction.",
      "florandescription": "Une argile toute douce.",
      "novakiddescription": "Je pense que le fait de laisser sécher cette argile la rendrait plus dure."
    }
  },
  "cloudblock": {
    "name": "Cloud",
    "desc": "Un nuage si dense qu'on pourrait marcher dessus.",
    "metadata": {
      "glitchdescription": "Je suis stupéfait. Ce nuage est si dense qu'il pourrait supporter mon poids.",
      "florandescription": "Les nuages sont tellement moelleux!",
      "novakiddescription": "Ce nuage-là est fait d'une matière très moelleuse."
    }
  },
  "cobblestonematerial": {
    "name": "pavés",
    "desc": "Des pavés durs, lisses au toucher.",
    "metadata": {
      "glitchdescription": "Fascinant. Ces pavés sont naturellement lisses.",
      "florandescription": "Des galets lisses.",
      "novakiddescription": "Il n'est pas rare de tomber sur des galets comme ceux-là."
    }
  },
  "cobblestonebrick": {
    "name": "Pavé",
    "desc": "Petites briques en pavés.",
    "metadata": {
      "glitchdescription": "Remarquez bien: ces briques sont en pavés.",
      "florandescription": "Des pavés lisses.",
      "novakiddescription": "Des briques faites de pavés."
    }
  },
  "coconutblock": {
    "name": "Bloc de noix de coco",
    "desc": "Des briques fabriquées à partir de noix de coco et de mortier.",
    "metadata": {
      "glitchdescription": "Surpris. Ces briques sont principalement composées de noix de coco.",
      "florandescription": "Les noix de coco sont des briques solides.",
      "novakiddescription": "Je dirais que ces briques de noix de coco sont sacrément solides."
    }
  },
  "composite01material": {
    "name": "Panneau en titane",
    "desc": "Un panneau lisse en titane.",
    "metadata": {
      "glitchdescription": "Impressionné. Ce panneau en titane est d'une finesse presque parfaite.",
      "florandescription": "Des panneaux en titane lisses et brillants.",
      "novakiddescription": "Des panneaux en titane brillants et lisses."
    }
  },
  "compositerail": {
    "name": "Rail composite",
    "desc": "Un rail solide et renforcé.",
    "metadata": {
      "glitchdescription": "Satisfait. Le matériau utilisé pour fabriquer ce rail le rend très solide.",
      "florandescription": "Des rails métalliques brillants.",
      "novakiddescription": "Des rails qui ont l'air bien solides, ça me donne envie de les essayer."
    }
  },
  "concretematerial": {
    "name": "Bloc de béton",
    "desc": "Froid, dur, en béton.",
    "metadata": {
      "glitchdescription": "Comme on le sait, le béton est un matériau de construction couramment utilisé.",
      "florandescription": "Floran n'aime pas le béton froid.",
      "novakiddescription": "Le béton est un matériau extrêmement solide."
    }
  },
  "copperblock": {
    "name": "Bloc d'engrenages en cuivre",
    "desc": "Ce bloc de cuivre présente une empreinte caractéristique en forme d'engrenage.",
    "metadata": {
      "glitchdescription": "Ravi. Je trouve la forme en roue dentée de ces blocs très agréable.",
      "florandescription": "Les blocs de cuivre, comme les engrenages d'une machine.",
      "novakiddescription": "Les blocs de cuivre, ça ressemble un peu à des engrenages."
    }
  },
  "copperfence": {
    "name": "Clôture en cuivre",
    "desc": "Une solide clôture en cuivre.",
    "metadata": {
      "glitchdescription": "Confiant. Cette clôture en cuivre est bien plus solide que le bois.",
      "florandescription": "Une clôture en cuivre robuste.",
      "novakiddescription": "Cette clôture-là est en cuivre."
    }
  },
  "copperladder": {
    "name": "Échelle en cuivre",
    "desc": "Une échelle en cuivre",
    "metadata": {
      "glitchdescription": "Surpris. Cette échelle est en cuivre.",
      "florandescription": "L'échelle est en cuivre brillant.",
      "novakiddescription": "Une échelle en cuivre."
    }
  },
  "copperplatform": {
    "name": "Plateforme en cuivre",
    "desc": "Une plate-forme en cuivre.",
    "metadata": {
      "glitchdescription": "Intéressant. Cette plate-forme semble être en cuivre.",
      "florandescription": "Plateformes en cuivre.",
      "novakiddescription": "Je suppose que ça a dû être difficile de fabriquer cette plate-forme en cuivre."
    }
  },
  "copperroofing": {
    "name": "Toiture en cuivre",
    "desc": "Tuiles en cuivre.",
    "metadata": {
      "glitchdescription": "Je suis surpris. Ces tuiles sont entièrement en cuivre.",
      "florandescription": "Floran aime les toitures en cuivre brillant.",
      "novakiddescription": "Un tas de tuiles en cuivre."
    }
  },
  "copperwindow": {
    "name": "Fenêtre en cuivre",
    "desc": "Une fenêtre dont le cadre est en cuivre massif.",
    "metadata": {
      "glitchdescription": "Fascinant. Le cadre de cette fenêtre a été réalisé en cuivre.",
      "florandescription": "Des fenêtres en cuivre.",
      "novakiddescription": "C'est un joli châssis de fenêtre en cuivre."
    }
  },
  "corruptdirtmaterial": {
    "name": "Saleté corrompue",
    "desc": "Un tas de boue répugnante et putride.",
    "metadata": {
      "glitchdescription": "Je suis dégoûté. Cette terre a été souillée.",
      "florandescription": "Une crasse répugnante et pourrie.",
      "novakiddescription": "Cette boue dégoûtante n'est pas très agréable."
    }
  },
  "crosshatch": {
    "name": "Grille de fenêtre",
    "desc": "Une simple treille en bois.",
    "metadata": {
      "glitchdescription": "Une idée géniale. Ce treillis peut très bien servir de clôture ou de fenêtre.",
      "florandescription": "Floran aime le bois entrecroisé.",
      "novakiddescription": "De fines lamelles de bois entrecroisées."
    }
  },
  "crystalblock": {
    "name": "Bloc de cristal",
    "desc": "Un bloc scintillant composé de cristaux.",
    "metadata": {
      "glitchdescription": "Le calme. Ce bloc de cristal dégage une impression apaisante.",
      "florandescription": "Bloc brillant fait de cristaux.",
      "novakiddescription": "Les cristaux de ce bloc sont vraiment magnifiques."
    }
  }
}