{
  "darksmoothstonematerial": {
    "name": "Pierre lisse et sombre",
    "desc": "Un bloc de pierre sombre et lisse.",
    "metadata": {
      "glitchdescription": "Curieux. Une brique sombre fabriquée à partir d'une pierre inconnue.",
      "florandescription": "Un bloc de pierre bien lisse.",
      "novakiddescription": "Une brique en pierre d'aspect sombre."
    }
  },
  "darkwoodmaterial": {
    "name": "Bois",
    "desc": "Bois préparé pour la construction et l'artisanat.",
    "metadata": {
      "apexdescription": "Quelques planches de bois travaillées.",
      "aviandescription": "Du bois transformé en planches.",
      "glitchdescription": "Je suis satisfait. Ce sont des planches de bois de belle facture.",
      "florandescription": "Des planches de bois pleines d'échardes.",
      "humandescription": "Quelques simples planches en bois.",
      "hylotldescription": "Des planches de bois simples.",
      "novakiddescription": "Juste quelques planches de bois tout simples."
    }
  },
  "dermisblock": {
    "name": "Ruin Dermis",
    "desc": "Une masse charnue recouverte d'une peau épaisse et d'aspect coriace.",
    "metadata": {
      "glitchdescription": "Impressionnant. L'épaisseur de cette peau la rend incroyablement résistante.",
      "florandescription": "Une peau résistante offre une bonne protection.",
      "novakiddescription": "Cette peau a l'air plus dure qu'une botte en cuir."
    }
  },
  "direstone": {
    "name": "Dire Stone",
    "desc": "De petites créatures ressemblant à des vers se tortillent sous la surface de cette pierre vitreuse.",
    "metadata": {
      "glitchdescription": "Incroyable. Les vers présents dans cette pierre semblent contribuer à maintenir sa rigidité.",
      "florandescription": "Des vers qui se tortillent!",
      "novakiddescription": "Il y a des petits vers qui frétillent à l'intérieur de cette pierre."
    }
  },
  "dirtmaterial": {
    "name": "Saleté",
    "desc": "De la saleté qui a l'air sale.",
    "metadata": {
      "glitchdescription": "Indifférent. C'est un sol ordinaire.",
      "florandescription": "Quelle saleté!",
      "novakiddescription": "De la terre qui a l'air sale."
    }
  },
  "drydirt": {
    "name": "Terre sèche",
    "desc": "De la terre, séchée au soleil.",
    "metadata": {
      "glitchdescription": "On dirait bien. Cette terre est très sèche.",
      "florandescription": "De la terre sèche.",
      "novakiddescription": "Juste un peu de terre sèche et poussiéreuse."
    }
  },
  "drysand": {
    "name": "Sable sec",
    "desc": "Du sable dur et craquelé qui s'effrite sous les pieds.",
    "metadata": {
      "glitchdescription": "Remarquable. Ce sable est sec et dur.",
      "florandescription": "Du sable dur et sec.",
      "novakiddescription": "Du sable compacté d'aspect sec."
    }
  }
}