{
  "eyepiles": {
    "name": "Une pile d'yeux",
    "desc": "Un tas désordonné de globes oculaires mous.",
    "metadata": {
      "glitchdescription": "Réfléchissants. À l'exception de ceux qui se trouvent au sommet de la pile, la plupart de ces yeux ne connaîtront jamais que les ténèbres.",
      "florandescription": "Des yeux tout mignons!",
      "novakiddescription": "Certains de ces regards sont braqués sur moi."
    }
  }
}