{
  "fadedblocks": {
    "name": "Brique molle",
    "desc": "Brique aux teintes douces et délavées.",
    "metadata": {
      "glitchdescription": "Déductif. Ces briques patinées ont été lissées par le temps.",
      "florandescription": "Briques aux couleurs douces et délavées.",
      "novakiddescription": "Des briques qui ont fière allure."
    }
  },
  "fence": {
    "name": "Clôture en bois",
    "desc": "Une solide clôture en bois.",
    "metadata": {
      "glitchdescription": "Je suis satisfait. Cette clôture en bois est très solide.",
      "florandescription": "Une clôture solide.",
      "novakiddescription": "Rien ne vaut une solide clôture en bois."
    }
  },
  "fleshblock": {
    "name": "Morceau de chair",
    "desc": "Une sorte de chair hideuse et nauséabonde.",
    "metadata": {
      "glitchdescription": "C'est dégoûtant. C'est fait de chair molle.",
      "florandescription": "De la viande bien moelleuse.",
      "novakiddescription": "C'est une sorte de chair."
    }
  },
  "floweryblock": {
    "name": "Bloc de fleurs",
    "desc": "Un bouquet parfumé composé de fleurs et de feuilles.",
    "metadata": {
      "glitchdescription": "Je suis ravie. Cette composition florale est très jolie.",
      "florandescription": "Ces fleurs ont l'air en pleine forme.",
      "novakiddescription": "Des fleurs aux couleurs vives."
    }
  },
  "frozendirt": {
    "name": "Terre gelée",
    "desc": "Cette terre est complètement gelée.",
    "metadata": {
      "glitchdescription": "Remarque. Cette terre est complètement gelée.",
      "florandescription": "La terre gelée est froide au toucher.",
      "novakiddescription": "Cette terre gelée est sacrément froide."
    }
  },
  "frozenwater": {
    "name": "Glace lisse",
    "desc": "De la glace naturellement lisse.",
    "metadata": {
      "glitchdescription": "Attention. La façon dont cette glace s'est formée la rend exceptionnellement lisse.",
      "florandescription": "De l'eau gelée glissante.",
      "novakiddescription": "Cette glace est très glissante."
    }
  },
  "fullwood1": {
    "name": "Bois traité",
    "desc": "Du bois soigneusement traité qui conserve l'aspect du bois fraîchement coupé.",
    "metadata": {
      "glitchdescription": "Je suis surpris. Bien que ce bois ait l'air d'avoir été coupé récemment, il a été soigneusement traité.",
      "florandescription": "Juste du bois tout simple.",
      "novakiddescription": "On dirait qu'il vient d'être coupé, mais ce bois a été traité avec un produit quelconque."
    }
  },
  "fullwood2": {
    "name": "Bois brut",
    "desc": "Brut et non travaillé, ce bois semble tout juste coupé.",
    "metadata": {
      "glitchdescription": "Neutre. Bois non traité.",
      "florandescription": "Bois non cloué."
    }
  }
}