{
  "geodeblock": {
    "name": "Cristaux géodes",
    "desc": "Cristaux de géodes naturels scintillants.",
    "metadata": {
      "glitchdescription": "Incroyable. Ces cristaux naturels semblent avoir poussé à partir de géodes.",
      "florandescription": "De magnifiques cristaux de géodes.",
      "novakiddescription": "Quelques cristaux de roche qui brillent de mille feux."
    }
  },
  "geodestone": {
    "name": "Pierre géode",
    "desc": "Une pierre massive remplie de petits cristaux de géode.",
    "metadata": {
      "glitchdescription": "Pour les plus attentifs: cette pierre renferme de minuscules cristaux de géodes.",
      "florandescription": "Floran aime les petits cristaux qu'on trouve dans les géodes.",
      "novakiddescription": "Cette pierre regorge de minuscules cristaux en forme de géodes."
    }
  },
  "girdermaterial": {
    "name": "Poutre",
    "desc": "Une poutre métallique d'aspect robuste.",
    "metadata": {
      "glitchDescription": "Impressionnant. Cette poutre métallique nervurée est très solide.",
      "floranDescription": "Des poutres métalliques froides.",
      "novakidDescription": "Une poutre métallique qui a l'air solide."
    }
  },
  "glassmaterial": {
    "name": "Bloc de verre",
    "desc": "Je vois mon reflet.",
    "metadata": {
      "glitchdescription": "Attentif. Je vois parfaitement à travers ce verre transparent.",
      "florandescription": "Floran est ravissante avec ses lunettes.",
      "novakiddescription": "Je vois parfaitement à travers cette vitre."
    }
  },
  "goldblock": {
    "name": "Bloc d'or",
    "desc": "Un bloc entier d'or massif.",
    "metadata": {
      "glitchDescription": "Je suis ravi. Un lingot entièrement en or massif.",
      "floranDescription": "Des blocs dorés étincelants.",
      "novakidDescription": "Youpi! Des lingots d'or massif qui brillent de mille feux!"
    }
  },
  "goldenplatform": {
    "name": "Plateforme Gold",
    "desc": "Pour les plus fortunés, une plateforme en or.",
    "metadata": {
      "glitchdescription": "Enchanté. Cette plateforme est en or massif.",
      "florandescription": "Des plateformes dorées. C'est tellement chic.",
      "novakiddescription": "De l'or! C'est une plateforme en or!"
    }
  },
  "grassy": {
    "name": "Plaque de gazon",
    "desc": "Une dalle de toiture végétalisée recouverte d'herbe en pleine croissance.",
    "metadata": {
      "glitchdescription": "Je suis charmé. On dirait que cette toiture en gazon a de l'herbe vivante.",
      "florandescription": "Floran aime les toitures en gazon.",
      "novakiddescription": "Une toiture en gazon: il y a quelque chose de charmant dans sa simplicité."
    }
  },
  "grassyrock": {
    "name": "Grassy Rock",
    "desc": "Pierre rugueuse et recouverte d'herbe.",
    "metadata": {
      "glitchdescription": "Remarquable. De l'herbe pousse dans les fissures de ce rocher.",
      "florandescription": "C'est trop cool.",
      "novakiddescription": "Quelques rochers recouverts d'herbe."
    }
  },
  "gravelmaterial": {
    "name": "Gravier",
    "desc": "Gravier grossier.",
    "metadata": {
      "glitchdescription": "Irrité. Gravier grossier en cascade.",
      "florandescription": "Gravier concassé.",
      "novakiddescription": "Gravier et cailloux concassés."
    }
  },
  "greenneonsymbol": {
    "name": "Bloc néon vert",
    "desc": "Une tuile sur laquelle est gravé, en son centre, un étrange symbole vert.",
    "metadata": {
      "glitchdescription": "Je suis perplexe. Je ne comprends pas la signification de ce symbole.",
      "florandescription": "Floran aime cette image verte."
    }
  }
}