{
  "ice": {
    "name": "Glace",
    "desc": "De la glace solide, qui picote au toucher.",
    "metadata": {
      "glitchdescription": "Remarquable. Il semblerait que cette glace soit d'origine naturelle.",
      "florandescription": "Glace solide.",
      "novakiddescription": "Il y a tellement de glace."
    }
  },
  "iceblock": {
    "name": "Bloc de glace",
    "desc": "De la glace solide, découpée en blocs.",
    "metadata": {
      "glitchdescription": "Impressionnant. Les découpes réalisées pour façonner cette glace sont très précises.",
      "florandescription": "Des glaçons bien lisses.",
      "novakiddescription": "Un tas de glace, découpée en blocs."
    }
  },
  "ironblock": {
    "name": "Bloc de fer",
    "desc": "Un bloc de fer massif.",
    "metadata": {
      "glitchdescription": "Je suis ravi. C'est agréable de voir que l'on utilise du fer dans la construction.",
      "florandescription": "Blocs de métal à froid.",
      "novakiddescription": "Ces blocs sont fabriqués en fer."
    }
  }
}