{
  "ledgebrick": {
    "name": "Brique de rebord",
    "desc": "Briques en pierre disposées en escalier avec un petit rebord.",
    "metadata": {
      "glitchdescription": "Je suis ravi. Cette pierre présente un petit rebord sculpté.",
      "florandescription": "Briques de pierre sculptées.",
      "novakiddescription": "Des briques qui ont l'air bien vieilles."
    }
  },
  "lightmetal": {
    "name": "Métal léger",
    "desc": "Un carrelage métallique clair, idéal pour un laboratoire de recherche.",
    "metadata": {
      "glitchdescription": "Je suis d'accord. Ces carreaux sont faciles à désinfecter.",
      "florandescription": "Carreaux métalliques lisses.",
      "novakiddescription": "Quelques carreaux en métal."
    }
  },
  "limestone": {
    "name": "Calcaire",
    "desc": "Calcaire brut, non traité.",
    "metadata": {
      "glitchdescription": "Fin. Ce calcaire a une texture crayeuse.",
      "florandescription": "Rochers calcaires poussiéreux.",
      "novakiddescription": "Du calcaire à l'aspect crayeux."
    }
  },
  "logblock": {
    "name": "Bûche de bois",
    "desc": "Une bûche de bois. Idéale pour construire des structures simples.",
    "metadata": {
      "glitchdescription": "Impressionnant. Ces rondins s'emboîtent parfaitement et sont parfaits pour la construction.",
      "florandescription": "Floran aime les murs en rondins de bois.",
      "novakiddescription": "Il n'est pas rare de voir des rondins disposés ainsi dans les chalets."
    }
  },
  "lunarbaseblock": {
    "name": "Bloc de base lunaire",
    "desc": "Cet alliage a l'air incroyablement résistant.",
    "metadata": {
      "glitchdescription": "Ça m'intéresse. Je ne connais pas bien cet alliage résistant.",
      "florandescription": "Des blocs métalliques très solides.",
      "novakiddescription": "Un métal qui a l'air plutôt costaud."
    }
  },
  "lunarbaseplatform": {
    "name": "Plateforme de base lunaire",
    "desc": "Une plate-forme métallique de bonne facture.",
    "metadata": {
      "glitchdescription": "Fiable. Cette plateforme métallique peut supporter un poids important.",
      "florandescription": "Floran n'aime pas les plateformes de Cold Metal.",
      "novakiddescription": "Une plateforme qui a l'air rutilante."
    }
  }
}