{
  "obsidian": {
    "name": "Obsidienne",
    "desc": "De l'obsidienne massive. Elle est naturellement noire.",
    "metadata": {
      "glitchdescription": "Je suis stupéfait. Cette obsidienne est extrêmement dense et résistante.",
      "florandescription": "L'obsidienne. Des roches noires et résistantes.",
      "novakiddescription": "Des roches d'obsidienne d'aspect noir."
    }
  },
  "ornateflooring": {
    "name": "Sols décorés",
    "desc": "Un magnifique sol richement décoré.",
    "metadata": {
      "glitchdescription": "Je suis sous le charme. Un magnifique parquet richement décoré.",
      "florandescription": "Floran a envie de marcher sur ce sol richement décoré.",
      "novakiddescription": "Un sol très raffiné et richement décoré."
    }
  },
  "ornateroofing": {
    "name": "Toitures décoratives",
    "desc": "Une toiture au style traditionnel et richement décorée.",
    "metadata": {
      "glitchdescription": "Je suis impressionné. Cette toiture richement décorée est d'une grande solidité structurelle.",
      "florandescription": "Les toitures ornées sont jolies.",
      "novakiddescription": "Ce n'est pas ce à quoi je suis habitué, mais la toiture est tout de même très jolie."
    }
  },
  "ornatetiles": {
    "name": "Carreaux décorés",
    "desc": "Des tuiles finement décorées.",
    "metadata": {
      "glitchdescription": "Familières. On retrouve souvent des tuiles similaires dans la conception traditionnelle des toitures.",
      "florandescription": "Floran apprécie les beaux carrelages décorés.",
      "novakiddescription": "Ce carrelage décoré donne vraiment du cachet à cet endroit."
    }
  },
  "ornatewall": {
    "name": "Mur orné",
    "desc": "Un mur d'aspect traditionnel.",
    "metadata": {
      "glitchdescription": "Discret. Ce mur est décoré avec subtilité selon une méthode traditionnelle.",
      "florandescription": "Ce mur est trop beau pour qu'on le casse.",
      "novakiddescription": "Ce mur a vraiment fière allure."
    }
  },
  "ornatewood": {
    "name": "Bois sculpté",
    "desc": "Bois sculpté et finement travaillé.",
    "metadata": {
      "glitchdescription": "Je suis émerveillé. Ce bois a été spécialement traité par un maître artisan.",
      "florandescription": "Floran aime le bois traité spécialement.",
      "novakiddescription": "On dirait que ce bois a été traité avec quelque chose."
    }
  },
  "outpost": {
    "name": "Mur de l'avant-poste",
    "desc": "Matériau couramment utilisé pour les murs des avant-postes spatiaux.",
    "metadata": {
      "glitchdescription": "Ça m'est familier. J'ai déjà vu ce matériau utilisé dans des avant-postes spatiaux.",
      "florandescription": "Mur d'avant-poste en métal dur.",
      "novakiddescription": "Une sorte de mur d'avant-poste."
    }
  },
  "outpostplatform": {
    "name": "Plateforme Outpost",
    "desc": "Une simple plate-forme d'éclairage que l'on trouve couramment dans les avant-postes isolés.",
    "metadata": {
      "glitchdescription": "Fascinant. Ces plateformes sont légères et appréciées pour leur portabilité.",
      "florandescription": "Encore une plateforme dédiée au metal.",
      "novakiddescription": "Une plate-forme métallique à l'aspect plutôt étrange."
    }
  },
  "outpostsupport": {
    "name": "Poutre de soutien de l'avant-poste",
    "desc": "Une poutre de soutien renforcée.",
    "metadata": {
      "glitchdescription": "Poutre. Type de poutre couramment utilisé dans la construction d'avant-postes.",
      "florandescription": "Poutre de soutien.",
      "novakiddescription": "À première vue, on dirait une grosse poutre métallique."
    }
  },
  "outpostwall1": {
    "name": "Outpost Béton",
    "desc": "Béton foncé spécialement conçu pour les avant-postes.",
    "metadata": {
      "glitchdescription": "À noter. Ce béton spécialement conçu sèche rapidement.",
      "florandescription": "Floran n'aime pas le béton froid et dur.",
      "novakiddescription": "Ce béton a l'air sacrément solide."
    }
  },
  "outpostwall2": {
    "name": "Outpost à parois épaisses",
    "desc": "Un type de mur à paroi épaisse conçu pour résister à des conditions climatiques extrêmes.",
    "metadata": {
      "glitchdescription": "Je suis satisfait. Rien ne fera bouger ce mur renforcé structurellement.",
      "florandescription": "Ce mur est vraiment solide.",
      "novakiddescription": "Rien ne fera bouger ce mur épais."
    }
  }
}