{
  "packeddirt": {
    "name": "Terre battue",
    "desc": "De la terre compactée en petites briques.",
    "metadata": {
      "glitchdescription": "C'est amusant. Ces briques ne sont rien d'autre que de la terre compactée et moulée.",
      "florandescription": "Briques en terre battue.",
      "novakiddescription": "Des briques d'aspect doux, faites de terre."
    }
  },
  "petalblock": {
    "name": "Bloc de pétales",
    "desc": "Des feuilles et des fleurs foncées au parfum agréable.",
    "metadata": {
      "glitchdescription": "Je suis ravi. Ces feuilles sentent la terre et les fleurs.",
      "florandescription": "Floran adore les plantes à fleurs.",
      "novakiddescription": "Il y a de très jolies fleurs qui poussent ici."
    }
  },
  "pillarblock": {
    "name": "Bloc de pilier",
    "desc": "Un pilier en pierre à l'aspect ancien.",
    "metadata": {
      "glitchdescription": "Je suis émerveillé. Je pense que ce pilier de pierre est très ancien.",
      "florandescription": "Ce pilier en pierre est très ancien.",
      "novakiddescription": "Voilà un pilier en pierre qui a l'air bien vieux."
    }
  },
  "plantblock": {
    "name": "Bloc végétal",
    "desc": "Un bloc composé de matière végétale.",
    "metadata": {
      "glitchdescription": "Fascinant. Ce bloc est entièrement constitué de matière végétale.",
      "florandescription": "Floran se sent proche de ce bloc végétal.",
      "novakiddescription": "On dirait un bloc fait de plantes."
    }
  },
  "plantmatter": {
    "name": "Matière végétale",
    "desc": "Un bloc constitué de matière végétale compactée.",
    "metadata": {
      "glitchdescription": "Ça m'intéresse. On dirait que de la matière végétale a été compressée pour former ce bloc.",
      "florandescription": "La flore, tout comme la flore.",
      "novakiddescription": "Un tas de plantes et de feuilles toutes mélangées."
    }
  },
  "plantplatform": {
    "name": "Plateforme Mossy",
    "desc": "La plate-forme est glissante à cause de la mousse et des feuilles. Il vaut mieux faire attention à ne pas glisser!",
    "metadata": {
      "glitchdescription": "Attention. Cette plate-forme recouverte de mousse est glissante.",
      "florandescription": "Floran glisse sur une plate-forme recouverte de mousse visqueuse.",
      "novakiddescription": "À cause de cette mousse, cette plate-forme est extrêmement glissante."
    }
  },
  "platematerial": {
    "name": "Bloc lisse plaqué",
    "desc": "Ça me fait penser à l'intérieur d'un centre médical.",
    "metadata": {
      "glitchdescription": "C'est intrigant. Ces plaques métalliques ont été soigneusement polies.",
      "florandescription": "Des plaques métalliques lisses et brillantes.",
      "novakiddescription": "Des plaques murales au look élégant."
    }
  },
  "platform": {
    "name": "Plateforme en bois",
    "desc": "Une simple plate-forme en bois.",
    "metadata": {
      "glitchdescription": "Rien de nouveau. Il s'agit d'une simple plate-forme en bois.",
      "florandescription": "Des plateformes en bois simples.",
      "novakiddescription": "Juste une plate-forme en bois."
    }
  },
  "platform2": {
    "name": "Plateforme en bois",
    "desc": "Une simple plate-forme en bois.",
    "metadata": {
      "glitchdescription": "Neutre. Une plate-forme en bois.",
      "florandescription": "Plateformes."
    }
  },
  "platinumblock": {
    "name": "Bloc Platine",
    "desc": "Un bloc entier de platine massif.",
    "metadata": {
      "glitchdescription": "Je suis ravi. Ce bloc étincelant est en platine massif.",
      "florandescription": "Floran aime le platine brillant.",
      "novakiddescription": "Je pense que ce gros bloc de platine doit bien valoir quelque chose pour quelqu'un."
    }
  },
  "polygonplatform": {
    "name": "Plateforme Polygon",
    "desc": "Une plate-forme lisse faite de « lumière solide ».",
    "metadata": {
      "glitchdescription": "Ça m'intéresse. Une plateforme faite de « lumière solide ».",
      "florandescription": "Cette plateforme déborde d'énergie."
    }
  },
  "pressurisedbeam": {
    "name": "Poutre sous pression",
    "desc": "Une poutre de soutien conçue pour les environnements sous pression.",
    "metadata": {
      "glitchdescription": "Observant. Ce faisceau est spécialement conçu pour les environnements sous pression.",
      "florandescription": "Poutre métallique robuste.",
      "novakiddescription": "Cette poutre métallique a l'air très solide."
    }
  },
  "pressuriseddurasteel": {
    "name": "Durasteel sous pression",
    "desc": "Un panneau en Durasteel, spécialement conçu pour contenir des environnements sous pression.",
    "metadata": {
      "glitchdescription": "Cela m'intéresse. Ce panneau en Durasteel est conçu pour s'adapter aux variations de pression.",
      "florandescription": "Bardage en acier durassteel ultra-résistant.",
      "novakiddescription": "Un panneau en Durasteel d'aspect brillant."
    }
  },
  "pressurisedgirder": {
    "name": "Poutre sous pression",
    "desc": "Une poutre conçue pour s'adapter aux variations de pression.",
    "metadata": {
      "glitchdescription": "Adaptable. Une poutre conçue pour s'adapter aux variations de pression ",
      "florandescription": "Une poutre métallique brillante et solide.",
      "novakiddescription": "Une bonne vieille poutre métallique bien solide."
    }
  },
  "pressurisedplatform": {
    "name": "Plateforme pressurisée",
    "desc": "Plates-formes conçues pour être utilisées dans des environnements susceptibles d'être sous pression.",
    "metadata": {
      "glitchdescription": "Tout à fait. Ces plates-formes robustes sont renforcées pour résister aux variations de pression.",
      "florandescription": "Les plates-formes métalliques robustes sont froides.",
      "novakiddescription": "Une sorte de plateforme qui a l'air brillante."
    }
  },
  "protectorateplatform": {
    "name": "Plateforme Protectorate",
    "desc": "Une plateforme d'apparence simple.",
    "metadata": {
      "glitchdescription": "Je suis impressionné. Ces plateformes supportent facilement mon poids.",
      "florandescription": "Des chaussures à semelles compensées en métal brillant.",
      "novakiddescription": "Des plates-formes au look sophistiqué, fabriquées en métal."
    }
  },
  "purplecrystalmaterial": {
    "name": "Bloc de cristal violet",
    "desc": "La lumière semble se réfracter à l'intérieur de ces cristaux violets.",
    "metadata": {
      "glitchdescription": "Émerveillé. La lumière semble danser à travers ce cristal violet.",
      "florandescription": "Joli cristal violet.",
      "novakiddescription": "Ce cristal violet est vraiment joli."
    }
  }
}