{
  "rainbowwoodblock": {
    "name": "Lames de bois arc-en-ciel",
    "desc": "Tout simplement fabuleux.",
    "metadata": {
      "glitchdescription": "Je suis ravie. Ces lames colorées sont lumineuses et gaies.",
      "florandescription": "Floran adore les planches colorées aux couleurs de l'arc-en-ciel.",
      "novakiddescription": "Des planches fabriquées à partir d'un bois aux couleurs vives."
    }
  },
  "redtoyblock": {
    "name": "Bloc de construction rouge",
    "desc": "Un gros bloc de construction empilable.",
    "metadata": {
      "glitchdescription": "C'est amusant. Ces blocs s'empilent et s'emboîtent les uns dans les autres.",
      "florandescription": "Floran aime les blocs de construction empilables.",
      "novakiddescription": "Ces blocs colorés sont faits pour jouer."
    }
  },
  "reedblock": {
    "name": "Bloc d'anches",
    "desc": "Un bloc constitué de roseaux étroitement tressés.",
    "metadata": {
      "glitchdescription": "Impressionnant. Ces roseaux étroitement entrelacés forment des blocs solides.",
      "florandescription": "Floran aime les roseaux robustes.",
      "novakiddescription": "Des roseaux entrelacés."
    }
  },
  "ridgebrick": {
    "name": "Bloc nervuré",
    "desc": "Briques de pierre présentant une arête sculptée près du sommet.",
    "metadata": {
      "glitchdescription": "Ça m'intéresse. Ces blocs de construction rainurés sont simples, mais efficaces.",
      "florandescription": "Blocs de pierre striés.",
      "novakiddescription": "Ces blocs de pierre sont vraiment très bien sculptés."
    }
  },
  "rock01": {
    "name": "Pierre brute",
    "desc": "Pierre brute, non taillée.",
    "metadata": {
      "glitchdescription": "Remarquez bien. Ce sont des pierres brutes courantes.",
      "florandescription": "Une dureté rugueuse.",
      "novakiddescription": "Juste un tas de cailloux."
    }
  },
  "rock02": {
    "name": "Pierre brute",
    "desc": "Pierre brute, non taillée.",
    "metadata": {
      "glitchdescription": "Remarquez bien. Ce sont des pierres brutes courantes.",
      "florandescription": "Une dureté rugueuse.",
      "novakiddescription": "Juste un tas de cailloux."
    }
  },
  "rock03": {
    "name": "Pierre brute",
    "desc": "Pierre brute, non taillée.",
    "metadata": {
      "glitchdescription": "Remarquez bien. Ce sont des pierres brutes courantes.",
      "florandescription": "Une dureté rugueuse.",
      "novakiddescription": "Juste un tas de cailloux."
    }
  },
  "rock04": {
    "name": "Pierre brute",
    "desc": "Pierre brute, non taillée.",
    "metadata": {
      "glitchdescription": "Remarquez bien. Ce sont des pierres brutes courantes.",
      "florandescription": "Une dureté rugueuse.",
      "novakiddescription": "Juste un tas de cailloux."
    }
  },
  "rock12": {
    "name": "Pierre brute",
    "desc": "Pierre brute, non taillée.",
    "metadata": {
      "glitchdescription": "Remarquez bien. Ce sont des pierres brutes courantes.",
      "florandescription": "Une dureté rugueuse.",
      "novakiddescription": "Juste un tas de cailloux."
    }
  },
  "rock14": {
    "name": "Roche de granit",
    "desc": "Briques de granit naturel empilées.",
    "metadata": {
      "glitchdescription": "Ça m'intéresse. L'extraction de ce granit ne produira que des pavés.",
      "florandescription": "Floran adore le granit.",
      "novakiddescription": "À première vue, on dirait du granit tout simple."
    }
  },
  "rock15": {
    "name": "Pierre brute",
    "desc": "Pierre brute, non taillée.",
    "metadata": {
      "glitchdescription": "Remarquez bien. Ce sont des pierres brutes courantes.",
      "florandescription": "Une dureté rugueuse.",
      "novakiddescription": "Juste un tas de cailloux."
    }
  },
  "rock17": {
    "name": "Pierre brute",
    "desc": "Pierre brute, non taillée.",
    "metadata": {
      "glitchdescription": "Remarquez bien. Ce sont des pierres brutes courantes.",
      "florandescription": "Une dureté rugueuse.",
      "novakiddescription": "Juste un tas de cailloux."
    }
  },
  "rock19": {
    "name": "Pierre brute",
    "desc": "Pierre brute, non taillée.",
    "metadata": {
      "glitchdescription": "Remarquez bien. Ce sont des pierres brutes courantes.",
      "florandescription": "Une dureté rugueuse.",
      "novakiddescription": "Juste un tas de cailloux."
    }
  },
  "rock20": {
    "name": "Pierre brute",
    "desc": "Pierre brute, non taillée.",
    "metadata": {
      "glitchdescription": "Remarquez bien. Ce sont des pierres brutes courantes.",
      "florandescription": "Une dureté rugueuse.",
      "novakiddescription": "Juste un tas de cailloux."
    }
  },
  "rockbrickmaterial": {
    "name": "Briques de roche",
    "desc": "Un lot de briques en pierre grossièrement taillées.",
    "metadata": {
      "glitchdescription": "Je ne suis pas impressionné. Ce ne sont que des pierres empilées comme des briques.",
      "florandescription": "Des pierres empilées.",
      "novakiddescription": "Ce n'est rien d'autre qu'un tas de cailloux."
    }
  },
  "rooftiles": {
    "name": "Tuiles",
    "desc": "Des tuiles usées par les intempéries. Leur forme me met mal à l'aise.",
    "metadata": {
      "glitchdescription": "Remarque. Ces tuiles sont inclinées pour faciliter l'écoulement de l'eau de pluie.",
      "florandescription": "Tuiles.",
      "novakiddescription": "Ces tuiles semblent parfaites pour faire un toit."
    }
  },
  "ruinsplatform": {
    "name": "Plateforme des Ruines",
    "desc": "Une vieille plate-forme en bois poussiéreuse. On dirait qu'elle tombe en ruine.",
    "metadata": {
      "glitchdescription": "C'est inquiétant. Cette vieille plate-forme en bois présente des problèmes de sécurité.",
      "florandescription": "En décomposition et dangereux. Floran approuve.",
      "novakiddescription": "Je ferais mieux de faire attention, cette vieille plate-forme a l'air de tomber en ruine."
    }
  },
  "rustyblock": {
    "name": "Bloc rouillé",
    "desc": "Un vieux bloc de métal rouillé.",
    "metadata": {
      "glitchdescription": "C'est effrayant. Ce métal rouillé et abandonné est usé et abîmé par les intempéries.",
      "florandescription": "Blocs métalliques Russsty.",
      "novakiddescription": "Ce morceau de métal a l'air sacrément rouillé."
    }
  },
  "rustymetal": {
    "name": "Métal rouillé",
    "desc": "Du vieux métal recouvert de rouille.",
    "metadata": {
      "glitchdescription": "Je suis inquiet. La rouille sur ce métal me met très mal à l'aise.",
      "florandescription": "Métal recouvert de Russst.",
      "novakiddescription": "Un vieux morceau de métal recouvert d'une épaisse couche de rouille."
    }
  },
  "rustyrail": {
    "name": "Rail rouillé",
    "desc": "Ces rails sont un peu rugueux, mais ils font l'affaire.",
    "metadata": {
      "glitchdescription": "Je suis inquiet. Ces rails ont l'air usés et rouillés.",
      "florandescription": "Des rails métalliques rouillés.",
      "novakiddescription": "Des rails qui ont l'air rouillés… ça me donne envie de les essayer."
    }
  }
}