{
  "vine": {
    "name": "Il vient",
    "desc": "Une épaisse liane. Elles ont l'air robustes.",
    "metadata": {
      "glitchdescription": "Je suis fasciné. On dirait que ces vigne robustes ont été entrelacées au fur et à mesure de leur croissance.",
      "florandescription": "Viness grandit et devient forte, tout comme Floran.",
      "novakiddescription": "Ces vignes ont l'air imposantes."
    }
  }
}