{
  "wallpaper": {
    "name": "Fond d'écran classique",
    "desc": "Un papier peint raffiné, la touche finale parfaite.",
    "metadata": {
      "glitchdescription": "Ils sont perplexes. Les Glitch n'ont jamais compris le principe de la pose de papier peint collé.",
      "florandescription": "Un papier étrange recouvre les murs.",
      "novakiddescription": "Du papier peint. Idéal pour donner un coup de classe à la pièce."
    }
  },
  "waste": {
    "name": "Déchets",
    "desc": "Des déchets toxiques répugnants qui brillent faiblement.",
    "metadata": {
      "glitchdescription": "C'est répugnant. Les produits chimiques contenus dans ces déchets sont tellement toxiques qu'ils brillent.",
      "florandescription": "Ssstinky toxic messs. Vile poisson.",
      "novakiddescription": "Un tas de déchets chimiques toxiques qui brillent."
    }
  },
  "wetdirt": {
    "name": "Terre humide",
    "desc": "Ni tout à fait de la boue, ni tout à fait de la terre… c'est de la terre humide.",
    "metadata": {
      "glitchdescription": "Je ne suis pas impressionné. Ce n'est que de la terre imbibée d'un peu d'eau.",
      "florandescription": "La terre humide est bonne pour les plantes.",
      "novakiddescription": "Juste un peu de terre qui a l'air mouillée."
    }
  },
  "wicker": {
    "name": "osier",
    "desc": "Un matériau en osier au tissage grossier.",
    "metadata": {
      "glitchdescription": "Ingénieux. Ce rotin est tissé serré et solide.",
      "florandescription": "Une osier solide forme un mur.",
      "novakiddescription": "On dirait de l'osier, à mon avis."
    }
  },
  "wickersupport": {
    "name": "Bloc de support en osier",
    "desc": "Un matériau en osier à mailles serrées.",
    "metadata": {
      "glitchdescription": "Je suis impressionné. Ce matériau en osier est solide.",
      "florandescription": "Floran aime les blocs d'osier solides.",
      "novakiddescription": "On dirait que ces blocs sont simplement constitués d'un matériau résistant, tissé ensemble."
    }
  },
  "woodbridge": {
    "name": "Bloc de pont en bois",
    "desc": "Le bois est très vieux et craque sous l'effet du vent.",
    "metadata": {
      "glitchdescription": "C'est charmant. Ce bois ancien craque sous l'effet du temps.",
      "florandescription": "Le vieux bois est solide.",
      "novakiddescription": "Je parierais que ce bois-là est très vieux."
    }
  },
  "woodenplatform": {
    "name": "Plateforme décorée",
    "desc": "Des estrades en bois richement décorées et soigneusement finies.",
    "metadata": {
      "glitchdescription": "Je suis ravi. Ces socles décorés ont été soigneusement poncés et finis.",
      "florandescription": "Plateformes ornées en bois.",
      "novakiddescription": "Quelques estrades en bois à l'aspect raffiné."
    }
  },
  "woodenwindow1": {
    "name": "Fenêtre en bois",
    "desc": "Une fenêtre à croisillons.",
    "metadata": {
      "glitchdescription": "Je suis ravie. Cette fenêtre contribue à éclairer la pièce.",
      "florandescription": "De belles fenêtres, Floran peut voir dehors.",
      "novakiddescription": "Une jolie fenêtre avec des carreaux en bois."
    }
  },
  "woodenwindow2": {
    "name": "Stores en bois",
    "desc": "De vieilles lattes en bois qui laissent passer peu de lumière.",
    "metadata": {
      "glitchdescription": "Discret. Ce bois filtre la lumière et fait office de barrière.",
      "florandescription": "Floran peut jeter un œil à travers de larges lattes de bois.",
      "novakiddescription": "Je vois à travers les interstices de ce bois, jusqu'à l'autre côté."
    }
  },
  "woodpanelling": {
    "name": "Bois lambrissé",
    "desc": "Ces boiseries étaient à la mode à une époque révolue.",
    "metadata": {
      "glitchdescription": "Je ne comprends pas bien. On dirait que ces panneaux de bois sont décoratifs.",
      "florandescription": "Des panneaux de bois originaux pour la décoration.",
      "novakiddescription": "Des panneaux en bois: voilà comment on voit que cet endroit est chic."
    }
  },
  "wreckplatform": {
    "name": "Plateforme détruite",
    "desc": "Un échafaudage rouillé. Ça n'a pas l'air très sûr.",
    "metadata": {
      "glitchdescription": "C'est inquiétant. Cet échafaudage rouillé semble présenter des problèmes de sécurité.",
      "florandescription": "Salissant et dangereux. Floran aime ça.",
      "novakiddescription": "Cette plate-forme rouillée a l'air sur le point de s'effondrer."
    }
  }
}