{
  "boatcontrollergreen": {
    "name": "Contrôleur Green Boat",
    "desc": "Fabriquer un voilier écologique à partir de nanites stockées."
  },
  "bubblegun": {
    "name": "Bubble Blaster",
    "desc": "Un pistolet à bulles! Il tire des bulles! Youpi!"
  },
  "broom": {
    "name": "Broom",
    "desc": "L'outil de balayage le plus pratique."
  },
  "bugnet": {
    "name": "Moustiquaire",
    "desc": "Un filet pour attraper des insectes! Partez à la chasse aux insectes, capturez-les et agrandissez votre collection!"
  }
}