{
  "cavedetector": {
    "name": "Détecteur de grottes",
    "desc": "Émet des impulsions pour cartographier la densité des matériaux environnants."
  },
  "compositerailplatform": {
    "name": "Quai ferroviaire en matériaux composites",
    "desc": "Installez une plate-forme automotrice qui circule sur des rails."
  },
  "climbingrope": {
    "name": "Corde",
    "desc": "Un bout de corde. Pratique pour grimper et attacher des objets!"
  }
}