{
  "hoverbikecontrollergreen": {
    "name": "Manette pour Hoverbike verte",
    "desc": "Fabriquer un hoverbike peint en vert à partir de nanites stockées."
  },
  "hoverbikecontrollerkhaki": {
    "name": "Manette pour Hoverbike de couleur kaki",
    "desc": "Fabriquer un hoverbike peint en kaki à partir des nanites stockées."
  },
  "hoverbikecontrollerred": {
    "name": "Manette rouge pour Hoverbike",
    "desc": "Fabriquer un hoverbike peint en rouge à partir des nanites stockées."
  },
  "handcuffs": {
    "name": "Menottes",
    "desc": "Il y a un bouton de déverrouillage sur le côté… Est-ce que ces objets existent vraiment?"
  }
}