{
  "mechblueprint3": {
    "name": "Plan de construction simple",
    "desc": "Un plan pour une pièce mécanique simple."
  },
  "mechblueprint4": {
    "name": "Plan de mécanique avancée",
    "desc": "Un plan de fabrication pour une pièce de robotique de pointe."
  },
  "mechblueprint5": {
    "name": "Plan technique de haute technologie",
    "desc": "Un plan de fabrication d'une pièce mécanique de haute technologie."
  },
  "mechblueprint6": {
    "name": "Plan de construction du Mech expérimental",
    "desc": "Un plan de fabrication pour une pièce expérimentale de robotique de pointe."
  },
  "miningdrone": {
    "name": "Drone minier",
    "desc": "Une chouette mécanique jetable qui, lorsqu'on la lance, s'envole dans une direction et creuse un tunnel."
  }
}