{
  "railhook": {
    "name": "Crochet de rail",
    "desc": "En route pour un voyage en train!"
  },
  "rustyrailplatform": {
    "name": "Quai rouillé",
    "desc": "Une plate-forme qui suit un parcours prédéfini lorsqu'elle est placée sur un rail."
  },
  "relocator": {
    "name": "Service de relogement",
    "desc": "Permet de maintenir jusqu'à trois créatures alliées en stase afin de les déplacer en toute sécurité."
  },
  "rewardbag": {
    "name": "Sac de récompenses",
    "desc": "Utilise ceci pour l'ouvrir et découvrir ce qu'il contient. C'est génial!"
  }
}