{
  "watergun": {
    "name": "Pistolet à eau",
    "desc": "Le mécanisme à pompe met l'eau sous pression dans ce pistolet en plastique."
  },
  "wateringcan": {
    "name": "Arrosoir",
    "desc": "Arrosez vos plantes avec cet arrosoir tendance."
  },
  "woodenwateringcan": {
    "name": "Arrosoir en bois",
    "desc": "Arrosez vos cultures avec douceur et efficacité."
  }
}