{
  "executivebed": {
    "name": "Lit de Cadre",
    "desc": "Un lit de luxe. Pour le sommeil de votre vie.",
    "metadata": {
      "apexDescription": "Le lit le plus confortable de l'univers.",
      "avianDescription": "Une fois allongé ici, vous ne voudrez plus vous lever.",
      "floranDescription": "Floran sss'enfonce dans le lit, oublie de poignarder jusssqu'à demain.",
      "glitchDescription": "Heureux. Vraiment, il n'y a pas de meilleur lit que celui-ci.",
      "humanDescription": "Le meilleur moment passé dans un lit depuis que j'ai mangé du fromage avant de dormir.",
      "hylotlDescription": "Je suisss s ans voix devant le confort de ce lit.",
      "novakidDescription": "Ça doit être le meilleur fichu lit dans lequel j'aie jamais dormi."
    }
  },
  "executivechair": {
    "name": "Chaise de Cadre",
    "desc": "Une chaise de bureau de luxe. Vous ne voudrez plus jamais rester debout.",
    "metadata": {
      "apexDescription": "S'asseoir dans cette chaise fait fondre tous mes soucis.",
      "avianDescription": "S'asseoir ici suffit à me faire oublier que je suis cloué au sol.",
      "floranDescription": "Sss'asseoir est agréable dans cette chaise.",
      "glitchDescription": "Relaxé. Tout le monde devrait avoir une chaise comme celle-ci.",
      "humanDescription": "Le summum du confort.",
      "hylotlDescription": "Une chaise magistralement conçue. Si confortable.",
      "novakidDescription": "C'te chaise est parfaite pour s'poser un instant."
    }
  },
  "executivedoor": {
    "name": "Porte de Cadre",
    "desc": "Une porte de bureau impénétrable.",
    "metadata": {
      "apexDescription": "Cette porte est entièrement sécurisée.",
      "avianDescription": "Une porte totalement robuste.",
      "floranDescription": "Floran se cache derrière porte. Bondit. Plante!",
      "glitchDescription": "Approbateur. Une porte sans faille.",
      "humanDescription": "Une porte de luxe impénétrable.",
      "hylotlDescription": "Une porte de luxe robuste.",
      "novakidDescription": "Cette porte a vraiment de la gueule."
    }
  },
  "executivelight": {
    "name": "Luminaire de Cadre",
    "desc": "Une lumière de bureau éblouissante.",
    "metadata": {
      "apexDescription": "Une source lumineuse bien conçue.",
      "avianDescription": "Cette lampe utile éclairera même la pièce la plus sombre.",
      "floranDescription": "Lampe chic sssans danger pour Floran.",
      "glitchDescription": "Ravi. Une lampe élégante et efficace.",
      "humanDescription": "Une jolie lampe de bureau.",
      "hylotlDescription": "Une source de lumière au look futuriste.",
      "novakidDescription": "C'te lumière chic en jette un max."
    }
  },
  "executiveswitch": {
    "name": "Console de Cadre",
    "desc": "Une console de luxe. Si exquise qu'on ne peut s'empêcher de la traiter avec respect.",
    "metadata": {
      "apexDescription": "Cette console offre un grand degré de contrôle.",
      "avianDescription": "Une console utile avec une large interface holographique.",
      "floranDescription": "Floran appuie sur boutonsss . Fait arriver chosss es!",
      "glitchDescription": "Impressionné. Une seule console peut contrôler tant de mécanismes à la fois.",
      "humanDescription": "Une console de commande, c'est obligé que je joue avec.",
      "hylotlDescription": "Cette console de contrôle a un design élégant et stylé.",
      "novakidDescription": "C'te console est vraiment quelque chose, j'ai juste envie de m'en servir."
    }
  },
  "executivetable": {
    "name": "Table de Cadre",
    "desc": "Une magnifique table de bureau de luxe.",
    "metadata": {
      "apexDescription": "Cette table de luxe est exceptionnellement profilée.",
      "avianDescription": "Une table de luxe immensément robuste.",
      "floranDescription": "Table asssez bonne pour que Floran découpe viandesss.",
      "glitchDescription": "Approbateur. Une table de luxe sans faille.",
      "humanDescription": "Une table de luxe très cool.",
      "hylotlDescription": "Une table qui surpasse même l'artisanat Hylotl.",
      "novakidDescription": "Je pourrais organiser de sacrées fêtes avec une table pareille."
    }
  },
  "egyptianbed": {
    "name": "Lit Égyptien",
    "desc": "Un lit richement décoré conçu pour la détente.",
    "metadata": {
      "apexDescription": "Ce lit semble mieux adapté pour paresser que pour dormir.",
      "avianDescription": "Ce lit ressemble un peu au style Avian.",
      "floranDescription": "Lit brillant a l'air doux sss.",
      "glitchDescription": "Soulagé. Ce lit semble parfait pour se reposer.",
      "humanDescription": "Ce lit a sa place dans un musée.",
      "hylotlDescription": "Ce lit a clairement été fabriqué par un maître artisan.",
      "novakidDescription": "Un peu chic pour moi, mais ça fera l'affaire!"
    }
  },
  "egyptianchair": {
    "name": "Chaise Égyptienne",
    "desc": "Une chaise dorée décorée de symboles.",
    "metadata": {
      "apexDescription": "Il y a d'étranges symboles gravés sur cette chaise.",
      "avianDescription": "Cette chaise est très impressionnante.",
      "floranDescription": "Chaise en métal aurait besoin de peau douce sss.",
      "glitchDescription": "Intéressé. Cette chaise ressemble un peu à un trône dans un château Glitch.",
      "humanDescription": "On dirait que cette chaise n'est pas très confortable.",
      "hylotlDescription": "Cette chaise semble presque trop belle pour qu'on s'y assoie.",
      "novakidDescription": "Un gars s'sentirait vraiment important assis là-dessus."
    }
  },
  "egyptiancrest": {
    "name": "Blason Égyptien",
    "desc": "Un blason décoratif avec des ailes colorées.",
    "metadata": {
      "apexDescription": "Des couleurs fortes et audacieuses - j'aime ça.",
      "avianDescription": "Ce n'est pas Avian, mais ça me parle vraiment!",
      "floranDescription": "Ailessss géantesss - un oiseau comme ça ferait une grande chassse.",
      "glitchDescription": "Observateur. Ce ne sont pas de vraies ailes, mais une représentation artistique détaillée.",
      "humanDescription": "Un blason avec des ailes aux couleurs vives.",
      "hylotlDescription": "Ce blason est puissant et frappant.",
      "novakidDescription": "J'pense que c'est de l'art, on dirait des ailes géantes."
    }
  },
  "egyptianlamp": {
    "name": "Lampe Égyptienne",
    "desc": "Une grande lampe à huile ornée qui brûle d'une douce flamme bleue.",
    "metadata": {
      "apexDescription": "Une torche en bois surélevée.",
      "avianDescription": "Une grande torche vacillante.",
      "floranDescription": "Grande torche garde le feu.",
      "glitchDescription": "Serein. Une grande torche, la flamme vacille.",
      "humanDescription": "Une torche crépitante.",
      "hylotlDescription": "Une torche surélevée éclaire une vaste zone.",
      "novakidDescription": "La flamme crépite joyeusement."
    }
  },
  "egyptianpillar": {
    "name": "Pilier Égyptien",
    "desc": "Un pilier ornemental décoré d'or.",
    "metadata": {
      "apexDescription": "Ce pilier privilégie clairement la forme sur la fonction.",
      "avianDescription": "Ce pilier semble appartenir à un temple.",
      "floranDescription": "Un grand pilier couvert de métaux sss.",
      "glitchDescription": "Curieux. Ce pilier semble être purement décoratif et non porteur.",
      "humanDescription": "Ce pilier sophistiqué a l'air lourd.",
      "hylotlDescription": "Un bel exemple d'art décoratif ancien.",
      "novakidDescription": "On dirait que ça vient d'un palais ou un truc du genre."
    }
  },
  "egyptianstatuette": {
    "name": "Statuette Égyptienne",
    "desc": "Une statue délicatement décorée d'une petite créature.",
    "metadata": {
      "apexDescription": "On dirait que cette statue est décorée avec de l'or pur.",
      "avianDescription": "La créature que cette statue représente me met mal à l'aise.",
      "floranDescription": "Ssstatue d'une créature qui a l'air sssavoureuse.",
      "glitchDescription": "Curieux. Le créateur de cette statue devait admirer cette créature.",
      "humanDescription": "Cette statue montre beaucoup de respect pour cet animal.",
      "hylotlDescription": "La finesse des détails de cette statue est impressionnante!",
      "novakidDescription": "Eh bien, c'est une bestiole qui a d'la classe."
    }
  },
  "egyptiantable": {
    "name": "Table Égyptienne",
    "desc": "Une table lourde faite de bois et d'or.",
    "metadata": {
      "apexDescription": "La surface de cette table semble de construction très solide.",
      "avianDescription": "Cette table est clairement destinée à un usage important.",
      "floranDescription": "Cette table a l'air lourde.",
      "glitchDescription": "Confus. Il semble que le métal sur cette table n'ait aucune fonction pratique.",
      "humanDescription": "On dirait que cette table n'est pas en or massif, elle est juste recouverte d'une fine couche.",
      "hylotlDescription": "Cette table a été soigneusement décorée.",
      "novakidDescription": "Belle grande table, y'a d'la place pour une partie de cartes."
    }
  },
  "earthmodel": {
    "name": "Modèle de la Terre",
    "desc": "Un modèle détaillé de la planète Terre du système Sol, le monde natal de l'humanité.",
    "metadata": {
      "apexDescription": "La Terre, foyer du Protectorat Terrien, et le mien pendant un temps.",
      "avianDescription": "La Terre, ma deuxième patrie. J'oublie parfois qu'elle n'est plus là...",
      "floranDescription": "Trissste de se souvenir de mon temps sssur Terre. Ça manque à Floran.",
      "glitchDescription": "Nostalgique. J'ai apprécié mon séjour à l'académie sur Terre.",
      "humanDescription": "La maison... Je frissonne à l'idée de ce qu'il en reste aujourd'hui.",
      "hylotlDescription": "La Terre. Une si petite planète, pourtant le vide que je resss ens dans mon cœur est immense.",
      "novakidDescription": "La Terre. Je te tire mon chapeau."
    }
  },
  "exitteleporter": {
    "name": "Téléporteur de Sortie",
    "desc": "Ce téléporteur vous ramènera au vaisseau quand vous serez prêt à partir.",
    "metadata": {
      "apexDescription": "Ceci me permettra de retourner facilement à mon vaisseau.",
      "avianDescription": "Je peux retourner à mon vaisseau en utilisant ça!",
      "floranDescription": "Téléporteur permet à Floran de retourner au vaissseau.",
      "glitchDescription": "Soulagé. Ce téléporteur me permettra de retourner à mon vaisseau.",
      "humanDescription": "Je peux utiliser ceci une fois que je serai prêt à retourner au vaisseau.",
      "hylotlDescription": "Un moyen utile de retourner rapidement à mon vaisseau.",
      "novakidDescription": "Un moyen pratique de retourner au vaisseau et de filer vers la prochaine aventure!"
    }
  },
  "encounterbigboosterflame": {
    "name": "Flamme de Propulseur Dangereuse",
    "desc": "Je me demande à quelle vitesse ça ferait cuire un burger.",
    "metadata": {
      "apexDescription": "Un propulseur. Ils sont connus pour mal fonctionner et exploser.",
      "avianDescription": "Un propulseur, les ailes d'un vaisseau.",
      "floranDescription": "Feu effrayant.",
      "glitchDescription": "Analyser. Température trop élevée pour être mesurée.",
      "humanDescription": "Ce truc bouffe du carburant à vue d'œil.",
      "hylotlDescription": "Propulsion."
    }
  },
  "encounterboosterflame": {
    "name": "Flamme de Propulseur Dangereuse",
    "desc": "Je me demande à quelle vitesse ça ferait cuire un burger.",
    "metadata": {
      "apexDescription": "Un propulseur. Ils sont connus pour mal fonctionner et exploser.",
      "avianDescription": "Un propulseur, les ailes d'un vaisseau.",
      "floranDescription": "Feu effrayant.",
      "glitchDescription": "Analyser. Température trop élevée pour être mesurée.",
      "humanDescription": "Ce truc bouffe du carburant à vue d'œil.",
      "hylotlDescription": "Propulsion."
    }
  },
  "encounterboosterflamehuman": {
    "name": "Flamme de Propulseur Dangereuse",
    "desc": "Je me demande à quelle vitesse ça ferait cuire un burger.",
    "metadata": {
      "apexDescription": "Un propulseur. Ils sont connus pour mal fonctionner et exploser.",
      "avianDescription": "Un propulseur, les ailes d'un vaisseau.",
      "floranDescription": "Feu effrayant.",
      "glitchDescription": "Analyser. Température trop élevée pour être mesurée.",
      "humanDescription": "Ce truc bouffe du carburant à vue d'œil.",
      "hylotlDescription": "Propulsion."
    }
  },
  "encountersmallboosterflame": {
    "name": "Petite Flamme de Propulseur Dangereuse",
    "desc": "Je me demande à quelle vitesse ça ferait cuire un burger.",
    "metadata": {
      "apexDescription": "Un propulseur. Ils sont connus pour mal fonctionner et exploser.",
      "avianDescription": "Un propulseur, les ailes d'un vaisseau.",
      "floranDescription": "Feu effrayant.",
      "glitchDescription": "Analyser. Température trop élevée pour être mesurée.",
      "humanDescription": "Ce truc bouffe du carburant à vue d'œil.",
      "hylotlDescription": "Propulsion."
    }
  },
  "encountersmallboosterflame2": {
    "name": "Petite Flamme de Propulseur Dangereuse",
    "desc": "Je me demande à quelle vitesse ça ferait cuire un burger.",
    "metadata": {
      "apexDescription": "Un propulseur. Ils sont connus pour mal fonctionner et exploser.",
      "avianDescription": "Un propulseur, les ailes d'un vaisseau.",
      "floranDescription": "Feu effrayant.",
      "glitchDescription": "Analyser. Température trop élevée pour être mesurée.",
      "humanDescription": "Ce truc bouffe du carburant à vue d'œil.",
      "hylotlDescription": "Propulsion."
    }
  },
  "expansionslot": {
    "name": "Emplacement d'Extension",
    "desc": "Un port sur lequel des modules d'extension de station peuvent être fixés.",
    "metadata": {
      "apexDescription": "Ce port est utilisé pour ajouter des modules supplémentaires à une station spatiale.",
      "avianDescription": "Ce terminal sert à gérer les modules d'extension de cette station.",
      "floranDescription": "Ordinateursss peuvent ajouter plus d'essspaces à la station.",
      "glitchDescription": "Observateur. Ce type de terminal permet de fixer divers modules intérieurs à la station.",
      "humanDescription": "Un port d'extension, il y a un tas de modules différents qu'on peut y brancher.",
      "hylotlDescription": "Ce panneau peut être utilisé pour agrandir l'intérieur de la station.",
      "novakidDescription": "Des ordinateurs sophistiqués pour rendre la station encore plus grande."
    }
  },
  "expansionslothorizontal": {
    "name": "Emplacement d'Extension Horizontal",
    "desc": "Un port sur lequel des modules d'extension de station peuvent être fixés.",
    "metadata": {
      "apexDescription": "Ce port est utilisé pour ajouter des modules supplémentaires à une station spatiale.",
      "avianDescription": "Ce terminal sert à gérer les modules d'extension de cette station.",
      "floranDescription": "Ordinateursss peuvent ajouter plus d'essspaces à la station.",
      "glitchDescription": "Observateur. Ce type de terminal permet de fixer divers modules intérieurs à la station.",
      "humanDescription": "Un port d'extension, il y a un tas de modules différents qu'on peut y brancher.",
      "hylotlDescription": "Ce panneau peut être utilisé pour agrandir l'intérieur de la station.",
      "novakidDescription": "Des ordinateurs sophistiqués pour rendre la station encore plus grande."
    }
  },
  "escaperadar": {
    "name": "Antenne Radar de Secours",
    "desc": "Une antenne radar. À ne pas confondre avec un plat à salade.",
    "metadata": {
      "apexDescription": "Une superbe antenne radar.",
      "avianDescription": "Belle antenne.",
      "floranDescription": "Floran aime fracassser les platsss!",
      "glitchDescription": "Curieux. Une antenne radar.",
      "humanDescription": "C'est un joli plat.",
      "hylotlDescription": "Une antenne radar plutôt imposante.",
      "novakidDescription": "J'ai déjà vu des plats plus grands."
    }
  },
  "eventlight": {
    "name": "Petit Projecteur",
    "desc": "Une lumière destinée à attirer l'attention sur une zone.",
    "metadata": {
      "apexDescription": "C'est un petit projecteur.",
      "avianDescription": "C'est un petit projecteur.",
      "floranDescription": "Projecteursss.",
      "glitchDescription": "Neutre. Un projecteur.",
      "humanDescription": "Un projecteur parfaitement ordinaire.",
      "hylotlDescription": "Un projecteur ordinaire.",
      "novakidDescription": "Un projecteur."
    }
  },
  "eggchair": {
    "name": "Fauteuil Œuf",
    "desc": "Cette chaise a une forme d'œuf. Je ne sais pas trop à qui on doit cette idée.",
    "metadata": {
      "apexDescription": "C'est le design poussé jusqu'à la folie.",
      "avianDescription": "Une chaise en forme d'œuf. Je me sens très à l'aise dedans.",
      "floranDescription": "Chaise œuf a l'air sssavoureussse.",
      "glitchDescription": "Inquiet. La conception de ce siège ne permet pas une posture correcte.",
      "humanDescription": "Ce n'est pas très pratique, mais c'est cool!",
      "hylotlDescription": "Le style prime sur la substance.",
      "novakidDescription": "Une grosse chaise qui ressemble à un œuf."
    }
  },
  "electricdoor": {
    "name": "Barrière Électrique",
    "desc": "C'est une sorte de barrière électrique. Ça a l'air dangereux...",
    "metadata": {
      "apexDescription": "Ce courant forme un bouclier pour empêcher les choses de passer.",
      "avianDescription": "Une porte faite d'électricité ? Remarquable.",
      "floranDescription": "Porte grésssille, Floran n'aime pas les portesss électriquesss .",
      "glitchDescription": "Indifférent. Le courant ici est complètement relié à la terre, il n'y a aucun danger.",
      "humanDescription": "C'est un portail fait d'électricité. Qui fabrique une porte pareille ?",
      "hylotlDescription": "Les Hylotls sont très prudents avec les courants électriques.",
      "novakidDescription": "Une grosse étincelle d'énergie électrique turbulente."
    }
  },
  "electriclight": {
    "name": "Lampe Électrique",
    "desc": "Une lampe électrique bon marché.",
    "metadata": {
      "apexDescription": "Une petite lampe électrique.",
      "avianDescription": "L'électricité domestiquée pour produire une simple lumière.",
      "floranDescription": "Petite lumière sssans flamme.",
      "glitchDescription": "Approbateur. Cette lampe basique peut être montée sur presque n'importe quelle surface.",
      "humanDescription": "Une lampe basique fixée au mur.",
      "hylotlDescription": "Juste une lampe d'aspect ordinaire.",
      "novakidDescription": "Juste une petite lampe électrique suspendue."
    }
  },
  "eggshootseed": {
    "name": "Graine d'Eggshoot",
    "desc": "L'Eggshoot, plein de bonnes choses coulantes.",
    "metadata": {
      "apexDescription": "L'eggshoot est connu pour déclencher des dilemmes existentiels chez les oiseaux.",
      "avianDescription": "L'eggshoot: pour quand les Avians veulent des omelettes.",
      "floranDescription": "Resssemble à un œuf, mais n'éclot passs.",
      "glitchDescription": "Curieux. Les Avians en mangent volontiers malgré leur apparence d'œuf.",
      "humanDescription": "Un œuf végétarien.",
      "hylotlDescription": "Un substitut acceptable pour ceux d'entre nous qui ne mangent pas d'œufs.",
      "novakidDescription": "L'eggshoot ressemble à un œuf, a le goût d'un œuf, mais n'est pas un œuf."
    }
  },
  "electricfluffaloegg": {
    "name": "Œuf de Fluffalo Électrique",
    "desc": "Éclot en un vulnérable veau fluffalo électrique - une bonne source de cellules statiques une fois adulte.",
    "metadata": {
      "apexDescription": "C'est un œuf de fluffalo électrique. Il donnera naissance à un fluffalo électrique docile.",
      "avianDescription": "C'est un œuf de fluffalo électrique. Les adultes produisent des cellules statiques.",
      "floranDescription": "Œuf de fluffalo électrique! Floran aime fluffalo électrique - leur duvet fait desss étincellesss.",
      "glitchDescription": "Intéressé. Je me demande si le petit fluffalo électrique va bientôt éclore ?",
      "humanDescription": "C'est un œuf de fluffalo électrique. Ce sont de vrais amours.",
      "hylotlDescription": "Un œuf de fluffalo électrique. Ce sont des créatures douces.",
      "novakidDescription": "Un œuf de fluffalo électrique! On peut récupérer des cellules statiques sur les adultes."
    }
  },
  "explosivebarrel": {
    "name": "Baril Explosif",
    "desc": "Un baril métallique explosif. Il a l'air dangereux.",
    "metadata": {
      "apexDescription": "Un baril explosif. Je devrais garder mes distances.",
      "avianDescription": "Conteneur explosif. Je n'arrive pas à entrer dedans.",
      "floranDescription": "L'étiquette ressemble au feu. Floran sss'éloigne.",
      "glitchDescription": "En alerte. L'étiquette de ce baril avertit d'une substance hautement explosive à l'intérieur.",
      "humanDescription": "L'étiquette explosive sur le devant implique que je ne devrais probablement pas essayer de l'ouvrir.",
      "hylotlDescription": "On dirait un conteneur en métal plein d'explosifs. Il est scellé pour une bonne raison.",
      "novakidDescription": "On dirait de la dynamite moderne, sous forme de baril."
    }
  },
  "erchiuscrystalsample": {
    "name": "Échantillon de Cristal d'Erchius",
    "desc": "\"Un échantillon parfait de carburant de Cristal d'Erchius - des quantités plus importantes sont utilisées pour alimenter les moteurs FTL des vaisseaux.\""
  },
  "eyebed": {
    "name": "Lit-Œil",
    "desc": "Un lit orné d'yeux. Idéal pour les cauchemars.",
    "metadata": {
      "apexDescription": "Ce lit me donne la chair de poule.",
      "avianDescription": "Un lit plutôt inquiétant.",
      "floranDescription": "Floran sss'endormira profondément ici.",
      "glitchDescription": "Curieux. Est-ce que ces yeux veillent sur vous, ou se contentent-ils de vous regarder ?",
      "humanDescription": "On dirait un truc qu'on trouverait dans une maison hantée.",
      "hylotlDescription": "Artisanat vulgaire. On n'est pas censé dormir sur des morts.",
      "novakidDescription": "Un lit qui voit tout. Pourquoi voudrait-on ça ?"
    }
  },
  "eyechair": {
    "name": "Chaise-Œil",
    "desc": "Une chaise-œil. À ne pas confondre avec une chaise haute.",
    "metadata": {
      "apexDescription": "J'ai l'impression que je devrais vérifier si cet œil ne cache pas des caméras du Miniknog.",
      "avianDescription": "Cette chaise semble presque... vivante.",
      "floranDescription": "Floran fixe la chaise, attend que la chaise cligne desss s yeux. Se fatigue. S s s'assoit.",
      "glitchDescription": "Observateur. Malgré les apparences, cette chaise ne peut pas réellement voir.",
      "humanDescription": "S'asseoir ici me donne l'impression que la chaise regarde dans mon cerveau. J'espère qu'elle ne me juge pas.",
      "hylotlDescription": "Une chaise bizarre mais confortable. Elle a un œil dessus.",
      "novakidDescription": "Impossible d'être tranquille sur cette chaise. On s'sent constamment observé..."
    }
  },
  "eyechest": {
    "name": "Coffre-Œil",
    "desc": "Un coffre scellé par un œil perçant. Ça vaut le coup d'œil.",
    "metadata": {
      "apexDescription": "Ce coffre vous met presque au défi de regarder à l'intérieur.",
      "avianDescription": "Peut-être que l'œil est censé être une sorte de moyen de dissuasion pour les voleurs. Ça marche presque sur moi.",
      "floranDescription": "Floran donne coup de pied dans l'œil du coffre, puis ouvre. Voler.",
      "glitchDescription": "Curieux. L'œil est en fait une serrure très sophistiquée. Heureusement, elle est cassée.",
      "humanDescription": "C'est comme si l'œil me regardait voler. Désolé, mon pote.",
      "hylotlDescription": "Une méthode rudimentaire pour décourager les voleurs. Il faudrait être très superstitieux pour ne pas regarder à l'intérieur.",
      "novakidDescription": "Si j'lui fourre un doigt dans l'œil, peut-être qu'il s'ouvrira."
    }
  },
  "eyedoor": {
    "name": "Porte-Œil",
    "desc": "Une porte couverte d'yeux. Ne clignez pas des paupières.",
    "metadata": {
      "apexDescription": "Le regard perçant de cette porte me met au défi d'entrer.",
      "avianDescription": "Cet œil émane de la malveillance. Quelles horreurs se cachent derrière ?",
      "floranDescription": "Floran pense que porte regarde Floran bizarrement. Floran sss'approprie le territoire.",
      "glitchDescription": "Contemplatif. Avec un seul œil, cette porte doit voir le monde comme un espace unidimensionnel.",
      "humanDescription": "Cette porte n'a pas l'air très accueillante. Je crois que c'était un genre de jeu de mots.",
      "hylotlDescription": "Une porte excessivement dramatique décorée d'un grand œil. Les Hylotls préfèrent la beauté dépouillée pour exprimer l'importance.",
      "novakidDescription": "C'te porte me garde à l'œil."
    }
  },
  "eyetable": {
    "name": "Table-Œil",
    "desc": "Une table-œil. Déconseillée aux personnes portant des jupes.",
    "metadata": {
      "apexDescription": "Je n'aime pas l'idée d'une table qui peut étudier mes pieds.",
      "avianDescription": "S'asseoir ici pour manger rendrait n'importe qui nerveux.",
      "floranDescription": "Floran sss'asssoit sssous la table et partage la viande avec l'œil.",
      "glitchDescription": "Observateur. Ce globe oculaire semblait permettre à la table de pivoter. Peut-être pour partager les plats ?",
      "humanDescription": "Cette table effrayante serait parfaite pour n'importe quelle fête d'Halloween.",
      "hylotlDescription": "Une table trop décorée. L'œil n'apporte rien. L'artisan s'est laissé emporter.",
      "novakidDescription": "Ces yeux sont plus gros que mon ventre."
    }
  },
  "embercoral1": {
    "name": "Corail de Braise",
    "desc": "Un arbuste de corail croustillant.",
    "metadata": {
      "apexDescription": "Un corail avec une lueur dorée.",
      "avianDescription": "Un morceau de corail brillant et charmant.",
      "floranDescription": "Croussstillant.",
      "glitchDescription": "Cupide. Un arbuste de corail doré.",
      "humanDescription": "Je me demande si ce corail est chaud pour briller comme ça.",
      "hylotlDescription": "L'une des nombreuses et magnifiques espèces de corail.",
      "novakidDescription": "Y'a d'l'or dans ces océans-là."
    }
  },
  "embercoral2": {
    "name": "Corail de Braise",
    "desc": "Un arbuste de corail croustillant.",
    "metadata": {
      "apexDescription": "Un corail avec une lueur dorée.",
      "avianDescription": "Un morceau de corail brillant et charmant.",
      "floranDescription": "Croussstillant.",
      "glitchDescription": "Cupide. Un arbuste de corail doré.",
      "humanDescription": "Je me demande si ce corail est chaud pour briller comme ça.",
      "hylotlDescription": "L'une des nombreuses et magnifiques espèces de corail.",
      "novakidDescription": "Y'a d'l'or dans ces océans-là."
    }
  },
  "embercoral3": {
    "name": "Corail de Braise",
    "desc": "Un arbuste de corail croustillant.",
    "metadata": {
      "apexDescription": "Un corail avec une lueur dorée.",
      "avianDescription": "Un morceau de corail brillant et charmant.",
      "floranDescription": "Croussstillant.",
      "glitchDescription": "Cupide. Un arbuste de corail doré.",
      "humanDescription": "Je me demande si ce corail est chaud pour briller comme ça.",
      "hylotlDescription": "L'une des nombreuses et magnifiques espèces de corail.",
      "novakidDescription": "Y'a d'l'or dans ces océans-là."
    }
  },
  "embercoral4": {
    "name": "Corail de Braise",
    "desc": "Un arbuste de corail croustillant.",
    "metadata": {
      "apexDescription": "Un corail avec une lueur dorée.",
      "avianDescription": "Un morceau de corail brillant et charmant.",
      "floranDescription": "Croussstillant.",
      "glitchDescription": "Cupide. Un arbuste de corail doré.",
      "humanDescription": "Je me demande si ce corail est chaud pour briller comme ça.",
      "hylotlDescription": "L'une des nombreuses et magnifiques espèces de corail.",
      "novakidDescription": "Y'a d'l'or dans ces océans-là."
    }
  },
  "embercoral5": {
    "name": "Corail de Braise",
    "desc": "Un arbuste de corail croustillant.",
    "metadata": {
      "apexDescription": "Un corail avec une lueur dorée.",
      "avianDescription": "Un morceau de corail brillant et charmant.",
      "floranDescription": "Croussstillant.",
      "glitchDescription": "Cupide. Un arbuste de corail doré.",
      "humanDescription": "Je me demande si ce corail est chaud pour briller comme ça.",
      "hylotlDescription": "L'une des nombreuses et magnifiques espèces de corail.",
      "novakidDescription": "Y'a d'l'or dans ces océans-là."
    }
  },
  "earthemblem": {
    "name": "Emblème de Terre Avian",
    "desc": "Cet emblème représente l'élément fort et résilient de la terre.",
    "metadata": {
      "apexDescription": "Un symbole Avian signifiant la terre.",
      "avianDescription": "L'emblème de la Terre, un symbole courant dans les tombes.",
      "floranDescription": "On dirait une pointe de lance, maisss cet emblème sssignifie la terre.",
      "glitchDescription": "Intrigué. Il s s emblait que ce sssoit l'emblème de la terre.",
      "humanDescription": "Quelques triangles. Ça veut dire la terre.",
      "hylotlDescription": "Une représentation symbolique, emblématique de l'élément terre.",
      "novakidDescription": "Je parie que c'est un emblème Avian pour la terre."
    }
  },
  "electricsign": {
    "name": "Panneau d'Avertissement Électrique",
    "desc": "Attention! Éclairs!",
    "metadata": {
      "apexDescription": "Je me demande quelle quantité d'énergie le Miniknog utilise pour ssses expériences. Souvent, des villes Apex entièresss s ont privées de courant.",
      "avianDescription": "Cela sss emble être un avertisss ement. Mauvais temps ?",
      "floranDescription": "L'éclair fait du feu. Floran a peur du feu.",
      "glitchDescription": "Prudent. Un courant fort peut endommager même lesss s circuits des Glitchs.",
      "humanDescription": "Haute tension! Mieux vaut faire attention.",
      "hylotlDescription": "Quand les Hylotls ont commencé à explorer les océans, il y a eu beaucoup d'accidents avec le courant électrique.",
      "novakidDescription": "Un panneau d'alerte pour l'électricité. J'ferais mieux d'ouvrir l'œil."
    }
  },
  "essencechest": {
    "name": "Coffre d'Essence Ancienne",
    "desc": "Un redoutable coffre ancien orné d'un œil sss ans paupière.",
    "metadata": {
      "apexDescription": "Ce coffre a l'air très vieux et effrayant.",
      "avianDescription": "Ce coffre a l'air très vieux et effrayant.",
      "floranDescription": "Coffre effrayant rend Floran nerveussse.",
      "glitchDescription": "Inquiet. L'œil qui orne ce coffre sss emble me juger.",
      "humanDescription": "Un vieux coffre glauque. Oserais-je l'ouvrir ?",
      "hylotlDescription": "On m'a appris à me méfier des coffres mysss térieux.",
      "novakidDescription": "J'aime pas trop la façon dont ce coffre me regarde."
    }
  },
  "erchiushorroraf": {
    "name": "Figurine d'Horreur d'Erchius",
    "desc": "L'étiquette indique: \"Une aberration parasitaire ayant grandi à l'intérieur de cristaux d'Erchius.\""
  }
}