{
  "keypad": {
    "name": "Clavier Numérique",
    "desc": "Un clavier de sécurité numérique qui nécessite une combinaison spécifique."
  },
  "kitchencabinet1": {
    "name": "Placard de Cuisine",
    "desc": "Un placard de cuisine robuste.",
    "metadata": {
      "apexDescription": "Ce placard de cuisine semble avoir été fabriqué à la main avec amour.",
      "avianDescription": "Ce meuble rustique est d'une sobriété pleine de goût.",
      "floranDescription": "Floran va remplir placard avec nourriture délisssieuse!",
      "glitchDescription": "Satisfait. Un système de rangement de cuisine bien conçu.",
      "humanDescription": "Un vieux placard de cuisine, exactement comme chez Grand-mère.",
      "hylotlDescription": "L'apparence simple de ce placard cache la qualité de sa fabrication.",
      "novakidDescription": "Un placard de cuisine bien pratique pour les gens de la campagne."
    }
  },
  "kitchencabinet2": {
    "name": "Grand Placard de Cuisine",
    "desc": "Un grand placard de cuisine robuste. Parfait pour ranger la vaisselle et la nourriture.",
    "metadata": {
      "apexDescription": "Ce placard de cuisine semble avoir été fabriqué à la main avec amour.",
      "avianDescription": "Ce meuble rustique est d'une sobriété pleine de goût.",
      "floranDescription": "Floran va remplir placard avec nourriture délisssieuse!",
      "glitchDescription": "Satisfait. Un système de rangement de cuisine bien conçu.",
      "humanDescription": "Un vieux placard de cuisine, exactement comme chez Grand-mère.",
      "hylotlDescription": "L'apparence simple de ce placard cache la qualité de sa fabrication.",
      "novakidDescription": "Un placard de cuisine bien pratique pour les gens de la campagne."
    }
  },
  "kitchenceilingcabinet1": {
    "name": "Placard de Cuisine Mural",
    "desc": "Un placard de cuisine fixé au mur.",
    "metadata": {
      "apexDescription": "Ce placard de cuisine semble avoir été fabriqué à la main avec amour.",
      "avianDescription": "Ce meuble rustique est d'une sobriété pleine de goût.",
      "floranDescription": "Floran va remplir placard avec nourriture délisssieuse!",
      "glitchDescription": "Satisfait. Un système de rangement de cuisine bien conçu.",
      "humanDescription": "Un vieux placard de cuisine, exactement comme chez Grand-mère.",
      "hylotlDescription": "L'apparence simple de ce placard cache la qualité de sa fabrication.",
      "novakidDescription": "Un placard de cuisine bien pratique pour les gens de la campagne."
    }
  },
  "kitchenceilingcabinet2": {
    "name": "Petit Placard Mural",
    "desc": "Un petit placard de cuisine fixé au mur.",
    "metadata": {
      "apexDescription": "Ce placard de cuisine semble avoir été fabriqué à la main avec amour.",
      "avianDescription": "Ce meuble rustique est d'une sobriété pleine de goût.",
      "floranDescription": "Floran va remplir placard avec nourriture délisssieuse!",
      "glitchDescription": "Satisfait. Un système de rangement de cuisine bien conçu.",
      "humanDescription": "Un vieux placard de cuisine, exactement comme chez Grand-mère.",
      "hylotlDescription": "L'apparence simple de ce placard cache la qualité de sa fabrication.",
      "novakidDescription": "Un placard de cuisine bien pratique pour les gens de la campagne."
    }
  },
  "kitchenshelf": {
    "name": "Étagère de Cuisine",
    "desc": "Une jolie étagère de cuisine qui garde les épices à portée de main.",
    "metadata": {
      "apexDescription": "Ces ingrédients ont l'air délicieux!",
      "avianDescription": "Cette étagère semble parfaite pour une cuisine ensoleillée.",
      "floranDescription": "Petite plante vaut mieux que pass de plante du tout!",
      "glitchDescription": "Curieux. Cette plante est-elle décorative ou est-ce un ingrédient?",
      "humanDescription": "J'espère que quelqu'un a pensé à arroser cette plante...",
      "hylotlDescription": "Cette petite étagère évite l'encombrement dans la zone de cuisson.",
      "novakidDescription": "Ça me donne envie de cuisiner un truc sympa!"
    }
  },
  "kitchenstovetop": {
    "name": "Plaque de Cuisson",
    "desc": "Un meuble de cuisine robuste équipé d'une plaque de cuisson.",
    "metadata": {
      "interactData.paneLayoutOverride.windowtitle.title": " Plaque de Cuisson",
      "interactData.paneLayoutOverride.windowtitle.subtitle": " Une cuisine familiale et réconfortante",
      "apexDescription": "Cette surface de cuisson n'est pas tout à fait réglementaire, mais je l'aime bien.",
      "avianDescription": "Une plaque de cuisson humble mais bien faite.",
      "floranDescription": "Cuisssinière pour une petite maissson.",
      "glitchDescription": "Ravi. Un espace de cuisson bien ordonné pour une cuisine rustique.",
      "humanDescription": "Une charmante petite plaque de cuisson pour une maison douillette.",
      "hylotlDescription": "Cette bouilloire siffle une note réconfortante qui m'invite à rentrer.",
      "novakidDescription": "Une chouette petite cuisinière pour un foyer chaleureux."
    }
  },
  "kitchentable": {
    "name": "Table de Cuisine",
    "desc": "Une table de cuisine rustique.",
    "metadata": {
      "apexDescription": "Pas de chichis, juste une table de cuisine bien faite.",
      "avianDescription": "Celui qui a fabriqué cette table voulait qu'elle dure.",
      "floranDescription": "Belle table sssolide pour poser de lourdesss viandesss.",
      "glitchDescription": "Observateur. Une table de cuisine solide qui aurait sa place dans n'importe quel village.",
      "humanDescription": "Ouais, je pourrais manger là-dessus.",
      "hylotlDescription": "Les planches épaisses de cette table allient joliment forme et fonction.",
      "novakidDescription": "Elle n'a rien d'extraordinaire, mais je prends cette table n'importe quand."
    }
  },
  "kitchentools": {
    "name": "Ustensiles de Cuisine",
    "desc": "Des outils pour créer de la gourmandise pure et sans artifice.",
    "metadata": {
      "apexDescription": "Des ustensiles de cuisine. Je me demande quels plats ont été préparés avec.",
      "avianDescription": "Un ensemble d'outils qui semblent faits pour préparer à manger.",
      "floranDescription": "Couteau tranchant pour couper viandesss.",
      "glitchDescription": "Appréciatif. Ces outils servent à préparer la nourriture.",
      "humanDescription": "Je me demande à quelle vitesse je pourrais hacher des légumes avec ça?",
      "hylotlDescription": "Les Hylotls utilisent un katana pour couper leur nourriture. Je plaisante.",
      "novakidDescription": "Des ustensiles pour la cuisine."
    }
  },
  "kennel": {
    "name": "Niche",
    "desc": "Une adorable niche pour un adorable animal de compagnie.",
    "metadata": {
      "apexDescription": "Pour un Apex, c'est une maison de luxe.",
      "avianDescription": "Une sorte de petite maison pour une créature.",
      "floranDescription": "Floran se cache dans maison jusqu'à ce que créature revienne, puis Floran poignarde!",
      "glitchDescription": "Heureux. Cette niche pourrait abriter un adorable chien robot.",
      "humanDescription": "Une niche. Maintenant, il ne me manque plus que le chien.",
      "hylotlDescription": "Cette maison rudimentaire sent le chien mouillé.",
      "novakidDescription": "Une niche pour bestiole! Un peu de guingois, mais on ne va pas se plaindre."
    }
  },
  "kiwiseed": {
    "name": "Graine de Kiwi",
    "desc": "Cette variété particulière de kiwi de l'espace pousse près du sol.",
    "metadata": {
      "apexDescription": "Le duvet du kiwi de l'espace ressemble à celui d'un Apex.",
      "avianDescription": "Un fruit duveteux bizarre, rempli de graines délicieuses.",
      "floranDescription": "Fruit-créature poilu et mou.",
      "glitchDescription": "Amusé. Il est remarquable de voir à quel point certains aliments ressemblent à ceux qui les mangent.",
      "humanDescription": "C'est un kiwi de terre, un 'terriwi'.",
      "hylotlDescription": "Encore un fruit trop sucré. La surface est désagréable au toucher.",
      "novakidDescription": "Ça a exactement le même goût que les kiwis normaux!"
    }
  },
  "kluexmap1": {
    "name": "Carte au Trésor de Kluex",
    "desc": "Une vieille carte déchirée qui prétend mener à des trésors divins.",
    "metadata": {
      "apexDescription": "Cette vieille carte tissée prétend mener au trésor de Kluex.",
      "avianDescription": "Cette carte indique l'emplacement du trésor de Kluex. Je me demande qui l'a fabriquée?",
      "floranDescription": "Floran s'ennuie devant vieille image avec desss motsss.",
      "glitchDescription": "Excité. Cette vieille carte parle de trésors anciens. Je me demande si c'est vrai?",
      "humanDescription": "Cette carte stellaire prétend mener à des trésors anciens. Je me demande si c'est vrai?",
      "hylotlDescription": "Cette tapisserie déchirée semble faire partie d'une ancienne carte stellaire. Quelle curiosité.",
      "novakidDescription": "Je me demande si c'te vieille carte mène à un trésor enfoui."
    }
  },
  "kluexmural1": {
    "name": "Fresque du Monde de Kluex",
    "desc": "Une fresque ancienne représentant le dieu Kluex.",
    "metadata": {
      "apexDescription": "Cette fresque semble décrire de grands trésors du peuple Avian.",
      "avianDescription": "Cette fresque de Kluex décrit l'emplacement de grands trésors de mon peuple...",
      "floranDescription": "Truc en pierre a l'air important.",
      "glitchDescription": "Intrigué. Cette fresque semble décrire un temple rempli de trésors anciens.",
      "humanDescription": "Cette fresque en pierre décrit un ancien temple Avian rempli de trésors. Tiens donc.",
      "hylotlDescription": "Cette curieuse fresque raconte l'histoire d'un ancien temple Avian regorgeant de richesses.",
      "novakidDescription": "Ce vieux truc semble décrire une sorte de temple."
    }
  },
  "kluexmural2": {
    "name": "Fresque des Dons de Kluex",
    "desc": "Une fresque ancienne illustrant les cadeaux offerts par Kluex à ses fidèles.",
    "metadata": {
      "apexDescription": "Cette fresque en pierre détaille les présents du dieu Avian à ses fidèles dévoués.",
      "avianDescription": "Cette fresque montre Kluex laissant des cadeaux pour ses plus précieux fidèles mortels.",
      "floranDescription": "Floran pourrait battre oiseau de pierre et gagner.",
      "glitchDescription": "Curieux. Cette fresque semble représenter la divinité Kluex laissant des trésors pour ses disciples.",
      "humanDescription": "Cette fresque montre le dieu des Avians laissant des cadeaux pour ses fidèles. C'est gentil de sa part!",
      "hylotlDescription": "Est-ce que les Avians croient vraiment en une puissance supérieure qui leur laisse des cadeaux?",
      "novakidDescription": "Cette image montre quelqu'un offrant des cadeaux, ou un truc dans le genre."
    }
  },
  "kluexstatue1": {
    "name": "Statue Ailée de Kluex",
    "desc": "Une statue honorant l'histoire du dieu Avian Kluex.",
    "metadata": {
      "apexDescription": "Cette statue comporte des inscriptions sur l'histoire de Kluex.",
      "avianDescription": "La base de cette statue contient un récit écrit sur Kluex et nous, les Avians.",
      "floranDescription": "Sstatue a de l'écriture et des trucs.",
      "glitchDescription": "Inspiré. La base de la statue détaille la grande histoire de cette divinité ailée Avian.",
      "humanDescription": "La base de cette statue semble détailler l'histoire du dieu Avian Kluex.",
      "hylotlDescription": "L'écriture sur la base de cette statue décrit l'histoire du dieu Avian Kluex.",
      "novakidDescription": "C'te vieille statue contient un paquet d'infos utiles."
    }
  },
  "kluexstatue2": {
    "name": "Statue Serpentine de Kluex",
    "desc": "Une statue illustrant la puissance de la divinité Kluex.",
    "metadata": {
      "apexDescription": "La base de cette statue détaille une partie de la mythologie entourant le dieu Avian Kluex.",
      "avianDescription": "Cette statue décrit la puissance de Kluex, sculpté ici sous une forme de serpent.",
      "floranDescription": "Statue ressemble à gros truc que Floran veut combattre!",
      "glitchDescription": "Intimidé. Cette statue représente le dieu Kluex sous une forme de serpent puissant, ainsi que des récits à son sujet.",
      "humanDescription": "Cette vieille statue contient à la fois l'histoire de Kluex et une représentation de lui. Il a l'air long, comme un serpent!",
      "hylotlDescription": "Les écrits ici décrivent la volonté inflexible de Kluex. Son corps est représenté long et fluide, comme une rivière.",
      "novakidDescription": "Je voudrais pas avoir à me colleter avec ce vieux serpent... ou c'est un oiseau?"
    }
  },
  "kluexavataraf": {
    "name": "Figurine de l'Avatar de Kluex",
    "desc": "L'étiquette indique: \"Un puissant gardien ailé construit à l'image du dieu Avian Kluex.\""
  },
  "kluexsentryaf": {
    "name": "Figurine de la Sentinelle de Kluex",
    "desc": "L'étiquette indique: \"Un gardien de temple en pierre, animé par une technologie ancienne.\""
  }
}