{
  "landmine": {
    "name": "Mine Terrestre Militaire",
    "desc": "Regardez où vous mettez les pieds, ça a l'air explosif!",
    "metadata": {
      "apexDescription": "Une mine terrestre, elle pourrait encore être active.",
      "avianDescription": "Oh oh! Je n'ai pas envie de marcher là-dessus.",
      "floranDescription": "Faisss attention où tu marchesss!",
      "glitchDescription": "Prudent. Une mine terrestre active, je ferais mieux de faire attention.",
      "humanDescription": "Je ne veux pas prendre de risque, ce truc pourrait encore exploser.",
      "hylotlDescription": "Des mines terrestres, plus petites que les mines marines mais tout aussi mortelles.",
      "novakidDescription": "Ce truc pourrait encore sauter!"
    }
  },
  "lightsensor": {
    "name": "Capteur de Lumière",
    "desc": "Active le nœud inférieur en cas de faible luminosité et le nœud supérieur en cas de forte luminosité.",
    "metadata": {
      "floranDescription": "Active le nœud inférieur en cas de faible luminossité et le nœud ssupérieur en cas de forte luminossité.",
      "glitchDescription": "Pensif. Active le nœud inférieur en cas de faible luminosité et le nœud supérieur en cas de forte luminosité."
    }
  },
  "liquidsensor": {
    "name": "Capteur de Liquide",
    "desc": "N'utilisez pas votre doigt! Ce capteur fiable indique la présence de liquides.",
    "metadata": {
      "floranDescription": "N'utilisss pas ton doigt! Ce capteur fiable indique la préssence de liquidess.",
      "glitchDescription": "Impressionné. Ce capteur fiable indique la présence de liquides."
    }
  },
  "lamppost1": {
    "name": "Lampadaire Basique",
    "desc": "Une lampe, adaptée pour l'extérieur.",
    "metadata": {
      "apexDescription": "Un lampadaire en métal.",
      "avianDescription": "Un guide utile dans l'obscurité.",
      "floranDescription": "Grand et brillant lampadaire.",
      "glitchDescription": "Satisfait. Un grand lampadaire fait de métal robuste.",
      "humanDescription": "Un simple lampadaire. C'est assez explicite.",
      "hylotlDescription": "Comme une étoile brillante brillant dans le ciel.",
      "novakidDescription": "Un réverbère électrique."
    }
  },
  "lamppost2": {
    "name": "Triple Lampadaire",
    "desc": "Un lampadaire, avec trois fois plus de lumières.",
    "metadata": {
      "apexDescription": "Un magnifique lampadaire.",
      "avianDescription": "Idéal pour les ruelles particulièrement sombres.",
      "floranDescription": "Brille comme troiss lunesss dans le ciel.",
      "glitchDescription": "Appréciatif. Je suis reconnaissant pour cet éclairage supplémentaire.",
      "humanDescription": "Est-ce que trois lampes sont vraiment nécessaires?",
      "hylotlDescription": "Trois lampes, rappelant les trois têtes de l'hydre mythique.",
      "novakidDescription": "Le trois, mon chiffre chanceux."
    }
  },
  "lamppost3": {
    "name": "Double Lampadaire",
    "desc": "Un lampadaire avec deux lampes. Astucieux!",
    "metadata": {
      "apexDescription": "Un grand lampadaire doté de deux lumières.",
      "avianDescription": "Deux lumières, comme des yeux qui m'observent d'en haut.",
      "floranDescription": "Lumièresss brillantes au sommet d'un grand lampadaire.",
      "glitchDescription": "Observateur. Quel grand et brillant lampadaire.",
      "humanDescription": "Deux lumières qui me fixent depuis un lampadaire.",
      "hylotlDescription": "Une source lumineuse généreuse pour éclairer le chemin qui m'attend.",
      "novakidDescription": "Ce lampadaire a deux lumières."
    }
  },
  "liftoffseat": {
    "name": "Siège de Décollage",
    "desc": "Un siège horizontal comme le fauteuil d'un capitaine sur une navette spatiale terrestre.",
    "metadata": {
      "apexDescription": "C'est assez fascinant de simuler l'expérience des premiers voyages spatiaux humains.",
      "avianDescription": "Je comprends que cette position ait été la plus confortable pendant le décollage.",
      "floranDescription": "Ce sserait amusant d'être allongé en filant à toute vites sse dans l'essspace.",
      "glitchDescription": "Fasciné. Quelle idée ingénieuse de s'allonger pendant le transit.",
      "humanDescription": "Un superbe design. Il tient toujours la route.",
      "hylotlDescription": "L'idée de piloter un vaisseau spatial dans cette position est risible pour un Hylotl.",
      "novakidDescription": "Ce siège donne un nouveau sens à l'expression 'dormir au travail'."
    }
  },
  "lunarlander": {
    "name": "Module d'Atterrissage Lunaire",
    "desc": "Un témoignage légendaire des débuts du voyage spatial.",
    "metadata": {
      "apexDescription": "Je pense que c'est une réplique, les modules comme celui-ci ne sont plus utilisés depuis longtemps.",
      "avianDescription": "Un rappel que chaque voyage commence par un petit pas...",
      "floranDescription": "Ce module n'est passs plus grand qu'une cabane.",
      "glitchDescription": "Émerveillé. Des êtres se sont jadis confiés à ces capsules primitives dans l'espace.",
      "humanDescription": "On n'en fait plus des comme ça.",
      "hylotlDescription": "Contempler ceci rappelle le chemin parcouru dans l'exploration spatiale.",
      "novakidDescription": "J'ai vu des cabinets de jardin plus spacieux que ce vieux module."
    }
  },
  "laboratorylight": {
    "name": "Lampe de Laboratoire",
    "desc": "Une élégante applique murale rouge.",
    "metadata": {
      "apexDescription": "Cette lampe conçue par le Miniknog est faite pour fonctionner même à faible puissance.",
      "avianDescription": "Cette lampe est d'une luminosité dérangeante.",
      "floranDescription": "La lumière donne envie à Floran de sse battre.",
      "glitchDescription": "Impressionné. C'est une lampe très économe en énergie.",
      "humanDescription": "Cette lampe émet une lueur rouge et chaude. C'est un peu désagréable.",
      "hylotlDescription": "Cette lumière consomme très peu d'énergie. Il est inhabituel que le Miniknog se soucie de l'environnement.",
      "novakidDescription": "Brille en rouge comme un ssoleil mourant."
    }
  },
  "laboratoryverticaldoor": {
    "name": "Écoutille de Laboratoire",
    "desc": "Une porte verticale élégante, parfaite pour les labos secrets.",
    "metadata": {
      "apexDescription": "Cette écoutille ressemble à une conception du Miniknog. Ça me donne des frissons.",
      "avianDescription": "Une écoutille finement construite.",
      "floranDescription": "Floran n'aime pass les portess brillantes.",
      "glitchDescription": "Critique. Cette écoutille est faite d'un métal blanc et lisse.",
      "humanDescription": "Une porte qui se divise en trois parties à l'ouverture. Classe.",
      "hylotlDescription": "Une porte plutôt élégante qui se sépare en trois pour s'ouvrir.",
      "novakidDescription": "Une écoutille. Utile dans un labo de ssscience, j'imagine!"
    }
  },
  "lunarbasebunk": {
    "name": "Couchette de Base Lunaire",
    "desc": "Ces lits douillets peuvent être empilés les uns sur les autres.",
    "metadata": {
      "apexDescription": "Un lit superposé basique.",
      "avianDescription": "Ce lit superposé a l'air assez rudimentaire.",
      "floranDescription": "Floran aimerait dormir dans lit ssuperpossé.",
      "glitchDescription": "Sentimental. Un lit superposé, semblable à ceux de l'académie du Protectorat.",
      "humanDescription": "Un lit superposé. Pas très spacieux, mais étonnamment confortable.",
      "hylotlDescription": "J'ai de bons souvenirs de mes nuits dans un lit comme celui-ci à l'académie du Protectorat.",
      "novakidDescription": "Un lit superposé ordinaire."
    }
  },
  "lunarbasechair": {
    "name": "Chaise de Base Lunaire",
    "desc": "Une chaise étonnamment confortable.",
    "metadata": {
      "apexDescription": "Une jolie chaise.",
      "avianDescription": "Une chaise relaxante.",
      "floranDescription": "Chaissse sssouple.",
      "glitchDescription": "Satisfait. Une chaise confortable.",
      "humanDescription": "Une chaise agréable et douillette.",
      "hylotlDescription": "Une chaise passable.",
      "novakidDescription": "C'est un bon coin pour se relaxer."
    }
  },
  "lunarbaseconsole": {
    "name": "Console de Base Lunaire",
    "desc": "Une console de commande élégante.",
    "metadata": {
      "apexDescription": "C'est une console de commande avec un grand écran tactile.",
      "avianDescription": "Un panneau de commande avec des boutons sur lesquels je peux appuyer, si je le souhaite.",
      "floranDescription": "Consssole de contrôle a desss boutonsss.",
      "glitchDescription": "Mfiant. Quelque chose pourrait arriver si j'interagis avec ce panneau de commande.",
      "humanDescription": "C'est une console de commande. Qui la contrôle?",
      "hylotlDescription": "Cet appareil électronique est utilisé pour contrôler des choses à distance.",
      "novakidDescription": "Une console de contrôle. Qu'est-ce qui s'passerait si j'appuyais sur les boutons?"
    }
  },
  "lunarbasecrate": {
    "name": "Caisse de Base Lunaire",
    "desc": "Une caisse de stockage, généralement utilisée pour ranger l'équipement et les minerais.",
    "metadata": {
      "apexDescription": "Une belle caisse de stockage faite d'un matériau robuste.",
      "avianDescription": "Cette caisse est utilisée pour stocker différents types d'équipement.",
      "floranDescription": "Caisssse brillante peut sstocker beaucoup de choosess.",
      "glitchDescription": "Envieux. Cette caisse est bien entretenue et polie.",
      "humanDescription": "Cette caisse semble pouvoir survivre à n'importe quelle condition spatiale.",
      "hylotlDescription": "Une grande caisse utilisée pour organiser les objets et les garder en sécurité.",
      "novakidDescription": "Une belle grosse caisse. Je me demande c'qu'il y a dedans."
    }
  },
  "lunarbasedoor": {
    "name": "Porte Blindée de Base Lunaire",
    "desc": "Cette porte est hermétique et faite de matériaux incroyablement résistants.",
    "metadata": {
      "apexDescription": "Cette porte est solide et hermétique.",
      "avianDescription": "Une porte qui s'ouvre selon un angle curieux.",
      "floranDescription": "Cette porte a l'air lourde. Floran ne veut pass finir écrasssé.",
      "glitchDescription": "Intrigué. Cette entrée semble être penchée.",
      "humanDescription": "Elle a l'air fiable pour garder les choses dehors. Ou dedans.",
      "hylotlDescription": "Cette entrée est inclinée. Peut-être pour nous rappeler de voir les choses sous différents angles.",
      "novakidDescription": "C'est comme une porte normale. Mais en diagonale."
    }
  },
  "lunarbaselantern": {
    "name": "Lanterne de Base Lunaire",
    "desc": "Ces lanternes électriques génèrent une lumière agréablement chaude.",
    "metadata": {
      "apexDescription": "Une lanterne petite mais efficace.",
      "avianDescription": "Une lanterne électrique au design simple.",
      "floranDescription": "Appareil brillant pour éclairer le chemin de Floran.",
      "glitchDescription": "Appréciatif. Ces lumières sont splendides.",
      "humanDescription": "Une source de lumière vive. Je ne devrais probablement pas la regarder fixement.",
      "hylotlDescription": "Un chatoiement encourageant qui me rappelle les jours radieux.",
      "novakidDescription": "C'est une lanterne électrique, donc elle ne tombera pas à court de jus."
    }
  },
  "lunarbaselaser": {
    "name": "Laser de Minage",
    "desc": "Un laser conçu pour creuser la roche lunaire.",
    "metadata": {
      "apexDescription": "Je me demande si je peux activer ce canon laser.",
      "avianDescription": "Cela semble être une sorte de gros canon laser.",
      "floranDescription": "Géant laser essst utile!",
      "glitchDescription": "Satisfait. Ce grand canon laser peut être activé via cette interface.",
      "humanDescription": "Je me demande si je peux utiliser ce canon laser géant...",
      "hylotlDescription": "Ceci semble être un canon laser.",
      "novakidDescription": "Un canon laser géant. Je me demande si je pourrais l'allumer..."
    }
  },
  "lunarbaselocker": {
    "name": "Casiers de Base Lunaire",
    "desc": "Un ensemble de casiers, parfaits pour ranger des affaires.",
    "metadata": {
      "apexDescription": "Des casiers empilés. Un excellent moyen de gagner de la place.",
      "avianDescription": "Un endroit où l'on peut ranger ses affaires.",
      "floranDescription": "Lesss casiers sservent à garder desss choosess.",
      "glitchDescription": "Observateur. Un ensemble métallique de six casiers.",
      "humanDescription": "Des casiers pour organiser vos objets.",
      "hylotlDescription": "Cela me rappelle mes années d'étudiant.",
      "novakidDescription": "Six casiers non verrouillés."
    }
  },
  "librarybookcaseG2damage": {
    "name": "Grande Bibliothèque Endommagée",
    "desc": "Une grande bibliothèque qui a été endommagée.",
    "metadata": {
      "apexDescription": "Cette bibliothèque a pris un sacré coup.",
      "avianDescription": "Je me demande comment cette bibliothèque a pu être aussi abîmée.",
      "floranDescription": "Bibliothèque déjà fracassssée?",
      "glitchDescription": "Curieux. Comment cette bibliothèque a-t-elle subi de tels dommages?",
      "humanDescription": "Cette bibliothèque est une épave.",
      "hylotlDescription": "Une bibliothèque endommagée est un spectacle tragique.",
      "novakidDescription": "Qu'est-ce qui s'est passé, par les étoiles?"
    }
  },
  "librarybookcaseHUGEdamage": {
    "name": "Énorme Bibliothèque Endommagée",
    "desc": "Une bibliothèque gigantesque qui a été endommagée.",
    "metadata": {
      "apexDescription": "Qui irait piller une bibliothèque aussi énorme?",
      "avianDescription": "Cette bibliothèque a connu des jours meilleurs.",
      "floranDescription": "Moins de livresss, plus facile d'essscalader les étagèresss.",
      "glitchDescription": "Confusion. Une bibliothèque ne devrait pas ressembler à ça.",
      "humanDescription": "Quel gâchis.",
      "hylotlDescription": "Cette bibliothèque s'est-elle détériorée avec le temps ou a-t-elle été détruite?",
      "novakidDescription": "Quelqu'un a mis un sacré bazar là-dedans."
    }
  },
  "librarybookcaseL2damage": {
    "name": "Grande Bibliothèque Endommagée",
    "desc": "Une grande bibliothèque antique qui a été endommagée.",
    "metadata": {
      "apexDescription": "La plupart des livres ont disparu et la bibliothèque est abîmée.",
      "avianDescription": "Cette bibliothèque n'a pas été entretenue avec amour.",
      "floranDescription": "Vieille bibliothèque tout en desssordre.",
      "glitchDescription": "Inquiet. Une bibliothèque ébouriffée.",
      "humanDescription": "Qu'est-ce qui s'est passé ici?",
      "hylotlDescription": "Cette bibliothèque n'a pas été maintenue à un niveau approprié.",
      "novakidDescription": "Quelqu'un m'a épargné le travail."
    }
  },
  "librarybookcaseN2damage": {
    "name": "Bibliothèque Endommagée",
    "desc": "Une bibliothèque ornée où il manque des livres.",
    "metadata": {
      "apexDescription": "La plupart des livres sont maintenant manquants.",
      "avianDescription": "Beaucoup de livres ont disparu de cette bibliothèque.",
      "floranDescription": "Encore des étagèresss videsss.",
      "glitchDescription": "Inquiet. Beaucoup de livres manquent à l'appel.",
      "humanDescription": "Pas mal de livres manquent dans cette bibliothèque.",
      "hylotlDescription": "Une bibliothèque est-elle toujours une bibliothèque si les livres manquent?",
      "novakidDescription": "Quelqu'un a pillé tous les bons bouquins."
    }
  },
  "librarybookcase": {
    "name": "Petite Bibliothèque Endommagée",
    "desc": "Une petite bibliothèque qui a été endommagée.",
    "metadata": {
      "apexDescription": "Cette bibliothèque a pris un sacré coup.",
      "avianDescription": "Je me demande comment cette bibliothèque a pu être aussi abîmée.",
      "floranDescription": "Bibliothèque déjà fracassssée?",
      "glitchDescription": "Curieux. Comment cette bibliothèque a-t-elle subi de tels dommages?",
      "humanDescription": "Cette bibliothèque est une épave.",
      "hylotlDescription": "Une bibliothèque endommagée est un spectacle tragique.",
      "novakidDescription": "Qu'est-ce qui s'est passé, par les étoiles?"
    }
  },
  "letheiasign": {
    "name": "Enseigne Letheia Corp",
    "desc": "Une enseigne halogène pour la corporation Letheia.",
    "metadata": {
      "apexDescription": "Une enseigne lumineuse au look très corporate.",
      "avianDescription": "C'est une enseigne très anguleuse.",
      "floranDescription": "L'enssseigne est très inclinée.",
      "glitchDescription": "Curieux. Cela semble être l'enseigne d'une sorte de marque ou d'entreprise.",
      "humanDescription": "Une enseigne pour la Letheia Corporation, un conglomérat qui a beaucoup d'argent à dépenser.",
      "hylotlDescription": "Une enseigne pour la Letheia Corporation, une entreprise bien connue dirigée par des Hylotls.",
      "novakidDescription": "C'est un peu clinquant pour une enseigne, non?"
    }
  },
  "librarybookcaseG2": {
    "name": "Grande Bibliothèque Ornée",
    "desc": "Une grande bibliothèque antique.",
    "metadata": {
      "apexDescription": "Il doit y avoir de quoi lire pendant un bon mois ici.",
      "avianDescription": "Quelqu'un doit passer tout son temps à lire.",
      "floranDescription": "Quel gâchisss de bon bois d'arme.",
      "glitchDescription": "Impressionné. Il faudrait des années à un Glitch pour assimiler une telle quantité de données.",
      "humanDescription": "Ce n'est pas la plus grande bibliothèque que j'aie jamais vue.",
      "hylotlDescription": "Ces étagères gémissent sous le poids du savoir.",
      "novakidDescription": "Ouah! Ça en fait des bouquins."
    }
  },
  "librarybookcaseHUGE": {
    "name": "Énorme Bibliothèque Ornée",
    "desc": "Une bibliothèque gigantesque remplie de livres.",
    "metadata": {
      "apexDescription": "Le propriétaire d'origine devait absolument tout documenter.",
      "avianDescription": "De quoi tous ces livres peuvent-ils bien parler?",
      "floranDescription": "Étagèresss pratiquesss pour grimper.",
      "glitchDescription": "Stupéfait. Il y a précisément 25 068 livres dans cette bibliothèque.",
      "humanDescription": "Je ne reconnais pas un seul de ces titres.",
      "hylotlDescription": "Quelles merveilles on pourrait trouver parmi ces tomes.",
      "novakidDescription": "Des livres à foison!"
    }
  },
  "librarybookcaseL2": {
    "name": "Grande Bibliothèque Ornée",
    "desc": "Une grande bibliothèque antique.",
    "metadata": {
      "apexDescription": "Je serais fier de posséder une bibliothèque de cette taille.",
      "avianDescription": "Une bonne bibliothèque regorge d'histoires.",
      "floranDescription": "Jussste une autre bibliothèque.",
      "glitchDescription": "Contemplatif. Les bibliothèques me rappellent de bons souvenirs, comme la lecture de contes sur les rois et les châteaux Glitchs.",
      "humanDescription": "Ce ne sont que des livres de poésie?",
      "hylotlDescription": "Ce n'est pas la taille, c'est le contenu d'une bibliothèque qui compte vraiment.",
      "novakidDescription": "Qui a le temps de lire tout ça?"
    }
  },
  "librarybookcaseN2": {
    "name": "Bibliothèque Ornée",
    "desc": "Une bibliothèque assez grande remplie de livres.",
    "metadata": {
      "apexDescription": "Une bibliothèque standard, bien qu'ornée.",
      "avianDescription": "Une vieille bibliothèque pleine de livres.",
      "floranDescription": "Des livresss.",
      "glitchDescription": "Satisfait. Il existe de nombreuses bibliothèques comme celle-ci.",
      "humanDescription": "Une bibliothèque robuste.",
      "hylotlDescription": "Un assortiment de poèmes et de proses tapisse les étagères.",
      "novakidDescription": "Une bibliothèque bourrée de livres."
    }
  },
  "librarybookcaseN2empty": {
    "name": "Bibliothèque Dégarnie",
    "desc": "Une bibliothèque assez grande, seulement partiellement remplie de livres.",
    "metadata": {
      "apexDescription": "Une bibliothèque ornée standard. Beaucoup de livres semblent manquer.",
      "avianDescription": "Une vieille bibliothèque.",
      "floranDescription": "Des livresss.",
      "glitchDescription": "Contrarié. Il y a beaucoup de bibliothèques comme celle-ci où il manque des livres.",
      "humanDescription": "Une bibliothèque robuste.",
      "hylotlDescription": "Un large assortiment de poèmes et de proses devrait normalement garnir ces étagères.",
      "novakidDescription": "Une bibliothèque qui manque un peu de lecture."
    }
  },
  "librarybookcaseS1": {
    "name": "Petite Bibliothèque Ornée",
    "desc": "Une bibliothèque aux sculptures ornementales.",
    "metadata": {
      "apexDescription": "Un certain nombre de livres. Je les lirai, euh, plus tard.",
      "avianDescription": "Il y a beaucoup de livres ici.",
      "floranDescription": "Les hommesss-poissons aiment lire.",
      "glitchDescription": "Mélancolique. J'aimerais avoir le temps de lire plus de livres.",
      "humanDescription": "Je me suis endormi rien qu'en lisant les titres.",
      "hylotlDescription": "Un rayonnage riche de connaissances.",
      "novakidDescription": "Juste un tas de livres."
    }
  },
  "librarybookcaseS1empty": {
    "name": "Petite Bibliothèque Dégarnie",
    "desc": "Une bibliothèque aux sculptures ornementales. Elle n'est que partiellement remplie.",
    "metadata": {
      "apexDescription": "C'est une vieille bibliothèque assez élégante.",
      "avianDescription": "Une bibliothèque ornée.",
      "floranDescription": "Floran a déjà fracassssé la bibliothèque.",
      "glitchDescription": "Jaloux. Cette bibliothèque est très sophistiquée.",
      "humanDescription": "Une bibliothèque chic pour des livres chic.",
      "hylotlDescription": "Une bibliothèque traditionnelle, elle est bien sûr ornée de sculptures.",
      "novakidDescription": "Une bibliothèque bourrée de livres."
    }
  },
  "lavalamp1": {
    "name": "Lampe à Lave",
    "desc": "C'est envoûtant. Je ne peux pas détacher mon regard.",
    "metadata": {
      "apexDescription": "Une lampe hypnotisante.",
      "avianDescription": "Cette lampe exige qu'on la regarde fixement.",
      "floranDescription": "Essst-ce que cette lampe est vivante? Elle a des trucs qui bougent à l'intérieur!",
      "glitchDescription": "Calme. Ce liquide bouge de façon fascinante.",
      "humanDescription": "Ça me rappelle un mauvais rêve que j'ai fait une fois.",
      "hylotlDescription": "La façon dont le liquide va et vient me rend nostalgique.",
      "novakidDescription": "Cette lampe a l'air d'être dans le même état que moi. Bizarre."
    }
  },
  "lollipop1": {
    "name": "Sucette Géante",
    "desc": "Une sucette géante en spirale! Sucré!",
    "metadata": {
      "apexDescription": "Une sucette exceptionnellement savoureuse.",
      "avianDescription": "Une énorme sucette. Miam.",
      "floranDescription": "Floran mange grosse sssucrerie!",
      "glitchDescription": "Ravi. Une sucette géante.",
      "humanDescription": "C'est l'heure de la montée de sucre!",
      "hylotlDescription": "Une sucette exceptionnellement sucrée. Pour une fois, je vais me laisser tenter.",
      "novakidDescription": "J'ai jamais vu une sucette aussi grande!"
    }
  },
  "lollipop2": {
    "name": "Sucette Géante",
    "desc": "Une grosse sucette! Sucré!",
    "metadata": {
      "apexDescription": "Une sucette exceptionnellement savoureuse.",
      "avianDescription": "Une énorme sucette. Miam.",
      "floranDescription": "Floran lèche grosse sssucrerie!",
      "glitchDescription": "Ravi. Une sucette géante.",
      "humanDescription": "C'est l'heure de la montée de sucre!",
      "hylotlDescription": "Une sucette exceptionnellement sucrée. Pour une fois, je vais me laisser tenter.",
      "novakidDescription": "J'ai jamais vu une sucette aussi grande!"
    }
  },
  "largebell": {
    "name": "Grosse Cloche",
    "desc": "Cette cloche doit faire un sacré boucan.",
    "metadata": {
      "apexDescription": "Une grosse cloche. Elle doit sonner très fort.",
      "avianDescription": "Une cloche immense. Je me demande quel son elle produit.",
      "floranDescription": "Gros ssson pour gros sssonne!",
      "glitchDescription": "Effrayé. Cette cloche signale un danger.",
      "humanDescription": "Une cloche géante. La tentation de la faire sonner est forte.",
      "hylotlDescription": "Le son des cloches est quelque chose que la plupart des Hylotls n'ont jamais entendu.",
      "novakidDescription": "Je parie qu'on peut entendre cette cloche de super loin."
    }
  },
  "largecastledoor": {
    "name": "Grande Porte Médiévale",
    "desc": "Une porte immense et intimidante.",
    "metadata": {
      "apexDescription": "Une porte énorme. Il faudrait un bélier pour l'abattre.",
      "avianDescription": "C'est peut-être la plus grande porte que j'aie jamais vue.",
      "floranDescription": "La porte fait sssentir Floran tout petit.",
      "glitchDescription": "Rassuré. Cette porte peut être verrouillée de l'intérieur par une énorme poutre en bois.",
      "humanDescription": "Une énorme porte fortifiée. Il faudrait plus qu'un bélier pour l'ouvrir.",
      "hylotlDescription": "De telles portes sont construites pour ceux qui craignent les intrus.",
      "novakidDescription": "Celui qui a bâti cette porte ne veut clairement pass de visite."
    }
  },
  "largewoodencrate": {
    "name": "Grande Caisse en Bois",
    "desc": "Une caisse en bois.",
    "metadata": {
      "apexDescription": "Une caisse en bois.",
      "avianDescription": "Une boîte de rangement en bois.",
      "floranDescription": "Belle boîte en bois.",
      "glitchDescription": "Neutre. Une caisse en bois.",
      "humanDescription": "C'est juste une caisse.",
      "hylotlDescription": "Une caisse faite de bois.",
      "novakidDescription": "Une caisse énorme."
    }
  },
  "largecooler1": {
    "name": "Grande Glacière",
    "desc": "Parfaite pour conserver une grande quantité de nourriture au frais.",
    "metadata": {
      "apexDescription": "Une glacière. J'espère qu'elle contient du milkshake à la banane.",
      "avianDescription": "Une glacière. Idéalement remplie de boissons et d'en-cas.",
      "floranDescription": "Floran peut sssentir la viande à l'intérieur.",
      "glitchDescription": "Ravi. Cette glacière fonctionne à une température optimale.",
      "humanDescription": "Je vibre d'excitation à l'idée de ce qu'elle pourrait contenir.",
      "hylotlDescription": "Sous l'eau, la réfrigération est plus facile. Ces appareils sont un substitut ingénieux.",
      "novakidDescription": "Une bête vieille glacière."
    }
  },
  "lightbulb": {
    "name": "Ampoule Vacillante",
    "desc": "Une ampoule nue suspendue à une tige métallique au plafond.",
    "metadata": {
      "apexDescription": "Une ampoule.",
      "avianDescription": "De la lumière!",
      "floranDescription": "Brillant!",
      "glitchDescription": "Compatissant. J'aimerais offrir un abat-jour à cette ampoule.",
      "humanDescription": "Un luminaire déprimant.",
      "hylotlDescription": "Une lumière sans décoration.",
      "novakidDescription": "Une ampoule solitaire."
    }
  },
  "lightbulb2": {
    "name": "Ampoule",
    "desc": "Une ampoule nue suspendue à une tige métallique au plafond.",
    "metadata": {
      "apexDescription": "Une ampoule.",
      "avianDescription": "De la lumière!",
      "floranDescription": "Brillant!",
      "glitchDescription": "Compatissant. J'aimerais offrir un abat-jour à cette ampoule.",
      "humanDescription": "Un luminaire déprimant.",
      "hylotlDescription": "Une lumière sans décoration.",
      "novakidDescription": "Une ampoule solitaire."
    }
  },
  "locker1": {
    "name": "Casier Haut",
    "desc": "Un casier avec une haute porte métallique.",
    "metadata": {
      "apexDescription": "Un casier de rangement.",
      "avianDescription": "Une boîte en métal, probablement conçue pour le rangement.",
      "floranDescription": "Rangement.",
      "glitchDescription": "Neutre. Un petit espace de rangement mural.",
      "humanDescription": "Il n'y a pas de serrure sur ce casier...",
      "hylotlDescription": "Un rangement utile.",
      "novakidDescription": "Ce casier ne ferme pas vraiment à clé."
    }
  },
  "locker2": {
    "name": "Casier Large",
    "desc": "Un casier avec une large porte métallique.",
    "metadata": {
      "apexDescription": "Un casier de rangement.",
      "avianDescription": "Une boîte en métal, probablement conçue pour le rangement.",
      "floranDescription": "Rangement.",
      "glitchDescription": "Neutre. Un petit espace de rangement mural.",
      "humanDescription": "Il n'y a pas de serrure sur ce casier...",
      "hylotlDescription": "Un rangement utile.",
      "novakidDescription": "Ce casier ne ferme pas vraiment à clé."
    }
  },
  "loudspeaker": {
    "name": "Haut-parleurs",
    "desc": "Un ensemble de haut-parleurs à travers lesquels les gens parlent fort.",
    "metadata": {
      "apexDescription": "Un haut-parleur. Les Apex ont l'habitude d'en voir chez eux.",
      "avianDescription": "Un grésillement provient de cet appareil.",
      "floranDescription": "Une sssorte de machine à ssson?",
      "glitchDescription": "Test. Cet appareil est capable de recevoir des signaux sur plusieurs fréquences.",
      "humanDescription": "Un ensemble de haut-parleurs. Ils sont probablement très puissants.",
      "hylotlDescription": "Un dispositif pour projeter le son.",
      "novakidDescription": "Ce haut-parleur n'arrête pass de grésiller."
    }
  },
  "librarycodex": {
    "name": "Codex de la Bibliothèque Antique",
    "desc": "Un tome ancien qui répertorie tous les livres Hylotls de la galaxie.",
    "metadata": {
      "apexDescription": "Ce vieux tome contient une liste de tous les livres Hylotls de la galaxie. Ça doit être important pour certains.",
      "avianDescription": "Ce vieux livre poussiéreux contient des informations sur chaque livre Hylotl de la galaxie. Impressionnant!",
      "floranDescription": "Floran n'a pass le temps pour les vieux livresss pousssiéreux.",
      "glitchDescription": "Fasciné. Ce livre contient des informations sur tous les livres de la galaxie. Ces données doivent être précieuses pour certains.",
      "humanDescription": "Ce livre répertorie chaque livre Hylotl de la galaxie. Garder une trace de tout ça doit être un vrai casse-tête.",
      "hylotlDescription": "Nous, les Hylotls, sommes des organisateurs nés - ce tome répertorie chaque livre de la galaxie. Quel dévouement!",
      "novakidDescription": "Ce vieux tome poussiéreux sert à suivre les livres. J'imagine que c'est utile pour certains."
    }
  },
  "librarymodel": {
    "name": "Maquette de Bibliothèque Hylotl",
    "desc": "Une maquette complexe en papier faite main d'une bibliothèque Hylotl. Il y a de petites étagères en papier à l'intérieur!",
    "metadata": {
      "apexDescription": "Cette maquette en papier détaillée doit représenter un bâtiment très important.",
      "avianDescription": "Quelle maquette délicieusement détaillée! Ça a dû prendre un temps fou à fabriquer.",
      "floranDescription": "Floran s'inquiète du nombre d'arbresss utilisés pour faire cette maquette.",
      "glitchDescription": "Impressionné. Cette maquette de bibliothèque Hylotl contient même de minuscules étagères.",
      "humanDescription": "Cette délicate maquette de bibliothèque a même des petites étagères. J'ai presque peur de la toucher de peur qu'elle ne casse.",
      "hylotlDescription": "Quelqu'un a pris grand soin de réaliser cette maquette. Ce bâtiment doit être assez important.",
      "novakidDescription": "C'est une bien belle maquette. Je préférerais ne pass y toucher."
    }
  },
  "lavahopper": {
    "name": "Saute-Lave",
    "desc": "Cette minuscule créature bondit sur les lacs de lave brûlante."
  },
  "litorgans": {
    "name": "Organes Lumineux",
    "desc": "Des organes de la Ruine."
  },
  "lasertripwire": {
    "name": "Piège à Laser",
    "desc": "Traverser ce faisceau laser pourrait déclencher quelque chose!",
    "metadata": {
      "apexDescription": "Un fil de détente laser. Utile pour les pièges.",
      "avianDescription": "Ce piège laser pourrait être utile.",
      "floranDescription": "Piège lassser.",
      "glitchDescription": "Impressionné. Un fil de détente avec un laser.",
      "humanDescription": "Traverser ce faisceau laser pourrait déclencher quelque chose!",
      "hylotlDescription": "Un piège laser, utile pour tromper les intrus.",
      "novakidDescription": "Ça me rappelle tous ces braquages de banques..."
    }
  },
  "ladlelarge": {
    "name": "Grande Poche de Coulée",
    "desc": "Un récipient plein de liquide en fusion bouillonnant.",
    "metadata": {
      "apexDescription": "Ce récipient est plein de liquide chaud et bouillonnant.",
      "avianDescription": "Ce grand récipient contient du liquide en fusion incandescent.",
      "floranDescription": "Récipient contient liquide brûlant.",
      "glitchDescription": "Alarmé. Ce liquide en fusion pourrait causer des dégâts s'il n'est pas correctement confiné.",
      "humanDescription": "Je ne saurais dire s'il s'agit de métal en fusion ou de lave. Quoi qu'il en soit, ça a l'air très chaud.",
      "hylotlDescription": "Ce conteneur mécanique parvient d'une manière ou d'une autre à contenir la chaleur du liquide à l'intérieur.",
      "novakidDescription": "Un grand bassin de truc en fusion bouillonnant."
    }
  },
  "ladlesmall": {
    "name": "Petite Poche de Coulée",
    "desc": "Un grand récipient plein de liquide en fusion bouillonnant.",
    "metadata": {
      "apexDescription": "Le liquide en fusion dans ce récipient brille faiblement.",
      "avianDescription": "Ce récipient contient des liquides en fusion surchauffés.",
      "floranDescription": "Liquide brûlant fait desss bullesss et brille.",
      "glitchDescription": "Intéressé. Ce récipient maintient-il d'une manière ou d'une autre le niveau de température du liquide à l'intérieur?",
      "humanDescription": "La chaleur qui se dégage du liquide à l'intérieur est extrême.",
      "hylotlDescription": "Ce récipient contient le liquide en fusion à l'intérieur.",
      "novakidDescription": "Le liquide là-dedans dégage une sacrée chaleur."
    }
  },
  "lavatankcascade": {
    "name": "Réservoir de Lave en Cascade",
    "desc": "Ce réservoir fait circuler le liquide en fusion à l'intérieur pour l'empêcher de s'immobiliser.",
    "metadata": {
      "apexDescription": "Ce réservoir transforme l'énergie du liquide en fusion à l'intérieur.",
      "avianDescription": "Du liquide brûlant s'écoule en cascade de ce réservoir.",
      "floranDescription": "Vilaine cassecade de lave brûlante.",
      "glitchDescription": "Impressionné. L'ingénierie nécessaire pour entretenir une machine de cette taille est complexe.",
      "humanDescription": "Ce jet de lave est plus grand que moi.",
      "hylotlDescription": "Cette lave est presque apaisante, mieux vaut s'assurer qu'aucune goutte ne m'éclabousse.",
      "novakidDescription": "Un gros réservoir qui déverse un sacré paquet de lave."
    }
  },
  "lavatanklarge": {
    "name": "Grand Réservoir de Lave",
    "desc": "Un réservoir scellé rempli de liquide en fusion.",
    "metadata": {
      "apexDescription": "Des nuages de fumée s'échappent de ce réservoir de lave.",
      "avianDescription": "Ce réservoir contient de la lave en fusion.",
      "floranDescription": "Réservoir garde la lave enfermée.",
      "glitchDescription": "Accablé. Les dimensions de ce réservoir sont impressionnantes.",
      "humanDescription": "Ce réservoir géant contient du liquide en fusion.",
      "hylotlDescription": "Les vapeurs de ce réservoir sont presque toxiques.",
      "novakidDescription": "Un gros réservoir crachant des nuages de fumée."
    }
  },
  "lavatanksmall": {
    "name": "Petit Réservoir de Lave",
    "desc": "Un petit réservoir rempli de liquide en fusion.",
    "metadata": {
      "apexDescription": "Ce réservoir émet des nuages de fumée.",
      "avianDescription": "Ce réservoir est plein de liquide chaud.",
      "floranDescription": "Réservoir contient lave brûlante.",
      "glitchDescription": "Ravi. Ce réservoir irradie la chaleur du liquide contenu à l'intérieur.",
      "humanDescription": "Ce réservoir est conçu pour exploiter la puissance de la lave qu'il contient.",
      "hylotlDescription": "Des nuages toxiques s'échappent de ce réservoir.",
      "novakidDescription": "Ce petit réservoir recrache des nuages de fumée."
    }
  },
  "lamp": {
    "name": "Lampe Dorée",
    "desc": "Une odeur doucereuse et écœurante imprègne l'intérieur.",
    "metadata": {
      "apexDescription": "L'odeur de cette lampe est vieille et doucereuse.",
      "avianDescription": "Autrefois utilisée pour parfumer un temple avec une odeur de fruit. Maintenant, ça sent juste le fruit pourri.",
      "floranDescription": "L'odeur essst répulsssive.",
      "glitchDescription": "Dégoûté. La puanteur de vieux fruits pourris à l'intérieur est encore très présente.",
      "humanDescription": "Une lampe! On dirait qu'elle contient des fruits pourris.",
      "hylotlDescription": "L'odeur de cette lampe offense tous mes sens.",
      "novakidDescription": "Une superbe lampe dorée. Dommage qu'elle pue."
    }
  },
  "largefloorspike": {
    "name": "Grande Pointe de Sol",
    "desc": "C'est une pointe."
  },
  "largetentacleprop": {
    "name": "Énorme Statue de Tentacule",
    "desc": "Un énorme tentacule de pierre.",
    "metadata": {
      "apexDescription": "C'est un grand... tentacule? Il est en grande partie enterré.",
      "avianDescription": "Il y a un tentacule qui dépasse ici.",
      "floranDescription": "Qu'essst-ce que c'est que ça?",
      "glitchDescription": "Surpris. Un grand tentacule de pierre émerge du sol.",
      "humanDescription": "Un tentacule géant! Est-ce qu'il est relié à quelque chose?",
      "hylotlDescription": "Un tentacule de pierre géant apparaît!",
      "novakidDescription": "Un bon gros tentacule."
    }
  },
  "lightstreaks": {
    "name": "Rayons de Lumière",
    "desc": "De brillants rayons de lumière.",
    "metadata": {
      "apexDescription": "La lumière se déverse d'en haut.",
      "avianDescription": "Une lueur céleste.",
      "floranDescription": "Floran aime la lumière du ssoleil!",
      "glitchDescription": "Observateur. La lumière illumine les ruines juste assez pour y voir.",
      "humanDescription": "Des faisceaux de lumière pour l'ambiance!",
      "hylotlDescription": "La lumière perce l'obscurité comme des rayons de soleil sur l'océan.",
      "novakidDescription": "Ces rayons de lumière sont apaisants."
    }
  },
  "lilodonaf": {
    "name": "Figurine de Lilodon",
    "desc": "L'étiquette indique: \"Ses ancêtres vivaient autrefois dans la mer. Il a l'air petit, mais il a un sacré coup de mâchoire.\""
  },
  "lumothaf": {
    "name": "Figurine de Lumoth",
    "desc": "L'étiquette indique: \"L'ampoule ne reste allumée que lorsque le Lumoth bat des ailes.\""
  }
}