{
  "quillandink": {
    "name": "Plume et Encre",
    "desc": "Une plume et de l'encre.",
    "metadata": {
      "apexDescription": "Une plume et de l'encre pour l'écriture à l'ancienne.",
      "avianDescription": "Est-ce là une plume d'Avian ?",
      "floranDescription": "Bâtonsss font de meilleursss plumeSSS.",
      "glitchDescription": "Ravissement. Un outil d'écriture digne d'un roi Glitch.",
      "humanDescription": "Je choisirais un stylo à bille plutôt qu'une plume n'importe quand.",
      "hylotlDescription": "Les Hylotls s'exercent à l'art de la calligraphie dès leur plus tendre enfance.",
      "novakidDescription": "Une plume d'quéqu'sorte."
    }
  },
  "quagmuttaf": {
    "name": "Figurine de Quagmutt",
    "desc": "L'étiquette indique : « Son mode de vie peu hygiénique laisse beaucoup à désirer. »"
  }
}