{
  "venusmodel": {
    "name": "Modèle de Vénus",
    "desc": "Un modèle détaillé de la planète Vénus du système Sol.",
    "metadata": {
      "apexDescription": "La planète Vénus, couverte de nuages de dioxyde de soufre et de loin la planète la plus chaude du système Sol.",
      "avianDescription": "Vénus. Nommée d'après une ancienne déesse de l'amour et de la beauté sur Terre.",
      "floranDescription": "La planète Vénusss du sssystème Sssol. C'essst la deuxième desss huit.",
      "glitchDescription": "Fasciné. La planète Vénus possède des gaz à effet de serre naturels qui rendent les températures de surface très élevées.",
      "humanDescription": "Vénus est la deuxième planète du système Sol. On parlait de la terraformer avant que la Terre ne soit détruite.",
      "hylotlDescription": "Vénus, voisine de la Terre, presque aussi grande mais sans vie à cause de ses conditions extrêmes.",
      "novakidDescription": "Vénus. On pouvait la voir depuis la Terre alors qu'elle voyageait parmi les étoiles. Ça va me manquer..."
    }
  },
  "vendingmachine": {
    "name": "Distributeur Automatique",
    "desc": "Oh, qu'est-ce que je devrais prendre?",
    "metadata": {
      "apexDescription": "Un distributeur. Pas d'en-cas au goût de banane, malheureusement.",
      "avianDescription": "Parfait pour tromper la faim.",
      "floranDescription": "Machine intelligente donne desss friandissses à Floran.",
      "glitchDescription": "Indécis. Je n'arrive pas à décider quoi acheter.",
      "humanDescription": "Génial, c'est le genre de distributeur où on gagne à tous les coups!",
      "hylotlDescription": "Un distributeur de boissons sucrées. Ça devra faire l'affaire.",
      "novakidDescription": "Un distributeur pour les boissons du genre sucré.",
      "interactData.paneLayoutOverride.windowtitle.title": " Distributeur",
      "interactData.paneLayoutOverride.windowtitle.subtitle": " En-cas Savoureux"
    }
  },
  "villagedoor": {
    "name": "Porte de Village",
    "desc": "Une porte en bois de fabrication médiocre.",
    "metadata": {
      "apexDescription": "Une humble porte en bois.",
      "avianDescription": "Une porte simple avec une poignée en fer.",
      "floranDescription": "Sssimple porte en arbre.",
      "glitchDescription": "Explication. Une porte simple comme on s'attendrait à en voir cent fois dans n'importe quel village.",
      "humanDescription": "Une porte en bois basique.",
      "hylotlDescription": "Une humble porte de village.",
      "novakidDescription": "Juste une porte en bois d'apparence simple."
    }
  },
  "vent": {
    "name": "Bouche d'Aération",
    "desc": "Cette bouche d'aération claque au passage des sifflements de l'air.",
    "metadata": {
      "apexDescription": "Une bouche d'aération.",
      "avianDescription": "Une grille d'aération.",
      "floranDescription": "Aération.",
      "glitchDescription": "Identifier. Bouche d'aération.",
      "humanDescription": "Une petite bouche d'aération.",
      "hylotlDescription": "Ventilation.",
      "novakidDescription": "Une aération."
    }
  },
  "volcanopod": {
    "name": "Cosse de Distribution",
    "desc": "Une cosse de distribution de matériaux.",
    "metadata": {
      "apexDescription": "Cette cosse distribue des matériaux pour l'artisanat.",
      "avianDescription": "Des matériaux d'artisanat gratuits. Sympa.",
      "floranDescription": "Machine crache desss objetsss d'artissanat sur Floran.",
      "glitchDescription": "Émerveillement. Une machine qui donne des matériaux gratuitement!",
      "humanDescription": "C'est comme une machine à gashapon, mais utile!",
      "hylotlDescription": "Une cosse qui fournit des matériaux de base."
    }
  },
  "vineclimber": {
    "name": "Grimpe-vigne",
    "desc": "Ses pattes ressemblent à des vignes entrelacées."
  },
  "volcanicchest": {
    "name": "Coffre Volcanique",
    "desc": "Ce coffre robuste est fait de matériaux volcaniques. De la chaleur s'en dégage.",
    "metadata": {
      "apexDescription": "Semble fonctionnel, bien qu'un peu peu pratique.",
      "avianDescription": "Je ne pensais pas qu'un stockage chauffé serait aussi utile.",
      "floranDescription": "Essst-ce que toucher le coffre brûlera Floran?",
      "glitchDescription": "Méfiant. Ce coffre est robuste mais peut être brûlant.",
      "humanDescription": "Ce coffre est fabriqué à partir de matériaux volcaniques.",
      "hylotlDescription": "Tout ce qui est placé dans ce coffre doit pouvoir résister à la chaleur.",
      "novakidDescription": "Ce coffre est si chaud qu'il pourrait passer pour un four."
    }
  },
  "volcanictrap": {
    "name": "Geyser Volcanique Naturel",
    "desc": "Du gaz volcanique s'échappe de cette ouverture. Dire que c'est chaud est un euphémisme.",
    "metadata": {
      "apexDescription": "Une satanée petite éruption volcanique.",
      "avianDescription": "De la lave s'échappe par cette petite fente!",
      "floranDescription": "La lave n'essst passs l'amie de Floran.",
      "glitchDescription": "Détressé. Ce n'est pas ce que je voulais voir aujourd'hui.",
      "humanDescription": "Je ne veux pas savoir ce que c'est.",
      "hylotlDescription": "Pas quelque chose dont je veux m'approcher.",
      "novakidDescription": "De la lave brûlante!"
    }
  },
  "vibrantplant": {
    "name": "Plante Éclatante",
    "desc": "Une plante en pot particulièrement colorée.",
    "metadata": {
      "apexDescription": "Je pense que cette plante manque de subtilité.",
      "avianDescription": "Je ne sais pas si toutes ces couleurs vont bien ensemble...",
      "floranDescription": "Floran aime lesss plantesss coloréesss.",
      "glitchDescription": "Surpris. Quelqu'un a-t-il fait pousser cette plante pour qu'elle soit si éclatante?",
      "humanDescription": "Cette plante est très... colorée. On dirait presque une fausse.",
      "hylotlDescription": "J'ai l'impression qu'il s'agit d'une plante cultivée artificiellement.",
      "novakidDescription": "Cette plante porte les couleurs de bien des saisons passées."
    }
  },
  "vrheadset": {
    "name": "Casque VR",
    "desc": "Un casque de réalité virtuelle.",
    "metadata": {
      "apexDescription": "Avec le bon programme installé, je pourrais explorer tous les endroits dont je rêve.",
      "avianDescription": "En utilisant ce casque, j'ai l'impression de voler!",
      "floranDescription": "Floran peut chas s s er en VR ausssi!",
      "glitchDescription": "Impressionné. Porter un casque de réalité virtuelle, c'est comme modifier sa propre programmation sans réellement le faire.",
      "humanDescription": "Je pourrais aller n'importe où avec ça, même dans l'espace!",
      "hylotlDescription": "Un appareil fascinant, capable d'émuler l'expérience d'être sous l'eau sans se mouiller.",
      "novakidDescription": "Avec ce gadget astucieux, je pourrais voir l'univers entier sans même quitter la maison!"
    }
  },
  "violiumsample": {
    "name": "Échantillon de Violium",
    "desc": "\"Un échantillon parfait de minerai de violium.\""
  },
  "venusdepixel": {
    "name": "Vénus de Pixel",
    "desc": "Sculpture antique en marbre grec, la Vénus de Pixel. Sculpteur inconnu.",
    "metadata": {
      "apexDescription": "Une statue humaine inhabituelle.",
      "avianDescription": "Une humaine de pierre. Ses bras manquent à l'appel.",
      "floranDescription": "Floran aime l'homme-viande en pierre. Homme-pierre?",
      "glitchDescription": "Émerveillé. Cela semble avoir été sculpté dans un seul bloc de marbre.",
      "humanDescription": "Ah, un vestige du passé.",
      "hylotlDescription": "Une sculpture de roche rudimentaire. Elle semble être humanoïde.",
      "novakidDescription": "Eh ben, où sont passés ses bras?"
    }
  },
  "vaseclassiclarge1": {
    "name": "Grand Vase à Rayures",
    "desc": "Un grand vase décoratif. Il a l'air très facile à casser.",
    "metadata": {
      "apexDescription": "Je crois entendre quelque chose à l'intérieur.",
      "avianDescription": "Les Avians cachent souvent des bibelots dans des pots. Peut-être que les autres font de même.",
      "floranDescription": "Brise-le et arrache sssess entraillesss!",
      "glitchDescription": "Destructeur. Je crois qu'il y a peut-être quelque chose à l'intérieur.",
      "humanDescription": "J'ai toujours voulu en fracasser un comme ça.",
      "hylotlDescription": "C'est dommage de détruire une pièce aussi précieuse.",
      "novakidDescription": "Un pot reste un pot pour moi, qu'il soit vieux ou neuf."
    }
  },
  "vaseclassiclarge2": {
    "name": "Grand Vase Luxueux",
    "desc": "Un grand vase décoratif. Il a l'air très facile à casser.",
    "metadata": {
      "apexDescription": "Je crois entendre quelque chose à l'intérieur.",
      "avianDescription": "Les Avians cachent souvent des bibelots dans des pots. Peut-être que les autres font de même.",
      "floranDescription": "Brise-le et arrache sssess entraillesss!",
      "glitchDescription": "Destructeur. Je crois qu'il y a peut-être quelque chose à l'intérieur.",
      "humanDescription": "J'ai toujours voulu en fracasser un comme ça.",
      "hylotlDescription": "C'est dommage de détruire une pièce aussi précieuse.",
      "novakidDescription": "Un pot reste un pot pour moi, qu'il soit vieux ou neuf."
    }
  },
  "vaseclassicmedium1": {
    "name": "Vase Luxueux",
    "desc": "Un vase décoratif. Il a l'air très facile à casser.",
    "metadata": {
      "apexDescription": "Je crois entendre quelque chose à l'intérieur.",
      "avianDescription": "Les Avians cachent souvent des bibelots dans des pots. Peut-être que les autres font de même.",
      "floranDescription": "Brise-le et arrache sssess entraillesss!",
      "glitchDescription": "Destructeur. Je crois qu'il y a peut-être quelque chose à l'intérieur.",
      "humanDescription": "J'ai toujours voulu en fracasser un comme ça.",
      "hylotlDescription": "C'est dommage de détruire une pièce aussi précieuse.",
      "novakidDescription": "Un pot reste un pot pour moi, qu'il soit vieux ou neuf."
    }
  },
  "vaseclassicmedium2": {
    "name": "Vase Classique",
    "desc": "Un vase décoratif. Il a l'air très facile à casser.",
    "metadata": {
      "apexDescription": "Je crois entendre quelque chose à l'intérieur.",
      "avianDescription": "Les Avians cachent souvent des bibelots dans des pots. Peut-être que les autres font de même.",
      "floranDescription": "Brise-le et arrache sssess entraillesss!",
      "glitchDescription": "Destructeur. Je crois qu'il y a peut-être quelque chose à l'intérieur.",
      "humanDescription": "J'ai toujours voulu en fracasser un comme ça.",
      "hylotlDescription": "C'est dommage de détruire une pièce aussi précieuse.",
      "novakidDescription": "Un pot reste un pot pour moi, qu'il soit vieux ou neuf."
    }
  },
  "vaseclassicsmall1": {
    "name": "Petit Vase Luxueux",
    "desc": "Un vase décoratif. Il a l'air très facile à casser.",
    "metadata": {
      "apexDescription": "Je crois entendre quelque chose à l'intérieur.",
      "avianDescription": "Les Avians cachent souvent des bibelots dans des pots. Peut-être que les autres font de même.",
      "floranDescription": "Brise-le et arrache sssess entraillesss!",
      "glitchDescription": "Destructeur. Je crois qu'il y a peut-être quelque chose à l'intérieur.",
      "humanDescription": "J'ai toujours voulu en fracasser un comme ça.",
      "hylotlDescription": "C'est dommage de détruire une pièce aussi précieuse.",
      "novakidDescription": "Un pot reste un pot pour moi, qu'il soit vieux ou neuf."
    }
  },
  "vaseclassicsmall2": {
    "name": "Petit Vase à Rayures",
    "desc": "Un vase décoratif. Il a l'air très facile à casser.",
    "metadata": {
      "apexDescription": "Je crois entendre quelque chose à l'intérieur.",
      "avianDescription": "Les Avians cachent souvent des bibelots dans des pots. Peut-être que les autres font de même.",
      "floranDescription": "Brise-le et arrache sssess entraillesss!",
      "glitchDescription": "Destructeur. Je crois qu'il y a peut-être quelque chose à l'intérieur.",
      "humanDescription": "J'ai toujours voulu en fracasser un comme ça.",
      "hylotlDescription": "C'est dommage de détruire une pièce aussi précieuse.",
      "novakidDescription": "Un pot reste un pot pour moi, qu'il soit vieux ou neuf."
    }
  },
  "voltipaf": {
    "name": "Figurine de Voltip",
    "desc": "L'étiquette indique: \"Le résultat d'une expérience scientifique qui a mal tourné.\""
  }
}