{
  "zenrock1": {
    "name": "Rocher Zen",
    "desc": "Une pierre parfaite pour les jardins zen extraterrestres.",
    "metadata": {
      "apexDescription": "Simplement un rocher.",
      "avianDescription": "Un rocher à l'aspect élégant.",
      "floranDescription": "Pierre sss.",
      "glitchDescription": "Observateur. C'est une pierre à l'aspect propre.",
      "humanDescription": "Un monticule de pierre plutôt sympa.",
      "hylotlDescription": "Une pierre paisible. La regarder m'apaise.",
      "novakidDescription": "C'est un rocher, aucun doute là-dessus."
    }
  },
  "zenrock2": {
    "name": "Rocher Zen",
    "desc": "Une structure de pierre parfaite pour les jardins zen extraterrestres.",
    "metadata": {
      "apexDescription": "Simplement un rocher.",
      "avianDescription": "Un rocher à l'aspect élégant.",
      "floranDescription": "Pierre sss.",
      "glitchDescription": "Observateur. C'est une pierre à l'aspect propre.",
      "humanDescription": "Un monticule de pierre plutôt sympa.",
      "hylotlDescription": "Une pierre paisible. La regarder m'apaise.",
      "novakidDescription": "C'est un rocher, aucun doute là-dessus."
    }
  },
  "zenrock3": {
    "name": "Rocher Zen",
    "desc": "Une structure de pierre parfaite pour les jardins zen extraterrestres.",
    "metadata": {
      "apexDescription": "Simplement un rocher.",
      "avianDescription": "Un rocher à l'aspect élégant.",
      "floranDescription": "Pierre sss.",
      "glitchDescription": "Observateur. C'est une pierre à l'aspect propre.",
      "humanDescription": "Un monticule de pierre plutôt sympa.",
      "hylotlDescription": "Une pierre paisible. La regarder m'apaise.",
      "novakidDescription": "C'est un rocher, aucun doute là-dessus."
    }
  },
  "zenrock4": {
    "name": "Rocher Zen",
    "desc": "Une pierre parfaite pour les jardins zen extraterrestres.",
    "metadata": {
      "apexDescription": "Simplement un rocher.",
      "avianDescription": "Un rocher à l'aspect élégant.",
      "floranDescription": "Pierre sss.",
      "glitchDescription": "Observateur. C'est une pierre à l'aspect propre.",
      "humanDescription": "Un monticule de pierre plutôt sympa.",
      "hylotlDescription": "Une pierre paisible. La regarder m'apaise.",
      "novakidDescription": "C'est un rocher, aucun doute là-dessus."
    }
  },
  "zenrock5": {
    "name": "Rocher Zen",
    "desc": "Une pierre parfaite pour les jardins zen extraterrestres.",
    "metadata": {
      "apexDescription": "Simplement un rocher.",
      "avianDescription": "Un rocher à l'aspect élégant.",
      "floranDescription": "Pierre sss.",
      "glitchDescription": "Observateur. C'est une pierre à l'aspect propre.",
      "humanDescription": "Un monticule de pierre plutôt sympa.",
      "hylotlDescription": "Une pierre paisible. La regarder m'apaise.",
      "novakidDescription": "C'est un rocher, aucun doute là-dessus."
    }
  }
}