{
  "2kbpotage": {
    "name": "Wattage Potage",
    "desc": "Le plus élémentaire de la cuisine glitch."
  },
  "16gbpasty": {
    "name": "Rusty Pasty",
    "desc": "Une tourte assez grande pour contenir tous vos légumes préférés au goût métallique."
  },
  "8gbpizzap": {
    "name": "Part de pizza",
    "desc": "C'est un bon produit, si l'on arrive à passer outre son arrière-goût métallique!"
  }
}