{
  "bandage": {
    "name": "Bandage",
    "desc": "Un pansement pour soigner les blessures légères. Restaure 50 points de vie en 1 seconde."
  },
  "bluestim": {
    "name": "Pack Blue Stim",
    "desc": "Un stimpack rempli de liquide bleu qui booste tes sauts!"
  },
  "bottledhealingwater": {
    "name": "Eau minérale en bouteille",
    "desc": "Le pouvoir régénérant de cette eau est incroyable."
  },
  "bottledwater": {
    "name": "Eau en bouteille",
    "desc": "Une eau fraîche et pure. Apaisante et revitalisante."
  },
  "burnspray": {
    "name": "Spray anti-brûlures",
    "desc": "Protégez-vous contre les brûlures."
  },
  "banana": {
    "name": "Filles",
    "desc": "Une banane génétiquement modifiée."
  },
  "beakseed": {
    "name": "Graine de lin",
    "desc": "Graines de lin. Mmm, croquantes."
  },
  "boltbulb": {
    "name": "Boltbulb",
    "desc": "Boltbulb! Étonnamment doux."
  },
  "boneboo": {
    "name": "Ils font semblant",
    "desc": "C'est flippant."
  },
  "bakedpotato": {
    "name": "Pomme de terre au four",
    "desc": "Croustillant à l'extérieur, brûlant comme de la lave en fusion à l'intérieur."
  },
  "boiledpearlpeas": {
    "name": "Pois chiches bouillis",
    "desc": "Un bol de pois chiches bouillis plutôt fades."
  },
  "boiledrice": {
    "name": "Riz cuit",
    "desc": "Léger et moelleux."
  },
  "bread": {
    "name": "Pain",
    "desc": "Mmm, tout juste sorti du four."
  },
  "baconpancakes": {
    "name": "Crêpes au bacon",
    "desc": "Une crêpe. Du bacon. Une crêpe. Du bacon. Une crêpe. Du beurre. Manger."
  },
  "beakseedbread": {
    "name": "Pain aux graines de lin",
    "desc": "Un pain dense et compact, regorgeant de graines."
  },
  "beakseedjam": {
    "name": "Confiture de graines de lin",
    "desc": "Sucré et croquant. Si seulement il existait une variété sans pépins."
  },
  "beakseedtart": {
    "name": "Tarte aux graines de lin",
    "desc": "Cette recette a été créée par nécessité pendant la saison des graines de lin, pour utiliser toute la confiture."
  },
  "bonbonbonbons": {
    "name": "Bon Bon Bon Bons",
    "desc": "Eurêka! La seule façon d'améliorer la perfection, c'est de la multiplier."
  },
  "bonbons": {
    "name": "Bon Bons",
    "desc": "La perfection en matière de confiserie."
  },
  "bananacon": {
    "name": "Banane avec",
    "desc": "Avec du bacon, une banane et un peu de magie, on obtient un « bananacon »."
  },
  "bananacreamdonut": {
    "name": "Beignet à la crème de banane",
    "desc": "Un délicieux beignet fourré à la banane et à la crème. C'est presque bon pour la santé!"
  },
  "bananacreampie": {
    "name": "Tarte à la crème de banane",
    "desc": "C'est mieux pour manger ou pour le jeter à la figure des gens?"
  },
  "bananaicecream": {
    "name": "Glace à la banane",
    "desc": "Un délice crémeux et glacé à la banane."
  },
  "batteredbanana": {
    "name": "Banane écrasée",
    "desc": "Une banane classique, enrobée d'une pâte épaisse et frite."
  },
  "bananasplit": {
    "name": "Banana Split",
    "desc": "L'ingrédient secret de ce grand classique d'Apex, c'est l'ananas!"
  },
  "bloodypuss": {
    "name": "Puss le Sanglant",
    "desc": "Une boisson épaisse, semblable à un milk-shake, à base de viande et de pussplum."
  },
  "brineapple": {
    "name": "Brineapple",
    "desc": "Gelée de corail à l'intérieur d'un ananas glacé, servie tiède. Une gourmandise raffinée d'Hylotl!"
  },
  "boltos": {
    "name": "Bolt O's",
    "desc": "Les Bolt O's, pour quand tu te réveilles avec une telle faim que tu te fiches de ce que tu mets dans ta bouche!"
  },
  "burningeyeballs": {
    "name": "Les yeux en feu",
    "desc": "Attention, c'est super épicé!"
  }
}