{
  "diodia": {
    "name": "Diodia",
    "desc": "Le diodia a un goût de cuivre."
  },
  "dirturchin": {
    "name": "Dirturchin",
    "desc": "Un peu spongieux et sans grand goût."
  },
  "desertsalsa": {
    "name": "Salsa du désert",
    "desc": "Une salsa rafraîchissante à base de fruits du désert."
  }
}