{
  "eggshoot": {
    "name": "Eggshoot",
    "desc": "Eggshoot, à la texture moelleuse. Cassez-le pour découvrir son jaune."
  },
  "egg": {
    "name": "Œufs",
    "desc": "C'est un œuf!"
  },
  "eggshooticecream": {
    "name": "Glace Eggshoot",
    "desc": "Une glace au délicieux goût de crème anglaise."
  },
  "eggshootsalad": {
    "name": "Salade d'œufs",
    "desc": "Une salade simple mais copieuse à base de pousses d'œufs et de couronne de plumes."
  },
  "eyebowls": {
    "name": "Coupes pour les yeux",
    "desc": "Des oculemons fourrés dans des demi-coquilles d'œuf, un hors-d'œuvre très apprécié lors des réunions floranes."
  }
}