{
  "fungusstim": {
    "name": "Stimulant antifongique",
    "desc": "Ce stimulant possède des propriétés curatives naturelles."
  },
  "feathercrown": {
    "name": "Couronne de plumes",
    "desc": "Feathercrown, il faut l'épiler avant de le manger."
  },
  "fishdumplings": {
    "name": "Boulettes de poisson",
    "desc": "De simples boulettes de poisson, cuites à la vapeur et légèrement assaisonnées."
  },
  "fishfingers": {
    "name": "Bâtonnets de poisson",
    "desc": "De délicieux bâtonnets de poisson frit. Où est la crème pâtissière?"
  },
  "fishnchips": {
    "name": "Fish and chips",
    "desc": "Faites frire tout ce que vous voulez! C'est un grand classique chez les humains."
  },
  "fishpie": {
    "name": "Tarte au poisson",
    "desc": "La tarte Stargazy! Du poisson cuit au four dans une sauce, recouvert d'une purée crémeuse."
  },
  "fishstew": {
    "name": "Ragoût de poisson",
    "desc": "Un ragoût léger qui se déguste facilement."
  },
  "feathercrownjam": {
    "name": "Confiture Feathercrown",
    "desc": "Une confiture sucrée et savoureuse, très appréciée des Aviens."
  },
  "featherfood": {
    "name": "Nourriture pour volailles",
    "desc": "Un plat traditionnel aviaire servi lors des cérémonies."
  },
  "flatwhite": {
    "name": "Café Flat White",
    "desc": "Un café au lait."
  },
  "fluffyruffs": {
    "name": "Colliers à franges",
    "desc": "Ils sont hirsutes et tout doux!"
  },
  "fishinabone": {
    "name": "Un poisson dans une arête",
    "desc": "Un poisson entier fourré à la va-vite dans un « boneboo »."
  },
  "fruitsalad": {
    "name": "Salade de fruits",
    "desc": "Un mélange pratique de différents fruits."
  }
}