{
  "kiwi": {
    "name": "kiwi",
    "desc": "Une texture moelleuse et un goût sucré, miam."
  },
  "kiwijam": {
    "name": "Confiture de kiwi",
    "desc": "Acide et rafraîchissant. À déguster sur des toasts!"
  },
  "kiwijuice": {
    "name": "Jus de kiwi",
    "desc": "Un jus sucré aux saveurs tropicales à base de kiwis."
  }
}