{
  "nanowrap": {
    "name": "Pansement Nanowrap",
    "desc": "Ce bandage referme rapidement les blessures. Il restaure 100 points de vie en 1 seconde."
  },
  "neonmelon": {
    "name": "Melon néon",
    "desc": "Une tranche de melon néon au goût de chewing-gum."
  },
  "nutsandbolts": {
    "name": "Les bases",
    "desc": "Assortiment de bouchées au goût de cuivre."
  },
  "neonmelonjam": {
    "name": "Confiture de melon néon",
    "desc": "Une confiture acidulée à base de melons néon."
  }
}