{
  "orangestim": {
    "name": "Pack Stim Orange",
    "desc": "Un stimpack rempli de liquide orange: ça va te donner un sacré coup de fouet!"
  },
  "oculemon": {
    "name": "Oculemon",
    "desc": "C'est un peu acide, mais ça en vaut vraiment la peine."
  },
  "orange": {
    "name": "Orange",
    "desc": "C'est une orange."
  },
  "oculemonade": {
    "name": "Oculemonade",
    "desc": "Rien de mieux, par une journée chaude, qu'une canette d'Oculemonade bien fraîche et rafraîchissante."
  },
  "omelette": {
    "name": "Omelette",
    "desc": "Facile à préparer et délicieuse, l'omelette est toujours un choix sûr!"
  },
  "oceanrisotto": {
    "name": "Risotto aux fruits de mer",
    "desc": "Un plat de riz salé et parfumé."
  },
  "oceansalsa": {
    "name": "Salsa océanique",
    "desc": "Une salsa rafraîchissante à base de fruits tropicaux et de fruits de mer."
  },
  "oceansurprise": {
    "name": "Surprise océanique",
    "desc": "Un plat hylotl, débordant d'ingrédients d'origine marine douteuse."
  },
  "oculemonmeringue": {
    "name": "Meringue Oculemon",
    "desc": "Une tarte aux citrons verts acidulés recouverte d'une meringue sucrée."
  },
  "oculemonstew": {
    "name": "Ragoût d'Oculemon",
    "desc": "Un ragoût acidulé et un peu visqueux à base d'oculemon et de restes de viande."
  }
}