{
  "pearlpea": {
    "name": "Pearlpeas",
    "desc": "Oh là là! Je vais devoir serrer les dents."
  },
  "pineapple": {
    "name": "Ananas",
    "desc": "Un vrai régal tropical!"
  },
  "potato": {
    "name": "Pomme de terre",
    "desc": "Po-ta-to."
  },
  "pussplum": {
    "name": "Pussplum",
    "desc": "Le pussplum… certains disent que c'est délicieux!"
  },
  "pearlpeabroth": {
    "name": "Bouillon de pois chiches",
    "desc": "Un repas un peu plus consistant que de simples pois chiches bouillis."
  },
  "pearlpearisotto": {
    "name": "Risotto aux pois chiches",
    "desc": "Les pois chiches parfaitement mûrs sont idéaux pour ce plat de riz copieux."
  },
  "popcorn": {
    "name": "Pop-corn",
    "desc": "Lance-toi à fond!"
  },
  "potatogrids": {
    "name": "Grilles à pommes de terre",
    "desc": "Une croûte dorée et croustillante enveloppe une chair de pomme de terre moelleuse et fondante."
  },
  "pasty": {
    "name": "Pâtes",
    "desc": "Une pâtisserie traditionnelle terrienne, destinée à être dégustée lors des moments de détente sous terre."
  },
  "pearlpeajam": {
    "name": "Pearlpea Jam",
    "desc": "On l'appelle communément « Pearl Jam ». Ça sonne bien."
  },
  "pearlpeapancakes": {
    "name": "Crêpes aux pois chiches",
    "desc": "Ils ressemblent à des crêpes, mais ils ont un arrière-goût de purée de petits pois."
  },
  "pizza": {
    "name": "Pizza",
    "desc": "Une pizza entière! Tu vas manger tout ça?"
  },
  "pizzaslice": {
    "name": "Part de pizza",
    "desc": "Une part de pizza au pepperoni bien chaude."
  },
  "porridge": {
    "name": "Porridge",
    "desc": "Un bol de porridge bien chaud. Une façon saine de commencer la journée."
  },
  "pineapplejam": {
    "name": "Confiture d'ananas",
    "desc": "Une confiture très sucrée à base d'ananas."
  },
  "pineapplejuice": {
    "name": "Jus d'ananas",
    "desc": "Un jus d'ananas sucré et savoureux."
  },
  "pineapplepizzaslice": {
    "name": "Part de pizza à l'ananas",
    "desc": "Encore plus de garnitures!"
  },
  "pussplumjam": {
    "name": "Confiture de prunes",
    "desc": "Confiture de prunes. Elle est étonnamment pleine de morceaux."
  },
  "pussplumpudding": {
    "name": "Pudding au pruneau",
    "desc": "Un riz au lait bien liquide, garni d'une compote de prunes."
  },
  "pussplumtart": {
    "name": "Tarte au Pussplum",
    "desc": "C'est à peu près la seule façon de tirer parti de la confiture de prunelles."
  },
  "piodia": {
    "name": "Tranche de Piodia",
    "desc": "Une variante de la pizzap, avec une note plus cuivrée."
  },
  "pearlpeaparcels": {
    "name": "Colis Pearlpea",
    "desc": "Des pois perlés soigneusement emballés dans un paquet de wartweed."
  },
  "pozest": {
    "name": "En outre",
    "desc": "Une boisson énergisante Glitch très populaire. Ou s'agit-il simplement d'un effet placebo?"
  }
}