{
  "rawbacon": {
    "name": "Bacon cru",
    "desc": "Des tranches de bacon crues. Je devrais les faire cuire d'abord, non?"
  },
  "rawfish": {
    "name": "Poisson cru",
    "desc": "Un filet de poisson cru… visqueux."
  },
  "rawham": {
    "name": "Jambon cru",
    "desc": "Du jambon cru. Je ferais sans doute mieux de le cuire d'abord."
  },
  "rawpoultry": {
    "name": "Volaille crue",
    "desc": "De la volaille crue. Tu ferais peut-être mieux de la cuire d'abord..."
  },
  "rawribmeat": {
    "name": "Côtes crues",
    "desc": "De la viande crue prélevée sur les côtes d'une pauvre bête. Ça a l'air appétissant, mais il faudrait la cuire."
  },
  "rawtentacle": {
    "name": "Tentacule cru",
    "desc": "Un tentacule cru. Il serait peut-être plus appétissant s'il était cuit..."
  },
  "redstim": {
    "name": "Pack Stim rouge",
    "desc": "Un stimpack rempli de liquide rouge offre une régénération brève mais puissante!"
  },
  "redapple": {
    "name": "Pomme rouge",
    "desc": "Une pomme rouge mûre."
  },
  "reefpod": {
    "name": "Reefpod",
    "desc": "Les fruits de la mer."
  },
  "reefcola": {
    "name": "Reef-Cola",
    "desc": "Goûtez à l'océan avec Reef-Cola."
  },
  "roastedcarrot": {
    "name": "Carotte rôtie",
    "desc": "Rôti à la perfection."
  },
  "roastedmushrooms": {
    "name": "Champignons rôtis",
    "desc": "La cuisson au four fait vraiment ressortir toute leur saveur."
  },
  "relish": {
    "name": "Savourer",
    "desc": "Une sauce relevée qui met en valeur les saveurs savoureuses de la viande."
  },
  "ricepudding": {
    "name": "Riz au lait",
    "desc": "Un bon bol de riz au lait, bien chaud."
  },
  "roastdinner": {
    "name": "Rôti",
    "desc": "Un simple rôti, comme d'habitude. Rien d'extraordinaire, mais tout aussi satisfaisant."
  },
  "reefjuice": {
    "name": "Reef Juice",
    "desc": "Un jus agréablement sucré-salé. Rafraîchissant!"
  },
  "reefpodsurprise": {
    "name": "Reefpod Surprise",
    "desc": "Beaucoup plus acide que ce à quoi tu t'attendais. Surprise!"
  },
  "reefshake": {
    "name": "Reefshake",
    "desc": "Un milk-shake Reefpod! Les enfants l'adorent."
  },
  "ricecake": {
    "name": "Gâteau de riz",
    "desc": "Une collation simple à base de riz, maintenue en place par des algues."
  }
}