{
  "aegisaltore": {
    "name": "Aegisalt Ore",
    "desc": "Minerai d'Aegisalt. Peut être utilisé pour la fonte."
  },
  "alienweirdwood": {
    "name": "Bois étrange et mystérieux",
    "desc": "Une espèce de bois étrange, d'origine extraterrestre."
  },
  "alienwoodsap": {
    "name": "Sève d'arbre extraterrestre",
    "desc": "Cette sève provient d'un bois étrange, elle a l'air dangereuse."
  },
  "ancientbones": {
    "name": "Os anciens",
    "desc": "Ces gros os sont anciens. Très anciens."
  },
  "artificialbrain": {
    "name": "Cerveau artificiel",
    "desc": "Un cerveau amélioré, idéal pour une greffe."
  },
  "autochip": {
    "name": "Puce automobile",
    "desc": "Un élément essentiel de la réparation automobile."
  },
  "autodrive": {
    "name": "Conduite automatique",
    "desc": "Un système de propulsion automatique. À l'avenir, je pourrai m'en servir pour propulser des véhicules."
  },
  "alpacafossil1": {
    "name": "Crâne d'alpaga",
    "desc": "Un crâne d'alpaga fossilisé.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile d'alpaga",
      "completeSetDescriptions.description": "Les os denses et durs d'un alpaga mort depuis longtemps."
    }
  },
  "alpacafossil2": {
    "name": "Torse en alpaga",
    "desc": "Un torse d'alpaga fossilisé."
  },
  "alpacafossil3": {
    "name": "Pattes d'alpaga",
    "desc": "Une paire de pattes d'alpaga fossilisées."
  },
  "apexfossil1": {
    "name": "Apex Skull",
    "desc": "Un crâne fossilisé d'Apex.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile d'Apex",
      "completeSetDescriptions.description": "Les restes fossilisés d'un Apex. Remarquez ses dents puissantes et ses arcades sourcilières saillantes."
    }
  },
  "apexfossil2": {
    "name": "Torse Apex",
    "desc": "Un torse fossilisé d'Apex."
  },
  "apexfossil3": {
    "name": "Pieds Apex",
    "desc": "Une paire de pattes fossilisées d'Apex."
  },
  "avianfossil1": {
    "name": "Crâne d'oiseau",
    "desc": "Un crâne d'oiseau fossilisé.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile d'oiseau",
      "completeSetDescriptions.description": "Les caractéristiques notables de cet oiseau fossilisé sont ses os creux et son bec court et souple."
    }
  },
  "avianfossil2": {
    "name": "Torse d'oiseau",
    "desc": "Un torse d'oiseau fossilisé."
  },
  "avianfossil3": {
    "name": "Pattes d'oiseaux",
    "desc": "Une paire de pattes d'oiseau fossilisées."
  },
  "avioscalefossil1": {
    "name": "Crâne Avioscale",
    "desc": "Un crâne fossilisé d'Avioscale.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile d'Avioscale",
      "completeSetDescriptions.description": "Cet Avioscale se caractérise par des orbites surdimensionnées et un bec proéminent."
    }
  },
  "avioscalefossil2": {
    "name": "Torse Avioscale",
    "desc": "Un torse fossilisé d'Avioscale."
  },
  "avioscalefossil3": {
    "name": "Jambes Avioscale",
    "desc": "Une paire de pattes fossilisées d'Avioscale."
  },
  "amberfossil": {
    "name": "Amber",
    "desc": "Un morceau d'ambre fossilisé.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Amber",
      "completeSetDescriptions.description": "L'ambre présente plus de variantes répertoriées que tout autre artefact antique."
    }
  },
  "ammonitefossil": {
    "name": "Ammonite",
    "desc": "Une ammonite fossilisée.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Ammonite",
      "completeSetDescriptions.description": "Les ammonites sont des fossiles très connus, dont on trouve des variantes sur la plupart des planètes habitables."
    }
  }
}