{
  "basic": {
    "name": "Fourrure",
    "desc": "C'est la fourrure d'un animal."
  },
  "battery": {
    "name": "Batterie",
    "desc": "Cette batterie peut servir à alimenter des stations de haute technologie, des armes et des appareils portables!"
  },
  "biosample": {
    "name": "Exemple de biographie",
    "desc": "Un échantillon de nouveaux composés biologiques et d'informations génétiques."
  },
  "bolt": {
    "name": "Magasin",
    "desc": "Un petit boulon en métal."
  },
  "bone": {
    "name": "Ils",
    "desc": "C'est un os."
  },
  "bottle": {
    "name": "Bouteille vide",
    "desc": "Idéal pour conserver des liquides."
  },
  "brain": {
    "name": "Cerveau supérieur",
    "desc": "Ce cerveau semble idéal pour mener des expériences."
  },
  "bugshell": {
    "name": "Coque d'insecte",
    "desc": "La vieille carapace desséchée d'un insecte mort depuis longtemps."
  }
}