{
  "diamond": {
    "name": "Diamant",
    "desc": "C'est un diamant magnifiquement taillé."
  },
  "dragonbone": {
    "name": "Os de dragon",
    "desc": "Un os de dragon: il est brûlant au toucher. Sa chaleur ne s'éteint jamais."
  },
  "durasteelbar": {
    "name": "Barre Durasteel",
    "desc": "Le minerai servant à la fabrication des barres de durasteel se trouve principalement sur des planètes en orbite autour d'étoiles radioactives."
  },
  "durasteelore": {
    "name": "Durasteel Ore",
    "desc": "Minerai de Durasteel. Peut être utilisé pour la fonte."
  },
  "dubloon": {
    "name": "Doubloon",
    "desc": "Un jeton contractuel accepté par les Mercenaires Pingouins au Beakeasy Bar."
  }
}