{
  "endomorphicjelly": {
    "name": "Gelée endomorphe",
    "desc": "Une gelée étrange qui semble réagir au toucher."
  },
  "electronicgoods": {
    "name": "Composants électroniques",
    "desc": "Une caisse scellée contenant des composants électroniques, très prisés dans le commerce interstellaire."
  },
  "eggfossil": {
    "name": "Fossile d'œuf",
    "desc": "Œuf fossilisé.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile d'œuf",
      "completeSetDescriptions.description": "L'œuf d'une créature primitive, figé dans le temps avant même d'avoir véritablement vu le jour."
    }
  }
}