{
  "icecrystal": {
    "name": "Cristal de glace",
    "desc": "Un cristal de glace froid qui ne semble jamais fondre."
  },
  "inferiorbrain": {
    "name": "Cerveau inférieur",
    "desc": "Un gaspillage de cellules cérébrales."
  },
  "ironbar": {
    "name": "Barre de fer",
    "desc": "Le minerai servant à la fabrication de barres de fer se trouve principalement sur les planètes en orbite autour d'étoiles peu actives."
  },
  "ironore": {
    "name": "Minerai de fer",
    "desc": "Minerai de fer. Peut être utilisé pour la fonte."
  },
  "ixodoomfossil1": {
    "name": "Ixodoom Skull",
    "desc": "Un crâne fossilisé d'Ixodoom.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Fossile d'Ixodoom",
      "completeSetDescriptions.description": "L'exosquelette épais de cet arthropode lui a permis de survivre pendant des millions d'années."
    }
  },
  "ixodoomfossil2": {
    "name": "Ixodoom Torse",
    "desc": "Un torse fossilisé d'Ixodoom."
  },
  "ixodoomfossil3": {
    "name": "Ixodoom Spine",
    "desc": "Une épine fossilisée d'Ixodoom."
  },
  "ixodoomfossil4": {
    "name": "Ixodoom Hips",
    "desc": "Hauts de cuisse fossilisés d'Ixodoom."
  },
  "ixodoomfossil5": {
    "name": "Ixodoom Stinger",
    "desc": "Un dard fossilisé d'Ixodoom."
  }
}