{
  "larva": {
    "name": "Petite larve",
    "desc": "Une petite larve extraterrestre. Elle est toute petite, toute molle et sans défense."
  },
  "laserdiode": {
    "name": "Diode laser",
    "desc": "C'est une diode laser."
  },
  "lead": {
    "name": "Plomb",
    "desc": "Un bloc de plomb."
  },
  "leather": {
    "name": "Cuir",
    "desc": "Un carré de cuir."
  },
  "lightbulb3": {
    "name": "Ampoule",
    "desc": "C'est une ampoule."
  },
  "license1": {
    "name": "Licence Sparrow",
    "desc": "Permet à son titulaire de piloter des vaisseaux de classe Sparrow."
  },
  "license2": {
    "name": "Licence Kestrel",
    "desc": "Permet à son titulaire de piloter des vaisseaux de classe Kestrel."
  },
  "license3": {
    "name": "Licence Falcon",
    "desc": "Permet à son titulaire de piloter des vaisseaux de classe Falcon."
  },
  "license4": {
    "name": "Licence Eagle",
    "desc": "Permet à son titulaire de piloter des vaisseaux de classe Eagle."
  },
  "license5": {
    "name": "Licence Condor",
    "desc": "Permet à son titulaire de piloter les vaisseaux de classe Condor."
  },
  "livingroot": {
    "name": "Racine vivante",
    "desc": "Un morceau de matière végétale évoluée. Peut être utilisé pour l'artisanat."
  }
}