{
  "rainbowwood": {
    "name": "Bois arc-en-ciel",
    "desc": "Le bois arc-en-ciel, le bois le plus coloré qui soit."
  },
  "reed": {
    "name": "Reed",
    "desc": "Un bouquet de roseaux coupés."
  },
  "refinedaegisalt": {
    "name": "Aegisalt raffiné",
    "desc": "Le minerai servant à la fabrication de l'égisalt raffiné se trouve principalement sur des planètes en orbite autour d'étoiles glacées."
  },
  "refinedferozium": {
    "name": "Ferozium raffiné",
    "desc": "Le minerai servant à la production de férozium raffiné se trouve principalement sur les planètes en orbite autour d'étoiles gelées."
  },
  "refinedviolium": {
    "name": "Violium raffiné",
    "desc": "Le minerai nécessaire à la fabrication du violium raffiné se trouve principalement sur des planètes en orbite autour d'étoiles glacées."
  },
  "robotarms": {
    "name": "Bras robotisés",
    "desc": "Des bras robotiques puissants, capables de soulever des objets lourds."
  },
  "robotchest": {
    "name": "Coffre à robots",
    "desc": "Un torse de robot, solide comme l'acier."
  },
  "robothead": {
    "name": "Tête de robot",
    "desc": "Une tête de robot, dotée d'un cerveau vivant!"
  },
  "robotlegs": {
    "name": "Jambes de robot",
    "desc": "Des jambes de robot, pour plus de mobilité!"
  },
  "rottenfood": {
    "name": "Nourriture avariée",
    "desc": "C'est dégoûtant. C'est hors de question que ce soit encore mangeable."
  },
  "rice": {
    "name": "Riz",
    "desc": "Le riz. Des grains pleins de bienfaits."
  }
}