{
  "screws": {
    "name": "Vis",
    "desc": "Une poignée de vis métalliques."
  },
  "seaweed": {
    "name": "Algue exotique",
    "desc": "Une algue d'origine étrangère."
  },
  "siliconboard": {
    "name": "Plaque de silicium",
    "desc": "Une carte de circuit imprimé. Peut servir à fabriquer des composants électroniques."
  },
  "silk": {
    "name": "Soie",
    "desc": "Un carré de soie douce et brillante"
  },
  "silkfibre": {
    "name": "Fibre de soie",
    "desc": "Un faisceau de fibres de soie."
  },
  "silverbar": {
    "name": "Lingot d'argent",
    "desc": "Le minerai servant à la fabrication de lingots d'argent se trouve à des profondeurs modérées sur la plupart des planètes en orbite autour de toutes les étoiles."
  },
  "silverore": {
    "name": "Minerai d'argent",
    "desc": "C'est de l'argent. Il peut être utilisé pour la fonte."
  },
  "smallbattery": {
    "name": "pile AA",
    "desc": "Cette pile permet d'alimenter de petits appareils électroniques!"
  },
  "snowflake": {
    "name": "Flocon de neige",
    "desc": "Un flocon de neige parfaitement conservé. On dit qu'il n'y en a pas deux identiques."
  },
  "solariumore": {
    "name": "Heures de solarium",
    "desc": "C'est un solarium. Il est chaud au toucher."
  },
  "solariumstar": {
    "name": "Solarium Star",
    "desc": "Le minerai servant à fabriquer les étoiles de solarium se trouve principalement sur les planètes en orbite autour d'étoiles ardentes."
  },
  "string": {
    "name": "Chaîne",
    "desc": "On ne sait jamais quand un bout de ficelle peut s'avérer utile."
  },
  "sulphur": {
    "name": "Soufre",
    "desc": "Le soufre, un composé étonnamment utile."
  },
  "syntheticmaterial": {
    "name": "Matériau synthétique",
    "desc": "Un carré de matière synthétique."
  },
  "syringe": {
    "name": "Seringue médicale",
    "desc": "Cela pourrait servir à fabriquer des packs de stimulation."
  },
  "secretnote": {
    "name": "Note secrète",
    "desc": "Un mot contenant un message secret."
  },
  "sheetmusic": {
    "name": "Partitions",
    "desc": "Une partition. Je me demande de quel morceau il s'agit."
  },
  "soggypaper": {
    "name": "Papier détrempé",
    "desc": "Pourquoi je prendrais ces vieilleries inutiles?"
  },
  "solidfuel": {
    "name": "Crystal Erchius Carburant",
    "desc": "Une substance cristalline instable, extraite de lunes et utilisée comme carburant pour la propulsion FTL."
  },
  "shroom": {
    "name": "Champignon",
    "desc": "Un champignon. Si j'en avais assez, je pourrais faire pas mal de choses."
  },
  "sugar": {
    "name": "Sucre",
    "desc": "Un pur délice sucré, sans artifice."
  },
  "salvagearm": {
    "name": "Accouplement de puissance reconditionné",
    "desc": "Ce composant pourrait s'avérer utile pour fabriquer des bras de robot."
  },
  "salvagebody": {
    "name": "Plaque de blindage récupérée",
    "desc": "Cet élément pourrait s'avérer utile pour la fabrication de châssis de robots."
  },
  "salvagebooster": {
    "name": "Buse de propulseur récupérée",
    "desc": "Cet élément pourrait être utile pour fabriquer des boosters de méca."
  },
  "salvagelegs": {
    "name": "Actionneur remis en état",
    "desc": "Ce composant pourrait s'avérer utile pour fabriquer des jambes de robot."
  },
  "salvagetier4": {
    "name": "Puce d'interface récupérée",
    "desc": "Ce composant pourrait s'avérer utile pour fabriquer des pièces mécaniques simples."
  },
  "salvagetier5": {
    "name": "Limiteur de protons récupéré",
    "desc": "Ce composant pourrait s'avérer utile pour la fabrication de pièces de méca sophistiquées."
  },
  "salvagetier6": {
    "name": "Prise Nano de récupération",
    "desc": "Ce composant pourrait s'avérer utile pour la fabrication de pièces de robots de haute technologie."
  },
  "scorchedcore": {
    "name": "Noyau brûlé",
    "desc": "La source des pouvoirs de feu d'une créature. Peut être utilisé pour l'artisanat."
  },
  "sharpenedclaw": {
    "name": "Griffe acérée",
    "desc": "Une griffe de monstre acérée comme un rasoir. Peut être utilisée pour l'artisanat."
  },
  "staticcell": {
    "name": "Cellule statique",
    "desc": "Un amas de matière cellulaire chargée électriquement. Peut être utilisé pour l'artisanat."
  },
  "stickofram": {
    "name": "Barrette de mémoire vive",
    "desc": "Une puce informatique universelle classique. Peut être utilisée pour l'artisanat."
  },
  "sabertoothfossil": {
    "name": "Crâne de tigre à dents de sabre",
    "desc": "Un crâne fossilisé de tigre à dents de sabre.",
    "metadata": {
      "completeSetDescriptions.shortdescription": "Crâne de tigre à dents de sabre",
      "completeSetDescriptions.description": "Les sabretooths sont des fossiles très connus, facilement reconnaissables à leurs canines allongées."
    }
  }
}