{
  "wildvines": {
    "name": "Vignes sauvages",
    "desc": "Un bout de vigne sauvage."
  },
  "wire": {
    "name": "Fil de cuivre",
    "desc": "Une bobine de fil de cuivre."
  },
  "winningticket": {
    "name": "Billet gagnant",
    "desc": "Ces récompenses sont décernées aux personnes qui ont terminé le jeu « Mazebound64 »."
  },
  "wheat": {
    "name": "Blé",
    "desc": "Indispensable pour faire du pain."
  }
}