{
  "arrester": {
    "name": "Bras long",
    "desc": "Utilisé pour arrêter et neutraliser les cibles autorisées dans le cadre de la chasse aux primes."
  },
  "audiodisc": {
    "name": "Disque de données audio",
    "desc": "Ce disque de données contient un fichier audio. Je devrais l'écouter!",
    "metadata": {
      "defaultSenderName": "Enregistrement audio"
    }
  }
}