{
  "fishingrod": {
    "name": "Canne à pêche",
    "desc": "Une canne à pêche simple en bois avec des bagues en titane.",
    "metadata": {
      "lureName": "Leurre Basique",
      "reelName": "Moulinet Basique"
    }
  },
  "fossilbrushbeginner": {
    "name": "Pinceau Fossil de base",
    "desc": "Peut être utilisé une seule fois pour déterrer un fossile, avec un succès limité."
  },
  "fossilbrushmaster": {
    "name": "Pinceau Master Fossil",
    "desc": "Peut être utilisé une fois pour déterrer un fossile, avec des chances de réussite accrues."
  },
  "fossilbrushstudent": {
    "name": "Pinceau fossile avancé",
    "desc": "Peut être utilisé une fois pour déterrer un fossile, avec un succès modéré."
  }
}