{
  "paintgunblue": {
    "name": "Pistolet à peinture bleu",
    "desc": "Pourquoi attendre une occasion rare alors que tu peux la créer toi-même?"
  },
  "paintgungreen": {
    "name": "Pistolet à peinture vert",
    "desc": "Ce pistolet à peinture va faire pâlir d'envie tout le monde."
  },
  "paintgunorange": {
    "name": "Pistolet à peinture orange",
    "desc": "Pour tirer sur quiconque prétend qu'il n'y a pas de mot qui rime avec « orange »."
  },
  "paintgunpurple": {
    "name": "Pistolet à peinture violet",
    "desc": "Avec ce pistolet, ça pleut du violet."
  },
  "paintgunred": {
    "name": "Pistolet à peinture rouge",
    "desc": "Fais la fête!"
  },
  "paintgunyellow": {
    "name": "Pistolet à peinture jaune",
    "desc": "Cela montre clairement à quel point vos cibles sont jaunes."
  },
  "papernote": {
    "name": "Note manuscrite",
    "desc": "Un mot écrit à la main. Je devrais voir ce qu'il dit!",
    "metadata": {
      "noteText": "Bon, c'est l'histoire de comment ma vie a basculé du tout au tout, alors j'aimerais prendre un moment pour m'asseoir ici et vous raconter comment je suis devenu le prince d'une ville appelée Bel Aire"
    }
  },
  "parasol": {
    "name": "Parapluie",
    "desc": "Ouvrez-le pour qu'il flotte doucement en tombant. Cela porte malheur de l'ouvrir à l'intérieur de la maison."
  },
  "penguincostume": {
    "name": "Costume de pingouin",
    "desc": "Un lot comprenant un costume complet de pingouin."
  }
}