{
  "stationtransponder": {
    "name": "Transpondeur de station",
    "desc": "Configurez votre propre sonde de déploiement de station."
  },
  "sportscarcontrollerred": {
    "name": "Manette de jeu « Voiture de sport rouge »",
    "desc": "Fabriquer une voiture de sport peinte en rouge à partir de nanites stockées."
  },
  "snowgun": {
    "name": "Lance-boules de neige",
    "desc": "Alimenté par la neige, il est entièrement automatique et garde vos gants au sec."
  },
  "stationtram": {
    "name": "Tramway",
    "desc": "Installez un tramway piloté par l'utilisateur et compatible avec les arrêts de tramway"
  },
  "stunmine": {
    "name": "Mine de choc",
    "desc": "Ce dispositif inertiel à déclenchement à distance maintient les sujets immobilisés pendant un court instant."
  },
  "superrewardbag": {
    "name": "Récompense spéciale",
    "desc": "Utilise ceci pour l'ouvrir et découvrir ce qu'il contient. C'est génial!"
  }
}