{
  "00back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "00bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "01back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "01bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "02back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "02bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "03back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "03bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "04back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "04bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "05back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "05bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "06back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "06bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "07back": {
    "name": "Arrière-plan de la Scène du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "07bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "08back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "08bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "09back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "09bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "10back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "10bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "11back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "11bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "12back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor n'étant pas destiné à être utilisé comme un objet."
  },
  "12bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "13back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "13bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "14back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "14bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "15back": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "15bback": {
    "name": "Arrière-plan du Protectorat",
    "desc": "Un élément de décor non conçu pour être utilisé comme un objet."
  },
  "2stopshop": {
    "name": "2 Stop Teleshop",
    "desc": "Cette boutique propose des téléporteurs personnels dans une variété de styles.",
    "metadata": {
      "apexDescription": "Une boutique vendant des téléporteurs. Cela pourrait s'avérer utile.",
      "avianDescription": "Oh, c'est un magasin d'appareils de téléportation! Très utile à savoir.",
      "floranDescription": "Floran peut acheter téléporteursss dans cette boutique.",
      "glitchDescription": "Intéressé. Un vendeur d'appareils de téléportation!",
      "humanDescription": "Une boutique pleine de téléporteurs. L'idéal pour une escapade parfaite...",
      "hylotlDescription": "Une boutique vendant des téléporteurs. Je devrais peut-être y jeter un œil.",
      "novakidDescription": "Une boutique vendant des téléporteurs... Si vous avez un sacré paquet de pixels en réserve.",
      "interactData.paneLayoutOverride.windowtitle.title": "2 Stop Teleshop",
      "interactData.paneLayoutOverride.windowtitle.subtitle": "Vous emmène de A à B sans s'encombrer de l'espace intermédiaire"
    }
  },
  "2stopshopclosed": {
    "name": "2 Stop Teleshop Fermé",
    "desc": "Ce serait un endroit idéal pour un étal de marchand.",
    "metadata": {
      "apexDescription": "Cet étal semble fermé. Je me demande qui le gère?",
      "avianDescription": "Cet étal de marchand en métal semble fermé pour le moment.",
      "floranDescription": "Floran pass ssûr de à quoi sert cet étal.",
      "glitchDescription": "Intrigué. Cela ressemble à l'étal d'un marchand — je me demande où il se trouve en ce moment?",
      "humanDescription": "Est-ce l'étal d'un marchand? J'imagine qu'il n'est pas là pour l'instant.",
      "hylotlDescription": "Cette structure métallique terne ressemble à l'étal d'un marchand. Il est vacant pour l'instant.",
      "novakidDescription": "Je me demande bien où est passé le boutiquier de cet étal?"
    }
  },
  "2stoptele": {
    "name": "Téléporteur du 2 Stop Teleshop",
    "desc": "Ce téléporteur sert de modèle de démonstration et de point de retour pratique!",
    "metadata": {
      "apexDescription": "Si j'enregistre ce téléporteur, je pourrai revenir ici depuis n'importe quel autre téléporteur à tout moment.",
      "avianDescription": "Un téléporteur fonctionnel! Si je l'enregistre, je pourrai revenir ici n'importe quand.",
      "floranDescription": "Si Floran enregistre ce téléporteur, Floran pourra revenir ici depuis d'autres machiness de téléportation!",
      "glitchDescription": "Enthousiaste. En enregistrant ce téléporteur, je devrais pouvoir revenir ici depuis n'importe quel autre!",
      "humanDescription": "C'est un téléporteur! Si je l'enregistre, je devrais pouvoir revenir ici quand je veux.",
      "hylotlDescription": "Un téléporteur. En l'enregistrant, je devrais pouvoir revenir à ce point précis depuis un autre téléporteur.",
      "novakidDescription": "En enregistrant ce téléporteur, j'pourrai revenir direct ici si jamais j'en trouve un autre."
    }
  },
  "3dprinter": {
    "name": "^orange;Imprimante de Pixels^white;",
    "desc": "Cette machine peut réorganiser les pixels pour leur donner presque n'importe quelle forme.",
    "metadata": {
      "apexDescription": "Une imprimante de pixels... Si peu de gens y ont accès.",
      "avianDescription": "L'impression de pixels... La technologie qui a changé l'univers.",
      "floranDescription": "Jolis pixelsss impriment jolies chosess pour Floran.",
      "glitchDescription": "Amoureux. Une telle technologie est une œuvre d'art.",
      "humanDescription": "L'impression de pixels... Un pouvoir quasi divin.",
      "hylotlDescription": "L'impression de pixels, le pouvoir du pixel au bout des doigts... La 'particule de Dieu'.",
      "novakidDescription": "L'impression de pixels, c'est plutôt chic."
    }
  }
}