{
  "drain": {
    "name": "Drain",
    "desc": "Glou glou!",
    "metadata": {
      "apexDescription": "Ceci est conçu pour évacuer l'eau.",
      "avianDescription": "Ceci drainera l'eau, parfait pour garder mes plumes au sec!",
      "floranDescription": "Drainsss emportent l'eau.",
      "glitchDescription": "Impressionné. Ceci évacue l'eau avec aisance.",
      "humanDescription": "Ça va drainer cette eau rapidement!",
      "hylotlDescription": "Un dispositif utile pour évacuer l'eau. Pour ceux qui aiment ça.",
      "novakidDescription": "Ça va nous débarrasser de c'te maudite flotte!"
    }
  },
  "delay": {
    "name": "Porte de Délai",
    "desc": "Un circuit qui relaie les signaux après un délai défini.",
    "metadata": {
      "floranDescription": "Un circuit qui relaie les sssignaux après un délai ssspécifique.",
      "glitchDescription": "Neutre. Un circuit qui relaie les signaux après un délai défini."
    }
  },
  "dlatch": {
    "name": "Verrou",
    "desc": "Un verrou. Peut être utilisé pour stocker l'état d'un circuit.",
    "metadata": {
      "floranDescription": "Un verrou. Peut ssservir à garder l'état d'un fil.",
      "glitchDescription": "Fasciné. Un verrou. Peut être utilisé pour stocker l'état d'un circuit."
    }
  },
  "doombed": {
    "name": "Lit Funeste",
    "desc": "Un lit funeste sublime. Un peu piquant, par contre.",
    "metadata": {
      "apexDescription": "Un lit exceptionnellement agréable et confortable. Étrangement effrayant à regarder.",
      "avianDescription": "C'est un endroit aussi bon qu'un autre pour reposer mes plumes.",
      "floranDescription": "Floran s'repose dans grand lit avec dents.",
      "glitchDescription": "Inquiet. L'apparence de ce lit est perturbante.",
      "humanDescription": "Un lit fantastique. Je devrais pouvoir me reposer ici sans problème, tant qu'il ne me donne pas de cauchemars.",
      "hylotlDescription": "Excellente qualité de fabrication. J'aime ça. Pas très sûr pour l'apparence, par contre.",
      "novakidDescription": "Ce lit est drôlement douillet pour un truc si pointu."
    }
  },
  "doomchair": {
    "name": "Chaise Funeste",
    "desc": "Une chaise funeste confortable.",
    "metadata": {
      "apexDescription": "Une chaise immensément confortable, même si elle a un air un peu sinistre.",
      "avianDescription": "Un merveilleux endroit pour s'asseoir, si l'on peut ignorer les pointes.",
      "floranDescription": "Floran s'assied sur chaise, caressse les pointesss et pense à la chassse.",
      "glitchDescription": "Relaxé. Cette chaise est exceptionnellement confortable pour un Glitch.",
      "humanDescription": "Une chaise désarmante de douceur. Ça me rappelle la maison, les pointes en plus.",
      "hylotlDescription": "C'est à peu près le luxe auquel les Hylotls sont habitués, le style en moins.",
      "novakidDescription": "C'te chaise est sacrément confortable pour un truc si piquant."
    }
  },
  "doomdoor": {
    "name": "Porte Funeste",
    "desc": "Une porte funeste effrayante.",
    "metadata": {
      "apexDescription": "Cette porte est assez glauque pour stopper n'importe quel cambrioleur.",
      "avianDescription": "Une porte très sinistre.",
      "floranDescription": "Floran s'cache derrière porte. Puis porte fait peur à Floran.",
      "glitchDescription": "Nerveux. Cette porte a un œil dessus.",
      "humanDescription": "Une porte funeste plutôt terrifiante.",
      "hylotlDescription": "Une porte funeste robuste. Elle a aussi un œil. Étrange concept.",
      "novakidDescription": "C'te porte est en train de m'regarder."
    }
  },
  "doomlight": {
    "name": "Lampe Funeste",
    "desc": "Une lampe funeste. L'œil brille dans le noir.",
    "metadata": {
      "apexDescription": "Le globe oculaire projette une lueur sinistre.",
      "avianDescription": "La lumière semble me suivre peu importe où je me tiens dans la pièce.",
      "floranDescription": "Floran regarde lumière, et lumière regarde Floran.",
      "glitchDescription": "Alarmé. Cette lampe ressemble à un œil géant.",
      "humanDescription": "Whoa, la classe. Un œil géant qui brille.",
      "hylotlDescription": "Cette lumière a un style particulier.",
      "novakidDescription": "J'aime pas la façon dont c'te lampe me lorgne."
    }
  },
  "doomswitch": {
    "name": "Console Funeste",
    "desc": "Une console funeste. Faites attention en l'utilisant: elle vous regarde.",
    "metadata": {
      "apexDescription": "Cette console offre un large degré de contrôle.",
      "avianDescription": "Une console utile.",
      "floranDescription": "Floran appuie sur boutonsss. Fait bouger chosesss!",
      "glitchDescription": "Impressionné. Une seule console peut contrôler tant de mécanismes différents à la fois.",
      "humanDescription": "Une console de commande. C'est plus fort que moi, il faut que je joue avec.",
      "hylotlDescription": "Une console de contrôle.",
      "novakidDescription": "Faut qu'j'appuie sur ce bouton."
    }
  },
  "doomtable": {
    "name": "Table Funeste",
    "desc": "Une table funeste terrifiante. Elle vous regarde manger.",
    "metadata": {
      "apexDescription": "Un œil scrute depuis le dessous de cette table.",
      "avianDescription": "Cette table est glauque pour s'y attabler.",
      "floranDescription": "Floran pense que cette table a ausssi faim que Floran.",
      "glitchDescription": "Déstabilisé. En jetant un œil sous la table, un œil géant me fixe en retour.",
      "humanDescription": "Cette table ne convient pas aux personnes portant des jupes.",
      "hylotlDescription": "Si tu regardes la table trop longtemps, la table finit par regarder en toi.",
      "novakidDescription": "J'suis pas sûr que les tables devraient avoir des yeux."
    }
  },
  "dockingfield": {
    "name": "Champ d'Amarrage",
    "desc": "Ce champ d'énergie peut contenir à la fois l'atmosphère et la gravité artificielle.",
    "metadata": {
      "apexDescription": "Un champ d'amarrage spatial, cette énergie retient l'atmosphère à l'intérieur.",
      "avianDescription": "L'énergie de ce champ d'amarrage maintient l'air et la gravité à l'intérieur.",
      "floranDescription": "Cette énergie crépitante garde l'air à l'intérieur.",
      "glitchDescription": "Informé. Ce champ est un type d'énergie spécial destiné à contenir l'atmosphère et la gravité artificielle.",
      "humanDescription": "Ce type de champ d'énergie peut contenir l'atmosphère et la gravité dans les structures spatiales.",
      "hylotlDescription": "Les champs d'amarrage comme celui-ci sont courants dans l'espace, ils font des sas très efficaces.",
      "novakidDescription": "Ce champ d'énergie garde l'air et la gravité dedans et l'vide dehors."
    }
  },
  "dockingfieldsmall": {
    "name": "Champ d'Amarrage (Petit)",
    "desc": "Ce champ d'énergie peut contenir à la fois l'atmosphère et la gravité artificielle.",
    "metadata": {
      "apexDescription": "Un champ d'amarrage spatial, cette énergie retient l'atmosphère à l'intérieur.",
      "avianDescription": "L'énergie de ce champ d'amarrage maintient l'air et la gravité à l'intérieur.",
      "floranDescription": "Cette énergie crépitante garde l'air à l'intérieur.",
      "glitchDescription": "Informé. Ce champ est un type d'énergie spécial destiné à contenir l'atmosphère et la gravité artificielle.",
      "humanDescription": "Ce type de champ d'énergie peut contenir l'atmosphère et la gravité dans les structures spatiales.",
      "hylotlDescription": "Les champs d'amarrage comme celui-ci sont courants dans l'espace, ils font des sas très efficaces.",
      "novakidDescription": "Ce champ d'énergie garde l'air et la gravité dedans et l'vide dehors."
    }
  },
  "desertceilingspike1": {
    "name": "Pointes Aiguisées",
    "desc": "Attention!",
    "metadata": {
      "apexDescription": "Des pointes de pierre tranchantes.",
      "avianDescription": "La pierre semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La roche tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec grâce.",
      "novakidDescription": "Ça a l'air drôlement coupant, j'suis prêt à déguerpir!"
    }
  },
  "desertceilingspike2": {
    "name": "Pointes Aiguisées",
    "desc": "Attention!",
    "metadata": {
      "apexDescription": "Des pointes de pierre tranchantes.",
      "avianDescription": "La pierre semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La roche tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec grâce.",
      "novakidDescription": "Ça a l'air drôlement coupant, j'suis prêt à déguerpir!"
    }
  },
  "desertceilingspike3": {
    "name": "Pointes Aiguisées",
    "desc": "Attention!",
    "metadata": {
      "apexDescription": "Des pointes de pierre tranchantes.",
      "avianDescription": "La pierre semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La roche tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec grâce.",
      "novakidDescription": "Ça a l'air drôlement coupant, j'suis prêt à déguerpir!"
    }
  },
  "desertceilingspike4": {
    "name": "Pointes Aiguisées",
    "desc": "Attention!",
    "metadata": {
      "apexDescription": "Des pointes de pierre tranchantes.",
      "avianDescription": "La pierre semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La roche tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec grâce.",
      "novakidDescription": "Ça a l'air drôlement coupant, j'suis prêt à déguerpir!"
    }
  },
  "desertgroundspike1": {
    "name": "Pointes Aiguisées",
    "desc": "Mieux vaut ne pas marcher là-dedans...",
    "metadata": {
      "apexDescription": "Des pointes de pierre tranchantes.",
      "avianDescription": "La pierre semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La roche tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec grâce.",
      "novakidDescription": "Ça a l'air drôlement coupant, j'suis prêt à déguerpir!"
    }
  },
  "desertgroundspike2": {
    "name": "Pointes Aiguisées",
    "desc": "Mieux vaut ne pas marcher là-dedans...",
    "metadata": {
      "apexDescription": "Des pointes de pierre tranchantes.",
      "avianDescription": "La pierre semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La roche tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec grâce.",
      "novakidDescription": "Ça a l'air drôlement coupant, j'suis prêt à déguerpir!"
    }
  },
  "desertgroundspike3": {
    "name": "Pointes Aiguisées",
    "desc": "Mieux vaut ne pas marcher là-dedans...",
    "metadata": {
      "apexDescription": "Des pointes de pierre tranchantes.",
      "avianDescription": "La pierre semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La roche tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec grâce.",
      "novakidDescription": "Ça a l'air drôlement coupant, j'suis prêt à déguerpir!"
    }
  },
  "desertgroundspike4": {
    "name": "Pointes Aiguisées",
    "desc": "Mieux vaut ne pas marcher là-dedans...",
    "metadata": {
      "apexDescription": "Des pointes de pierre tranchantes.",
      "avianDescription": "La pierre semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La roche tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec grâce.",
      "novakidDescription": "Ça a l'air drôlement coupant, j'suis prêt à déguerpir!"
    }
  },
  "deathwarning": {
    "name": "Vieux Panneau d'Avertissement",
    "desc": "Un vieux panneau pour prévenir d'un danger mortel.",
    "metadata": {
      "apexDescription": "Ce panneau me laisse penser que je devrais être prudent.",
      "avianDescription": "Un signe menaçant. De quoi peut-il bien nous avertir?",
      "floranDescription": "Le sssigne veut dire sss'amuser!",
      "glitchDescription": "Observateur. Cela semble être un avertissement.",
      "humanDescription": "Quel mauvais présage!",
      "hylotlDescription": "Ce crâne ne semble pas avoir trois orbites. Peut-être que les Hylotls ne sont pas concernés par ce danger.",
      "novakidDescription": "Une sorte de panneau avec un crâne."
    }
  },
  "deathwarningmodern": {
    "name": "Panneau de Danger de Mort",
    "desc": "Ce panneau semble m'avertir d'un danger quelconque.",
    "metadata": {
      "apexDescription": "Un symbole de danger est plus ou moins universellement reconnaissable.",
      "avianDescription": "Un crâne Avian n'a pas de dents, donc ce panneau me semble étrange.",
      "floranDescription": "S s signe Floran pour l'excitation!",
      "glitchDescription": "Analytique. Ce panneau est un avertissement que je devrais écouter si je ne souhaite pas faire une mauvaise rencontre.",
      "humanDescription": "Un crâne menaçant. Un excellent présage, sans aucun doute.",
      "hylotlDescription": "Un panneau mal dessiné, fait pour avertir les autres.",
      "novakidDescription": "Un crâne, le genre de truc qu'on trouve dans la tête d'une forme de vie organique."
    }
  },
  "dirttrapdoor": {
    "name": "Trappe de Terre",
    "desc": "Quelque chose cloche avec cette terre.",
    "metadata": {
      "apexDescription": "Il y a quelque chose de suspect avec le sol ici.",
      "avianDescription": "Cette terre n'a pas l'air réelle.",
      "floranDescription": "Terre sssent différent des autresss terresss.",
      "glitchDescription": "Suspicieux. Quelque chose est caché ici.",
      "humanDescription": "Cette terre a un aspect contre nature.",
      "hylotlDescription": "La façon dont cette terre est tassée n'est pas digne de confiance.",
      "novakidDescription": "Y'a un truc étrange avec c'te terre."
    }
  },
  "drip1": {
    "name": "Source de Gouttes d'Eau",
    "desc": "Des gouttes d'eau."
  },
  "drip2": {
    "name": "Source de Gouttes d'Acide",
    "desc": "De l'acide s'égoutte de cet endroit."
  },
  "drillmachine": {
    "name": "Foreuse Minière",
    "desc": "Une grande foreuse minière industrielle.",
    "metadata": {
      "apexDescription": "C'est une vision magnifique.",
      "avianDescription": "C'est certainement la plus grosse foreuse que j'aie jamais vue.",
      "floranDescription": "Foreussse a l'air amusss ante pour jouer.",
      "glitchDescription": "Excité. Quelle pièce de machinerie impressionnante.",
      "humanDescription": "C'est la deuxième plus grosse foreuse minière que j'aie vue de ma vie!",
      "hylotlDescription": "Des machines similaires sont utilisées par les Hylotls pour forer le fond des océans.",
      "novakidDescription": "Quelle beauté!"
    }
  },
  "drillconsole": {
    "name": "Console de Foreuse Minière",
    "desc": "Une console montée sur foreuse.",
    "metadata": {
      "apexDescription": "Une console avec une foreuse attachée.",
      "avianDescription": "Une console avec sa propre foreuse intégrée.",
      "floranDescription": "Consssole avec foreussse.",
      "glitchDescription": "Intrigué. Une console connectée directement à une foreuse minière.",
      "humanDescription": "Une foreuse, probablement actionnée par la console attachée.",
      "hylotlDescription": "Une console de minage avec des fonctions de récolte.",
      "novakidDescription": "Console de minage."
    }
  },
  "displaylight": {
    "name": "Spot d'Exposition",
    "desc": "Un projecteur directionnel utilisé pour éclairer des objets exposés.",
    "metadata": {
      "apexDescription": "C'est une lampe, son seul but est de pointer vers ce truc.",
      "avianDescription": "Je devrais regarder ce que la lumière pointe, c'est peut-être plus intéressant.",
      "floranDescription": "Lumière vive brille sur jolisss objetsss.",
      "glitchDescription": "Humble. Cette lampe accomplit diligemment son unique mission.",
      "humanDescription": "Je devrais probablement m'intéresser davantage à ce que cette lampe vise.",
      "hylotlDescription": "Cette lumière est là pour illuminer un sujet plus digne d'intérêt qu'elle-même.",
      "novakidDescription": "Je me demande bien c'que c'te lumière pointe?"
    }
  },
  "displaylightbroken": {
    "name": "Spot d'Exposition Cassé",
    "desc": "Cette lampe est censée éclairer une exposition quelconque.",
    "metadata": {
      "apexDescription": "Peut-être qu'elle a juste besoin d'une nouvelle ampoule.",
      "avianDescription": "Qu'est-ce qu'elle éclairerait si elle était allumée?",
      "floranDescription": "Quelqu'un a casss é la lumière.",
      "glitchDescription": "Horrifié. Quel spectacle tragique, cette lampe a besoin d'une ampoule de rechange de toute urgence.",
      "humanDescription": "Cette lampe est éteinte, quelqu'un a une ampoule en trop?",
      "hylotlDescription": "Quel dommage, quelqu'un devrait vraiment réparer cette lampe avant qu'elle ne cause un accident.",
      "novakidDescription": "Ça vacille comme une flamme mourante."
    }
  },
  "dangersignh": {
    "name": "Panneau de Danger Horizontal",
    "desc": "Le panneau dit \"DANGER\". Attendez, comment ces gens connaissent mon deuxième prénom?",
    "metadata": {
      "apexDescription": "C'est écrit danger, mais il n'y a aucune indication sur ce qui est dangereux...",
      "avianDescription": "Quelque chose de dangereux est proche.",
      "floranDescription": "Floran rit au nez du danger. Haha!",
      "glitchDescription": "Courageux. Ce panneau est plus un défi qu'un avertissement.",
      "humanDescription": "Est-ce que le danger est proche, ou est-ce le panneau lui-même qui est dangereux? Les bords ont l'air sacrément tranchants...",
      "hylotlDescription": "Un avertissement clair, bien que criard.",
      "novakidDescription": "Le seul danger ici, c'est moi."
    }
  },
  "dangersignv": {
    "name": "Panneau de Danger Vertical",
    "desc": "Le panneau dit \"DANGER\". Attendez, comment ces gens connaissent mon deuxième prénom?",
    "metadata": {
      "apexDescription": "C'est écrit danger, mais il n'y a aucune indication sur ce qui est dangereux...",
      "avianDescription": "Quelque chose de dangereux est proche.",
      "floranDescription": "Floran rit au nez du danger. Haha!",
      "glitchDescription": "Courageux. Ce panneau est plus un défi qu'un avertissement.",
      "humanDescription": "Est-ce que le danger est proche, ou est-ce le panneau lui-même qui est dangereux? Les bords ont l'air sacrément tranchants...",
      "hylotlDescription": "Un avertissement clair, bien que criard.",
      "novakidDescription": "Le seul danger ici, c'est moi."
    }
  },
  "decoratedtree": {
    "name": "Arbre Décoré",
    "desc": "Un arbre synthétique décoré de guirlandes lumineuses et d'ornements festifs.",
    "metadata": {
      "apexDescription": "La vue de cet arbre me réchauffe le cœur.",
      "avianDescription": "J'ai une envie soudaine de me mettre à chanter!",
      "floranDescription": "Arbre brillant.",
      "glitchDescription": "Heureux. Cet arbre me donne envie de chanter des chansons de fête.",
      "humanDescription": "Cet arbre me rappelle beaucoup de souvenirs de la maison...",
      "hylotlDescription": "Je dois admettre que cet arbre festif a un effet apaisant sur mon cœur d'amphibien.",
      "novakidDescription": "Eh bien, ces décorations rendent vraiment un simple arbre spécial."
    }
  },
  "dreidel": {
    "name": "Toupie Dreidel",
    "desc": "Une toupie à quatre faces. Il y a de curieux symboles sur chaque côté.",
    "metadata": {
      "apexDescription": "Une toupie amusante.",
      "avianDescription": "Ce jouet rotatif est plutôt amusant.",
      "floranDescription": "Jouet qui tourne sss!",
      "glitchDescription": "Joyeux. Une toupie.",
      "humanDescription": "Cool, un dreidel, dans l'espace!",
      "hylotlDescription": "Cette toupie rudimentaire me remplit de joie, allez savoir pourquoi.",
      "novakidDescription": "Je me demande si ces symboles ressemblent à ma marque?"
    }
  },
  "diamonddisplay": {
    "name": "Présentoir à Diamant",
    "desc": "Un présentoir pour un gros diamant.",
    "metadata": {
      "apexDescription": "Une vitrine pour un diamant de grande taille.",
      "avianDescription": "Une belle façon d'exposer des gemmes inestimables.",
      "floranDescription": "Floran a déjà volé gemme dans musée. Gardesss en colère. Floran plante.",
      "glitchDescription": "Critique. Cette vitrine ne semble pas être protégée par un système d'alarme.",
      "humanDescription": "On se croirait dans un film de braquage!",
      "hylotlDescription": "Une présentation peu gracieuse pour une si belle pierre.",
      "novakidDescription": "Je me demande si quelqu'un remarquera s'il vient à disparaître."
    }
  },
  "darkbannermedievallarge": {
    "name": "Grande Bannière Glitch Sombre",
    "desc": "Une bannière tissée de couleurs sombres.",
    "metadata": {
      "apexDescription": "Les couleurs sombres de cette bannière la rendent plutôt menaçante.",
      "avianDescription": "Cette bannière a du cuivre finement tissé dans la bordure. Quel joli détail!",
      "floranDescription": "Cette bannière essst sombre comme les ombresss. Floran veut sss'y cacher.",
      "glitchDescription": "Inquiet. Ce genre de bannière est souvent déployé quand des individus peu amicaux sont dans les parages...",
      "humanDescription": "Cette bannière tissée noire s'efforce vraiment d'être menaçante.",
      "hylotlDescription": "C'est dommage qu'une si belle bannière ait été créée avec des choix de couleurs aussi lugubres.",
      "novakidDescription": "Cette bannière est aussi sombre que de l'huile de vidange d'une semaine."
    }
  },
  "darkbannermedievalsmall": {
    "name": "Petite Bannière Glitch Sombre",
    "desc": "Une petite bannière tissée de couleurs sombres.",
    "metadata": {
      "apexDescription": "Les couleurs sombres de cette bannière la rendent plutôt menaçante.",
      "avianDescription": "Cette bannière a du cuivre finement tissé dans la bordure. Quel joli détail!",
      "floranDescription": "Cette bannière essst sombre comme les ombresss. Floran veut sss'y cacher.",
      "glitchDescription": "Inquiet. Ce genre de bannière est souvent déployé quand des individus peu amicaux sont dans les parages...",
      "humanDescription": "Cette bannière tissée noire s'efforce vraiment d'être menaçante.",
      "hylotlDescription": "C'est dommage qu'une si belle bannière ait été créée avec des choix de couleurs aussi lugubres.",
      "novakidDescription": "Cette bannière est aussi sombre que de l'huile de vidange d'une semaine."
    }
  },
  "darkbattlestandard": {
    "name": "Étendard de Bataille Sombre",
    "desc": "Un drapeau à damier sombre portant un emblème.",
    "metadata": {
      "apexDescription": "Je me demande s'il est ici pour marquer un territoire?",
      "avianDescription": "Je me demande si ces couleurs sombres ont été choisies pour le rendre plus menaçant?",
      "floranDescription": "Floran n'aime pas trop drapeau. Couleursss ennuyeusss es.",
      "glitchDescription": "Inquiet. Les Glitchs qui fabriquent des drapeaux de ces couleurs ne sont souvent pas les plus fréquentables.",
      "humanDescription": "Une bannière aux couleurs maussades qui peut être placée n'importe où.",
      "hylotlDescription": "Ces couleurs ternes prouvent qu'un Hylotl n'a pas fabriqué ça.",
      "novakidDescription": "Ce drapeau est si sombre qu'on pourrait le prendre pour un signal d'alarme."
    }
  },
  "darkcomputer": {
    "name": "Ordinateur Sombre",
    "desc": "Un terminal informatique antique, avec un affichage rouge profond.",
    "metadata": {
      "apexDescription": "L'écran de ce terminal est d'un rouge menaçant.",
      "avianDescription": "On dirait un vieux terminal informatique. Il semble bien fonctionner malgré son âge.",
      "floranDescription": "Floran veut sssavoir pourquoi boîte est sssi rouge.",
      "glitchDescription": "Impressionné. Ce vieil ordinateur semble fonctionner sans accroc malgré un entretien minimal.",
      "humanDescription": "Aïe, un affichage uniquement rouge. Ça doit piquer les yeux.",
      "hylotlDescription": "Cet ordinateur a un jeu de couleurs très déconcertant, c'est certain.",
      "novakidDescription": "C'te vieillerie devait être plus impressionnante il y a un siècle."
    }
  },
  "datastation": {
    "name": "Station de Données",
    "desc": "Cette station semble transmettre une grande quantité de données.",
    "metadata": {
      "apexDescription": "Elle semble traiter beaucoup de données.",
      "avianDescription": "Cette machine a l'air de travailler dur.",
      "floranDescription": "Machine brillante fait bruit de gensss occupésss.",
      "glitchDescription": "Analytique. Ce terminal semble traiter des données topographiques sur la planète.",
      "humanDescription": "C'est une sorte de station informatique. Ça a l'air important, je ne devrais probablement pas y toucher.",
      "hylotlDescription": "Cette station semble traiter une quantité massive d'informations.",
      "novakidDescription": "Un genre d'ordi sophistiqué avec plein de panneaux clinquants."
    }
  },
  "durasteelelevatorlong": {
    "name": "Grand Ascenseur en Durasteel",
    "desc": "Cet ascenseur en durasteel fera l'affaire.",
    "metadata": {
      "apexDescription": "Un ascenseur robuste.",
      "avianDescription": "Le moyen le plus simple de se déplacer dans une installation à plusieurs niveaux.",
      "floranDescription": "Ascensss eur monte et desss cend.",
      "glitchDescription": "Lassé. Un ascenseur sans grand intérêt.",
      "humanDescription": "Un ascenseur pour monter et descendre les étages.",
      "hylotlDescription": "Un élégant ascenseur en durasteel.",
      "novakidDescription": "Une sorte d'ascenseur, bien pratique!"
    }
  },
  "durasteelelevatorshort": {
    "name": "Petit Ascenseur en Durasteel",
    "desc": "Cet ascenseur en durasteel fera l'affaire.",
    "metadata": {
      "apexDescription": "Un ascenseur robuste.",
      "avianDescription": "Le moyen le plus simple de se déplacer dans une installation à plusieurs niveaux.",
      "floranDescription": "Ascensss eur monte et desss cend.",
      "glitchDescription": "Lassé. Un ascenseur sans grand intérêt.",
      "humanDescription": "Un ascenseur pour monter et descendre les étages.",
      "hylotlDescription": "Un élégant ascenseur en durasteel.",
      "novakidDescription": "Une sorte d'ascenseur, bien pratique!"
    }
  },
  "dirtyfossil1": {
    "name": "Fossile",
    "desc": "Une sorte de fossile, tout couvert de boue et de roche. Il va falloir un nettoyage minutieux pour l'extraire en un seul morceau.",
    "metadata": {
      "apexDescription": "Un fossile encastré dans la terre. Il faudra un travail minutieux pour le sortir intact.",
      "avianDescription": "Ce fossile a l'air intéressant, je me demande si je pourrais le déterrer sans l'endommager?",
      "floranDescription": "Un fosss ile piégé dans la terre. Je me demande ce que c'était avant.",
      "glitchDescription": "Intrigué. J'aimerais voir ce fossile dans son intégralité.",
      "humanDescription": "Un fossile! Je me demande si je peux le sortir de là?",
      "hylotlDescription": "Une créature fossilisée, ancienne et délicate, ensevelie dans la roche.",
      "novakidDescription": "De vieux os... des os en pierre! Comment on appelle ça déjà? Ah, des fossiles!"
    }
  },
  "dirtyfossil2": {
    "name": "Fossile",
    "desc": "Une sorte de fossile, tout couvert de boue et de roche. Il va falloir un nettoyage minutieux pour l'extraire en un seul morceau."
  },
  "dirtyfossil3": {
    "name": "Fossile",
    "desc": "Une sorte de fossile, tout couvert de boue et de roche. Il va falloir un nettoyage minutieux pour l'extraire en un seul morceau."
  },
  "dirtyfossil4": {
    "name": "Fossile",
    "desc": "Une sorte de fossile, tout couvert de boue et de roche. Il va falloir un nettoyage minutieux pour l'extraire en un seul morceau."
  },
  "dirtyfossil5": {
    "name": "Fossile",
    "desc": "Une sorte de fossile, tout couvert de boue et de roche. Il va falloir un nettoyage minutieux pour l'extraire en un seul morceau."
  },
  "dirtyfossil6": {
    "name": "Fossile",
    "desc": "Une sorte de fossile, tout couvert de boue et de roche. Il va falloir un nettoyage minutieux pour l'extraire en un seul morceau."
  },
  "dirtyfossil7": {
    "name": "Fossile",
    "desc": "Une sorte de fossile, tout couvert de boue et de roche. Il va falloir un nettoyage minutieux pour l'extraire en un seul morceau."
  },
  "dirtyfossil8": {
    "name": "Fossile",
    "desc": "Une sorte de fossile, tout couvert de boue et de roche. Il va falloir un nettoyage minutieux pour l'extraire en un seul morceau."
  },
  "diodiaseed": {
    "name": "Graine de Diodia",
    "desc": "La Diodia, un légume-racine tendre avec un goût de cuivre.",
    "metadata": {
      "apexDescription": "Les Diodias n'ont pas le goût le plus agréable, mais elles sont faciles à cultiver.",
      "avianDescription": "Une diodia ressemble à une noix, mais n'en a pas le goût.",
      "floranDescription": "A le goût du sssang, Floran trouve Diodia acceptable comme sss ubsss titut.",
      "glitchDescription": "Insulté. Les Diodias sont vraiment des légumes sous-estimés.",
      "humanDescription": "On dirait une pomme de terre, mais ça a le goût d'une pièce de monnaie. Pas un super échange.",
      "hylotlDescription": "Un légume-racine amer. Idéal pour relever le goût.",
      "novakidDescription": "Les Diodias au goût de cuivre font fureur chez les Glitchs."
    }
  },
  "dirturchinseed": {
    "name": "Graine d'Oursin de Terre",
    "desc": "Les oursins de terre sont spongieux et plutôt insipides.",
    "metadata": {
      "apexDescription": "C'est plus une mauvaise herbe commune qu'un légume.",
      "avianDescription": "Quand il n'y a rien de mieux à manger, l'oursin de terre fait l'affaire.",
      "floranDescription": "Oursin de terre ressemble à un tout petit cactusss rond.",
      "glitchDescription": "Désintéressé. Une plante commune et ennuyeuse.",
      "humanDescription": "Il a été prouvé statistiquement que 93 % des humains ont la phobie des oursins de terre.",
      "hylotlDescription": "Pourquoi quiconque mangerait ça dépasse mon entendement.",
      "novakidDescription": "Les oursins de terre sont aussi ternes que la terre d'où ilsss sortent."
    }
  },
  "dewhopper": {
    "name": "Dewhopper",
    "desc": "Un insecte vif que l'on peut voir boire la rosée du matin."
  },
  "driftbell": {
    "name": "Driftbell",
    "desc": "Cet insecte produit un léger tintement lorsqu'il vole dans les airs."
  },
  "dustmoth": {
    "name": "Dustmoth",
    "desc": "La traînée d'un dustmoth ressemble à de la poussière d'étoiles."
  },
  "devstatuegeorge": {
    "name": "Statue Dev GeorgeV",
    "desc": "Un hommage à GeorgeV! Développeur Ultime! GLOIRE À GEORGE!!!",
    "metadata": {
      "apexDescription": "GLOIRE À GEORGE!!!",
      "avianDescription": "GLOIRE À GEORGE!!!",
      "floranDescription": "GLOIRE À GEORGE!!!",
      "glitchDescription": "GLOIRE À GEORGE!!!",
      "humanDescription": "GLOIRE À GEORGE!!!",
      "hylotlDescription": "GLOIRE À GEORGE!!!"
    }
  },
  "diamondrock": {
    "name": "Roche Diamantifère",
    "desc": "Une roche fissurée remplie de diamant.",
    "metadata": {
      "apexDescription": "Il semble y avoir du diamant dans cette roche fragile.",
      "avianDescription": "Si je brise cette roche, je devrais pouvoir récolter le minerai de diamant à l'intérieur.",
      "floranDescription": "Roche qui brille. Fracasss er!",
      "glitchDescription": "Observateur. Cette roche contient du diamant et est couverte de fissures.",
      "humanDescription": "Une roche pleine de diamants! Je peux peut-être la briser.",
      "hylotlDescription": "Un coup rapide sur cette roche libérerait le diamant qu'elle contient.",
      "novakidDescription": "Une roche riche en diamant. Je devrais la briser."
    }
  },
  "diamondrocksmall": {
    "name": "Petite Roche Diamantifère",
    "desc": "Une roche fissurée remplie de diamant.",
    "metadata": {
      "apexDescription": "Il semble y avoir du diamant dans cette roche fragile.",
      "avianDescription": "Si je brise cette roche, je devrais pouvoir récolter le minerai de diamant à l'intérieur.",
      "floranDescription": "Roche qui brille. Fracasss er!",
      "glitchDescription": "Observateur. Cette roche contient du diamant et est couverte de fissures.",
      "humanDescription": "Une roche pleine de diamants! Je peux peut-être la briser.",
      "hylotlDescription": "Un coup rapide sur cette roche libérerait le diamant qu'elle contient.",
      "novakidDescription": "Une roche riche en diamant. Je devrais la briser."
    }
  },
  "dripslime1": {
    "name": "Bave Dégoulinante",
    "desc": "De la bave s'écoule de cet endroit.",
    "metadata": {
      "apexDescription": "D'où vient cette bave?",
      "avianDescription": "Je préférerais ne pas avoir de bave sur mes plumes.",
      "floranDescription": "Floran n'essst pas fan de la bave.",
      "glitchDescription": "Dégoûté. Il semble y avoir de la bave qui coule.",
      "humanDescription": "Mieux vaut ne pas marcher sous cette bave dégoulinante.",
      "hylotlDescription": "Un égouttement constant de bave.",
      "novakidDescription": "La bave a tendance à se mettre partout si on n'y prend pas garde."
    }
  },
  "dumpster": {
    "name": "Benne à Ordures",
    "desc": "Une benne à ordures.",
    "metadata": {
      "apexDescription": "Une benne à ordures standard.",
      "avianDescription": "Une benne à ordures.",
      "floranDescription": "Benne à ordùuresss.",
      "glitchDescription": "Surpris. Une benne à ordures.",
      "humanDescription": "Est-ce que faire les poubelles est encore à la mode?",
      "hylotlDescription": "Une benne à ordures. Immonde mais nécessaire.",
      "novakidDescription": "Une bonne vieille benne à ordures."
    }
  },
  "dustybed": {
    "name": "Lit Poussiéreux",
    "desc": "Un vieux lit usé et poussiéreux.",
    "metadata": {
      "apexDescription": "Vieux et usé, mais probablement encore assez efficace.",
      "avianDescription": "Un lit avec un drap rembourré d'herbe. Je pourrais m'y habituer!",
      "floranDescription": "Floran pourrait probablement sss'endormir là-dedans sans problème.",
      "glitchDescription": "Confus. Ce meuble est-il censé avoir l'air aussi débraillé?",
      "humanDescription": "Il a l'air vieux et sec. Je n'oserais pas le placer près d'une flamme nue.",
      "hylotlDescription": "Je ne suis pas à l'aise à l'idée de dormir dans des conditions aussi précaires.",
      "novakidDescription": "Un peu de poussière n'a jamais tué personne."
    }
  },
  "dustychair": {
    "name": "Chaise Poussiéreuse",
    "desc": "Une vieille chaise usée et poussiéreuse.",
    "metadata": {
      "apexDescription": "Vieille et usée, mais probablement encore assez efficace.",
      "avianDescription": "Une chaise avec un rembourrage en herbe. Je pourrais m'y habituer!",
      "floranDescription": "Floran pen ssse que chaise a survécu à une bataille.",
      "glitchDescription": "Confus. Ce meuble est-il censé avoir l'air aussi débraillé?",
      "humanDescription": "Elle a l'air un peu cassée. Je ne suis pas sûr de devoir m'asseoir dessus...",
      "hylotlDescription": "Cette chaise semble avoir vécu bien des épreuves.",
      "novakidDescription": "La poussière, c'est pas si terrible."
    }
  },
  "dustytable": {
    "name": "Table en Bois Poussiéreuse",
    "desc": "Une table en bois poussiéreuse.",
    "metadata": {
      "apexDescription": "Une table en bois d'aspect très rudimentaire.",
      "avianDescription": "C'est une table vraiment bancale.",
      "floranDescription": "Table en boisss pousss iéreusss e.",
      "glitchDescription": "Observateur. Le bois semble avoir été endommagé par le soleil.",
      "humanDescription": "La nappe semble être faite d'herbe séchée.",
      "hylotlDescription": "Une table très simple, et laide.",
      "novakidDescription": "Je pourrais quand même manger ici si j'en avais besoin."
    }
  },
  "deckchair": {
    "name": "Transat",
    "desc": "Une chaise pliante faite pour se prélasser. Ça a l'air relaxant.",
    "metadata": {
      "apexDescription": "Cette chaise simple semble faite pour flâner.",
      "avianDescription": "Cette chaise semble conçue pour la détente.",
      "floranDescription": "Floran veut sss'allonger et se relaxer.",
      "glitchDescription": "Régénéré. Cette chaise semble pouvoir dissiper tous mes soucis.",
      "humanDescription": "Cette chaise semble parfaite pour se pencher en arrière et faire une pause relaxante.",
      "hylotlDescription": "J'imagine que cette chaise apporte la paix à quiconque s'y assoit.",
      "novakidDescription": "C'te chaise est parfaite pour reposer mes bottes un instant."
    }
  },
  "diamondsample": {
    "name": "Échantillon de Diamant",
    "desc": "\"Un échantillon parfait de minerai de diamant.\""
  },
  "durasteelsample": {
    "name": "Échantillon de Durasteel",
    "desc": "\"Un échantillon parfait de minerai de durasteel.\""
  },
  "dripblood1": {
    "name": "Source de Gouttes de Sang",
    "desc": "Du sang s'égoutte de cet endroit.",
    "metadata": {
      "apexDescription": "beurk...",
      "avianDescription": "beurk...",
      "floranDescription": "dégoûtantttt",
      "glitchDescription": "Dégoût. Beeeurk...",
      "humanDescription": "beurk...",
      "hylotlDescription": "beurk...",
      "novakidDescription": "beurk..."
    }
  },
  "dnaplant1": {
    "name": "Plante ADN",
    "desc": "Une plante rampante, ressemblant à de l'ADN.",
    "metadata": {
      "apexDescription": "Cette plante ressemble à des serpents.",
      "avianDescription": "On dirait de longs bras sortant du sol.",
      "floranDescription": "Plante qui pousss e selon un motif.",
      "glitchDescription": "Impressionné. Une plante qui pousse selon la forme de son propre brin d'ADN.",
      "humanDescription": "Je me demande si quelqu'un les a cultivées pour qu'elles poussent ainsi.",
      "hylotlDescription": "Des plantes qui poussent selon la forme de leur propre ADN. La nature est vraiment miraculeuse.",
      "novakidDescription": "Je ne sais pas trop ce que je regarde là."
    }
  },
  "dnaplant2": {
    "name": "Plante ADN",
    "desc": "Une plante en spirale, comme de l'ADN.",
    "metadata": {
      "apexDescription": "Cette plante ressemble à des serpents.",
      "avianDescription": "Cette plante ressemble à des vers.",
      "floranDescription": "Cette plante resss emble à Floran.",
      "glitchDescription": "Impressionné. Une plante qui pousse selon la forme de son propre brin d'ADN.",
      "humanDescription": "Je me demande si quelqu'un les a cultivées pour qu'elles poussent ainsi.",
      "hylotlDescription": "La nature est vraiment miraculeuse.",
      "novakidDescription": "Je ne sais pas trop ce que je regarde là."
    }
  },
  "dnaplant3": {
    "name": "Plante ADN",
    "desc": "Une plante en spirale, comme de l'ADN.",
    "metadata": {
      "apexDescription": "Cette plante ressemble à des serpents.",
      "avianDescription": "Cette plante ressemble à des vers.",
      "floranDescription": "Cette plante resss emble à Floran.",
      "glitchDescription": "Impressionné. Une plante qui pousse selon la forme de son propre brin d'ADN.",
      "humanDescription": "Je me demande si quelqu'un les a cultivées pour qu'elles poussent ainsi.",
      "hylotlDescription": "La nature est vraiment miraculeuse.",
      "novakidDescription": "Je ne sais pas trop ce que je regarde là."
    }
  },
  "dnaplant4": {
    "name": "Plante ADN",
    "desc": "Une plante en spirale, comme de l'ADN.",
    "metadata": {
      "apexDescription": "Cette plante ressemble à des serpents.",
      "avianDescription": "Cette plante ressemble à des vers.",
      "floranDescription": "Cette plante resss emble à Floran.",
      "glitchDescription": "Impressionné. Une plante qui pousse selon la forme de son propre brin d'ADN.",
      "humanDescription": "Je me demande si quelqu'un les a cultivées pour qu'elles poussent ainsi.",
      "hylotlDescription": "La nature est vraiment miraculeuse.",
      "novakidDescription": "Je ne sais pas trop ce que je regarde là."
    }
  },
  "decorativewallrug1": {
    "name": "Tapisserie Colorée",
    "desc": "Une tapisserie murale au tissage complexe.",
    "metadata": {
      "apexDescription": "Une tapisserie. Splendidement tissée.",
      "avianDescription": "Les Avians terrestres décorent leur maison avec des tapisseries. Plus les couleurs sont vives, mieux c'est.",
      "floranDescription": "Couleur vive. Rivalise avec fleur sss de Floran.",
      "glitchDescription": "Impressionné. Cette tapisserie témoigne d'un haut niveau d'artisanat.",
      "humanDescription": "Quelle magnifique tapisserie, elle ajoute vraiment une touche de couleur.",
      "hylotlDescription": "Les Avians semblent apprécier les tentures murales colorées.",
      "novakidDescription": "C'est une bien jolie décoration murale."
    }
  },
  "decorativewallrug2": {
    "name": "Petite Tapisserie Colorée",
    "desc": "Une petite tapisserie murale tribale. Elle a l'air douce!",
    "metadata": {
      "apexDescription": "Une tapisserie. Magnifiquement douce.",
      "avianDescription": "Les tissus utilisés dans les tapisseries terrestres sont traités jusqu'à devenir remarquablement doux.",
      "floranDescription": "Doux comme desss pétalesss.",
      "glitchDescription": "Tactile. Ce tissu a été adouci d'innombrables fois.",
      "humanDescription": "On dirait que quelqu'un a travaillé dur pour adoucir ce tissu.",
      "hylotlDescription": "Confort et chaleur.",
      "novakidDescription": "C'te tapisserie est rudement douce."
    }
  },
  "derrickstatue": {
    "name": "Statue de Derrick",
    "desc": "Cette statue est dédiée à une créature nommée Derrick, qui semble avoir disparu de chez son propriétaire.",
    "metadata": {
      "apexDescription": "Cette sculpture représente une créature nommée Derrick.",
      "avianDescription": "Une statue de monstre. L'inscription dit qu'il s'appelle Derrick.",
      "floranDescription": "Floran aime statue de Derrick.",
      "glitchDescription": "Intéressé. Cette statue semble être un hommage à un animal de compagnie disparu.",
      "humanDescription": "Une statue d'un animal perdu nommé Derrick. Je me demande si son propriétaire l'a un jour retrouvé.",
      "hylotlDescription": "Une sculpture détaillée d'une créature spécifique nommée Derrick. Je n'ai jamais rien vu de tel.",
      "novakidDescription": "Une statue d'un monstre appelé Derrick. Il a l'air d'être assez grand pour servir de monture."
    }
  },
  "dreadwingaf": {
    "name": "Figurine de Dreadwing",
    "desc": "L'étiquette indique: \"Le tristement célèbre pirate Manchot Dreadwing, dans son incomparable OVNI.\""
  }
}