{
  "invisiblemonsterspawner": {
    "name": "Générateur de Monstres Invisible",
    "desc": "..."
  },
  "invisiblesound": {
    "name": "Source Sonore Invisible",
    "desc": "..."
  },
  "invisibleand": {
    "name": "Interrupteur ET Invisible",
    "desc": "..."
  },
  "invisiblecountdowntimer": {
    "name": "Compte à Rebours Invisible",
    "desc": "..."
  },
  "invisibledelay": {
    "name": "Porte de Délai Invisible",
    "desc": "..."
  },
  "invisibledlatch": {
    "name": "Verrou D Invisible",
    "desc": "..."
  },
  "invisiblenot": {
    "name": "Interrupteur NON Invisible",
    "desc": "..."
  },
  "invisibleor": {
    "name": "Interrupteur OU Invisible",
    "desc": "..."
  },
  "invisibletimer": {
    "name": "Minuteur Invisible (1 s)",
    "desc": "..."
  },
  "invisiblexor": {
    "name": "Interrupteur OU Exclusif Invisible",
    "desc": "..."
  },
  "invisiblepersistentswitch": {
    "name": "Interrupteur Persistant Invisible",
    "desc": "..."
  },
  "invisibleproximitysensor": {
    "name": "Capteur de Proximité Invisible",
    "desc": "..."
  },
  "invisiblewallswitch": {
    "name": "Interrupteur Mural Invisible",
    "desc": "..."
  },
  "islandcabinet": {
    "name": "Armoire des Îles",
    "desc": "Une armoire au look tropical, complétée par un petit arbre.",
    "metadata": {
      "apexDescription": "Cette armoire est bien trop expressive pour les maisons Apex.",
      "avianDescription": "Cet arbre est un peu trop petit pour s'y percher.",
      "floranDescription": "Floran aime les chosess avec un arbre desssus.",
      "glitchDescription": "Amusé. Il y a un petit arbre au sommet de cette armoire.",
      "humanDescription": "Une armoire avec un petit arbre au-dessus. Comme c'est adorable!",
      "hylotlDescription": "Cette armoire me rappelle une île au-dessus des flots.",
      "novakidDescription": "Si cet arbre était un peu plus grand, je pourrais m'allonger à l'ombre en dessous."
    }
  },
  "islandchair": {
    "name": "Chaise des Îles",
    "desc": "Une chaise faite de bambou et de feuilles.",
    "metadata": {
      "apexDescription": "Une chaise plus efficace ne se concentrerait pas autant sur l'esthétique.",
      "avianDescription": "Une chaise qui évoque des pensées de nature.",
      "floranDescription": "La chaise essst faite de plantess. C'est un bon choix.",
      "glitchDescription": "Nerveux. La chaise sent bon, mais n'a pas l'air si confortable.",
      "humanDescription": "C'est sûr qu'elle est jolie, mais je vois bien qu'elle n'est pas faite pour le confort.",
      "hylotlDescription": "Cette chaise me donne envie de m'asseoir sur une plage et de regarder le flux et le reflux des vagues.",
      "novakidDescription": "Peut-être qu'un petit repos ne ferait pas de mal."
    }
  },
  "islandhammock": {
    "name": "Hamac des Îles",
    "desc": "Pour certains, un hamac est l'image même du luxe.",
    "metadata": {
      "apexDescription": "Je préfère que mes lits soient sur un sol ferme. La sécurité avant tout.",
      "avianDescription": "Être suspendu au-dessus du sol pendant que l'on dort est merveilleux.",
      "floranDescription": "Floran préfère ddormir sur le ssol.",
      "glitchDescription": "Inquiet. Est-ce que ce hamac supporterait mon poids?",
      "humanDescription": "Des hamacs! Le lit de l'homme du commun nomade.",
      "hylotlDescription": "Il n'y a aucune élégance à dormir dans un lit aussi simple.",
      "novakidDescription": "Un hamac, hein? Voilà une idée qui me plaît."
    }
  },
  "islandlamp": {
    "name": "Lampe des Îles",
    "desc": "Cette lampe en verre diffuse une lueur chaleureuse.",
    "metadata": {
      "apexDescription": "Cette lampe a aussi un parfum d'herbe. Je me demande si c'est intentionnel.",
      "avianDescription": "Cette lampe est comme un petit soleil de verre. J'aime ça.",
      "floranDescription": "Floran aime les lampess feuilluesss.",
      "glitchDescription": "Calme. Cette lumière me donne envie de dormir.",
      "humanDescription": "Cette lampe est parfumée! Dans quel but?",
      "hylotlDescription": "Je peux apprécier la finition lisse du verre de cette lumière.",
      "novakidDescription": "Je me reconnais dans l'éclat coloré de c'te vieille lampe."
    }
  },
  "islandtable": {
    "name": "Table des Îles",
    "desc": "Il y a un visage plutôt sinistre sculpté à la base de cette table.",
    "metadata": {
      "apexDescription": "Cette table est bien trop expressive. Je préfère un décor plus simple.",
      "avianDescription": "Cette table est faite uniquement de bois. J'apprécie cela.",
      "floranDescription": "La table a un vissage en colère. Floran essst impressionné.",
      "glitchDescription": "Alarmé. Cette table tropicale possède un visage très expressif à sa base.",
      "humanDescription": "Quelqu'un a sculpté ce visage à la main. C'est gentil de leur part.",
      "hylotlDescription": "Cette table est assez agressive. Pourquoi ne pas avoir une table calme à la place?",
      "novakidDescription": "Pourquoi les gens ont besoin d'enlaidir une table correcte comme ça?"
    }
  },
  "industrialbed": {
    "name": "Lit Industriel",
    "desc": "Un lit bon marché avec un cadre métallique robuste. Il ne semble pas très confortable.",
    "metadata": {
      "apexDescription": "Ce lit semble avoir été conçu pour son intégrité structurelle plutôt que pour son confort.",
      "avianDescription": "Ce lit a l'air assez lourd...",
      "floranDescription": "Floran pourrait ne pass bien dormir dans un grand lit en métal.",
      "glitchDescription": "Analytique. Ce lit semble pouvoir résister à des mouvements extrêmement turbulents.",
      "humanDescription": "Avec un peu de rembourrage supplémentaire, ce lit pourrait en fait être assez confortable.",
      "hylotlDescription": "Ce lit a l'air horriblement inconfortable, mais comme je n'aime pas juger, je pourrais quand même y dormir.",
      "novakidDescription": "Ce lit a l'air bien raide, mais par chance, j'ai le sommeil facile."
    }
  },
  "industrialcanister": {
    "name": "Bidon Industriel",
    "desc": "Un bidon métallique scellé, pouvant être utilisé pour stocker des liquides dangereux.",
    "metadata": {
      "apexDescription": "Ce bidon semble idéal pour transporter des substances volatiles.",
      "avianDescription": "Quel curieux bidon - je me demande ce qu'il y a à l'intérieur?",
      "floranDescription": "Tube jaune. Pourrait avoir des chosess à l'intérieur.",
      "glitchDescription": "Observateur. Une courte analyse conclut que ce bidon est construit pour stocker des liquides précieux en toute sécurité.",
      "humanDescription": "Le son que fait ce bidon quand on l'ouvre est assez satisfaisant.",
      "hylotlDescription": "Quel curieux conteneur de stockage. Peut-être est-il fait pour stocker du carburant?",
      "novakidDescription": "C'est-y pas un gros tonneau de pétrole? Sacrément bizarre pour un tonneau, si vous voulez mon avis."
    }
  },
  "industrialchair": {
    "name": "Chaise Industrielle",
    "desc": "Une chaise en métal massif avec seulement un léger rembourrage.",
    "metadata": {
      "apexDescription": "Cette chaise a l'air peu coûteuse à produire en masse, mais elle est peut-être un peu inconfortable.",
      "avianDescription": "Je ne pense pas vouloir reposer mes plumes trop longtemps sur cette chaise rigide.",
      "floranDescription": "La chaise a l'air lourde. Floran pourrait quand même la lancer!",
      "glitchDescription": "Inconfortable. Cette chaise semble avoir été faite pour une production efficace plutôt que pour le confort.",
      "humanDescription": "On pourrait croire qu'avec toute cette technologie spatiale, les gens auraient trouvé comment faire des chaises systématiquement confortables.",
      "hylotlDescription": "Une chaise aussi inconfortable n'a pas pu être fabriquée par accident.",
      "novakidDescription": "C'est pas le plus confortable des sièges, mais je pourrais m'y relaxer si j'y mettais du mien."
    }
  },
  "industrialcomputer": {
    "name": "Ordinateur Industriel",
    "desc": "Une vieille tour d'ordinateur en métal. Des câbles mal rangés pendent à l'arrière.",
    "metadata": {
      "apexDescription": "Cette console possède de nombreux boutons et leviers. Je suis sûr que je pourrais la comprendre avec un manuel d'instruction.",
      "avianDescription": "Cet ordinateur affiche plein de petits textes verts. Je me demande à quoi ça sert?",
      "floranDescription": "La boîte a des motss verts desssus. Le vert essst une bonne couleur. Floran approuve.",
      "glitchDescription": "Intrigué. Cet écran affiche beaucoup d'informations - je me demande à quoi tout cela sert?",
      "humanDescription": "Je me demande pourquoi tout le texte sur cet écran d'ordinateur est vert? Est-ce un choix stylistique?",
      "hylotlDescription": "Cet ordinateur est bien plus grand qu'il ne devrait l'être. Les ingénieurs Hylotl pourraient construire quelque chose de plus compact.",
      "novakidDescription": "C'te boîte a pas mal de motss desssus, mais j'ai juste pas la patience d'suivre tout ça."
    }
  },
  "industrialcrate": {
    "name": "Caisse Industrielle",
    "desc": "Une caisse de cargaison pressurisée, conçue pour résister aux conditions des voyages spatiaux.",
    "metadata": {
      "apexDescription": "Une caisse d'apparence robuste, éclairée par un ensemble de faibles lumières rouges.",
      "avianDescription": "Cette caisse a l'air difficile à détruire.",
      "floranDescription": "Est-ce que c'te boîte a des yeux rougesss? Floran s'inquiète.",
      "glitchDescription": "Impressionné. L'extérieur de cette caisse est fait pour résister à une pression extrême. Si seulement j'étais aussi solide que ça...",
      "humanDescription": "Je pourrais prétendre être intéressé par l'apparence de cette caisse, mais en vrai, je veux juste voir ce qu'il y a dedans.",
      "hylotlDescription": "Cette caisse est conçue pour résister à une pression extrême. Je me demande si un Hylotl a aidé à la concevoir?",
      "novakidDescription": "J'aurais du mal à ouvrir c'te vieille chose coriace par la force."
    }
  },
  "industrialdisplay": {
    "name": "Écran Industriel",
    "desc": "Un écran qui semble être connecté à une sorte de radar.",
    "metadata": {
      "apexDescription": "Cet écran affiche une sorte de radar. Je me demande s'il s'agit d'informations importantes?",
      "avianDescription": "Le radar vert sur cet écran est hypnotisant...",
      "floranDescription": "Le verre clignote en vert. Bonne couleur.",
      "glitchDescription": "Intrigué. Je me demande d'où proviennent les informations de cet écran.",
      "humanDescription": "Ça a l'air important, mais en fait, je n'en ai aucune idée.",
      "hylotlDescription": "Je me demande quel est le but de cet affichage?",
      "novakidDescription": "La lumière qui clignote sur ce verre doit vouloir dire quelque chose pour quelqu'un."
    }
  },
  "industrialdoor": {
    "name": "Porte Industrielle",
    "desc": "Une porte automatisée robuste, renforcée pour survivre aux conditions intergalactiques intenses.",
    "metadata": {
      "apexDescription": "Cette porte pourrait probablement résister à une tempête d'astéroïdes ou deux.",
      "avianDescription": "Cette porte n'est pas très jolie mais elle est d'une robustesse impressionnante.",
      "floranDescription": "Floran pourrait casser la porte avec une assez grande lanche.",
      "glitchDescription": "Observateur. À en juger par la conception de cette porte, je dirais qu'elle privilégie la fonction sur l'esthétique.",
      "humanDescription": "Les lumières rouges et les bandes de danger sur cette porte renforcent vraiment son aspect industriel.",
      "hylotlDescription": "Bien que cette porte soit impressionnante de solidité, elle manque du panache visuel du travail artisanal Hylotl.",
      "novakidDescription": "Je pense qu'il faudrait plus que quelques balles de pistolet pour abattre c'te porte."
    }
  },
  "industriallight": {
    "name": "Lampe Industrielle",
    "desc": "Une applique murale en métal qui émet une lueur orange maladive.",
    "metadata": {
      "apexDescription": "Cette lampe diffuse une lueur orange. Elle semble être de fabrication assez médiocre.",
      "avianDescription": "Cette lampe diffuse une lueur orange, mais elle n'est pas chaude comme un soleil.",
      "floranDescription": "Floran veut fracasser la lumière, mais Floran va être poli à la place.",
      "glitchDescription": "Analytique. Cette lampe a été construite pour s'auto-alimenter pendant très longtemps.",
      "humanDescription": "Une lumière orange désagréable. Je me demande combien de temps dure l'ampoule?",
      "hylotlDescription": "La lueur orange de cette lampe me rappelle les coraux de braise que l'on voit couramment au fond des océans.",
      "novakidDescription": "C'te lumière n'est pas aussi brillante que moi!"
    }
  },
  "industrialstoragelocker": {
    "name": "Casier de Stockage Industriel",
    "desc": "Un casier mural avec des bandes de danger et une lumière rouge.",
    "metadata": {
      "apexDescription": "Cela ressemble à un conteneur sécurisé pour des marchandises de valeur.",
      "avianDescription": "Un casier mural en métal pour ranger des choses.",
      "floranDescription": "Floran pourrait garder ses trophéesss ici.",
      "glitchDescription": "Intrigué. Je me demande pourquoi il y a des bandes de danger sur ce casier?",
      "humanDescription": "Un casier mural pour ranger son bazar.",
      "hylotlDescription": "Un casier un peu rudimentaire pour stocker des objets.",
      "novakidDescription": "Je pourrais fourrer quelques affaires là-dedans, si j'en avais envie."
    }
  },
  "industrialtable": {
    "name": "Table Industrielle",
    "desc": "Une table en métal froid, conçue pour survivre à des voyages turbulents.",
    "metadata": {
      "apexDescription": "Cette table a l'air très solide - je me sentirais en sécurité en me cachant dessous pendant un séisme.",
      "avianDescription": "Il n'y a pas grand-chose à dire sur cette table froide et impersonnelle.",
      "floranDescription": "La table a l'air lourde.",
      "glitchDescription": "Peu impressionné. Cette table aurait besoin d'un peu de décoration.",
      "humanDescription": "Quand on ne sait pas comment décorer un meuble, la solution n'est pas forcément d'y mettre des bandes de signalisation.",
      "hylotlDescription": "La forme de cette table est si rigide. Où est l'élégance?!",
      "novakidDescription": "Il doit falloir à un forgeron une journée entière de martelage pour rendre une table aussi plate!"
    }
  },
  "infinityexpress": {
    "name": "Infinity Express",
    "desc": "Un magasin de proximité intergalactique. L'endroit idéal pour faire le plein.",
    "metadata": {
      "apexDescription": "Un magasin. Je vais m'assurer d'acheter tout ce dont j'ai besoin.",
      "avianDescription": "Un magasin bien pratique. Espérons qu'ils vendent ce que je cherche.",
      "floranDescription": "Floran peut obtenir des marchandisesss en échange de pixels brillants.",
      "glitchDescription": "Intéressé. Une sorte de marchand.",
      "humanDescription": "J'espère qu'ils vendent des sodas pétillants.",
      "hylotlDescription": "Un magasin. Je vais peut-être examiner ses marchandises.",
      "novakidDescription": "J'vais m'acheter une p'tite bouteille de jus d'automates en douce.",
      "interactData.paneLayoutOverride.windowtitle.title": " Infinity Express",
      "interactData.paneLayoutOverride.windowtitle.subtitle": " ^#b9b5b2;Carburant, snacks et divers"
    }
  },
  "icespike": {
    "name": "Pointe de Glace",
    "desc": "Mieux vaut ne pas tomber sur l'une d'entre elles...",
    "metadata": {
      "apexDescription": "Une pointe acérée, faite de glace.",
      "avianDescription": "La glace semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La glace tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec élégance.",
      "novakidDescription": "Ça a l'air rudement pointu, je suis prêt à décamper d'ici!"
    }
  },
  "icestalactite1": {
    "name": "Pointes Acérées",
    "desc": "Attention!",
    "metadata": {
      "apexDescription": "Des pointes de glace tranchantes.",
      "avianDescription": "La glace semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La glace tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec élégance.",
      "novakidDescription": "Ça a l'air rudement pointu, je suis prêt à décamper d'ici!"
    }
  },
  "icestalactite2": {
    "name": "Pointes Acérées",
    "desc": "Attention!",
    "metadata": {
      "apexDescription": "Des pointes de glace tranchantes.",
      "avianDescription": "La glace semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La glace tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec élégance.",
      "novakidDescription": "Ça a l'air rudement pointu, je suis prêt à décamper d'ici!"
    }
  },
  "icestalactite3": {
    "name": "Pointes Acérées",
    "desc": "Attention!",
    "metadata": {
      "apexDescription": "Des pointes de glace tranchantes.",
      "avianDescription": "La glace semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La glace tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec élégance.",
      "novakidDescription": "Ça a l'air rudement pointu, je suis prêt à décamper d'ici!"
    }
  },
  "icestalactite4": {
    "name": "Pointes Acérées",
    "desc": "Attention!",
    "metadata": {
      "apexDescription": "Des pointes de glace tranchantes.",
      "avianDescription": "La glace semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La glace tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec élégance.",
      "novakidDescription": "Ça a l'air rudement pointu, je suis prêt à décamper d'ici!"
    }
  },
  "icestalagmite1": {
    "name": "Pointes Acérées",
    "desc": "Attention!",
    "metadata": {
      "apexDescription": "Des pointes de glace tranchantes.",
      "avianDescription": "La glace semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La glace tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec élégance.",
      "novakidDescription": "Ça a l'air rudement pointu, je suis prêt à décamper d'ici!"
    }
  },
  "icestalagmite2": {
    "name": "Pointes Acérées",
    "desc": "Attention!",
    "metadata": {
      "apexDescription": "Des pointes de glace tranchantes.",
      "avianDescription": "La glace semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La glace tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec élégance.",
      "novakidDescription": "Ça a l'air rudement pointu, je suis prêt à décamper d'ici!"
    }
  },
  "icestalagmite3": {
    "name": "Pointes Acérées",
    "desc": "Attention!",
    "metadata": {
      "apexDescription": "Des pointes de glace tranchantes.",
      "avianDescription": "La glace semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La glace tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec élégance.",
      "novakidDescription": "Ça a l'air rudement pointu, je suis prêt à décamper d'ici!"
    }
  },
  "icestalagmite4": {
    "name": "Pointes Acérées",
    "desc": "Attention!",
    "metadata": {
      "apexDescription": "Des pointes de glace tranchantes.",
      "avianDescription": "La glace semble tranchante comme un rasoir.",
      "floranDescription": "Tranchant et pointu.",
      "glitchDescription": "Prudent. La glace tranchante pourrait pénétrer la coque d'un Glitch.",
      "humanDescription": "Je ferais mieux de ne pas toucher à ça.",
      "hylotlDescription": "Je vais éviter cela avec élégance.",
      "novakidDescription": "Ça a l'air rudement pointu, je suis prêt à décamper d'ici!"
    }
  },
  "index": {
    "name": "Fichier à Fiches",
    "desc": "Un index traditionnel rempli de fiches cartonnées.",
    "metadata": {
      "apexDescription": "Quel travail fastidieux d'entretenir cette chose.",
      "avianDescription": "Certaines personnes doivent vraiment aimer les livres.",
      "floranDescription": "Tant de petits morceaux de papier. Pour quoi faire?",
      "glitchDescription": "Amusé. Les Glitchs n'ont pas besoin d'indexer quoi que ce soit sur de petites cartes.",
      "humanDescription": "De tout cœur avec la personne qui entretient ce fossile.",
      "hylotlDescription": "Un glorieux monument à l'organisation.",
      "novakidDescription": "C'est quoi ce truc, au nom des étoiles?"
    }
  },
  "invisiblelight": {
    "name": "Lumière de Vaisseau",
    "desc": "Éclairage en bande, à utiliser sur un vaisseau spatial.",
    "metadata": {
      "apexDescription": "Rien à voir ici.",
      "avianDescription": "Rien à voir ici.",
      "floranDescription": "Rien à voir ici.",
      "glitchDescription": "Rien à voir ici.",
      "humanDescription": "Rien à voir ici.",
      "hylotlDescription": "Rien à voir ici."
    }
  },
  "invisiblesparker": {
    "name": "Étincelleur Invisible",
    "desc": "Étincelleur Invisible",
    "metadata": {
      "apexDescription": "Ces composants ont été détruits.",
      "avianDescription": "Ces dégâts ne seront pas faciles à réparer.",
      "floranDescription": "Les piècesss sont cassées.",
      "glitchDescription": "Inquiet. Ceci a subi de lourds dégâts.",
      "humanDescription": "Ce n'est pas bon. Ces composants sont gravement endommagés.",
      "hylotlDescription": "Je ferais mieux d'essayer de réparer les dégâts dès que possible."
    }
  },
  "ironbed": {
    "name": "Lit Tranchant",
    "desc": "Un lit en fer fait d'épées. Parfait pour une sieste énergique.",
    "metadata": {
      "apexDescription": "Un lit qui a l'air bien inconfortable.",
      "avianDescription": "Quel lit étrangement tranchant.",
      "floranDescription": "Le lit est tranchant et plein de piquantsss.",
      "glitchDescription": "Félicité. Un lit en fer confortable. Un Glitch peut se reposer facilement ici.",
      "humanDescription": "Je ne pense pas que je dormirais beaucoup sur un lit comme celui-ci.",
      "hylotlDescription": "Un lit remarquablement brutal. Un tel design n'évoque pas le confort."
    }
  },
  "irondoor": {
    "name": "Porte Tranchante",
    "desc": "Une porte faite de lames croisées. On dirait qu'elles peuvent se rétracter.",
    "metadata": {
      "apexDescription": "Une porte en fer menaçante.",
      "avianDescription": "Cette porte semble conçue pour garder quelque chose dehors... ou dedans.",
      "floranDescription": "Floran aime porte qui poignarde. Floran claque la porte.",
      "glitchDescription": "Envieux. Une belle porte pour une forteresse, ou un établissement similaire.",
      "humanDescription": "Cela me rappelle mes jours d'exploration de vieux châteaux.",
      "hylotlDescription": "Quel barbare fabriquerait une porte avec des lames?",
      "novakidDescription": "C'te porte pleine de piques n'effraie personne."
    }
  },
  "ironlight": {
    "name": "Lumière Tranchante",
    "desc": "Est-ce une lampe ou un sabre? Peut-être les deux.",
    "metadata": {
      "apexDescription": "Une épée inhabituelle qui diffuse de la lumière.",
      "avianDescription": "Étrange. Cette épée sert de lampe, pas d'arme.",
      "floranDescription": "Lumière tranchante, coupe l'ombre. Floran est à cran.",
      "glitchDescription": "Pratique. Cette lumière pourrait servir de torche et d'arme.",
      "humanDescription": "Une épée qui s'allume. J'avais des trucs pareils à mon époque Gothique.",
      "hylotlDescription": "Une arme reconvertie pour éclairer une pièce. J'approuve."
    }
  },
  "ironswitch": {
    "name": "Console Tranchante",
    "desc": "L'épée dans la... console?",
    "metadata": {
      "apexDescription": "Ces épées servent de leviers. Je me demande ce qu'elles activent?",
      "avianDescription": "Une utilisation intelligente d'armes usées.",
      "floranDescription": "Floran tire sur l'épée. L'épée fait bourdonner les lumièresss.",
      "glitchDescription": "Impressionné. Une bonne lame a de nombreux usages, même émoussée. Ici, elle sert de levier.",
      "humanDescription": "J'hésite entre tirer le levier et m'inquiéter de me couper.",
      "hylotlDescription": "Des dispositifs comme celui-ci pourraient-ils être un pas vers la paix? Ou sont-ils une menace de violence?"
    }
  },
  "irontable": {
    "name": "Table Tranchante",
    "desc": "Une table avec des épées en guise de pieds. Pas idéal pour jouer du pied sous la table.",
    "metadata": {
      "apexDescription": "Cette table donne un sentiment de fatalité au fait de se cogner l'orteil.",
      "avianDescription": "S'asseoir ici suffirait à rendre n'importe qui nerveux.",
      "floranDescription": "Floran coupe sur la table. Maintenant, Floran coupe AVEC la table.",
      "glitchDescription": "Confort. Une table décontractée. Les autres semblent s'en méfier.",
      "humanDescription": "J'hésite énormément à m'asseoir ici.",
      "hylotlDescription": "Peut-être que c'est un peu trop dangereux comme usage alternatif pour des armes."
    }
  },
  "irontoilet": {
    "name": "Toilettes Tranchantes",
    "desc": "Des toilettes faites d'épées. Risqué.",
    "metadata": {
      "apexDescription": "Ce ne sont pas les toilettes les plus attrayantes que j'aie jamais vues.",
      "avianDescription": "Je n'imagine pas que ces choses soient très populaires.",
      "floranDescription": "Cuvette à piquantsss, Floran va voler le desssein pour ssa propre cuvette.",
      "glitchDescription": "Perplexité. Ces toilettes ne sont vraiment sûres que pour les Glitchs, qui n'en ont pas besoin.",
      "humanDescription": "Des toilettes faites d'épées. Je vais en faire des cauchemars pendant des semaines.",
      "hylotlDescription": "On préférerait presque que ces épées servent encore au combat."
    }
  },
  "ironchest": {
    "name": "Coffre en Fer",
    "desc": "Un coffre en fer basique.",
    "metadata": {
      "apexDescription": "Un coffre! Regardons à l'intérieur.",
      "avianDescription": "Souvent, ces coffres contenaient des objets de valeur. Je suis impatient!",
      "floranDescription": "Coffre! Floran doit fouiller!",
      "glitchDescription": "Anticipation. Que pourrait-il y avoir dedans?",
      "humanDescription": "Un coffre! Ouvrons-le.",
      "hylotlDescription": "Il y a peu de choses aussi excitantes qu'un coffre non ouvert.",
      "novakidDescription": "Eh ben ça alors - un coffre pas encore ouvert! Jetons un œil."
    }
  },
  "icefluffaloegg": {
    "name": "Œuf de Fluffalo de Glace",
    "desc": "Éclot en un vulnérable petit veau fluffalo de glace - une bonne source d'extrait cryogénique une fois adulte.",
    "metadata": {
      "apexDescription": "Cet œuf contient un fluffalo de glace. Une fois adulte, la créature produira de l'extrait cryogénique.",
      "avianDescription": "Un œuf de fluffalo de glace. Les fluffalos de glace sont du bétail - ils produisent de l'extrait cryogénique.",
      "floranDescription": "Y'a un bébé fluffalo de glace tout laineux à l'intérieur!",
      "glitchDescription": "Charmé. Un œuf contenant un fluffalo de glace! Ce bétail adorablement duveteux produit de l'extrait cryogénique.",
      "humanDescription": "Un œuf gelé - il y a un fluffalo de glace dedans!",
      "hylotlDescription": "Le petit dans cet œuf deviendra un fluffalo de glace adulte un jour.",
      "novakidDescription": "Cet œuf contient un fluffalo de glace. Ces créatures demandent du temps, mais elles vous remboursent en produits."
    }
  },
  "ironanvil": {
    "name": "^orange;Enclume en Fer^white;",
    "desc": "Peut être utilisée pour produire des armures et des armes.",
    "metadata": {
      "interactData.paneLayoutOverride.windowtitle.title": " Enclume en Fer",
      "interactData.paneLayoutOverride.windowtitle.subtitle": " ^#b9b5b2;Armures et armes",
      "apexDescription": "Une enclume. Les Apex n'ont pas utilisé cela pour le travail du métal depuis très, très longtemps.",
      "avianDescription": "Un gros bloc de fer avec une surface plane.",
      "floranDescription": "Très lourd, utile pour un piège.",
      "glitchDescription": "Fier. Les Glitchs fabriquent toutes sortes d'armes sur ces enclumes. Ils fabriquent même des enclumes sur ces enclumes.",
      "humanDescription": "Une enclume. Les humains n'ont pas utilisé cela depuis le début de leur histoire.",
      "hylotlDescription": "Probablement utilisé pour le travail du métal.",
      "novakidDescription": "Une enclume. Je connais bien ça."
    }
  },
  "ironcraftingtable": {
    "name": "^orange;Table de Craft en Fer^white;",
    "desc": "On pourrait construire de l'équipement très sophistiqué sur cette table.",
    "metadata": {
      "interactData.paneLayoutOverride.windowtitle.title": "  Table de Craft en Fer",
      "interactData.paneLayoutOverride.windowtitle.subtitle": "  Artisanat intensif!",
      "apexDescription": "Une table de fabrication pour le travail du fer.",
      "avianDescription": "Cette table de fabrication me permet de créer une large gamme d'équipements.",
      "floranDescription": "Table en fer pour fabriquer des chosesss.",
      "glitchDescription": "Intéressé. C'est une table de fabrication en fer. C'est mieux qu'une en bois.",
      "humanDescription": "Le bricolage ne me fait pas peur. C'est parti.",
      "hylotlDescription": "Une table de fabrication en fer peut être utilisée pour fabriquer du bon matériel.",
      "novakidDescription": "Une bonne vieille table de fabrication en fer. C'est mieux qu'une en bois."
    }
  },
  "inventorstable": {
    "name": "^orange;Table de l'Inventeur^white;",
    "desc": "La table de l'inventeur est utilisée pour produire diverses stations d'artisanat.",
    "metadata": {
      "apexDescription": "Une table avec un tas d'outils pour un artisan.",
      "avianDescription": "Une occasion d'afficher sa capacité à créer.",
      "floranDescription": "Floran utilise la table. Pour faire de bellesss chosesss.",
      "glitchDescription": "Inspiré. Module d'artisanat activé.",
      "humanDescription": "Je peux utiliser les matériaux trouvés ici pour créer de nouvelles choses.",
      "hylotlDescription": "Une chance de créer.",
      "novakidDescription": "Je peux utiliser les matériaux trouvés ici pour créer de nouvelles choses.",
      "upgradeStages.1.itemSpawnParameters.apexDescription": "Une table avec un tas d'outils pour un artisan.",
      "upgradeStages.1.itemSpawnParameters.avianDescription": "Une occasion d'afficher sa capacité à créer.",
      "upgradeStages.1.itemSpawnParameters.floranDescription": "Floran utilise la table. Pour faire de bellesss chosesss.",
      "upgradeStages.1.itemSpawnParameters.glitchDescription": "Inspiré. Module d'artisanat activé.",
      "upgradeStages.1.itemSpawnParameters.humanDescription": "Je peux utiliser les matériaux trouvés ici pour créer de nouvelles choses.",
      "upgradeStages.1.itemSpawnParameters.hylotlDescription": "Une chance de créer.",
      "upgradeStages.1.itemSpawnParameters.novakidDescription": "Je peux utiliser les matériaux trouvés ici pour créer de nouvelles choses.",
      "upgradeStages.1.interactData.paneLayoutOverride.windowtitle.title": "  Table de l'Inventeur",
      "upgradeStages.1.interactData.paneLayoutOverride.windowtitle.subtitle": "  ^#b9b5b2;Station d'innovation",
      "upgradeStages.2.itemSpawnParameters.apexDescription": "Une table avec un tas d'outils pour un artisan.",
      "upgradeStages.2.itemSpawnParameters.avianDescription": "Une occasion d'afficher sa capacité à créer.",
      "upgradeStages.2.itemSpawnParameters.floranDescription": "Floran utilise la table. Pour faire de bellesss chosesss.",
      "upgradeStages.2.itemSpawnParameters.glitchDescription": "Inspiré. Module d'artisanat activé.",
      "upgradeStages.2.itemSpawnParameters.humanDescription": "Je peux utiliser les matériaux trouvés ici pour créer de nouvelles choses.",
      "upgradeStages.2.itemSpawnParameters.hylotlDescription": "Une chance de créer.",
      "upgradeStages.2.itemSpawnParameters.novakidDescription": "Je peux utiliser les matériaux trouvés ici pour créer de nouvelles choses.",
      "upgradeStages.2.interactData.paneLayoutOverride.windowtitle.title": "Table de l'Ingénieur",
      "upgradeStages.2.interactData.paneLayoutOverride.windowtitle.subtitle": "Station d'innovation",
      "upgradeStages.3.itemSpawnParameters.apexDescription": "Une table avec un tas d'outils pour un artisan.",
      "upgradeStages.3.itemSpawnParameters.avianDescription": "Une occasion d'afficher sa capacité à créer.",
      "upgradeStages.3.itemSpawnParameters.floranDescription": "Floran utilise la table. Pour faire de bellesss chosesss.",
      "upgradeStages.3.itemSpawnParameters.glitchDescription": "Inspiré. Module d'artisanat activé.",
      "upgradeStages.3.itemSpawnParameters.humanDescription": "Je peux utiliser les matériaux trouvés ici pour créer de nouvelles choses.",
      "upgradeStages.3.itemSpawnParameters.hylotlDescription": "Une chance de créer.",
      "upgradeStages.3.itemSpawnParameters.novakidDescription": "Je peux utiliser les matériaux trouvés ici pour créer de nouvelles choses.",
      "upgradeStages.3.interactData.paneLayoutOverride.windowtitle.title": "Table de l'Architecte",
      "upgradeStages.3.interactData.paneLayoutOverride.windowtitle.subtitle": "Station d'innovation"
    }
  },
  "ixolingpike": {
    "name": "Pieu d'Ixoling",
    "desc": "Une petite créature insectoïde empalée sur un pieu de chasse.",
    "metadata": {
      "apexDescription": "Cela semble être les restes squelettiques d'un insecte sur un pieu taillé.",
      "avianDescription": "On dirait un squelette d'insecte sur un pieu. Est-ce que les insectes ont seulement des squelettes?",
      "floranDescription": "Floran ssse demande si c'était dur de chassser ce scarabée.",
      "glitchDescription": "Curieux. Cela semble être les restes d'une créature sur un pieu.",
      "humanDescription": "Quelqu'un a empalé une créature et l'a laissée là à la vue de tous. Je me demande de quand ça date?",
      "hylotlDescription": "Les restes de cette créature sur un pieu semblent être une démonstration barbare de prouesse à la chasse.",
      "novakidDescription": "Ces os sur un bâton me filent les jetons, c'est sûr et certain."
    }
  },
  "icetip": {
    "name": "Pointe de Glace",
    "desc": "Les ailes de cet insecte sont gelées."
  },
  "icesphere1": {
    "name": "Sphère de Glace",
    "desc": "Une sphère glacée. Brisez-la avant qu'elle ne fonde!",
    "metadata": {
      "apexDescription": "Une boule de glace parfaitement ronde.",
      "avianDescription": "Une sphère de glace creuse. Comme une boule de cristal.",
      "floranDescription": "Floran fracassse l'eau ronde.",
      "glitchDescription": "Neutre. Une sphère de glace.",
      "humanDescription": "C'est comme une bulle gelée.",
      "hylotlDescription": "Une sphère, figée dans le temps."
    }
  },
  "icesphere2": {
    "name": "Sphère de Glace",
    "desc": "Une sphère glacée. Brisez-la avant qu'elle ne fonde!",
    "metadata": {
      "apexDescription": "Une boule de glace parfaitement ronde.",
      "avianDescription": "Une sphère de glace creuse. Comme une boule de cristal.",
      "floranDescription": "Floran fracassse l'eau ronde.",
      "glitchDescription": "Neutre. Une sphère de glace.",
      "humanDescription": "C'est comme une bulle gelée.",
      "hylotlDescription": "Une sphère, figée dans le temps."
    }
  },
  "icesphere3": {
    "name": "Sphère de Glace",
    "desc": "Une sphère glacée. Brisez-la avant qu'elle ne fonde!",
    "metadata": {
      "apexDescription": "Une boule de glace parfaitement ronde.",
      "avianDescription": "Une sphère de glace creuse. Comme une boule de cristal.",
      "floranDescription": "Floran fracassse l'eau ronde.",
      "glitchDescription": "Neutre. Une sphère de glace.",
      "humanDescription": "C'est comme une bulle gelée.",
      "hylotlDescription": "Une sphère, figée dans le temps."
    }
  },
  "icesphere4": {
    "name": "Sphère de Glace",
    "desc": "Une sphère glacée. Brisez-la avant qu'elle ne fonde!",
    "metadata": {
      "apexDescription": "Une boule de glace parfaitement ronde.",
      "avianDescription": "Une sphère de glace creuse. Comme une boule de cristal.",
      "floranDescription": "Floran fracassse l'eau ronde.",
      "glitchDescription": "Neutre. Une sphère de glace.",
      "humanDescription": "C'est comme une bulle gelée.",
      "hylotlDescription": "Une sphère, figée dans le temps."
    }
  },
  "icespherechest": {
    "name": "Coffre Sphérique de Glace",
    "desc": "Un coffre sphérique gelé. Parfait pour un trésor, ou pour faire des glaçons.",
    "metadata": {
      "apexDescription": "Un coffre gelé tout rond. Regardons à l'intérieur.",
      "avianDescription": "Un coffre lisse, froid et invitant.",
      "floranDescription": "Floran ouvre coffre qui grelotte.",
      "glitchDescription": "Analyse. La glace a des propriétés spéciales, elle ne fondra pas de sitôt.",
      "humanDescription": "Ce coffre ressemble à un igloo. Il y a peut-être un ours polaire dedans.",
      "hylotlDescription": "Un coffre gelé et arrondi. Remarquable.",
      "novakidDescription": "Ce coffre de glace a gardé mon butin bien au frais."
    }
  },
  "icebed": {
    "name": "Lit de Glace",
    "desc": "Un lit fait de glace. En été, il se transforme en lit à eau.",
    "metadata": {
      "apexDescription": "Les Apex ont chaud quand ils dorment. Ce lit est une catastrophe imminente.",
      "avianDescription": "Je n'imagine pas ce lit comme étant très reposant.",
      "floranDescription": "Floran lèche le lit. Le lit a un goût de froid. Floran a mal à la tête.",
      "glitchDescription": "Partagé. Ce lit dur est parfait pour un Glitch, mais et s'il fond?",
      "humanDescription": "Ce lit a l'air de vous jeter un froid. Haha... Ha...",
      "hylotlDescription": "Une utilisation remarquablement intelligente de l'eau.",
      "novakidDescription": "J'ai l'impression que je suis juste trop chaud pour ce lit."
    }
  },
  "icechair": {
    "name": "Chaise de Glace",
    "desc": "Une chaise gelée. Inconfortable après un certain temps.",
    "metadata": {
      "apexDescription": "J'ai peur de rester collé à la chaise si je m'assois.",
      "avianDescription": "Cette chaise me gèle les plumes.",
      "floranDescription": "La chaise fait ssse sentir bizarre. Floran grelotte.",
      "glitchDescription": "Réflexion. Ces chaises ne seraient pas idéales pour des fêtes en extérieur.",
      "humanDescription": "Une idée inhabituelle pour une chaise. Ma peau reste collée dessus.",
      "hylotlDescription": "Je crois que je vois un poisson congelé là-dedans. Pauvre créature.",
      "novakidDescription": "En règle générale, je devrais probablement rester loin des meubles en glace."
    }
  },
  "icechest": {
    "name": "Coffre de Glace",
    "desc": "Un coffre de glace. Totalement sécurisé, jusqu'à ce qu'il fonde.",
    "metadata": {
      "apexDescription": "Ce coffre ne semble pas très pratique.",
      "avianDescription": "On pourrait sûrement faire fondre ce coffre pour accéder à son contenu.",
      "floranDescription": "Floran impressionné par la ssécurité super froide.",
      "glitchDescription": "Hypothèse. Ce coffre était à l'origine conçu pour stocker des documents sensibles. Si le coffre fond, le contenu est ruiné.",
      "humanDescription": "Un coffre de glace. Ça n'a pas l'air très sûr. On pourrait l'ouvrir juste en le faisant fondre.",
      "hylotlDescription": "Un coffre en glace. Pas le design le plus sensé.",
      "novakidDescription": "Mince, je pourrais probablement 'déverrouiller' ce coffre juste en restant à côté un moment."
    }
  },
  "icedoor": {
    "name": "Porte de Glace",
    "desc": "Une porte de glace. Ne tenez pas la poignée trop longtemps.",
    "metadata": {
      "apexDescription": "Une porte faite de glace. Je peux voir mon reflet dedans.",
      "avianDescription": "Rester près de cette porte trop longtemps me fait frissonner.",
      "floranDescription": "Floran ne voit pass la porte, court droit dedans.",
      "glitchDescription": "Analyse. La glace est stratifiée, ce qui rend cette porte difficile à enfoncer.",
      "humanDescription": "Une porte gelée. Froide au toucher.",
      "hylotlDescription": "Cette porte de glace est très bien conçue.",
      "novakidDescription": "C'était l'idée de qui de faire des 'meubles qui fondent', d'abord? Je parie que c'est super cher, en plus."
    }
  },
  "icemachine": {
    "name": "Machine à Glaçons",
    "desc": "Un distributeur de glace fait de glace. C'est l'ice-ception.",
    "metadata": {
      "apexDescription": "Une machine à glace dans tous les sens du terme.",
      "avianDescription": "La glace garde l'autre glace au froid. Malin.",
      "floranDescription": "Floran grimpe dans la boîte à glace, grelotte, et ressort.",
      "glitchDescription": "Mathématique. Il y a exactement six mille quatre cent quatre-vingt-quatre glaçons dans ce distributeur.",
      "humanDescription": "Un distributeur de glaçons, l'une des plus grandes inventions de l'humanité.",
      "hylotlDescription": "Une boîte pour la glace, faite de glace. Intéressant.",
      "novakidDescription": "Toute cette glace va finir par s'agglutiner pour former un seul gros glaçon, non?"
    }
  },
  "iceshard1": {
    "name": "Morceau de Glace",
    "desc": "Un gros morceau de glace.",
    "metadata": {
      "apexDescription": "Un éclat de glace.",
      "avianDescription": "Un éclat de glace froid.",
      "floranDescription": "Glace fracassssée.",
      "glitchDescription": "Neutre. Un éclat de glace.",
      "humanDescription": "Un bout de glace.",
      "hylotlDescription": "Un morceau de glace fracturé.",
      "novakidDescription": "Juste un gros morceau de glace."
    }
  },
  "iceshard2": {
    "name": "Morceau de Glace",
    "desc": "Un gros morceau de glace.",
    "metadata": {
      "apexDescription": "Un éclat de glace.",
      "avianDescription": "Un éclat de glace froid.",
      "floranDescription": "Glace fracassssée.",
      "glitchDescription": "Neutre. Un éclat de glace.",
      "humanDescription": "Un bout de glace.",
      "hylotlDescription": "Un morceau de glace fracturé.",
      "novakidDescription": "Juste un gros morceau de glace."
    }
  },
  "iceshard3": {
    "name": "Morceau de Glace",
    "desc": "Un gros morceau de glace.",
    "metadata": {
      "apexDescription": "Un éclat de glace.",
      "avianDescription": "Un éclat de glace froid.",
      "floranDescription": "Glace fracassssée.",
      "glitchDescription": "Neutre. Un éclat de glace.",
      "humanDescription": "Un bout de glace.",
      "hylotlDescription": "Un morceau de glace fracturé.",
      "novakidDescription": "Juste un gros morceau de glace."
    }
  },
  "iceshard4": {
    "name": "Morceau de Glace",
    "desc": "Un gros morceau de glace.",
    "metadata": {
      "apexDescription": "Un éclat de glace.",
      "avianDescription": "Un éclat de glace froid.",
      "floranDescription": "Glace fracassssée.",
      "glitchDescription": "Neutre. Un éclat de glace.",
      "humanDescription": "Un bout de glace.",
      "hylotlDescription": "Un morceau de glace fracturé.",
      "novakidDescription": "Juste un gros morceau de glace."
    }
  },
  "iceshard5": {
    "name": "Morceau de Glace",
    "desc": "Un gros morceau de glace.",
    "metadata": {
      "apexDescription": "Un éclat de glace.",
      "avianDescription": "Un éclat de glace froid.",
      "floranDescription": "Glace fracassssée.",
      "glitchDescription": "Neutre. Un éclat de glace.",
      "humanDescription": "Un bout de glace.",
      "hylotlDescription": "Un morceau de glace fracturé.",
      "novakidDescription": "Juste un gros morceau de glace."
    }
  },
  "icetable": {
    "name": "Table de Glace",
    "desc": "Une table faite de glace sculptée.",
    "metadata": {
      "apexDescription": "Une table sculptée dans un énorme bloc de glace.",
      "avianDescription": "Une grande table faite de glace.",
      "floranDescription": "Floran découpe sssur la glace.",
      "glitchDescription": "Pensif. Ce serait amusant de voir un repas chaud servi ici.",
      "humanDescription": "C'est une table sur laquelle vous ne voudrez pas poser vos coudes.",
      "hylotlDescription": "Une table de glace. Magnifique, bien que peu pratique.",
      "novakidDescription": "En règle générale, je devrais probablement rester loin des meubles en glace."
    }
  },
  "ironsample": {
    "name": "Échantillon de Fer",
    "desc": "\"Un échantillon parfait de minerai de fer.\""
  },
  "idolsupport": {
    "name": "Poutre de Soutien Sculptée",
    "desc": "Une poutre de soutien sculptée pour ressembler à un oiseau redoutable.",
    "metadata": {
      "apexDescription": "Il semble que ce soit une sculpture porteuse.",
      "avianDescription": "Une poutre de soutien décorative traditionnelle.",
      "floranDescription": "Poutre de l'homme-oiseau pas très sssolide.",
      "glitchDescription": "Indifférent. Une poutre de soutien décorative.",
      "humanDescription": "Est-ce que tout s'effondrerait si je l'enlevais?",
      "hylotlDescription": "Une grande attention portée aux détails.",
      "novakidDescription": "C'est une poutre de soutien rudement élégante."
    }
  },
  "ignomeaf": {
    "name": "Figurine d'Ignome",
    "desc": "L'étiquette indique: \"Sa surface carbonisée est étonnamment agréable au toucher. Gardez-la juste loin des flammes!\""
  },
  "iguarmoraf": {
    "name": "Figurine d'Iguarmor",
    "desc": "L'étiquette indique: \"L'Iguarmor n'est pas une espèce agressive, mais les pointes de sa queue peuvent infliger de gros dégâts.\""
  },
  "ixodoomaf": {
    "name": "Figurine d'Ixodoom",
    "desc": "L'étiquette indique: \"Un arthropode gigantesque qui peut régénérer son exosquelette robuste en quelques secondes s'il est endommagé.\""
  },
  "ixolingaf": {
    "name": "Figurine d'Ixoling",
    "desc": "L'étiquette indique: \"S'il survit pendant 200 ans, il pourrait devenir un Ixodoom.\""
  }
}