{
  "jumppad": {
    "name": "Plateforme de Saut",
    "desc": "Repousse les objets avec une force élastique puissante.",
    "metadata": {
      "floranDescription": "Repousssse les objetsss avec une puissante force élasstique.",
      "glitchDescription": "Impressionné. Repousse les objets avec une force élastique puissante."
    }
  },
  "jupitermodel": {
    "name": "Modèle de Jupiter",
    "desc": "Un modèle détaillé de Jupiter, la plus grande planète du système Sol.",
    "metadata": {
      "apexDescription": "C'est risible de penser que les humains considéraient autrefois Jupiter comme une 'grande' planète.",
      "avianDescription": "Jupiter est assez grande comparée à la Terre.",
      "floranDescription": "Jupiter essst un joli méli-mélo de nuagesss.",
      "glitchDescription": "Émerveillé. Jupiter est une planète relativement petite selon les standards actuels.",
      "humanDescription": "Cette vieille grosse planète gazeuse, elle tient toujours le coup.",
      "hylotlDescription": "Jupiter, autrefois considérée comme une géante pour tant de gens.",
      "novakidDescription": "J'en ai vu des plus grosses."
    }
  },
  "jukebox": {
    "name": "Jukebox",
    "desc": "Ce jukebox a un super son ! Dommage qu'il ne semble y avoir qu'une seule piste.",
    "metadata": {
      "apexDescription": "Une boîte à musique joyeuse. Mais il n'y a qu'un seul groupe.",
      "avianDescription": "Ce jukebox peut égayer même les esprits les plus sombres.",
      "floranDescription": "Boîte bruyante. Floran ne voit passs l'intérêt !",
      "glitchDescription": "Branché. La musique affecte mes circuits de telle manière que je ne peux m'empêcher de danser.",
      "humanDescription": "Oh là là, ils ont mon album préféré ! L'espace vient de devenir plus funky.",
      "hylotlDescription": "La musique humaine manque de la nuance tonale de son équivalent Hylotl.",
      "novakidDescription": "Ces mélodies me sont inconnues, mais c'est pas mauvais, je dois l'admettre."
    }
  },
  "juicekeg": {
    "name": "Fût de Jus",
    "desc": "Un fût plein de jus. Miam, du jus !",
    "metadata": {
      "apexDescription": "Un fût qui sent le jus sucré.",
      "avianDescription": "Un tonneau à l'odeur sucrée rempli de liquide.",
      "floranDescription": "Tonneau sssent les jusss dégoûtantsss.",
      "glitchDescription": "Ravi. Les fûts de jus sont toujours synonymes de réjouissances à venir.",
      "humanDescription": "Un fût. Il est plein de jus.",
      "hylotlDescription": "Le liquide à l'intérieur sent merveilleusement bon.",
      "novakidDescription": "Y'a du bon jus à l'intérieur."
    }
  },
  "junglebush1": {
    "name": "Buisson Coloré",
    "desc": "Un buisson coloré.",
    "metadata": {
      "apexDescription": "Un buisson coloré.",
      "avianDescription": "Un buisson coloré.",
      "floranDescription": "Jolies plantesss.",
      "glitchDescription": "Neutre. Un buisson coloré.",
      "humanDescription": "Un buisson coloré.",
      "hylotlDescription": "Un buisson coloré.",
      "novakidDescription": "C'te buisson est rudement vert."
    }
  },
  "junglebush10": {
    "name": "Buisson Coloré",
    "desc": "Un buisson coloré.",
    "metadata": {
      "apexDescription": "Un buisson coloré.",
      "avianDescription": "Un buisson coloré.",
      "floranDescription": "Jolies plantesss.",
      "glitchDescription": "Neutre. Un buisson coloré.",
      "humanDescription": "Un buisson coloré.",
      "hylotlDescription": "Un buisson coloré.",
      "novakidDescription": "C'te buisson est rudement vert."
    }
  },
  "junglebush11": {
    "name": "Buisson Coloré",
    "desc": "Un buisson coloré.",
    "metadata": {
      "apexDescription": "Un buisson coloré.",
      "avianDescription": "Un buisson coloré.",
      "floranDescription": "Jolies plantesss.",
      "glitchDescription": "Neutre. Un buisson coloré.",
      "humanDescription": "Un buisson coloré.",
      "hylotlDescription": "Un buisson coloré.",
      "novakidDescription": "C'te buisson est rudement vert."
    }
  },
  "junglebush12": {
    "name": "Buisson Coloré",
    "desc": "Un buisson coloré.",
    "metadata": {
      "apexDescription": "Un buisson coloré.",
      "avianDescription": "Un buisson coloré.",
      "floranDescription": "Jolies plantesss.",
      "glitchDescription": "Neutre. Un buisson coloré.",
      "humanDescription": "Un buisson coloré.",
      "hylotlDescription": "Un buisson coloré.",
      "novakidDescription": "C'te buisson est rudement vert."
    }
  },
  "junglebush13": {
    "name": "Plante Feuillue",
    "desc": "Une plante feuillue.",
    "metadata": {
      "apexDescription": "Une plante feuillue.",
      "avianDescription": "Une plante feuillue.",
      "floranDescription": "Plantesss feuilluesss.",
      "glitchDescription": "Observateur. Une plante feuillue.",
      "humanDescription": "Une plante feuillue.",
      "hylotlDescription": "Cette plante a de jolies feuilles.",
      "novakidDescription": "C'est une plante avec de grandes feuilles."
    }
  },
  "junglebush14": {
    "name": "Plante Feuillue",
    "desc": "Une plante feuillue.",
    "metadata": {
      "apexDescription": "Une plante feuillue.",
      "avianDescription": "Une plante feuillue.",
      "floranDescription": "Plantesss feuilluesss.",
      "glitchDescription": "Observateur. Une plante feuillue.",
      "humanDescription": "Une plante feuillue.",
      "hylotlDescription": "Cette plante a de jolies feuilles.",
      "novakidDescription": "C'est une plante avec de grandes feuilles."
    }
  },
  "junglebush15": {
    "name": "Plante Feuillue",
    "desc": "Une plante feuillue.",
    "metadata": {
      "apexDescription": "Une plante feuillue.",
      "avianDescription": "Une plante feuillue.",
      "floranDescription": "Plantesss feuilluesss.",
      "glitchDescription": "Observateur. Une plante feuillue.",
      "humanDescription": "Une plante feuillue.",
      "hylotlDescription": "Cette plante a de jolies feuilles.",
      "novakidDescription": "C'est une plante avec de grandes feuilles."
    }
  },
  "junglebush16": {
    "name": "Plante Feuillue",
    "desc": "Une plante feuillue.",
    "metadata": {
      "apexDescription": "Une plante feuillue.",
      "avianDescription": "Une plante feuillue.",
      "floranDescription": "Plantesss feuilluesss.",
      "glitchDescription": "Observateur. Une plante feuillue.",
      "humanDescription": "Une plante feuillue.",
      "hylotlDescription": "Cette plante a de jolies feuilles.",
      "novakidDescription": "C'est une plante avec de grandes feuilles."
    }
  },
  "junglebush17": {
    "name": "Fleur Putride",
    "desc": "Une fleur putride et horrible.",
    "metadata": {
      "apexDescription": "Quelque chose sent horriblement mauvais. Est-ce cette fleur ?",
      "avianDescription": "Cette fleur sent terriblement mauvais.",
      "floranDescription": "Fleur qui pue.",
      "glitchDescription": "Observateur. Cette fleur sent horriblement mauvais.",
      "humanDescription": "Cette fleur sent affreusement mauvais !",
      "hylotlDescription": "Une fleur tout à fait atroce. Elle sent la putréfaction.",
      "novakidDescription": "Holà ! En voilà une fleur malodorante."
    }
  },
  "junglebush18": {
    "name": "Fleur Putride",
    "desc": "Une fleur putride et horrible.",
    "metadata": {
      "apexDescription": "Quelque chose sent horriblement mauvais. Est-ce cette fleur ?",
      "avianDescription": "Cette fleur sent terriblement mauvais.",
      "floranDescription": "Fleur qui pue.",
      "glitchDescription": "Observateur. Cette fleur sent horriblement mauvais.",
      "humanDescription": "Cette fleur sent affreusement mauvais !",
      "hylotlDescription": "Une fleur tout à fait atroce. Elle sent la putréfaction.",
      "novakidDescription": "Holà ! En voilà une fleur malodorante."
    }
  },
  "junglebush2": {
    "name": "Buisson Coloré",
    "desc": "Un buisson coloré.",
    "metadata": {
      "apexDescription": "Un buisson coloré.",
      "avianDescription": "Un buisson coloré.",
      "floranDescription": "Jolies plantesss.",
      "glitchDescription": "Neutre. Un buisson coloré.",
      "humanDescription": "Un buisson coloré.",
      "hylotlDescription": "Un buisson coloré.",
      "novakidDescription": "Ce buisson est rudement vert."
    }
  },
  "junglebush3": {
    "name": "Buisson Coloré",
    "desc": "Un buisson coloré.",
    "metadata": {
      "apexDescription": "Un buisson coloré.",
      "avianDescription": "Un buisson coloré.",
      "floranDescription": "Jolies plantesss.",
      "glitchDescription": "Neutre. Un buisson coloré.",
      "humanDescription": "Un buisson coloré.",
      "hylotlDescription": "Un buisson coloré.",
      "novakidDescription": "Ce buisson est rudement coloré."
    }
  },
  "junglebush4": {
    "name": "Buisson Coloré",
    "desc": "Un buisson coloré.",
    "metadata": {
      "apexDescription": "Un buisson coloré.",
      "avianDescription": "Un buisson coloré.",
      "floranDescription": "Jolies plantesss.",
      "glitchDescription": "Neutre. Un buisson coloré.",
      "humanDescription": "Un buisson coloré.",
      "hylotlDescription": "Un buisson coloré.",
      "novakidDescription": "Ce buisson est rudement coloré."
    }
  },
  "junglebush5": {
    "name": "Buisson Coloré",
    "desc": "Un buisson coloré.",
    "metadata": {
      "apexDescription": "Un buisson coloré.",
      "avianDescription": "Un buisson coloré.",
      "floranDescription": "Jolies plantesss.",
      "glitchDescription": "Neutre. Un buisson coloré.",
      "humanDescription": "Un buisson coloré.",
      "hylotlDescription": "Un buisson coloré.",
      "novakidDescription": "Ce buisson est rudement coloré."
    }
  },
  "junglebush6": {
    "name": "Buisson Coloré",
    "desc": "Un buisson coloré.",
    "metadata": {
      "apexDescription": "Un buisson coloré.",
      "avianDescription": "Un buisson coloré.",
      "floranDescription": "Jolies plantesss.",
      "glitchDescription": "Neutre. Un buisson coloré.",
      "humanDescription": "Un buisson coloré.",
      "hylotlDescription": "Un buisson coloré.",
      "novakidDescription": "Ce buisson est rudement coloré."
    }
  },
  "junglebush7": {
    "name": "Buisson Coloré",
    "desc": "Un buisson coloré.",
    "metadata": {
      "apexDescription": "Un buisson coloré.",
      "avianDescription": "Un buisson coloré.",
      "floranDescription": "Jolies plantesss.",
      "glitchDescription": "Neutre. Un buisson coloré.",
      "humanDescription": "Un buisson coloré.",
      "hylotlDescription": "Un buisson coloré.",
      "novakidDescription": "Ce buisson est rudement coloré."
    }
  },
  "junglebush8": {
    "name": "Buisson Coloré",
    "desc": "Un buisson coloré.",
    "metadata": {
      "apexDescription": "Un buisson coloré.",
      "avianDescription": "Un buisson coloré.",
      "floranDescription": "Jolies plantesss.",
      "glitchDescription": "Neutre. Un buisson coloré.",
      "humanDescription": "Un buisson coloré.",
      "hylotlDescription": "Un buisson coloré.",
      "novakidDescription": "Ce buisson est rudement coloré."
    }
  },
  "junglebush9": {
    "name": "Buisson Coloré",
    "desc": "Un buisson coloré.",
    "metadata": {
      "apexDescription": "Un buisson coloré.",
      "avianDescription": "Un buisson coloré.",
      "floranDescription": "Jolies plantesss.",
      "glitchDescription": "Neutre. Un buisson coloré.",
      "humanDescription": "Un buisson coloré.",
      "hylotlDescription": "Un buisson coloré.",
      "novakidDescription": "Ce buisson est rudement coloré."
    }
  },
  "junglechest": {
    "name": "Coffre de Lianes",
    "desc": "Un coffre fait de lianes, ce n'est pas vraiment sûr.",
    "metadata": {
      "apexDescription": "Le coffre lui-même semble être organique.",
      "avianDescription": "Ce coffre a-t-il été construit, ou a-t-il poussé ?",
      "floranDescription": "Fait pousser coffre dans le sssol.",
      "glitchDescription": "Impressionné. Il semble que cette plante ait été cultivée dans le but exprès d'être un coffre.",
      "humanDescription": "Est-ce que ce coffre a poussé ?",
      "hylotlDescription": "Il semble que les Florans aient appris à exploiter la nature pour faire pousser les choses dont ils ont besoin.",
      "novakidDescription": "On dirait que ce coffre a poussé direct hors du sol !"
    }
  },
  "jumpbooster": {
    "name": "Booster de Saut",
    "desc": "Le gaz libéré par ces conduits augmente votre puissance de saut.",
    "metadata": {
      "apexDescription": "Si je me tiens sur cette bouche d'aération, cela boostera mon saut.",
      "avianDescription": "Cette aération augmente la hauteur de mes sauts.",
      "floranDescription": "Après avoir marché dans ce gazzz, Floran peut sauter comme un monsstre.",
      "glitchDescription": "Excité. Cette vapeur me permettra de sauter très haut.",
      "humanDescription": "Cela peut paraître dangereux, mais ce gaz a des propriétés bénéfiques.",
      "hylotlDescription": "Imprégné des pouvoirs de cette vapeur, je suis capable d'atteindre de nouveaux sommets.",
      "novakidDescription": "Cet appareil booste mes sauts."
    }
  }
}