{
  "not": {
    "name": "Interrupteur NON",
    "desc": "<Un interrupteur /'NON'/. Inverse le signal d'entrée du circuit.>"
  },
  "neptunemodel": {
    "name": "Modèle de Neptune",
    "desc": "Un modèle détaillé de la planète la plus lointaine du système Sol, Neptune.",
    "metadata": {
      "apexDescription": "C'est Neptune. Sa Grande Tache Sombre ressemble à la Grande Tache Rouge de Jupiter, plus connue.",
      "avianDescription": "Neptune porte le nom d'un ancien dieu de la mer de la Terre, et ses lunes portent le nom de divinités marines mineures.",
      "floranDescription": "Neptune essst la deuzième géante de glace du sssystème Sol.",
      "glitchDescription": "Tristesse. Un transport Glitch s'est écrasé sur Neptune à cause d'une défaillance système il y a quelques années. Tous ont péri.",
      "humanDescription": "Neptune est la planète la plus éloignée de mon système d'origine, le système Sol.",
      "hylotlDescription": "Neptune possède la Grande Tache Sombre et la Petite Tache Sombre. S'il y en avait une troisième, ce serait parfait.",
      "novakidDescription": "Les légendes d'un grand bandit cachant son vaisseau dans les nuages neptuniens persistent à cause de disparitions de navires étrangement fréquentes."
    }
  },
  "novakidcaptainschair": {
    "name": "Siège de Capitaine Novakid",
    "desc": "Le capitaine s'assoit ici pour piloter le vaisseau.",
    "metadata": {
      "apexDescription": "Ahh... La douce liberté. Je peux utiliser le navigateur du vaisseau depuis ce siège.",
      "avianDescription": "Le siège du capitaine. C'est moi! Je peux utiliser le navigateur du vaisseau depuis ce siège.",
      "floranDescription": "Meilleur ssiège du vaisssseau. Floran s'as s ssoit ici pour utilisser navigateur et piloter!",
      "glitchDescription": "Excité. S'asseoir sur le siège du capitaine me permet de piloter ce vaisseau. Où allons-nous maintenant?",
      "humanDescription": "Le siège du capitaine. La personne assise ici décide de la destination du vaisseau!",
      "hylotlDescription": "S'asseoir sur le siège du capitaine me permet de piloter ce vaisseau.",
      "novakidDescription": "Le siège du capitaine. Le gars assis ici décide d'où va l'vaisseau! Et c'est moi!"
    }
  },
  "novakidfuelhatch": {
    "name": "Trappe à Carburant DLM",
    "desc": "Accepte l'Erchius Liquide comme carburant pour les sauts DLM du vaisseau.",
    "metadata": {
      "apexDescription": "La trappe à carburant du moteur DLM. Convertit le carburant en liberté.",
      "avianDescription": "La trappe à carburant DLM. Remplissons-la et partons vers les étoiles!",
      "floranDescription": "Trappe à carburant pour moteur DLM. Remplisssonss-la!",
      "glitchDescription": "Excité. Cette trappe alimente le moteur DLM pour que je puisse visiter des planètes hors de ce système.",
      "humanDescription": "La trappe à carburant du vaisseau. Avec du carburant pour le moteur DLM, je peux explorer au-delà de ce système.",
      "hylotlDescription": "L'humble trappe à carburant DLM. Le carburant est le moteur de l'exploration.",
      "novakidDescription": "L'carburant DLM va là-dedans!"
    }
  },
  "novakidshipdoor": {
    "name": "Porte de Vaisseau Novakid",
    "desc": "Une porte adaptée à un vaisseau spatial.",
    "metadata": {
      "apexDescription": "Les portes comme celle-ci sont courantes sur les vaisseaux.",
      "avianDescription": "Une porte de vaisseau spatial.",
      "floranDescription": "Porte de vaisssseau sspatial.",
      "glitchDescription": "Informé. Une porte de vaisseau standard.",
      "humanDescription": "Une porte de vaisseau spatial.",
      "hylotlDescription": "Une porte de vaisseau basique.",
      "novakidDescription": "Une porte, l'genre qu'on trouve sur un vaisseau."
    }
  },
  "novakidshiphatch": {
    "name": "Écoutille de Vaisseau Novakid",
    "desc": "Une écoutille adaptée à un vaisseau spatial.",
    "metadata": {
      "apexDescription": "Les modèles d'écoutilles comme celui-ci sont courants sur les vaisseaux.",
      "avianDescription": "Une écoutille de vaisseau spatial.",
      "floranDescription": "Écoutille de vaisssseau sspatial.",
      "glitchDescription": "Informé. Une écoutille de vaisseau standard.",
      "humanDescription": "Une écoutille de vaisseau spatial.",
      "hylotlDescription": "Une écoutille de vaisseau basique.",
      "novakidDescription": "Une écoutille, l'genre qu'on trouve sur un vaisseau."
    }
  },
  "novakidshipdoorBroken": {
    "name": "Porte de Vaisseau Cassée",
    "desc": "Une porte adaptée à un vaisseau spatial.",
    "metadata": {
      "apexDescription": "Ces portes sont utilisées sur tous nos vaisseaux. Celle-ci ne coopère pas.",
      "avianDescription": "Une porte. Elle ne s'ouvre pas.",
      "floranDescription": "Porte veut pas s'ouvrir!",
      "glitchDescription": "Déçu. Une porte. Elle semble être désactivée pour le moment.",
      "humanDescription": "Chouette porte. Dommage qu'elle ne s'ouvre pas pour l'instant.",
      "hylotlDescription": "Une porte de vaisseau basique. Elle ne veut pas s'ouvrir pour le moment.",
      "novakidDescription": "La porte est cassée, elle va pas s'ouvrir d'ssi tôt."
    }
  },
  "novakidshiplocker": {
    "name": "Casier de Vaisseau",
    "desc": "Un casier. Pourquoi ne pas y stocker quelques trucs?",
    "metadata": {
      "apexDescription": "Je me demande s'il y a des secrets à l'intérieur de ce casier?",
      "avianDescription": "Pourrait-il y avoir quelque chose de valeur dans ce casier?",
      "floranDescription": "Floran fouille casier Novakid pour objetss de valeur.",
      "glitchDescription": "Excité. Je me demande s'il y a des objets intéressants à l'intérieur?",
      "humanDescription": "Un casier de vaisseau.",
      "hylotlDescription": "Peut-être que quelque chose d'utile se trouve dans ce casier.",
      "novakidDescription": "Un endroit sûr pour ranger mon butin."
    }
  },
  "novakidshiplockerTier0": {
    "name": "Casier de Vaisseau",
    "desc": "Un casier. Pourquoi ne pas y stocker quelques trucs?",
    "metadata": {
      "apexDescription": "Le système de stockage du vaisseau. Il n'est pas fonctionnel pour le moment.",
      "avianDescription": "Un appareil qui contient de nombreux objets en toute sécurité. Il est cassé pour l'instant.",
      "floranDescription": "Sstockage. Sça marche pas.",
      "glitchDescription": "Désolé. Le système de stockage de ce vaisseau est en panne.",
      "humanDescription": "Un casier de stockage. Il ne semble pas fonctionner.",
      "hylotlDescription": "Une solution de stockage élégante. Elle n'est pas alimentée pour le moment.",
      "novakidDescription": "Un casier. Pas très utile tant qu'il est pas réparé."
    }
  },
  "novakidtechstation": {
    "name": "S.A.I.L",
    "desc": "Structure Artificielle d'Intelligence Logée, ou S.A.I.L pour faire court.",
    "metadata": {
      "apexDescription": "Je peux parler à SAIL via cette console.",
      "avianDescription": "Je peux utiliser cette station pour parler à SAIL.",
      "floranDescription": "Floran utilise ce panneau magique pour parler à SAIL!",
      "glitchDescription": "Heureux. Cette station me permet de parler à SAIL.",
      "humanDescription": "Cette station me permet de communiquer avec SAIL.",
      "hylotlDescription": "Cette console me permet de communiquer avec SAIL.",
      "novakidDescription": "C'te station m'permet d'causer avec SAIL."
    }
  },
  "novakidtechstationTier0": {
    "name": "S.A.I.L",
    "desc": "Structure Artificielle d'Intelligence Logée, ou S.A.I.L pour faire court.",
    "metadata": {
      "apexDescription": "Quand elle fonctionne, je peux parler à SAIL via cette console.",
      "avianDescription": "Redémarrer cette station devrait me permettre de parler à SAIL.",
      "floranDescription": "Floran répare ce panneau pour réveiller vaisssseau!",
      "glitchDescription": "Désolé. Je dois d'abord redémarrer cette station pour communiquer avec SAIL.",
      "humanDescription": "Si je peux redémarrer cette station, SAIL devrait revenir en ligne!",
      "hylotlDescription": "Cette console me permettra de communiquer avec SAIL. Je dois d'abord la redémarrer.",
      "novakidDescription": "C'est l'heure d'redémarrer c'te station pour pouvoir parler à SAIL."
    }
  },
  "novakidteleporter": {
    "name": "Téléporteur",
    "desc": "Fidèle téléporteur, que ferions-nous sans toi?",
    "metadata": {
      "apexDescription": "Le téléporteur du vaisseau. Se téléporter donne l'impression de faire des montagnes russes à la vitesse de la lumière.",
      "avianDescription": "Le téléporteur! Se téléporter donne l'impression de voler.",
      "floranDescription": "Téléporteur de vaisssseau. Floran sse ssent conffus pendant téléportation.",
      "glitchDescription": "Prétentieux. Un téléporteur. Je suis capable d'entrer en mode veille pendant le processus de téléportation.",
      "humanDescription": "Le téléporteur! Se téléporter est une telle montée d'adrénaline.",
      "hylotlDescription": "Un téléporteur. Se téléporter ressemble à un plongeon dans l'océan depuis le sommet d'une montagne.",
      "novakidDescription": "Téléporteur du vaisseau. Allonss faire un tour!"
    }
  },
  "novakidteleporterTier0": {
    "name": "Téléporteur",
    "desc": "Fidèle téléporteur, que ferions-nous sans toi?",
    "metadata": {
      "apexDescription": "Le téléporteur du vaisseau. Je dois l'alimenter en énergie.",
      "avianDescription": "Le téléporteur! Si seulement celui-ci était alimenté.",
      "floranDescription": "Téléporteur de vaisssseau. Celui-là essst mort.",
      "glitchDescription": "Déçu. Un téléporteur sans courant. Je dois l'alimenter.",
      "humanDescription": "Le téléporteur! Dommage qu'il ne soit pas alimenté.",
      "hylotlDescription": "Ce téléporteur est éteint.",
      "novakidDescription": "Téléporteur du vaisseau. J'dois l'remettre en marche!"
    }
  },
  "number0": {
    "name": "Zéro",
    "desc": "Marqueur zéro.",
    "metadata": {
      "apexDescription": "Zéro.",
      "avianDescription": "Zéro.",
      "floranDescription": "Cercle.",
      "glitchDescription": "Neutre. Zéro.",
      "humanDescription": "Zéro.",
      "hylotlDescription": "Rien.",
      "novakidDescription": "Un zéro."
    }
  },
  "number1": {
    "name": "Un",
    "desc": "Marqueur un.",
    "metadata": {
      "apexDescription": "Un.",
      "avianDescription": "Un.",
      "floranDescription": "Un qui pique.",
      "glitchDescription": "Neutre. Un.",
      "humanDescription": "Un.",
      "hylotlDescription": "Un.",
      "novakidDescription": "Un un."
    }
  },
  "number2": {
    "name": "Deux",
    "desc": "Marqueur deux.",
    "metadata": {
      "apexDescription": "Deux.",
      "avianDescription": "Deux.",
      "floranDescription": "Deux qui sserpente.",
      "glitchDescription": "Neutre. Deux.",
      "humanDescription": "Un numéro deux. Héhé.",
      "hylotlDescription": "Deux.",
      "novakidDescription": "Un deux."
    }
  },
  "number3": {
    "name": "Trois",
    "desc": "Marqueur trois.",
    "metadata": {
      "apexDescription": "Trois.",
      "avianDescription": "Trois.",
      "floranDescription": "Trois! Drôle de gribouillis.",
      "glitchDescription": "Neutre. Trois.",
      "humanDescription": "Trois.",
      "hylotlDescription": "Trois.",
      "novakidDescription": "Chiffre porte-bonheur."
    }
  },
  "number4": {
    "name": "Quatre",
    "desc": "Marqueur quatre.",
    "metadata": {
      "apexDescription": "Quatre.",
      "avianDescription": "Quatre.",
      "floranDescription": "Quatre.",
      "glitchDescription": "Neutre. Quatre.",
      "humanDescription": "Quatre.",
      "hylotlDescription": "Quatre.",
      "novakidDescription": "Un quatre."
    }
  },
  "number5": {
    "name": "Cinq",
    "desc": "Marqueur cinq.",
    "metadata": {
      "apexDescription": "Cinq.",
      "avianDescription": "Cinq.",
      "floranDescription": "Cinq! On dirait un crochet.",
      "glitchDescription": "Neutre. Cinq.",
      "humanDescription": "Cinq.",
      "hylotlDescription": "Cinq.",
      "novakidDescription": "Un cinq."
    }
  },
  "number6": {
    "name": "Six",
    "desc": "Marqueur six.",
    "metadata": {
      "apexDescription": "Six.",
      "avianDescription": "Six.",
      "floranDescription": "Numéro ssix.",
      "glitchDescription": "Neutre. Six.",
      "humanDescription": "Six.",
      "hylotlDescription": "Six.",
      "novakidDescription": "Un six."
    }
  },
  "number7": {
    "name": "Sept",
    "desc": "Marqueur sept.",
    "metadata": {
      "apexDescription": "Sept.",
      "avianDescription": "Sept.",
      "floranDescription": "Ssept.",
      "glitchDescription": "Neutre. Sept.",
      "humanDescription": "Sept.",
      "hylotlDescription": "Sept.",
      "novakidDescription": "Un sept."
    }
  },
  "number8": {
    "name": "Huit",
    "desc": "Marqueur huit.",
    "metadata": {
      "apexDescription": "Huit.",
      "avianDescription": "Huit.",
      "floranDescription": "Numéro huit.",
      "glitchDescription": "Neutre. Huit.",
      "humanDescription": "Huit.",
      "hylotlDescription": "Huit.",
      "novakidDescription": "Un huit."
    }
  },
  "number9": {
    "name": "Neuf",
    "desc": "Marqueur neuf.",
    "metadata": {
      "apexDescription": "Neuf.",
      "avianDescription": "Neuf.",
      "floranDescription": "Numéro neuf.",
      "glitchDescription": "Neutre. Neuf.",
      "humanDescription": "Neuf.",
      "hylotlDescription": "Neuf.",
      "novakidDescription": "Un neuf."
    }
  },
  "novakidstoragelocker": {
    "name": "Casier de Rangement Novakid",
    "desc": "Une solution de rangement murale, spacieuse et élégante.",
    "metadata": {
      "apexDescription": "Un casier fabriqué en métal.",
      "avianDescription": "Un endroit pour garder vos affaires.",
      "floranDescription": "Floran peut fourrer des chosess dans le casier.",
      "glitchDescription": "Neutre. Un casier de rangement métallique.",
      "humanDescription": "C'est un casier de rangement au look industriel.",
      "hylotlDescription": "Quelque part où ranger ses effets personnels.",
      "novakidDescription": "Un casier dans le mur."
    }
  },
  "neonhologram": {
    "name": "Hologramme Néon",
    "desc": "Un hologramme magenta représentant un palmier.",
    "metadata": {
      "apexDescription": "C'est un arbre rendu de façon impressionnante... Mais il est regrettable que les hologrammes ne puissent être que d'une seule couleur.",
      "avianDescription": "Un arbre suspendu dans les airs, une formation de lumière figée dans l'espace! Comme c'est merveilleux.",
      "floranDescription": "Floran voit un arbre, mais ne peut pas le ssentir. Ssuspect.",
      "glitchDescription": "Impressionné. Cet arbre est fait de lumière, mais il dégage une telle présence...",
      "humanDescription": "Des arbres holographiques! Qui a besoin de partir en vacances au bord de la mer?",
      "hylotlDescription": "Les représentations artificielles de la nature ne font pas le poids face à la réalité.",
      "novakidDescription": "C'est une invention drôlement chouette!"
    }
  },
  "neonlamppost": {
    "name": "Lampadaire Néon",
    "desc": "Un lampadaire urbain magenta. Pas la meilleure couleur pour la visibilité, mais il a du style.",
    "metadata": {
      "apexDescription": "La coloration de cette lampe me met en état d'alerte maximale.",
      "avianDescription": "Ce lampadaire est plutôt désagréable esthétiquement, si je puis me permettre.",
      "floranDescription": "Floran pourrait grimper au poteau pour un avantage tactique.",
      "glitchDescription": "Inquiet. Si cette lampe est destinée à la visibilité dans la rue, pourquoi est-elle rose?",
      "humanDescription": "Ouaip, c'est bien un lampadaire classique. Je ne sais pas si la lumière rose aide vraiment à y voir clair, par contre.",
      "hylotlDescription": "Un design tellement inélégant.",
      "novakidDescription": "Des lampadaires comme ça doivent être monnaie courante pour les citadins!"
    }
  },
  "neonlight": {
    "name": "Néon Magenta",
    "desc": "Une lumière magenta élégante et discrète.",
    "metadata": {
      "apexDescription": "Ces lumières dégagent une teinte magenta chaleureuse.",
      "avianDescription": "Cette lumière néon me rappelle un coucher de soleil brillant à travers des nuages de diamant.",
      "floranDescription": "Rose essst une couleur forte! Couleur d'une fleur forte et s s saine!",
      "glitchDescription": "Calme. Cette lumière crée une atmosphère agréable.",
      "humanDescription": "Des néons, pour quand on veut donner une ambiance cool à une pièce.",
      "hylotlDescription": "Ce néon me rappelle un rayon de soleil filtré par des océans de saphir.",
      "novakidDescription": "C'te lumière est comme une étoile qui brûle à froid, bien qu'un peu plus petite."
    }
  },
  "neonpeacekeeperemblem": {
    "name": "Emblème de Peacekeeper Néon",
    "desc": "Cet ornement mural brille d'une vive lumière magenta.",
    "metadata": {
      "apexDescription": "Cette grande enseigne au néon semble particulièrement bien conçue.",
      "avianDescription": "Cet emblème mural brille aux couleurs d'un coucher de soleil tropical!",
      "floranDescription": "Grand emblème. Il essst grand.",
      "glitchDescription": "Impressionné. Cet emblème brille comme s'il abritait un feu intérieur!",
      "humanDescription": "C'est comme l'emblème ordinaire des Peacekeepers, mais... en plus cool.",
      "hylotlDescription": "C'est un objet assez criard.",
      "novakidDescription": "Sacrée plaque murale!"
    }
  },
  "neonstore": {
    "name": "Magasin Néon",
    "desc": "Un magasin proposant un assortiment de meubles de Peacekeeper Néon.",
    "metadata": {
      "interactData.paneLayoutOverride.windowtitle.title": " Mobilier Néon",
      "interactData.paneLayoutOverride.windowtitle.subtitle": " Décorez comme un Peacekeeper!",
      "apexDescription": "L'individu qui tient cet étal ne semble pas être un Glitch. Peut-être est-ce une autre sorte d'automate?",
      "avianDescription": "L'esthétique néon de ce magasin est vraiment intrigante!",
      "floranDescription": "Floran pense que Floran pourrait battre vendeur dans combat à mainss nues.",
      "glitchDescription": "Intrigué. Ce marchand semble mécanique, mais il ne ressemble pas à un Glitch.",
      "humanDescription": "Ce gars n'a pas l'air de dire grand-chose, mais sa boutique est plutôt stylée.",
      "hylotlDescription": "Si cette boutique doit insister sur le fait qu'elle est « cool », alors mes attentes sont déjà basses.",
      "novakidDescription": "J'aimerais bien jeter un œil à c'te boutique!"
    }
  },
  "neontriangle": {
    "name": "Triangle Néon",
    "desc": "Cet ornement mural brille d'une vive lumière magenta.",
    "metadata": {
      "apexDescription": "Un triangle de tubes de verre, rempli d'un filament néon.",
      "avianDescription": "Cette applique murale rayonne d'une lueur apaisante!",
      "floranDescription": "Floran veut utilisser truc mural comme arme de jet.",
      "glitchDescription": "Curieux. Le design de cet emblème mural est très minimaliste.",
      "humanDescription": "Cette applique donne vraiment un côté cool à la pièce, prête pour faire la fête.",
      "hylotlDescription": "Quelle couleur criarde.",
      "novakidDescription": "J'dois dire que j'ai un faible pour tout c'qui est néon et brillant!"
    }
  },
  "nowayout": {
    "name": "Pas d'issue",
    "desc": "Un graffiti d'avertissement.",
    "metadata": {
      "apexDescription": "Hmm, dois-je faire confiance à un graffiti?",
      "avianDescription": "Et si ce n'était pas un mensonge?",
      "floranDescription": "Floran ssait.",
      "glitchDescription": "Inquiet. Si ce graffiti dit vrai, je suis mal barré.",
      "humanDescription": "Qui a déjà cru ce qu'il lisait sur un mur?",
      "hylotlDescription": "Je ne fais pas grand cas des présages tagués.",
      "novakidDescription": "Hmm, c'est sérieux c'truc?"
    }
  },
  "neonhylotlhead": {
    "name": "Enseigne Tête d'Hylotl Néon",
    "desc": "Une enseigne au néon représentant une tête de Hylotl.",
    "metadata": {
      "apexDescription": "Une enseigne néon en forme de tête de Hylotl. Dans quel but?",
      "avianDescription": "Une enseigne représentant une tête de Hylotl. Ça ne semble servir à rien.",
      "floranDescription": "L'homme-poissson s'affiche sur panneau lumineux maintenant?",
      "glitchDescription": "Curieux. C'est une enseigne au néon en forme de tête de Hylotl. Pourquoi?",
      "humanDescription": "Je me demande si les Hylotl adorent vraiment se prendre en selfie.",
      "hylotlDescription": "C'est une enseigne au néon en forme de tête de Hylotl.",
      "novakidDescription": "Les Novakid n'ont pas besoin d'enseignes néon à leur effigie, on brille déjà!"
    }
  },
  "numiplush": {
    "name": "Peluche de Numi",
    "desc": "Une peluche de Numi, la mascotte d'un dessin animé Hylotl pour enfants du même nom.",
    "metadata": {
      "apexDescription": "Une peluche Hylotl. C'est mignon, mais je vais m'en passer.",
      "avianDescription": "Je ne sais pas si je veux une peluche de Hylotl.",
      "floranDescription": "Peluche d'homme-poissson.",
      "glitchDescription": "Tempté. C'est très mignon...",
      "humanDescription": "C'est une peluche de Numi, un personnage de dessin animé. Je passe mon tour.",
      "hylotlDescription": "C'est un jouet en peluche mignon, mais j'avoue être fatigué de voir Numi partout.",
      "novakidDescription": "Trop mignon pour moi."
    }
  },
  "numiposter": {
    "name": "Affiche de Numi",
    "desc": "Une affiche montrant Numi, mascotte d'un dessin animé Hylotl pour enfants.",
    "metadata": {
      "apexDescription": "C'est quoi un Numi? Un genre de personnage de dessin animé?",
      "avianDescription": "Numi? On dirait un croisement entre un Hylotl et un ours. Glacial...",
      "floranDescription": "Un dessin animé d'homme-poissson quelconque.",
      "glitchDescription": "Désintéressé. C'est une publicité pour un dessin animé d'enfants.",
      "humanDescription": "Numi semble être la mascotte d'un dessin animé Hylotl pour enfants.",
      "hylotlDescription": "Ah, j'avoue être fatigué de voir Numi partout.",
      "novakidDescription": "Un genre de personnage de dessin animé pour gosses."
    }
  },
  "numisign": {
    "name": "Panneau Numi",
    "desc": "Un panneau publicitaire pour Numi, une célèbre mascotte d'un dessin animé Hylotl pour enfants.",
    "metadata": {
      "apexDescription": "C'est quoi un Numi? Un genre de personnage de dessin animé?",
      "avianDescription": "Numi? On dirait un croisement entre un Hylotl et un ours. Glacial...",
      "floranDescription": "Un dessin animé d'homme-poissson quelconque.",
      "glitchDescription": "Désintéressé. C'est une publicité pour un dessin animé d'enfants.",
      "humanDescription": "Numi semble être la mascotte d'un dessin animé Hylotl pour enfants.",
      "hylotlDescription": "Ah, j'avoue être fatigué de voir Numi partout.",
      "novakidDescription": "Un genre de personnage de dessin animé pour gosses."
    }
  },
  "nanostove": {
    "name": "Nano-fourneau",
    "desc": "Fournit une chaleur exceptionnelle et est idéal pour cuisiner en plein air.",
    "metadata": {
      "interactData.paneLayoutOverride.windowtitle.title": " Nano-fourneau",
      "interactData.paneLayoutOverride.windowtitle.subtitle": " Cuisine de camping high-tech",
      "apexDescription": "Un réchaud de camping portable et écologique.",
      "avianDescription": "Un réchaud de camping pratique. Plus d'empreinte carbone!",
      "floranDescription": "Floran a peur que réchaud brûle Floran. Floran utilise quand même.",
      "glitchDescription": "Admiration. Ce réchaud économise énormément d'énergie.",
      "humanDescription": "Génial, c'est comme camper dans le futur!",
      "hylotlDescription": "Un réchaud de camping criard, mais pratique.",
      "novakidDescription": "Un p'tit réchaud bien pratique, mais rien n'vaut un vrai feu de camp."
    }
  },
  "neonmelonseed": {
    "name": "Graine de Néon-melon",
    "desc": "La chair vibrante d'un néon-melon a un goût de chewing-gum.",
    "metadata": {
      "apexDescription": "Un néon-melon juteux et savoureux. Plus la couleur est vive, meilleur est le goût.",
      "avianDescription": "Un néon-melon juteux, rempli de délicieuses graines lumineuses.",
      "floranDescription": "Floran écrassse néon-melon pour faire bruitss de s ssquish. Aus s si pour manger.",
      "glitchDescription": "Ravi. J'ai toujours trouvé que le néon-melon avait l'air délicieux.",
      "humanDescription": "On peut les manger, ou décorer sa chambre avec. Je choisis la première option.",
      "hylotlDescription": "Le néon-melon a un goût trop sucré. Son apparence est cependant exquise.",
      "novakidDescription": "Le néon-melon a l'air appétissant à l'intérieur."
    }
  },
  "narfinaf": {
    "name": "Figurine de Narfin",
    "desc": "L'étiquette indique: « Il utilise ses cornes pour attirer un partenaire. Les spectacles de lumière pendant la saison des amours sont spectaculaires. »"
  },
  "nutmidgeaf": {
    "name": "Figurine de Nutmidge",
    "desc": "L'étiquette indique: « Le roi des nutmidgelins est le seul dont la touffe de tête n'a pas été piétinée à mort. »"
  }
}