{
  "uranusmodel": {
    "name": "Modèle d'Uranus",
    "desc": "Un modèle détaillé de la planète Uranus du système Sol.",
    "metadata": {
      "apexDescription": "L'axe d'Uranus est incliné à un angle extrême de plus de quatre-vingt-dix-sept degrés.",
      "avianDescription": "Uranus porte le nom d'un dieu terrien du ciel. La légende fait pâle figure face aux dieux du ciel Avians.",
      "floranDescription": "Uranus essst la sssseptième planète du sssystème Sssol. Elle a de finsss anneaux.",
      "glitchDescription": "Fasciné. Uranus est la planète la plus froide du système Sol.",
      "humanDescription": "Uranus a beau porter le nom d'un dieu... ça sonne quand même bizarre.",
      "hylotlDescription": "Uranus est curieuse en raison de son axe bancal, ce qui la rend unique dans le système Sol.",
      "novakidDescription": "Uranus est une géante de glace, bien connue pour masquer les émissions de moteur des vaisseaux cachés."
    }
  },
  "ursaminer": {
    "name": "Ursa Miner",
    "desc": "Une entreprise familiale. Vend des minerais raffinés pour l'artisanat.",
    "metadata": {
      "apexDescription": "Est-ce que c'est un ours... qui vend du minerai?",
      "avianDescription": "Ce magasin semble offrir une alternative au minage pour les matériaux cruciaux.",
      "floranDescription": "Floran veut sssse battre contre la bête à poilsss du magasssin.",
      "glitchDescription": "Intrigué. Ce magasin offre-t-il une alternative au minage de matériaux?",
      "humanDescription": "Des ours! Avec une boutique! Comme c'est merveilleux.",
      "hylotlDescription": "Je n'avais jamais vu un vendeur aussi... poilu, auparavant.",
      "novakidDescription": "C'te boutique a presque autant de caractère que les gens qui la tiennent.",
      "interactData.paneLayoutOverride.windowtitle.title": "Ursa Miner",
      "interactData.paneLayoutOverride.windowtitle.subtitle": "Vente de minerais"
    }
  },
  "ursaminerclosed": {
    "name": "Ursa Miner",
    "desc": "Une entreprise familiale. Vend des minerais raffinés pour l'artisanat.",
    "metadata": {
      "apexDescription": "Est-ce que c'est un ours... qui vend du minerai?",
      "avianDescription": "Ce magasin semble offrir une alternative au minage pour les matériaux cruciaux.",
      "floranDescription": "Floran veut sssse battre contre la bête à poilsss du magasssin.",
      "glitchDescription": "Intrigué. Ce magasin offre-t-il une alternative au minage de matériaux?",
      "humanDescription": "Des ours! Avec une boutique! Comme c'est merveilleux.",
      "hylotlDescription": "Je n'avais jamais vu un vendeur aussi... poilu, auparavant.",
      "novakidDescription": "C'te boutique a presque autant de caractère que les gens qui la tiennent."
    }
  },
  "UFOprop": {
    "name": "Accessoire d'OVNI",
    "desc": "Un OVNI bousillé.",
    "metadata": {
      "apexDescription": "Ce qui semble être une soucoupe volante non fonctionnelle.",
      "avianDescription": "Une machine autrefois utilisée pour parcourir les cieux.",
      "floranDescription": "Une sssorte de petite chose en métal.",
      "glitchDescription": "Observateur. Un aéronef non fonctionnel.",
      "humanDescription": "Une soucoupe volante au look très rétro.",
      "hylotlDescription": "Un véhicule brisé pour un passager minuscule.",
      "novakidDescription": "Un véhicule spatial mal en point. Semble cassé en plus."
    }
  },
  "underwaterlight": {
    "name": "Lampe Étanche",
    "desc": "Une lumière protégée par une cage en verre.",
    "metadata": {
      "apexDescription": "Une ampoule normale, protégée pour pouvoir fonctionner sous l'eau.",
      "avianDescription": "Cette lampe semble être étanche pour pouvoir fonctionner en pleine mer.",
      "floranDescription": "Ampoule.",
      "glitchDescription": "Banal. Une lampe étanche.",
      "humanDescription": "C'est une lumière conçue pour fonctionner lorsqu'elle est exposée à l'eau.",
      "hylotlDescription": "C'est une simple ampoule résistante à l'eau.",
      "novakidDescription": "Une ampoule sous verre."
    }
  },
  "underwaterlightsmall": {
    "name": "Petite Lampe Étanche",
    "desc": "Une minuscule applique murale.",
    "metadata": {
      "apexDescription": "C'est une applique murale.",
      "avianDescription": "Une applique murale.",
      "floranDescription": "Lumière.",
      "glitchDescription": "Indifférent. Une lumière.",
      "humanDescription": "C'est une lumière.",
      "hylotlDescription": "Un luminaire.",
      "novakidDescription": "Une toute petite lumière."
    }
  },
  "underwaterlightsmallbroken": {
    "name": "Lampe Étanche Cassée",
    "desc": "Une minuscule applique murale. Elle est cassée.",
    "metadata": {
      "apexDescription": "Cette lampe ne reçoit pas assez de puissance.",
      "avianDescription": "Une lumière vacillante.",
      "floranDescription": "La lumière donne le tournisss à Floran!",
      "glitchDescription": "Inquiet. Cette lumière dysfonctionne.",
      "humanDescription": "Cette lampe est en train de lâcher.",
      "hylotlDescription": "Une lumière sous-alimentée.",
      "novakidDescription": "C'te lumière ne fonctionne pas correctement."
    }
  },
  "unicornplush": {
    "name": "Peluche de Licorne",
    "desc": "Une licorne toute douce et adorable. Comment ne pas l'aimer?",
    "metadata": {
      "apexDescription": "Une licorne, hein? C'est plutôt mignon.",
      "avianDescription": "Cette créature semble puissante. Son côté adorable est trompeur.",
      "floranDescription": "Créature a une corne sssur la tête pour poignarder.",
      "glitchDescription": "Nostalgique. Une licorne des anciennes légendes.",
      "humanDescription": "C'est une licorne! Trop chou.",
      "hylotlDescription": "Une magnifique créature mythique. Cependant, cette peluche est simplement adorable.",
      "novakidDescription": "Un jouet licorne tout mignon. Rien à voir avec la vraie!"
    }
  },
  "undecoratedtree": {
    "name": "Faux Sapin",
    "desc": "Un sapin synthétique.",
    "metadata": {
      "apexDescription": "C'est un arbre synthétique. Il a besoin de plus de lumières et de décorations.",
      "avianDescription": "Cet arbre semble incroyablement réel.",
      "floranDescription": "Passs un arbre qui brille. Jusssste un arbre.",
      "glitchDescription": "Déçu. Cet arbre synthétique manque de décorations.",
      "humanDescription": "C'est dommage qu'il soit synthétique, je me souviens encore de l'odeur des vrais sapins.",
      "hylotlDescription": "Malgré son manque d'authenticité, c'est un très bel arbre.",
      "novakidDescription": "C'est un arbre, mais pas un vrai arbre?"
    }
  },
  "uraniumsample": {
    "name": "Échantillon d'Uranium",
    "desc": "\"Un échantillon parfait de minerai d'uranium.\""
  }
}