{
  "xor": {
    "name": "Interrupteur XOR",
    "desc": "Un interrupteur /'XOR'/. Nécessite qu'une entrée soit activée et l'autre désactivée.",
    "metadata": {
      "floranDescription": "Un interrupteur /'XOR'/. Nécessssite qu'une entrée ssssoit activée et l'autre dés s s activée.",
      "glitchDescription": "Observation. Un interrupteur /'XOR'/. Nécessite qu'une entrée soit activée et l'autre désactivée."
    }
  },
  "xenofly": {
    "name": "Xénofly",
    "desc": "Ce petit gars a un visage assez effrayant."
  }
}