{
  "alienmeat": {
    "name": "Steak cru",
    "desc": "Un gros morceau de viande extraterrestre crue, bizarre et filandreuse. Je devrais peut-être la faire cuire."
  },
  "antidote": {
    "name": "Antidote contre le poison",
    "desc": "Protégez votre corps contre les toxines."
  },
  "alienfruit": {
    "name": "Fruit extraterrestre",
    "desc": "Un fruit exotique, très juteux."
  },
  "automato": {
    "name": "Automatiser",
    "desc": "Automates! N'oubliez pas de recracher les vis."
  },
  "avesmingo": {
    "name": "Avesmingo",
    "desc": "Avesmingo, la plante aux 100 saveurs différentes."
  },
  "applecrumble": {
    "name": "Crumble aux pommes",
    "desc": "De délicieuses pommes compotées recouvertes d'un crumble doré."
  },
  "apegrapes": {
    "name": "Raisins de singe",
    "desc": "Un mélange équilibré de bananes et de raisins."
  },
  "apexfritter": {
    "name": "Beignets Apex",
    "desc": "Un plat croustillant d'Apex. Un beignet de maïs frit, accompagné de banane, bien sûr."
  },
  "automatoshake": {
    "name": "Machine à secouer",
    "desc": "Un milkshake fait par une machine! Mmm."
  },
  "automatostew": {
    "name": "Mijoteuse",
    "desc": "Un ragoût étonnamment savoureux, à condition de faire attention aux morceaux de métal."
  },
  "alienfruitjam": {
    "name": "Confiture de fruits extraterrestres",
    "desc": "Confiture de fruits extraterrestres. Collante."
  },
  "alienfruitjuice": {
    "name": "Jus de fruits extraterrestres",
    "desc": "Un jus agréablement sucré, issu d'un fruit exotique."
  },
  "avesmingoicecream": {
    "name": "Glaces Avesmingo",
    "desc": "Les Avesmingos peuvent avoir n'importe quel goût! Pour le meilleur ou pour le pire, cette glace aussi."
  },
  "avesmingojuice": {
    "name": "Jus Avesmingo",
    "desc": "Un jus qui peut avoir le goût de n'importe quoi!"
  }
}