{
  "cookedalienmeat": {
    "name": "Steak cuit",
    "desc": "Une belle tranche de délicieuse viande extraterrestre cuite."
  },
  "cookedbacon": {
    "name": "Bacon cuit",
    "desc": "Du bacon extraterrestre salé et croustillant."
  },
  "cookedfish": {
    "name": "Poisson cuit",
    "desc": "Un délicieux filet de poisson cuit."
  },
  "cookedham": {
    "name": "Jambon cuit",
    "desc": "Une cuisse de jambon extraterrestre rôti."
  },
  "cookedpoultry": {
    "name": "Volaille cuite",
    "desc": "Une volaille rôtie à la perfection. Quel spectacle magnifique!"
  },
  "cookedribmeat": {
    "name": "Côtes cuites",
    "desc": "Passe-moi la sauce barbecue!"
  },
  "cookedtentacle": {
    "name": "Tentacule cuit",
    "desc": "Moelleux… Mais dans le bon sens du terme."
  },
  "carrot": {
    "name": "Carotte",
    "desc": "Mmm, ça croque bien."
  },
  "chili": {
    "name": "Piment",
    "desc": "Très chaud pour les humains, extrêmement chaud pour tous les autres."
  },
  "coffeebeans": {
    "name": "Grains de café",
    "desc": "Des grains de café amers."
  },
  "coralcreep": {
    "name": "Progression du corail",
    "desc": "Le fruit du corail rampant devient rouge à la cuisson, comme le homard."
  },
  "corn": {
    "name": "Maïs",
    "desc": "Sucré et un peu mièvre, mais bon pour la digestion!"
  },
  "currentcorn": {
    "name": "Currentcorn",
    "desc": "On y cultive du maïs actuel, très acide. À éviter pour les créatures charnues."
  },
  "cannedfood": {
    "name": "Conserves",
    "desc": "Ce n'est pas de la nourriture de la meilleure qualité, mais ça cale bien et ça se conserve longtemps."
  },
  "cheese": {
    "name": "Fromage",
    "desc": "Un morceau de fromage."
  },
  "chocolate": {
    "name": "Chocolat",
    "desc": "C'est tout simplement, objectivement, la meilleure chose qui soit."
  },
  "cookedtomato": {
    "name": "Tomate cuite",
    "desc": "Moelleux, sucré et juteux."
  },
  "corncob": {
    "name": "Épi de maïs",
    "desc": "Un épi de maïs fondant au beurre."
  },
  "cactusjuice": {
    "name": "Jus de cactus",
    "desc": "Froid comme un cactus."
  },
  "cake": {
    "name": "Gâteau",
    "desc": "C'est un gâteau délicieux!"
  },
  "candiedcorn": {
    "name": "Maïs confit",
    "desc": "Ça ressemble à la bonne vieille friandise d'Halloween, mais chaque bouchée contient du vrai maïs."
  },
  "candyapple": {
    "name": "Pomme d'amour",
    "desc": "Toute la valeur nutritive d'une pomme masquée par des morceaux de sucre bien sucré."
  },
  "carrotbread": {
    "name": "Pain aux carottes",
    "desc": "Une miche de pain aux carottes. Soyons honnêtes, ce n'est qu'un gâteau en forme de pain."
  },
  "carrotcake": {
    "name": "Gâteau aux carottes",
    "desc": "C'est un délicieux gâteau aux carottes! Il est encore meilleur qu'il n'y paraît."
  },
  "carrotjuice": {
    "name": "Jus de carotte",
    "desc": "Des carottes sous forme liquide. Étonnamment sucrées, mais pas étonnamment nutritives."
  },
  "carrotsoup": {
    "name": "Soupe aux carottes",
    "desc": "Onctueux, délicieux, nutritif!"
  },
  "cheeseburger": {
    "name": "Cheeseburger",
    "desc": "Un hamburger juteux, garni de fromage."
  },
  "chocolatecake": {
    "name": "Gâteau au chocolat",
    "desc": "Un gâteau au chocolat! Et d'autres ingrédients pour gâteaux."
  },
  "coffee": {
    "name": "Café",
    "desc": "Du café fraîchement moulu."
  },
  "coffeecake": {
    "name": "Gâteau au café",
    "desc": "Un gâteau moelleux au café. On en redemande!"
  },
  "cornpeckers": {
    "name": "Pic-vert à tête rousse",
    "desc": "Graines de lin et maïs séché. Un mélange de fruits secs courant pour les oiseaux, ou des céréales pour le petit-déjeuner."
  },
  "cactiicecream": {
    "name": "Glace aux cactus",
    "desc": "Une gourmandise savoureuse et piquante!"
  },
  "campfirebanana": {
    "name": "Banane au feu de camp",
    "desc": "Une banane rôtie au feu de camp, recouverte d'une quantité généreuse de chocolat."
  },
  "candyautomato": {
    "name": "Distributeur de bonbons",
    "desc": "C'est comme une sucette au goût d'Automato! Ce qui est un peu bizarre."
  },
  "choconut": {
    "name": "Choconut",
    "desc": "Un délicieux mélange de noix de coco et de chocolat sous forme de beignet."
  },
  "coconuticecream": {
    "name": "Glace à la noix de coco",
    "desc": "Idéal si vous vous retrouvez coincé sur une île tropicale."
  },
  "coconutmilk": {
    "name": "Boisson à la noix de coco",
    "desc": "La meilleure raison d'ouvrir une noix de coco. C'est un vrai délice."
  },
  "coconutrice": {
    "name": "Riz à la noix de coco",
    "desc": "On ne voit pas la noix de coco, mais elle est bien là!"
  },
  "cyanider": {
    "name": "Cyanure",
    "desc": "Une boisson chaude à base d'oculemon et de pussplum. Un vrai délice!"
  },
  "coralcreepcurry": {
    "name": "Curry Coralcreep",
    "desc": "Un curry légèrement épicé à base de fruits du « coralcreep »."
  }
}