{
  "grassremedy": {
    "name": "Remède à base d'herbes",
    "desc": "Mélange d'éléments naturels, il possède des vertus curatives."
  },
  "greenstim": {
    "name": "Pack Stim vert",
    "desc": "Un stimpack rempli de liquide vert qui te donne un coup de fouet!"
  },
  "grapes": {
    "name": "Raisins",
    "desc": "Le raisin, le snack naturel."
  },
  "greenapple": {
    "name": "Pomme verte",
    "desc": "Une pomme verte acidulée, prête à être cuite ou dégustée telle quelle!"
  },
  "gardensalad": {
    "name": "Salade verte",
    "desc": "Un grand bol de légumes variés. C'est super nutritif!"
  },
  "grapejuice": {
    "name": "Jus de raisin",
    "desc": "Un jus sucré à base de raisin."
  }
}