{
  "hamburger": {
    "name": "hamburger",
    "desc": "Un hamburger juteux."
  },
  "hotbone": {
    "name": "Hot Bone",
    "desc": "Le boneboo rôti aux piments est une gourmandise florane croquante et épicée."
  },
  "hothothotpot": {
    "name": "Hot Hot Hotpot",
    "desc": "C'est tellement sexy!"
  }
}