{
  "medkit": {
    "name": "Trousse de premiers secours",
    "desc": "Restaure 100 points de vie en 10 secondes et supprime instantanément la plupart des effets de statut."
  },
  "milk": {
    "name": "Lait",
    "desc": "Mmm, du lait."
  },
  "mashedpotato": {
    "name": "Purée de pommes de terre",
    "desc": "Il est scientifiquement prouvé que le fait d'écraser les pommes de terre les rend 500 % plus savoureuses."
  },
  "meatdumplings": {
    "name": "Boulettes de viande",
    "desc": "Des boulettes de viande cuites à la vapeur. Une recette d'une simplicité déconcertante!"
  },
  "meatpie": {
    "name": "Hachis parmentier",
    "desc": "De la viande hachée dans une sauce onctueuse, nappée de purée crémeuse."
  },
  "meatstew": {
    "name": "Ragoût de viande",
    "desc": "Comme maman le faisait autrefois!"
  },
  "mocha": {
    "name": "Mochaccino",
    "desc": "Un mélange doux de café et de chocolat chaud."
  },
  "mushroombread": {
    "name": "Pain aux champignons",
    "desc": "Ce pain contient des champignons cuits à l'intérieur. Miam!"
  },
  "mushroomquiche": {
    "name": "Quiche aux champignons",
    "desc": "Une quiche bien fromagée, garnie de champignons frais."
  },
  "mushroomrice": {
    "name": "Riz aux champignons",
    "desc": "Un délicieux riz frit aux œufs et aux champignons."
  }
}