{
  "salve": {
    "name": "Baume de soin",
    "desc": "Un baume pour soigner les blessures légères. Restaure 50 points de vie en 10 secondes."
  },
  "shroomremedy": {
    "name": "Remède aux champignons",
    "desc": "Une préparation qui semble favoriser la régénération naturelle."
  },
  "synthesisstim": {
    "name": "Synthèse Stim",
    "desc": "Cette plante regorge de sève. Elle possède des propriétés curatives bénéfiques."
  },
  "soda": {
    "name": "Soda",
    "desc": "Une canette de soda rafraîchissante."
  },
  "specialrice": {
    "name": "Riz frit spécial",
    "desc": "Ce plat, à la fois savoureux et copieux, vous procure une sensation de bien-être."
  },
  "spikycookies": {
    "name": "Biscuits pointus",
    "desc": "Comme des biscuits normaux, mais en plus croustillants."
  },
  "stickyribs": {
    "name": "Côtes caramélisées",
    "desc": "Des côtes levées sucrées et fondantes. Un vrai délice!"
  },
  "stuffedtomato": {
    "name": "Tomate farcie",
    "desc": "Une tomate cuite au four garnie d'une délicieuse farce salée."
  },
  "sweetmeat": {
    "name": "Confiture",
    "desc": "Un plat floran rare et sucré à base de lard confit."
  },
  "sweetpopcorn": {
    "name": "Pop-corn sucré",
    "desc": "Du maïs fraîchement soufflé, enrobé d'un glaçage sucré et beurré."
  },
  "snowcone": {
    "name": "Snowcone",
    "desc": "Une délicieuse glace pilée, plusieurs parfums!"
  },
  "spookydonut": {
    "name": "Beignet fantôme",
    "desc": "C'est trop flippant."
  },
  "spookypie": {
    "name": "Tarte fantôme",
    "desc": "Juste ce qu'il faut pour faire un peu peur."
  },
  "stuffedautomato": {
    "name": "Automate empaillé",
    "desc": "Ça a le goût d'une vraie tomate farcie, si tu arrives à la manger sans te casser les dents!"
  },
  "sweetpunch": {
    "name": "Punch sucré",
    "desc": "Un mélange composé uniquement des fruits les plus sucrés."
  },
  "saltsalad": {
    "name": "Salade de sel",
    "desc": "Le corail rampant, le reefpod et le pearlpea composent une salade salée et croquante."
  },
  "seafoodgratin": {
    "name": "Gratin de fruits de mer",
    "desc": "Du poisson cuit au four avec un fruit qui a un goût de poisson. Un plat qui sent le poisson!"
  },
  "soggysack": {
    "name": "Sac détrempé",
    "desc": "Des abats de Dirturchin fourrés dans un coralcreep pour créer un plat qui a l'air horrible mais qui est plutôt bon."
  },
  "stuffeddirturchin": {
    "name": "Dirturchin farci",
    "desc": "Un dirturchin farci aux pois perlés. Le goût est un peu fade..."
  },
  "sushi": {
    "name": "Sushi",
    "desc": "De délicieux rouleaux de riz et d'algues. Un des plats préférés de Hylotl."
  },
  "smash": {
    "name": "Zmash",
    "desc": "Un célèbre chef de Glitch a essayé de reproduire une purée de pommes de terre. Il a réussi. En quelque sorte."
  },
  "spicyfeathercrown": {
    "name": "Couronne à plumes épicée",
    "desc": "Feathercrown frit aux piments forts. Ça pique, ça pique, ça pique!"
  },
  "spicyribs": {
    "name": "Côtes épicées",
    "desc": "Des côtes levées sucrées-épicées. Un vrai délice!"
  }
}