{
  "thornfruit": {
    "name": "Fruit épineux",
    "desc": "À condition de faire attention aux épines, elles sont délicieuses."
  },
  "tomato": {
    "name": "Tomate",
    "desc": "Une tomate mûre et juteuse!"
  },
  "toxictop": {
    "name": "Toxictop",
    "desc": "Un fruit à l'aspect toxique. Les apparences sont-elles trompeuses?"
  },
  "toast": {
    "name": "Eggy Toast",
    "desc": "Une tranche de pain chaud, imbibée d'œuf. Un vrai délice."
  },
  "tomatojuice": {
    "name": "Jus de tomate",
    "desc": "Un jus de tomate bien consistant."
  },
  "tomatosoup": {
    "name": "Soupe à la tomate",
    "desc": "Une soupe onctueuse et veloutée à base de tomates mûres."
  },
  "thornjuice": {
    "name": "Jus d'épines",
    "desc": "Plus d'épines que de jus."
  },
  "tropicalpunch": {
    "name": "Punch tropical",
    "desc": "Un mélange tropical qui a du punch."
  },
  "toxicjamdonut": {
    "name": "Beignet « Toxic Jam »",
    "desc": "Un beignet inoffensif fourré à la confiture toxique."
  },
  "toxicjuice": {
    "name": "Jus toxique",
    "desc": "Qu'obtient-on en mélangeant un « toxictop » et un fruit extraterrestre? Exactement, vous l'avez deviné."
  },
  "toxictart": {
    "name": "Toxic Tart",
    "desc": "Qu'est-ce que tu vas faire d'autre avec toute cette confiture toxique?"
  },
  "toxictopjam": {
    "name": "Toxictop Jam",
    "desc": "Une confiture à base de fruits toxiques. Mais est-ce vraiment dangereux d'en manger? Il n'y a qu'un seul moyen de le savoir!"
  }
}