{
  "wartweed": {
    "name": "Wartweed",
    "desc": "Verrueux, mais pas très envahissant."
  },
  "wartweedjam": {
    "name": "Wartweed Jam",
    "desc": "Une confiture granuleuse et pleine de pépins qui laisse un goût sec dans la bouche."
  },
  "wartweedjamdonut": {
    "name": "Wartweed Jam Donut",
    "desc": "Beaucoup se sont laissés tromper par l'aspect alléchant de ce beignet peu ragoûtant."
  },
  "wartweedstew": {
    "name": "Ragoût de wartweed",
    "desc": "Un ragoût copieux et consistant à base de wartweed et de légumes."
  }
}